Repository 4paradigm/OpenMLDB, changes with the labels that .github/labeler.yml gives for each.
All labels: sdk, execute-engine, api-server, task-manager, batch-engine, monitoring, docker, documentation, build, workflow, go-sdk, extensions

-
  src/storage/mem_table.cc
  src/storage/mem_table.h
Labels: none

fix: fix docker file
  demo/Dockerfile
Labels: docker

fix: fix version
  demo/setup_openmldb.sh
Labels: docker

fix: fix spark version in docker file (#2662)
  demo/Dockerfile
  demo/setup_openmldb.sh
Labels: docker

docs: fix pr no in release notes
  CHANGELOG.md
  docs/en/about/release_notes.md
  docs/zh/about/release_notes.md
Labels: documentation

docs: fix pr no in release notes (#2663)
  CHANGELOG.md
  docs/en/about/release_notes.md
  docs/zh/about/release_notes.md
Labels: documentation

docs: fix quickstart
  docs/en/quickstart/openmldb_quickstart.md
  docs/zh/quickstart/openmldb_quickstart.md
Labels: documentation

-
  src/replica/log_replicator_test.cc
  src/storage/snapshot_test.cc
  src/storage/table_test.cc
Labels: none

docs: fix quickstart (#2664)
  docs/en/quickstart/openmldb_quickstart.md
  docs/zh/quickstart/openmldb_quickstart.md
Labels: documentation

docs: update doc
  docs/en/reference/sql/ddl/DROP_INDEX_STATEMENT.md
  docs/zh/reference/sql/ddl/DROP_INDEX_STATEMENT.md
Labels: documentation

feat: run mac compile
  .github/workflows/cicd.yaml
Labels: workflow

fix: skip c++ sdk
  src/sdk/CMakeLists.txt
Labels: build

add execute_mode case
  cases/integration_test/ddl/test_execute_mode.yaml
  cases/integration_test/expression/test_arithmetic.yaml
  cases/integration_test/function/test_udaf_function.yaml
  cases/integration_test/long_window/test_count_where.yaml
  test/integration-test/openmldb-test-java/openmldb-sdk-test/src/test/java/com/_4paradigm/openmldb/java_sdk_test/cluster/sql_test/DDLTest.java
  test/integration-test/openmldb-test-java/openmldb-sdk-test/src/test/java/com/_4paradigm/openmldb/java_sdk_test/cluster/sql_test/SelectTest.java
  test/integration-test/openmldb-test-java/openmldb-sdk-test/src/test/java/com/_4paradigm/openmldb/java_sdk_test/temp/TestDataExporter.java
  test/integration-test/openmldb-test-java/openmldb-sdk-test/src/test/java/com/_4paradigm/openmldb/java_sdk_test/temp/TestDataExporterByStandalone.java
  test/integration-test/openmldb-test-java/openmldb-test-common/pom.xml
  test/integration-test/openmldb-test-java/openmldb-test-common/src/main/java/com/_4paradigm/openmldb/test_common/util/SDKUtil.java
Labels: none

.github/labeler.yml:

sdk:
  - 'python/**/*'
  - 'java/openmldb-jdbc/**/*'
  - 'java/openmldb-native/**/*'

execute-engine:
  - 'hybridse/**/*'

storage-engine:
  - any:
      - 'src/**/*'
    all:
      - '!src/apiserver/**/*'

api-server:
  - 'src/apiserver/**/*'

task-manager:
  - 'java/openmldb-taskmanager/**/*'

batch-engine:
  - 'java/openmldb-batch/**/*'
  - 'java/openmldb-batchjob/**/*'

monitoring:
  - 'monitoring/**/*'

docker:
  - 'docker/**/*'
  - 'demo/**/*'

documentation:
  - 'docs/**/*'
  - '*.md'

build:
  - '**/CMakeLists.txt'
  - '**/*.cmake'
  - 'third-party/**/*'
  - 'Makefile'

workflow:
  - '.github/**/*.yml'
  - '.github/**/*.yaml'

go-sdk:
  - 'go/**/*'

extensions:
  - 'extensions/**/*'
