Repository 4paradigm/OpenMLDB, pull requests merged in 2021-05, with the labels that each got.

#66 feat: delete unused proto fields
  cases/integration/v1/test_create.yaml
  src/catalog/distribute_iterator.cc
  src/catalog/schema_adapter.h
  src/catalog/sdk_catalog.cc
  src/catalog/sdk_catalog_test.cc
  src/catalog/tablet_catalog_test.cc
  src/client/ns_client.cc
  src/client/ns_client.h
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/cmd/display.h
  src/cmd/fedb.cc
  src/cmd/sql_cmd.h
  src/codec/schema_codec.h
  src/codec/schema_codec_test.cc
  src/codec/sdk_codec.cc
  src/nameserver/name_server_create_remote_test.cc
  src/nameserver/name_server_impl.cc
  src/nameserver/name_server_impl.h
  src/nameserver/name_server_test.cc
  src/nameserver/new_server_env_test.cc
  src/proto/client.proto
  src/proto/common.proto
  src/proto/name_server.proto
  src/proto/tablet.proto
  src/replica/binlog_test.cc
  src/replica/log_replicator_test.cc
  src/replica/snapshot_replica_test.cc
  src/sdk/cluster_sdk_test.cc
  src/sdk/mini_cluster_microbenchmark.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_insert_row.cc
  src/storage/mem_table.cc
  src/storage/mem_table.h
  src/storage/mem_table_iterator_test.cc
  src/storage/mem_table_snapshot.cc
  src/storage/mem_table_snapshot.h
  src/storage/schema.cc
  src/storage/schema.h
  src/storage/schema_test.cc
  src/storage/snapshot_test.cc
  src/storage/table.cc
  src/storage/table.h
  src/storage/table_test.cc
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl_func_test.cc
  src/tablet/tablet_impl_mem_test.cc
  src/tablet/tablet_impl_multi_path_test.cc
  src/tablet/tablet_impl_projection_test.cc
  src/tablet/tablet_impl_test.cc
Labels: refactor

#73 ci: publish ut result in comments
  .github/workflows/cicd.yaml
  .github/workflows/publish-test-result-from-fork.yml
Labels: workflow

#70 feat: restful api server
  release/bin/boot.sh
  release/bin/boot_ns.sh
  release/bin/start.sh
  release/bin/start_ns.sh
  release/conf/apiserver.flags
  src/CMakeLists.txt
  src/apiserver/api_server_impl.cc
  src/apiserver/api_server_impl.h
  src/apiserver/api_server_test.cc
  src/apiserver/interface_provider.cc
  src/apiserver/interface_provider.h
  src/apiserver/json_helper.cc
  src/apiserver/json_helper.h
  src/cmd/fedb.cc
  src/proto/http.proto
Labels: enhancement
