Repository 4paradigm/OpenMLDB, pull requests merged in 2021-12, with the labels that each got.

#792 docs: improvement for important docs
  README.md
  README_cn.md
  demo/README.md
  docs/cn/cluster.md
  docs/cn/compile.md
  docs/cn/performance_sensitive_mode.md
  docs/cn/standalone.md
  docs/en/cluster.md
  docs/en/compile.md
  docs/en/performance_sensitive_mode.md
  docs/en/standalone.md
  images/workflow.png
Labels: documentation

#782 feat: built-in function development guide
  docs/cn/built_in_function_develop_guide.md
  docs/en/built_in_function_develop_guide.md
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/default_udf_library.h
  hybridse/src/udf/udf.cc
Labels: documentation

#783 feat: support physical LoadDataPlan in spark planner
  java/openmldb-batch/pom.xml
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/SparkPlanner.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/LoadDataPlan.scala
  java/openmldb-batch/src/test/resources/test.csv
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/TestLoadDataPlan.scala
Labels: enhancement

#710 feat: add unsafe getasstring
  hybridse/examples/toydb/src/sdk/dbms_sdk_test.cc
  hybridse/include/sdk/result_set.h
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/SQLResultSet.java
  python/sqlalchemy-openmldb/sqlalchemy_openmldb/openmldbapi/_openmldbapi.py
  src/cmd/file_option_parser.h
  src/cmd/sql_cmd.h
  src/test/base_test.cc
Labels: enhancement

#830 feat: update schema of job info table
  src/nameserver/system_table.h
Labels: enhancement

#800 feat: add offline table meta in table meta
  src/proto/name_server.proto
Labels: enhancement

#772 ci: fix hybridse workflow
  .github/workflows/hybridse-ci.yml
Labels: bug

#804 feat: openmldb batch support multiple databases
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/OpenmldbBatchConfig.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/PlanContext.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/SparkPlanner.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/HybridseUtil.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestMultipleDatabases.scala
Labels: enhancement

#840 feat: add unique job id generator
  java/openmldb-batchjob/src/main/java/com/_4paradigm/openmldb/batchjob/DummyClass.java
  java/openmldb-common/src/main/java/com/_4paradigm/openmldb/common/zk/ZKClient.java
  java/openmldb-taskmanager/pom.xml
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/config/TaskManagerConfig.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/dao/JobIdGenerator.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/dao/JobInfo.java
  java/openmldb-taskmanager/src/main/resources/taskmanager.properties
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/JobInfoManager.scala
  java/openmldb-taskmanager/src/test/java/com/_4paradigm/openmldb/taskmanager/TestJobIdGenerator.java
  java/openmldb-taskmanager/src/test/resources/taskmanager.properties
Labels: enhancement

#835 fix: fix the issue of getting arguments with index
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/ImportOfflineData.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/ImportOnlineData.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/RunBatchAndShow.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/RunBatchSql.scala
Labels: bug

#814 feat: taskmanager support ha
  java/openmldb-taskmanager/pom.xml
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/TaskManagerEntrypoint.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/TaskManagerInterface.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/TaskManagerServer.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/impl/TaskManagerImpl.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/zk/FailoverWatcher.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/zk/HostPort.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/zk/ZooKeeperUtil.java
  java/openmldb-taskmanager/src/main/resources/taskmanager.properties
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/JobInfoManager.scala
  java/openmldb-taskmanager/src/test/resources/taskmanager.properties
Labels: enhancement

#855 fix: fix cast NULL to string bug
  cases/query/const_query.yaml
  hybridse/src/codegen/buf_ir_builder.cc
Labels: bug

#853 feat: register openmldb tables for batch
  java/openmldb-batch/pom.xml
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/OpenmldbBatchConfig.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/catalog/OpenmldbCatalogService.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/catalog/TestOpenmldbCatalogService.scala
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/SqlClusterExecutor.java
  java/openmldb-native/pom.xml
  java/openmldb-native/src/main/java/.gitkeep
  src/CMakeLists.txt
  src/sdk/db_sdk.cc
  src/sdk/db_sdk.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_router.h
  src/sdk/sql_router_sdk.i
  src/sdk/swig_library/java/protobuf.i
Labels: enhancement

#871 build: add install target for openmldb
  .github/workflows/cicd.yaml
  CMakeLists.txt
  Makefile
  docs/cn/compile.md
  docs/en/compile.md
  hybridse/CMakeLists.txt
  src/CMakeLists.txt
  steps/package_openmldb.sh
Labels: documentation, enhancement, workflow

#841 feat: like prediate and like udf
  CPPLINT.cfg
  cases/function/expression/test_predicate.yaml
  cases/plan/cmd.yaml
  cases/plan/error_query.yaml
  cases/plan/error_unsupport_sql.yaml
  cases/plan/where_query.yaml
  cases/query/simple_query.yaml
  cases/query/udf_query.yaml
  hybridse/CPPLINT.cfg
  hybridse/include/node/node_enum.h
  hybridse/include/node/node_manager.h
  hybridse/include/node/plan_node.h
  hybridse/include/node/sql_node.h
  hybridse/include/vm/physical_op.h
  hybridse/src/codegen/expr_ir_builder.cc
  hybridse/src/codegen/expr_ir_builder.h
  hybridse/src/node/expr_node.cc
  hybridse/src/node/node_manager.cc
  hybridse/src/node/plan_node.cc
  hybridse/src/node/sql_node.cc
  hybridse/src/plan/planner.cc
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/planv2/ast_node_converter.h
  hybridse/src/planv2/ast_node_converter_test.cc
  hybridse/src/planv2/planner_v2_test.cc
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
  hybridse/src/udf/udf_test.cc
  hybridse/src/vm/physical_op.cc
  hybridse/src/vm/transform.cc
  hybridse/src/vm/transform.h
  hybridse/src/vm/transform_test.cc
  third-party/cmake/FetchZetasql.cmake
Labels: enhancement

#872 docs: readme and quickstart updated
  README.md
  README_cn.md
  docs/cn/standalone.md
  docs/en/standalone.md
  images/cli.png
  images/workflow.png
  images/workflow_cn.png
Labels: documentation

#856 feat: support dayofyear() built-in function
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
Labels: enhancement, community

#873 feat: add new static hybridse jsdk and link to openmldb jsdk
  hybridse/CMakeLists.txt
  hybridse/src/sdk/CMakeLists.txt
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/OpenmldbBatchConfig.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/SparkPlanner.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/RowProjectPlan.scala
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/SqlClusterExecutor.java
  src/sdk/CMakeLists.txt
Labels: enhancement

#892 feat: support show variables and set variable
  cases/plan/cmd.yaml
  hybridse/include/node/node_enum.h
  hybridse/include/node/node_manager.h
  hybridse/include/node/plan_node.h
  hybridse/include/node/sql_node.h
  hybridse/include/sdk/result_set.h
  hybridse/src/node/node_manager.cc
  hybridse/src/node/plan_node.cc
  hybridse/src/node/sql_node.cc
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/planv2/ast_node_converter_test.cc
  hybridse/src/planv2/planner_v2_test.cc
  third-party/cmake/FetchZetasql.cmake
Labels: enhancement

#896 feat: add deep_copy in offline table info
  src/proto/name_server.proto
Labels: enhancement

#894 feat: set zk config from taskmanager for openmldb-batch jobs
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/OpenmldbBatchConfig.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/config/TaskManagerConfig.java
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/spark/SparkJobManager.scala
Labels: enhancement

#893 feat: support multiple database by resolving data provider node
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/DataProviderPlan.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestMultipleDatabases.scala
Labels: enhancement

#906 fix: comment out the stripe command for macos
  src/sdk/CMakeLists.txt
Labels: enhancement

#913 feat: strip python so for linux and not for macos
  src/sdk/CMakeLists.txt
Labels: enhancement

#909 feat: update openmldbapi exceptions class
  python/sqlalchemy-openmldb/sqlalchemy_openmldb/openmldbapi/_openmldbapi.py
Labels: enhancement

#889 docs: update explanation about compile from source
  .github/workflows/cicd.yaml
  .github/workflows/hybridse-ci.yml
  Makefile
  docs/cn/compile.md
  docs/en/compile.md
  third-party/README.md
Labels: documentation

#912 feat: change job id type from bigint to int
  src/nameserver/system_table.h
Labels: enhancement

#917 fix: migrate from the log4j1 to logback
  java/openmldb-jmh/pom.xml
  test/integration-test/openmldb-test-java/pom.xml
Labels: bug

#885 docs: editing and translation for the APIServer doc #826
  docs/en/apiserver.md
Labels: documentation, good first issue

#927 fix: fix like match string null bug and add some unit test case
  cases/query/udf_query.yaml
  docs/cn/built_in_function_develop_guide.md
  docs/en/built_in_function_develop_guide.md
  hybridse/src/codegen/cast_expr_ir_builder.cc
  hybridse/src/codegen/string_ir_builder.cc
  hybridse/src/codegen/string_ir_builder.h
  hybridse/src/codegen/udf_ir_builder.cc
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
Labels: bug

#934 fix: fix case
  src/storage/table_test.cc
  src/zk/zk_client.cc
  src/zk/zk_client_test.cc
Labels: bug

#919 build: upgrade compile docker & support `CONFIG CLAUSE`
  .github/workflows/cicd.yaml
  .github/workflows/coverage.yml
  .github/workflows/hybridse-ci.yml
  .github/workflows/integration-test-pkg.yml
  .github/workflows/integration-test-src.yml
  .github/workflows/pr.yml
  Makefile
  cases/plan/cmd.yaml
  cases/plan/simple_query.yaml
  docs/cn/compile.md
  docs/cn/java_sdk.md
  docs/en/compile.md
  hybridse/LICENSE
  hybridse/README-zh.md
  hybridse/README.md
  hybridse/include/node/node_manager.h
  hybridse/include/node/plan_node.h
  hybridse/include/node/sql_node.h
  hybridse/include/vm/physical_op.h
  hybridse/src/node/node_manager.cc
  hybridse/src/node/plan_node.cc
  hybridse/src/node/sql_node.cc
  hybridse/src/plan/planner.cc
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/planv2/planner_v2_test.cc
  hybridse/src/vm/physical_op.cc
  hybridse/src/vm/transform.cc
  java/hybridse-native/pom.xml
  java/hybridse-sdk/pom.xml
  java/openmldb-batch/pom.xml
  java/openmldb-batchjob/pom.xml
  java/openmldb-jdbc/pom.xml
  java/openmldb-native/pom.xml
  java/openmldb-taskmanager/pom.xml
  java/pom.xml
  java/prepare_release.sh
  steps/init_env.sh
  steps/package_openmldb_javasdk.sh
  steps/setup_thirdparty.sh
  steps/test_python.sh
  steps/ut.sh
  steps/ut_zookeeper.sh
  third-party/cmake/FetchZetasql.cmake
Labels: workflow

#932 feat: add taskmanager client for sdk and jobs commands for cli
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/impl/TaskManagerImpl.java
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/JobInfoManager.scala
  src/client/taskmanager_client.cc
  src/client/taskmanager_client.h
  src/cmd/sql_cmd.h
  src/proto/taskmanager.proto
  src/sdk/db_sdk.cc
  src/sdk/db_sdk.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_router.h
Labels: enhancement

#946 feat: add files of taskmanager and batchjob in release package
  .github/workflows/cicd.yaml
  java/openmldb-batchjob/pom.xml
  java/openmldb-taskmanager/pom.xml
  java/pom.xml
  src/sdk/CMakeLists.txt
Labels: enhancement

#951 feat: pass default db to openmldb batch from TaskManager requests
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/impl/TaskManagerImpl.java
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/OpenmldbBatchjobManager.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/spark/SparkJobManager.scala
Labels: enhancement

#950 feat: add APIs of ExecuteOfflineQuery, ImportOnlineData and ImportOfflineData for CLI
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/LoadDataPlan.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/TestLoadDataPlan.scala
  src/client/taskmanager_client.cc
  src/client/taskmanager_client.h
  src/cmd/sql_cmd.h
  src/cmd/sql_cmd_test.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_router.h
Labels: enhancement

#949 feat: [Python SDK]Raise Error for unsupported methods & new unittest for cicd
  python/sqlalchemy-openmldb/sqlalchemy_openmldb/openmldbapi/_openmldbapi.py
  python/test/openmldb_client_test.py
Labels: enhancement

#966 feat: add drop offline table api and update drop table in CLI
  java/openmldb-taskmanager/pom.xml
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/config/TaskManagerConfig.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/TaskManagerInterface.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/impl/TaskManagerImpl.java
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/JobInfoManager.scala
  src/client/taskmanager_client.cc
  src/client/taskmanager_client.h
  src/cmd/sql_cmd.h
  src/proto/taskmanager.proto
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
Labels: enhancement

#968 feat: generate unique path for offline table
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/OpenmldbBatchConfig.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/LoadDataPlan.scala
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/config/TaskManagerConfig.java
  java/openmldb-taskmanager/src/main/resources/taskmanager.properties
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/spark/SparkJobManager.scala
  src/cmd/sql_cmd.h
Labels: enhancement

#987 feat: exclude Spark and Hadoop in openmldb-batch shaded jar
  java/openmldb-batch/pom.xml
Labels: enhancement

#991 feat: set LANG and LC_ALL for taskmanager jobs
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/spark/SparkJobManager.scala
Labels: enhancement

#982 fix(udf): like_match
  cases/function/expression/test_predicate.yaml
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf_test.cc
Labels: bug
