Repository 4paradigm/OpenMLDB, pull requests merged in 2021-08, with the labels that each got.

#194 build: openmldb arm64 docker
  .github/workflows/docker.yml
  README.md
  README_cn.md
  demo/predict-taxi-trip-duration-nb/Dockerfile
  demo/predict-taxi-trip-duration-nb/demo/README.md
  demo/predict-taxi-trip-duration-nb/demo/init.sh
  demo/predict-taxi-trip-duration-nb/docker-compose.test.yml
  demo/predict-taxi-trip-duration-nb/setup_openmldb.sh
Labels: bug

#212 feat: using hybridse v0.2.1
  steps/init_env.sh
Labels: bug

#245 feat: integrate hive metastore for reading and write iceberg table
  java/openmldb-batch/pom.xml
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/OpenmldbBatchConfig.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
Labels: storage-engine

#256 docs: add install doc
  docs/cn/apiserver.md
  docs/cn/deploy.md
  docs/cn/java_sdk.md
Labels: good first issue

#259 feat: enable scalastyle fail on warning bye default
  java/openmldb-batch/pom.xml
  java/openmldb-batch/scala_style.xml
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
Labels: enhancement

#248 feat: support parameterized query sdk
  .github/workflows/cicd.yaml
  .github/workflows/hybridse-ci.yml
  CHANGELOG.md
  cases/function/expression/test_arithmetic.yaml
  cases/function/expression/test_condition.yaml
  cases/query/parameterized_query.yaml
  hybridse/CHANGELOG.md
  hybridse/CPPLINT.cfg
  hybridse/examples/toydb/src/bm/engine_bm_case.cc
  hybridse/examples/toydb/src/tablet/tablet_server_impl.cc
  hybridse/include/base/fe_status.h
  hybridse/include/node/sql_node.h
  hybridse/include/vm/engine.h
  hybridse/src/cmd/simple_engine_demo.cc
  hybridse/src/proto/fe_common.proto
  hybridse/src/testing/engine_test_base.cc
  hybridse/src/testing/engine_test_base.h
  hybridse/src/vm/engine.cc
  hybridse/src/vm/engine_compile_test.cc
  hybridse/src/vm/local_tablet_handler.h
  hybridse/src/vm/runner.h
  hybridse/tools/compile_and_coverage.sh
  hybridse/tools/hybridse_build.sh
  hybridse/tools/hybridse_core_test.sh
  hybridse/tools/hybridse_deploy.sh
  hybridse/tools/micro_bench.sh
  java/openmldb-jdbc/pom.xml
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/RequestPreparedStatement.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/SqlExecutor.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/SqlClusterExecutor.java
  java/openmldb-native/pom.xml
  java/pom.xml
  python/openmldb/driver.py
  src/catalog/schema_adapter.h
  src/catalog/tablet_catalog_test.cc
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/proto/tablet.proto
  src/sdk/mini_cluster.h
  src/sdk/mini_cluster_bm.cc
  src/sdk/mini_cluster_microbenchmark.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_cluster_test.cc
  src/sdk/sql_request_row.cc
  src/sdk/sql_router.h
  src/sdk/sql_router_test.cc
  src/sdk/sql_sdk_test.cc
  src/sdk/sql_sdk_test.h
  src/tablet/tablet_impl.cc
  steps/init_env.sh
  steps/setup_thirdparty.sh
Labels: execute-engine, 2021H2

#282 add readings links in README.md
  README.md
Labels: documentation

#283 add some blog links in README_cn.md
  README_cn.md
Labels: documentation

#296 feat: support sortby plan and add a unit test for it
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/SparkPlanner.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/SortByPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/PhysicalNodeUtil.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/SparkUtil.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestOrderBy.scala
Labels: enhancement

#301 fix: fix error in doBatchRowRequestdoBatchRowRequest - wrong variable assignned
  python/openmldb/driver.py
Labels: bug

#304 feat: support parameterized query for python sdk
  cases/query/parameterized_query.yaml
  python/openmldb/driver.py
  python/sqlalchemy-openmldb/sqlalchemy_openmldb/openmldbapi/_openmldbapi.py
  python/sqlalchemy-test/rtidb_client_test.py
  src/sdk/sql_request_row.cc
  src/sdk/sql_request_row.h
  src/sdk/sql_router_sdk.i
  src/sdk/sql_sdk_test.cc
  steps/fesql_test_python.sh
Labels: sdk:python

#325 build(hybridse): prepare version to 0.2.3
  hybridse/CMakeLists.txt
  hybridse/java/hybridse-native/pom.xml
  hybridse/java/hybridse-proto/pom.xml
  hybridse/java/hybridse-sdk/pom.xml
  hybridse/java/pom.xml
Labels: build
