Repository 4paradigm/OpenMLDB, pull requests merged in 2021-09, with the labels that each got.

#332 feat: update spark and hadoop version
  java/openmldb-batch/pom.xml
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/SparkPlanner.scala
Labels: enhancement

#348 docs: added new shields
  README.md
  README_cn.md
Labels: documentation

#355 docs: new shilds
  README.md
  README_cn.md
Labels: documentation

#327 refactor: refact AppendEntries in log replicator
  .gitignore
  src/replica/log_replicator.cc
  src/replica/log_replicator.h
  src/replica/log_replicator_test.cc
  src/tablet/tablet_impl.cc
Labels: refactor

#364 docs: add a new logo
  README.md
  README_cn.md
  images/openmldb_logo.png
Labels: documentation

#349 feat: support column query with the same name in window skew optimization
  java/openmldb-batch/src/main/java/com/_4paradigm/openmldb/batch/utils/SkewSqlUtils.java
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/OpenmldbBatchConfig.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/WindowAggPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/SkewDataFrameUtils.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/SparkUtil.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestWindowSkewOptimizationWithLastJoin.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/utils/TestSkewDataFrameUtils.scala
Labels: enhancement

#350 feat: enhance plan optimization for group and filter
  cases/plan/where_query.yaml
  cases/query/parameterized_query.yaml
  cases/query/where_group_query.yaml
  hybridse/examples/toydb/src/tablet/tablet_server_impl.cc
  hybridse/include/sdk/base.h
  hybridse/src/passes/physical/batch_request_optimize_test.cc
  hybridse/src/passes/physical/group_and_sort_optimized.cc
  hybridse/src/plan/planner.cc
  hybridse/src/testing/engine_test_base.cc
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/vm/logical_graph_test.cc
  hybridse/src/vm/runner.cc
  hybridse/src/vm/runner.h
  hybridse/src/vm/transform.cc
  hybridse/src/vm/transform.h
  hybridse/src/vm/transform_test.cc
Labels: execute-engine, 2021H2, sql:plan

#361 feat: add task manager module
  .gitignore
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
  java/openmldb-taskmanager/pom.xml
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/config/TaskManagerConfig.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/TaskManagerEntrypoint.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/TaskManagerServer.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/impl/TaskManagerServerImpl.java
  java/openmldb-taskmanager/src/main/resources/log4j2.properties
  java/openmldb-taskmanager/src/main/resources/openmldb-taskmanager.properties
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/OpenmldbBatchjobManager.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/SparkLauncherUtil.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/YarnClientUtil.scala
  java/openmldb-taskmanager/src/test/scala/com/_4paradigm/openmldb/taskmanager/TestSparkLauncherUtil.scala
  java/openmldb-taskmanager/src/test/scala/com/_4paradigm/openmldb/taskmanager/TestYarnClientUtil.scala
  src/CMakeLists.txt
  src/proto/taskmanager.proto
Labels: enhancement

#359 feat: add batchjob module
  java/openmldb-batchjob/pom.xml
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/BatchRunSql.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/ImportHdfsFile.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/SparkVersionApp.scala
Labels: enhancement

#381 fix: fix a bug in union with instance not in window
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/WindowAggPlan.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestWindowSkewOptimizationWithUnion.scala
Labels: bug

#388 feat: bump hadoop-common to 2.8.5 to avoid vulnerability
  java/openmldb-batch/pom.xml
  java/openmldb-taskmanager/pom.xml
Labels: enhancement

#396 feat: remove junit dependencies and covert java cases as scala
  java/openmldb-batch/pom.xml
  java/openmldb-batch/src/test/java/com/_4paradigm/openmldb/batch/TestOpenmldbBatchMain.java
  java/openmldb-batch/src/test/java/com/_4paradigm/openmldb/batch/TestSerializableByteBuffer.java
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/TestSerializableByteBuffer.scala
Labels: enhancement

#404 feat: update the benchmark images for readme
  images/offline_benchmark.png
  images/online_benchmark.png
Labels: documentation

#405 feat: refine the description of benchmark in readme
  README.md
  README_cn.md
Labels: documentation

#414 feat: reconfiguration window skew optimization
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/OpenmldbBatchConfig.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/GroupByAggregationPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/WindowAggPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/HybridseUtil.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/SkewDataFrameUtils.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/window/RowDebugger.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/window/WindowAggPlanUtil.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/window/WindowComputer.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestWindowSkewOptimizationWithLastJoin.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestWindowSkewOptimizationWithSkewConfig.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/utils/TestSkewDataFrameUtils.scala
Labels: enhancement

#424 feat: add a new optimization for expanding data in window skew optimization
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/OpenmldbBatchConfig.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/WindowAggPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/SkewDataFrameUtils.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/SparkUtil.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestWindowSkewOptimizationWithSkewConfig.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/utils/TestSkewDataFrameUtils.scala
Labels: enhancement

#400 feat: add kubernetes java dependencies for taskmanager
  java/openmldb-batch/src/test/resources/test_windows/w/0/.module.ll.crc
  java/openmldb-batch/src/test/resources/test_windows/w/0/module.ll
  java/openmldb-taskmanager/pom.xml
Labels: enhancement

#386 feat: add batchjob as java submodules
  java/openmldb-batch/pom.xml
  java/openmldb-batchjob/pom.xml
  java/openmldb-nearline-tablet/pom.xml
  java/openmldb-taskmanager/pom.xml
  java/pom.xml
Labels: enhancement

#438 fix: fix a bug when turn on window parallelization and skew optimization
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/WindowAggPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/SkewDataFrameUtils.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/window/WindowAggPlanUtil.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/window/WindowComputer.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/window/WindowSampleSupport.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/TestGroupByPlan.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/TestLimitPlan.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/TestOpenmldbBatchConfig.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/TestProjectPlan.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/TestSerializableByteBuffer.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/TestSparkPlanner.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/TestUnsafeRowRowProject.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/TestUnsafeRowWindowProject.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestWindowSkewOpt.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestWindowSkewOptAndParallelization.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestWindowSkewOptimization.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestWindowSkewOptimizationWithLastJoin.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestWindowSkewOptimizationWithSkewConfig.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/utils/TestSkewDataFrameUtils.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/utils/TestSparkUtil.scala
Labels: bug

#367 feat: add openmldb jmh
  java/openmldb-jmh/.mvn/wrapper/maven-wrapper.properties
  java/openmldb-jmh/README.md
  java/openmldb-jmh/mvnw
  java/openmldb-jmh/mvnw.cmd
  java/openmldb-jmh/pom.xml
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/BenchmarkConfig.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/jmh/DatabaseSetup.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/jmh/FESQLClusterBenchmark.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/jmh/FESQLGroupByBenchmark.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/jmh/FESQLInsertBenchmark.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/jmh/FESQLInsertPreparedStatementBenchmark.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/jmh/FESQLInsertRowBenchmark.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/jmh/FESQLLastJoinBenchmark.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/jmh/FESQLPFZBenchmark.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/jmh/FESQLProjectWorkloadBenchmark.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/jmh/FESQLRedisWorkloadBenchmark.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/jmh/MemSQLBenchmark.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/jmh/MemSQLGroupByBenchmark.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/jmh/ParameterizedQuery2Benchmark.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/jmh/ParameterizedQueryBenchmark.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/jmh/QueryBenchmark.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/jmh/RedisHMBenchmark.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/jmh/RedisMemoryBenchmark.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/jmh/memsql/MemsqlParameterizedQuery2Benchmark.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/jmh/memsql/MemsqlParameterizedQueryBenchmark.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/jmh/memsql/MemsqlSetup.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/jmh/openmldb/OpenMLDBParameterizedQuery2Benchmark.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/jmh/openmldb/OpenMLDBParameterizedQueryBenchmark.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/jmh/openmldb/OpenMLDBSetup.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/jmh/voltdb/VoltdbParameterizedQuery2Benchmark.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/jmh/voltdb/VoltdbParameterizedQueryBenchmark.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/jmh/voltdb/VoltdbSetup.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/stability/FEQLFZPerf.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/tools/Relation.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/tools/TableInfo.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/tools/Util.java
  java/openmldb-jmh/src/main/resources/conf.properties
  java/openmldb-jmh/src/main/resources/fedb_jmh.properties
  java/openmldb-jmh/src/main/resources/log4j.properties
  java/openmldb-jmh/src/test/java/com/_4paradigm/sql/jmh/FESQLClusterBenchmarkTest.java
  java/openmldb-jmh/src/test/resources/log4j.properties
Labels: enhancement

#467 feat: enable `TestWindowUnion` test
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestWindowUnion.scala
Labels: test

#464 feat: read openmldb git properties and set in return string
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
Labels: enhancement

#466 feat: support spark.master config to run job in yarn or local
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/config/TaskManagerConfig.java
  java/openmldb-taskmanager/src/main/resources/openmldb-taskmanager.properties
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/SparkLauncherUtil.scala
Labels: enhancement

#477 fix: integration test from src add exec_test_type input
  .github/workflows/integration-test-src.yml
Labels: bug

#481 feat: add taskmanager as java submodule
  .github/workflows/cicd.yaml
  java/openmldb-taskmanager/pom.xml
  java/pom.xml
Labels: enhancement

#482 feat: revert hadoop common version to 2.7.1 for batch
  java/openmldb-batch/pom.xml
Labels: enhancement
