Repository 4paradigm/OpenMLDB, pull requests merged in 2021-07, with the labels that each got.

#117 fix: add refresh
  onebox/start_onebox.sh
  onebox/start_onebox_on_rambuild.sh
  onebox/start_onebox_on_rambuild_cluster.sh
  src/CMakeLists.txt
  src/apiserver/api_server_impl.cc
  src/apiserver/api_server_impl.h
  src/apiserver/api_server_test.cc
  src/apiserver/interface_provider.cc
  src/apiserver/interface_provider.h
  src/apiserver/json_helper.cc
  src/apiserver/json_helper.h
  src/catalog/tablet_catalog.cc
  src/catalog/tablet_catalog.h
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/cmd/openmldb.cc
  src/nameserver/name_server_impl.cc
  src/nameserver/name_server_impl.h
  src/proto/api_server.proto
  src/proto/tablet.proto
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl.h
Labels: enhancement

#104 feat: update hybridse 0.1.5
  .github/workflows/cicd.yaml
  CMakeLists.txt
  cases/debug/fz_benchmark_debug.yaml
  cases/integration/fz_ddl/test_bank.yaml
  cases/integration/fz_ddl/test_luoji.yaml
  cases/integration/fz_ddl/test_myhug.yaml
  cases/integration/v1/expression/test_logic.yaml
  cases/integration/v1/function/test_udaf_function.yaml
  cases/integration/v1/test_create.yaml
  cases/integration/v1/test_feature_zero_function.yaml
  cases/integration/v1/test_fz_sql.yaml
  cases/integration/v1/window/test_window_row.yaml
  cases/integration/v1/window/test_window_union.yaml
  cases/query/last_join_window_query.yaml
  cases/query/window_query.yaml
  src/CMakeLists.txt
  src/base/linenoise.h
  src/client/ns_client.cc
  src/client/ns_client.h
  src/cmd/sql_cmd.h
  src/sdk/CMakeLists.txt
  src/sdk/mini_cluster_microbenchmark.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_cluster_test.cc
  src/sdk/sql_router_test.cc
  src/sdk/sql_sdk_test.cc
  src/sdk/sql_sdk_test.h
  steps/init_env.sh
Labels: execute-engine

#137 feat: update hybridse version to 0.2.0 rename lead function to lag function
  cases/integration/fz_ddl/test_luoji.yaml
  cases/integration/fz_ddl/test_myhug.yaml
  cases/integration/v1/function/test_udaf_function.yaml
  cases/integration/v1/test_feature_zero_function.yaml
  cases/integration/v1/test_fz_sql.yaml
  cases/integration/v1/window/test_window_row.yaml
  cases/integration/v1/window/test_window_union.yaml
  steps/init_env.sh
Labels: bug

#186 docs: add publication to readme
  README.md
  README_cn.md
Labels: documentation
