Repository 4paradigm/OpenMLDB, pull requests merged in 2021-11, with the labels that each got.

#600 fix: procedure fail to deal with multiple databases
  hybridse/include/sdk/base.h
  hybridse/include/vm/engine.h
  hybridse/src/vm/engine.cc
  hybridse/src/vm/engine_compile_test.cc
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/ProcedureInfo.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/SqlClusterExecutor.java
  src/apiserver/api_server_impl.cc
  src/catalog/base.cc
  src/catalog/base.h
  src/cmd/sql_cmd.h
  src/nameserver/name_server_impl.cc
  src/nameserver/name_server_impl.h
  src/proto/common.proto
  src/proto/sql_procedure.proto
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_sdk_test.cc
Labels: bug

#634 fix: get dependent table for window with union
  hybridse/include/vm/engine.h
  hybridse/src/vm/engine.cc
  hybridse/src/vm/engine_compile_test.cc
Labels: bug

#629 feat: support capital letters for bool like 'FALSE'
  hybridse/src/planv2/ast_node_converter_test.cc
  hybridse/src/udf/udf.cc
Labels: enhancement

#641 fix: fix deploy bug
  src/base/ddl_parser.cc
  src/cmd/sql_cmd.h
  src/cmd/sql_cmd_test.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_router.h
  src/sdk/sql_router_test.cc
Labels: bug

#610 fix: filter condition expression fix
  cases/function/select/test_where.yaml
  hybridse/include/vm/physical_op.h
  hybridse/src/passes/physical/batch_request_optimize_test.cc
  hybridse/src/passes/physical/condition_optimized.cc
  hybridse/src/passes/physical/group_and_sort_optimized.cc
  hybridse/src/vm/runner.h
  hybridse/src/vm/transform.cc
  hybridse/src/vm/transform_test.cc
Labels: bug

#642 feat: add openmldb spark distribution docs
  docs/en/compile.md
Labels: documentation

#628 docs: add standalone docs
  docs/cn/standalone.md
  docs/en/standalone.md
Labels: documentation

#651 fix: fix apiserver execute bug
  src/apiserver/api_server_impl.cc
  src/apiserver/api_server_test.cc
Labels: bug

#685 fix: openmldb compilation
  src/cmd/sql_cmd.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_test.cc
  src/sdk/sql_sdk_test.h
  src/sdk/sql_standalone_sdk_test.cc
  steps/ut.sh
Labels: bug

#681 feat: resolve conflict for support column default value
  cases/plan/create.yaml
  hybridse/include/node/node_manager.h
  hybridse/include/node/sql_node.h
  hybridse/src/node/node_manager.cc
  hybridse/src/node/sql_node.cc
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/planv2/ast_node_converter_test.cc
  hybridse/src/planv2/plan_api.cc
  src/cmd/display.h
  src/proto/common.proto
  src/sdk/CMakeLists.txt
  src/sdk/node_adapter.cc
  src/sdk/node_adapter.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_cluster_test.cc
Labels: enhancement

#690 build: shrink the demo docker image size
  .github/workflows/openmldb-docker.yml
  demo/predict-taxi-trip-duration-nb/Dockerfile
  demo/predict-taxi-trip-duration-nb/conf/apiserver.flags
  demo/predict-taxi-trip-duration-nb/conf/nameserver.flags
  demo/predict-taxi-trip-duration-nb/conf/tablet.flags
  demo/predict-taxi-trip-duration-nb/demo/openmldb_batch.py
  demo/predict-taxi-trip-duration-nb/demo/train.py
  demo/predict-taxi-trip-duration-nb/demo/train_sql.py
  demo/predict-taxi-trip-duration-nb/setup_openmldb.sh
Labels: enhancement

#692 feat: add chinese docs for openmldb spark
  docs/cn/compile.md
Labels: documentation

#701 fix: add dummy class for openmldb-batchjob
  java/openmldb-batchjob/src/main/java/com/_4paradigm/openmldb/batchjob/DummyClass.java
Labels: bug

#740 feat: refactor TaskManager and add unit tests
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/config/TaskManagerConfig.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/TaskManagerEntrypoint.java
  java/openmldb-taskmanager/src/main/resources/taskmanager.properties
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/SparkLauncherUtil.scala
  java/openmldb-taskmanager/src/test/java/com/_4paradigm/openmldb/taskmanager/DummySparkApp.java
  java/openmldb-taskmanager/src/test/resources/taskmanager.properties
  java/openmldb-taskmanager/src/test/scala/com/_4paradigm/openmldb/taskmanager/TestSparkLauncherUtil.scala
Labels: enhancement

#745 feat: upgrade hybridse to 0.3.0 for openmldb-batch
  java/openmldb-batch/pom.xml
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/SparkPlanner.scala
Labels: enhancement

#747 feat: add job management apis in TaskManager
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/dao/JobInfo.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/TaskManagerEntrypoint.java
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/JobInfoManager.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/OpenmldbBatchjobManager.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/spark/SparkJobListener.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/spark/SparkJobManager.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/spark/SparkLauncherUtil.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/yarn/YarnClientUtil.scala
  java/openmldb-taskmanager/src/test/scala/com/_4paradigm/openmldb/taskmanager/spark/TestSparkJobManager.scala
  java/openmldb-taskmanager/src/test/scala/com/_4paradigm/openmldb/taskmanager/spark/TestSparkLauncherUtil.scala
  java/openmldb-taskmanager/src/test/scala/com/_4paradigm/openmldb/taskmanager/yarn/TestYarnClientUtil.scala
Labels: enhancement

#764 feat: sync job info with online system table
  java/openmldb-taskmanager/pom.xml
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/dao/JobInfo.java
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/JobInfoManager.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/spark/SparkJobListener.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/spark/SparkJobManager.scala
  java/openmldb-taskmanager/src/test/scala/com/_4paradigm/openmldb/taskmanager/spark/TestSparkJobManager.scala
Labels: enhancement

#774 feat: update and add more apis for TaskManager
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/dao/JobInfo.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/StatusCode.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/TaskManagerServer.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/impl/TaskManagerServerImpl.java
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/JobInfoManager.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/OpenmldbBatchjobManager.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/spark/SparkJobManager.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/spark/SparkLauncherUtil.scala
  java/openmldb-taskmanager/src/test/scala/com/_4paradigm/openmldb/taskmanager/spark/TestSparkJobManager.scala
  java/openmldb-taskmanager/src/test/scala/com/_4paradigm/openmldb/taskmanager/spark/TestSparkLauncherUtil.scala
  src/proto/taskmanager.proto
Labels: enhancement

#776 feat: add spark jobs in Batchjob for TaskManager
  java/openmldb-batchjob/pom.xml
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/BatchRunSql.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/ImportHdfsFile.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/ImportOfflineData.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/ImportOnlineData.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/RunBatchAndShow.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/RunBatchSql.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/ShowBatchVersion.scala
Labels: enhancement

#777 feat: add openmldb-native and OpenmldbCatalogService in openmldb-batch
  java/openmldb-batch/pom.xml
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/OpenmldbBatchConfig.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/catalog/OpenmldbCatalogService.scala
Labels: enhancement

#778 feat: upgrade hybridse to 0.3.2 for openmldb-batch
  java/openmldb-batch/pom.xml
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/SparkPlanner.scala
Labels: enhancement
