Repository 4paradigm/OpenMLDB, pull requests merged in 2022-12, with the labels that each got.

#2827 docs: add docs of taskmanager ha
  docs/en/deploy/install_deploy.md
  docs/zh/deploy/install_deploy.md
Labels: documentation

#2761 feat: support pre-upgrade and post-upgrade in tools
  docs/en/maintain/openmldb_ops.md
  docs/en/maintain/upgrade.md
  docs/zh/maintain/openmldb_ops.md
  docs/zh/maintain/upgrade.md
  tools/openmldb_ops.py
  tools/tool.py
Labels: documentation

#2838 docs: add hive format and fix string type
  docs/en/reference/sql/data_types/string_types.md
  docs/en/reference/sql/dml/LOAD_DATA_STATEMENT.md
  docs/zh/developer/sdk_develop.md
  docs/zh/reference/sql/data_types/string_types.md
  docs/zh/reference/sql/dml/LOAD_DATA_STATEMENT.md
Labels: documentation

#2831 fix: fix tablet core
  hybridse/src/vm/runner.cc
Labels: execute-engine

#2833 feat: support mon in start.sh
  docs/en/maintain/upgrade.md
  docs/zh/deploy/install_deploy.md
  docs/zh/maintain/upgrade.md
  release/bin/mon
  release/bin/mon_mac
  release/bin/start-all.sh
  release/bin/start.sh
Labels: documentation

#2840 docs: upgrade 0.6.9
  CHANGELOG.md
  demo/jd-recommendation/README.md
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/about/release_notes.md
  docs/en/deploy/compile.md
  docs/en/deploy/install_deploy.md
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/reference/ip_tips.md
  docs/en/use_case/JD_recommendation_en.md
  docs/en/use_case/airflow_provider_demo.md
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/lightgbm_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/en/use_case/talkingdata_demo.md
  docs/zh/about/release_notes.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/install_deploy.md
  docs/zh/quickstart/java_sdk.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/reference/ip_tips.md
  docs/zh/use_case/JD_recommendation.md
  docs/zh/use_case/OpenMLDB_Byzer_taxi.md
  docs/zh/use_case/airflow_provider_demo.md
  docs/zh/use_case/dolphinscheduler_task_demo.md
  docs/zh/use_case/kafka_connector_demo.md
  docs/zh/use_case/pulsar_connector_demo.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
Labels: documentation, docker

#2817 feat: support array data type in SQL query and UDF system
  cases/plan/error_unsupport_sql.yaml
  cases/plan/simple_query.yaml
  cases/query/udf_query.yaml
  hybridse/include/node/node_enum.h
  hybridse/include/node/node_manager.h
  hybridse/include/node/sql_node.h
  hybridse/include/node/type_node.h
  hybridse/src/codegen/CMakeLists.txt
  hybridse/src/codegen/array_ir_builder.cc
  hybridse/src/codegen/array_ir_builder.h
  hybridse/src/codegen/date_ir_builder.cc
  hybridse/src/codegen/expr_ir_builder.cc
  hybridse/src/codegen/expr_ir_builder.h
  hybridse/src/codegen/ir_base_builder.cc
  hybridse/src/codegen/string_ir_builder.cc
  hybridse/src/codegen/string_ir_builder.h
  hybridse/src/codegen/struct_ir_builder.cc
  hybridse/src/codegen/struct_ir_builder.h
  hybridse/src/codegen/timestamp_ir_builder.cc
  hybridse/src/codegen/type_ir_builder.h
  hybridse/src/codegen/udf_ir_builder.cc
  hybridse/src/node/expr_node.cc
  hybridse/src/node/node_manager.cc
  hybridse/src/node/sql_node.cc
  hybridse/src/node/type_node.cc
  hybridse/src/passes/lambdafy_projects.cc
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/planv2/ast_node_converter.h
  hybridse/src/planv2/ast_node_converter_test.cc
  hybridse/src/testing/engine_test_base.cc
  hybridse/src/udf/default_defs/array_def.cc
  hybridse/src/udf/default_defs/feature_zero_def.cc
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/default_udf_library.h
  hybridse/src/udf/literal_traits.h
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
  hybridse/src/udf/udf_registry.h
  hybridse/src/vm/jit_runtime.h
  hybridse/src/vm/runner_test.cc
Labels: build, execute-engine

#2739 fix(request mode): window project over last join subquery
  cases/query/last_join_window_query.yaml
  hybridse/include/vm/schemas_context.h
  hybridse/src/codegen/aggregate_ir_builder.cc
  hybridse/src/codegen/aggregate_ir_builder.h
  hybridse/src/codegen/expr_ir_builder.cc
  hybridse/src/codegen/expr_ir_builder.h
  hybridse/src/codegen/fn_let_ir_builder.cc
  hybridse/src/codegen/fn_let_ir_builder_test.h
  hybridse/src/passes/physical/transform_up_physical_pass.h
  hybridse/src/vm/catalog_wrapper.h
  hybridse/src/vm/mem_catalog.cc
  hybridse/src/vm/physical_op.cc
  hybridse/src/vm/schemas_context.cc
  hybridse/src/vm/transform.cc
  hybridse/src/vm/transform.h
Labels: execute-engine

#2851 feat: collect 0.6.9
  CHANGELOG.md
  cases/plan/error_query.yaml
  demo/jd-recommendation/README.md
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/about/release_notes.md
  docs/en/deploy/compile.md
  docs/en/deploy/install_deploy.md
  docs/en/maintain/openmldb_ops.md
  docs/en/maintain/upgrade.md
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/reference/ip_tips.md
  docs/en/reference/sql/data_types/string_types.md
  docs/en/reference/sql/dml/LOAD_DATA_STATEMENT.md
  docs/en/use_case/JD_recommendation_en.md
  docs/en/use_case/airflow_provider_demo.md
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/lightgbm_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/en/use_case/talkingdata_demo.md
  docs/zh/about/release_notes.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/install_deploy.md
  docs/zh/developer/sdk_develop.md
  docs/zh/maintain/openmldb_ops.md
  docs/zh/maintain/upgrade.md
  docs/zh/quickstart/java_sdk.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/reference/ip_tips.md
  docs/zh/reference/sql/data_types/string_types.md
  docs/zh/reference/sql/dml/LOAD_DATA_STATEMENT.md
  docs/zh/use_case/JD_recommendation.md
  docs/zh/use_case/OpenMLDB_Byzer_taxi.md
  docs/zh/use_case/airflow_provider_demo.md
  docs/zh/use_case/dolphinscheduler_task_demo.md
  docs/zh/use_case/kafka_connector_demo.md
  docs/zh/use_case/pulsar_connector_demo.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/planv2/planner_v2_test.cc
  hybridse/src/vm/runner.cc
  release/bin/mon
  release/bin/mon_mac
  release/bin/start-all.sh
  release/bin/start.sh
  src/catalog/tablet_catalog.cc
  tools/openmldb_ops.py
  tools/tool.py
Labels: documentation, docker, execute-engine, storage-engine

#2865 build: coverage use ubuntu 20.04
  .github/workflows/coverage.yml
Labels: workflow

#2861 refactor: make some fields final in DeletePreparedStatementImpl
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/DeletePreparedStatementImpl.java
Labels: sdk

#2843 feat: add `unix_timestamp` udf
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
Labels: execute-engine

#2839 feat: add `pmod` built-in func
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/udf/default_udf_library.cc
Labels: execute-engine

#2874 fix: fix get joblog fail when updating output status
  src/sdk/sql_cluster_router.cc
Labels: storage-engine

#2834 feat: improve sdk error and msg when insert rows
  docs/en/quickstart/python_sdk.md
  docs/zh/quickstart/python_sdk.md
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/CallablePreparedStatement.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/PreparedStatement.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/RequestPreparedStatement.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/Statement.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/QueryFuture.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/BatchCallablePreparedStatementImpl.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/BatchRequestPreparedStatementImpl.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/CallablePreparedStatementImpl.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/DeletePreparedStatementImpl.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/InsertPreparedStatementImpl.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/RequestPreparedStatementImpl.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/SqlClusterExecutor.java
  java/openmldb-spark-connector/src/test/resources/test.properties
  java/openmldb-spark-connector/src/test/scala/com/_4paradigm/openmldb/spark/TestWrite.scala
  python/openmldb_sdk/openmldb/dbapi/dbapi.py
  python/openmldb_sdk/openmldb/sdk/sdk.py
  python/openmldb_sdk/setup.py
  python/openmldb_sdk/tests/dbapi_test.py
  python/openmldb_sdk/tests/sdk_smoke_test.py
  src/base/status_util.h
  src/sdk/sql_cluster_router.cc
Labels: documentation, sdk, storage-engine

#2868 docs: update to absolute file path in quickstart
  docs/en/quickstart/openmldb_quickstart.md
  docs/zh/quickstart/openmldb_quickstart.md
Labels: documentation

#2871 refactor: extract date member before Append in `openmldb_api`
  src/sdk/openmldb_api.cc
Labels: storage-engine

#2878 docs: add time ordering restriction on long_windows deployment
  docs/en/reference/sql/deployment_manage/DEPLOY_STATEMENT.md
  docs/zh/reference/sql/deployment_manage/DEPLOY_STATEMENT.md
Labels: documentation

#2879 docs: add more info in kafka demo
  docs/en/use_case/kafka_connector_demo.md
  docs/zh/use_case/kafka_connector_demo.md
  extensions/kafka-connect-jdbc/DEVELOP.md
Labels: documentation, extensions

#2876 docs: add debug hints in pulsar demo
  docs/en/use_case/pulsar_connector_demo.md
  docs/zh/reference/ip_tips.md
  docs/zh/use_case/pulsar_connector_demo.md
Labels: documentation

#2847 feat: support `datediff` udf
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
Labels: execute-engine

#2864 feat: size udf
  cases/function/test_feature_zero_function.yaml
  hybridse/src/udf/default_defs/feature_zero_def.cc
Labels: execute-engine

#2863 refactor: remove db cache in dbapi
  demo/predict-taxi-trip-duration/test/import.py
  demo/talkingdata-adtracking-fraud-detection/train_and_serve.ipynb
  demo/talkingdata-adtracking-fraud-detection/train_and_serve.py
  docs/en/developer/python_dev.md
  docs/en/quickstart/python_sdk.md
  docs/zh/quickstart/python_sdk.md
  python/openmldb_sdk/openmldb/dbapi/dbapi.py
  python/openmldb_sdk/openmldb/sdk/sdk.py
  python/openmldb_sdk/openmldb/sql_magic/sql_magic.py
  python/openmldb_sdk/openmldb/sqlalchemy_openmldb/requirements.py
  python/openmldb_sdk/setup.py
  python/openmldb_sdk/tests/dbapi_test.py
  python/openmldb_sdk/tests/openmldb_client_test.py
  python/openmldb_sdk/tests/sdk_smoke_test.py
  python/openmldb_sdk/tests/sql_magic_test.py
  python/openmldb_sdk/tests/sqlalchemy_api_test.py
  python/openmldb_tool/diagnostic_tool/server_checker.py
  python/openmldb_tool/setup.py
  src/sdk/sql_cluster_router.h
  src/sdk/sql_router.h
Labels: documentation, docker, sdk, storage-engine

#2889 docs: fix dolphin demo
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/zh/use_case/dolphinscheduler_task_demo.md
Labels: documentation

#2776 fix: check negative ts
  src/cmd/sql_cmd_test.cc
  src/codec/codec.cc
  src/codec/codec.h
  src/codec/codec_bench_test.cc
  src/codec/codec_project_test.cc
  src/codec/codec_test.cc
  src/codec/row_codec.h
  src/sdk/sql_insert_row.cc
  src/sdk/sql_insert_row.h
  src/storage/aggregator.cc
  src/storage/aggregator.h
  src/storage/aggregator_test.cc
  src/storage/disk_table.cc
  src/storage/mem_table.cc
  src/storage/table_test.cc
Labels: storage-engine

#2867 fix: error message is confusing if the specified role is incorrect
  src/cmd/openmldb.cc
Labels: storage-engine

#2548 feat: delete op
  src/nameserver/name_server_impl.cc
  src/sdk/sql_sdk_test.h
Labels: storage-engine

#2893 docs: add hive to the ecosystem docs
  docs/zh/integration/index.rst
  docs/zh/integration/offline_data_sources/hive.md
  docs/zh/integration/offline_data_sources/index.rst
  docs/zh/openmldb_sql/dml/LOAD_DATA_STATEMENT.md
  docs/zh/openmldb_sql/dql/SELECT_INTO_STATEMENT.md
Labels: documentation

#2890 fix: add quickstart in demo and fix docs
  demo/java_quickstart/README.md
  demo/java_quickstart/demo/pom.xml
  demo/java_quickstart/demo/src/main/java/com/openmldb/demo/App.java
  demo/java_quickstart/demo/src/main/resources/log4j.properties
  demo/java_quickstart/demo/src/test/java/com/openmldb/demo/AppTest.java
  demo/python_quickstart/demo.py
  docs/en/deploy/compile.md
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/python_sdk.md
  docs/zh/deploy/compile.md
  docs/zh/quickstart/sdk/java_sdk.md
  docs/zh/quickstart/sdk/python_sdk.md
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/RequestPreparedStatementTest.java
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/StatementTest.java
Labels: documentation, docker, sdk

#2858 fix: change leader to specified endpoint failed if there are put requests
  src/nameserver/name_server_impl.cc
Labels: storage-engine

#2907 docs: readme link fix
  README.md
  README_cn.md
Labels: documentation

#2908 docs: english readme fix link
  README.md
Labels: documentation

#2897 docs: openmldb_quickstart and standalone version optimization
  docs/zh/about/index.rst
  docs/zh/conf.py
  docs/zh/openmldb_sql/task_manage/SHOW_JOB.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/tutorial/images/cli.png
  docs/zh/tutorial/index.rst
  docs/zh/tutorial/standalone_use.md
  docs/zh/tutorial/standalone_vs_cluster.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
Labels: documentation

#2906 fix: robust date cvt in deploy execution & doc
  docs/en/quickstart/openmldb_quickstart.md
  src/apiserver/api_server_impl.cc
  src/apiserver/api_server_impl.h
  src/apiserver/api_server_test.cc
Labels: documentation, api-server

#2901 build: add quickstart and use case test in compose test
  .github/workflows/openmldb-docker.yml
  demo/Dockerfile
  demo/README.md
  demo/additions/.gitignore
  demo/docker-compose.test.yml
  demo/jd-recommendation/sql_scripts/sql_order
  demo/jd-recommendation/sql_scripts/sync_load_offline.sql
  demo/jd-recommendation/sql_scripts/sync_load_online.sql
  demo/job_checker.py
  demo/predict-taxi-trip-duration/script/data/data.csv
  demo/predict-taxi-trip-duration/script/data/data.parquet
  demo/predict-taxi-trip-duration/script/fe.sql
  demo/predict-taxi-trip-duration/script/predict.py
  demo/predict-taxi-trip-duration/script/taxi.sql
  demo/quick_start/cluster_quickstart.sql
  demo/quick_start/request_test.py
  demo/setup_openmldb.sh
  demo/talkingdata-adtracking-fraud-detection/predict.py
  demo/talkingdata-adtracking-fraud-detection/train_and_serve.py
  docs/en/use_case/talkingdata_demo.md
  docs/zh/integration/deploy_integration/airflow_provider_demo.md
  docs/zh/quickstart/beginner_must_read.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/use_case/talkingdata_demo.md
  extensions/airflow-provider-openmldb/README.md
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
Labels: documentation, workflow, docker, batch-engine, extensions

#2815 feat: add max_memory conf to limit tablet memory usage
  docs/en/deploy/conf.md
  docs/zh/deploy/conf.md
  release/conf/tablet.flags.template
  src/base/memory_stat.h
  src/base/status.h
  src/flags.cc
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl.h
  src/tablet/tablet_impl_mem_test.cc
Labels: documentation, storage-engine

#2916 docs: brief array type in udf system
  docs/en/developer/built_in_function_develop_guide.md
  docs/zh/developer/built_in_function_develop_guide.md
Labels: documentation

#2802 fix: fix external udf for yarn mode
  hybridse/include/vm/engine.h
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/OpenmldbBatchConfig.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/SparkPlanner.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/RowProjectPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/ExternalUdfUtil.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/window/WindowAggPlanUtil.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/util/OpenmldbJobUtil.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/spark/SparkJobManager.scala
Labels: batch-engine, execute-engine, task-manager

#2905 docs: upgrade 0.7.0
  CHANGELOG.md
  demo/java_quickstart/demo/pom.xml
  demo/jd-recommendation/README.md
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/deploy/compile.md
  docs/en/deploy/install_deploy.md
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/reference/ip_tips.md
  docs/en/use_case/JD_recommendation_en.md
  docs/en/use_case/airflow_provider_demo.md
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/lightgbm_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/en/use_case/talkingdata_demo.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/install_deploy.md
  docs/zh/integration/deploy_integration/OpenMLDB_Byzer_taxi.md
  docs/zh/integration/deploy_integration/airflow_provider_demo.md
  docs/zh/integration/deploy_integration/dolphinscheduler_task_demo.md
  docs/zh/integration/online_datasources/kafka_connector_demo.md
  docs/zh/integration/online_datasources/pulsar_connector_demo.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/quickstart/sdk/java_sdk.md
  docs/zh/reference/ip_tips.md
  docs/zh/tutorial/standalone_use.md
  docs/zh/use_case/JD_recommendation.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
  steps/upgrade_docs_version.sh
Labels: documentation, docker
