Repository 4paradigm/OpenMLDB, pull requests merged in 2022-05, with the labels that each got.

#1735 docs: improve the readme_zh
  README_cn.md
  docs/zh/about/images/workflow_cn.png
  docs/zh/use_case/pulsar_openmldb_connector_demo.md
Labels: documentation

#1741 docs: update README.md
  README.md
  docs/en/about/images/workflow.png
Labels: documentation

#1736 docs: add disk table and long window docs
  docs/zh/deploy/conf.md
  docs/zh/reference/sql/ddl/CREATE_TABLE_STATEMENT.md
  docs/zh/reference/sql/deployment_manage/DEPLOY_STATEMENT.md
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/planv2/ast_node_converter.h
  src/cmd/sql_cmd_test.cc
  src/flags.cc
  src/sdk/sql_cluster_router.cc
Labels: documentation, execute-engine, storage-engine

#1709 fix: 1356 combine index query
  cases/query/simple_query.yaml
  hybridse/src/passes/physical/group_and_sort_optimized.cc
  hybridse/src/passes/physical/group_and_sort_optimized.h
  hybridse/src/passes/physical/group_and_sort_optimized_test.cc
  hybridse/src/vm/transform_request_mode_test.cc
Labels: execute-engine

#1739 fix(#1587): pure history rows range window iterator initialize position wrongly
  cases/function/window/test_window.yaml
  hybridse/include/codec/list_iterator_codec.h
  hybridse/include/vm/mem_catalog.h
  hybridse/src/udf/default_defs/window_functions_def.cc
  hybridse/src/vm/mem_catalog.cc
Labels: execute-engine

#1717 fix: db.table format in long window sql
  hybridse/src/passes/physical/long_window_optimized.cc
  src/cmd/sql_cmd_test.cc
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl_test.cc
Labels: execute-engine, storage-engine

#1712 fix: check `long_windows` option match window in sql
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_test.cc
Labels: storage-engine

#1749 feat: update session variable if set global variables
  src/cmd/sql_cmd_test.cc
  src/sdk/sql_cluster_router.cc
Labels: storage-engine

#1748 feat: add demo talkingdata
  .github/workflows/openmldb-docker.yml
  demo/Dockerfile
  demo/docker-compose.test.yml
  demo/init.sh
  demo/predict-taxi-trip-duration-nb/docker-compose.test.yml
  demo/predict-taxi-trip-duration/README.md
  demo/predict-taxi-trip-duration/script/convert_data.py
  demo/predict-taxi-trip-duration/script/data/taxi_tour_table_train_simple.csv
  demo/predict-taxi-trip-duration/script/data/taxi_tour_table_train_simple.snappy.parquet
  demo/predict-taxi-trip-duration/script/fe.sql
  demo/predict-taxi-trip-duration/script/predict.py
  demo/predict-taxi-trip-duration/script/predict_server.py
  demo/predict-taxi-trip-duration/script/start_predict_server.sh
  demo/predict-taxi-trip-duration/script/train.py
  demo/predict-taxi-trip-duration/test/import.py
  demo/setup_openmldb.sh
  demo/talkingdata-adtracking-fraud-detection/README.md
  demo/talkingdata-adtracking-fraud-detection/predict.py
  demo/talkingdata-adtracking-fraud-detection/predict_server.py
  demo/talkingdata-adtracking-fraud-detection/train_and_serve.py
  demo/talkingdata-adtracking-fraud-detection/train_sample.csv
  docs/en/quickstart/openmldb_quickstart.md
  docs/zh/maintain/faq.md
  docs/zh/quickstart/openmldb_quickstart.md
Labels: documentation, workflow, docker

#1757 feat: add 050 offline docs
  docs/en/deploy/conf.md
  docs/en/tutorial/standalone_vs_cluster.md
  docs/zh/deploy/conf.md
  docs/zh/tutorial/openmldbspark_distribution.md
  docs/zh/tutorial/standalone_vs_cluster.md
Labels: documentation

#1754 fix(grafana dashboard): datasource.uid should point to ${datasource}
  monitoring/openmldb_mixin/openmldb_dashboard.json
Labels: monitoring

#1750 docs: add global variable doc
  docs/zh/reference/sql/ddl/SET_STATEMENT.md
Labels: documentation

#1738 docs: add udf doc
  docs/zh/developer/udf_develop_guide.md
  docs/zh/reference/sql/ddl/FUNCTION_STATEMENT.md
  release/bin/boot.sh
Labels: documentation

#1752 docs: add data import guide and fix
  docs/zh/quickstart/data_import_guide.md
  docs/zh/quickstart/index.rst
  docs/zh/tutorial/data_import.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
Labels: documentation

#1764 feat: support publish openmldb-exporter to PyPI
  CHANGELOG.md
  docs/en/about/release_notes.md
  docs/zh/about/release_notes.md
  docs/zh/maintain/monitoring.md
  monitoring/.gitignore
  monitoring/README.md
  monitoring/openmldb_exporter/__init__.py
  monitoring/openmldb_exporter/collector/__init__.py
  monitoring/openmldb_exporter/collector/collectors.py
  monitoring/openmldb_exporter/collector/configstore.py
  monitoring/openmldb_exporter/collector/metrics.py
  monitoring/openmldb_exporter/exporter.py
  monitoring/poetry.lock
  monitoring/pyproject.toml
Labels: documentation, monitoring

#1766 chore: remove unused variable
  hybridse/src/codegen/udf_ir_builder.cc
Labels: execute-engine

#1774 docs: update docs version number to v0.5 in conf.py
  docs/en/conf.py
  docs/zh/conf.py
Labels: documentation

#1777 fix: remove unused gflag variable (#1775)
  src/flags.cc
  src/nameserver/name_server_impl.cc
  src/nameserver/name_server_test.cc
  src/nameserver/standalone_test.cc
Labels: storage-engine

#1773 feat: update row index for UnsafeRowOpt
  hybridse/src/codec/type_codec.cc
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/unsafe/TestMultiSliceGetString.scala
Labels: batch-engine, execute-engine

#1765 feat: cherry-pick support publish openmldb-exporter to PyPI (#1764)
  CHANGELOG.md
  docs/en/about/release_notes.md
  docs/zh/about/release_notes.md
  docs/zh/maintain/monitoring.md
  monitoring/.gitignore
  monitoring/README.md
  monitoring/openmldb_exporter/__init__.py
  monitoring/openmldb_exporter/collector/__init__.py
  monitoring/openmldb_exporter/collector/collectors.py
  monitoring/openmldb_exporter/collector/configstore.py
  monitoring/openmldb_exporter/collector/metrics.py
  monitoring/openmldb_exporter/exporter.py
  monitoring/poetry.lock
  monitoring/pyproject.toml
Labels: documentation, monitoring

#1779 refactor: fix typo of PhysicalAggrerationNode
  hybridse/include/vm/physical_op.h
  hybridse/src/passes/physical/batch_request_optimize.cc
  hybridse/src/passes/physical/batch_request_optimize.h
  hybridse/src/passes/physical/long_window_optimized.cc
  hybridse/src/passes/physical/long_window_optimized.h
  hybridse/src/passes/physical/split_aggregation_optimized.cc
  hybridse/src/passes/physical/split_aggregation_optimized.h
  hybridse/src/vm/physical_op.cc
  hybridse/src/vm/physical_op_test.cc
  hybridse/src/vm/runner.cc
  hybridse/src/vm/transform.cc
Labels: execute-engine

#1768 fix: issue#1762 used constant instead of int in SimpleResultSet
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/SimpleResultSet.java
Labels: sdk

#1737 fix: update ttl if new ttl greater than current ttl when depoly sql
  src/cmd/sql_cmd_test.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_cluster_test.cc
  src/sdk/sql_standalone_sdk_test.cc
Labels: storage-engine

#1772 docs: update udf doc
  docs/zh/developer/index.rst
  docs/zh/developer/udf_develop_guide.md
Labels: documentation

#1782 docs: update changelog
  CHANGELOG.md
  docs/en/about/release_notes.md
  docs/zh/about/release_notes.md
Labels: documentation

#1784 fix: reset aggregator
  hybridse/src/vm/aggregator.h
  hybridse/src/vm/runner.cc
  src/cmd/sql_cmd_test.cc
Labels: execute-engine, storage-engine

#1789 docs: cherry-pick the updated docs to v0.5
  CHANGELOG.md
  docs/en/about/release_notes.md
  docs/zh/about/release_notes.md
  docs/zh/developer/index.rst
  docs/zh/developer/udf_develop_guide.md
Labels: documentation

#1795 refactor: check if null in PreparedStatement
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/PreparedStatement.java
Labels: sdk

#1806 docs: renamed procedure to deployment
  src/nameserver/name_server_impl.cc
Labels: storage-engine

#1798 refactor: change registerTempTable to createOrReplaceTempView
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/unsafe/TestDateUdf.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/unsafe/TestTimestampUdf.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/unsafe/TestWindowWithoutSelect.scala
Labels: batch-engine

#1781 refactor: set the constant in `getSQLStateType`
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/DatabaseMetaData.java
Labels: sdk

#1786 fix: fix compile warnings
  src/storage/disk_table.cc
  src/storage/disk_table.h
Labels: storage-engine

#1802 fix: define the ordering for rows having same key/ts in window union but from different datasource
  cases/function/window/test_window_union.yaml
  hybridse/examples/toydb/src/cmd/toydb_run_engine.cc
  hybridse/src/vm/runner.cc
  hybridse/src/vm/runner.h
Labels: execute-engine

#1810 refactor: remove unused code in `SimpleResultSet`
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/SimpleResultSet.java
Labels: sdk

#1817 docs: add sdk dev doc
  docs/zh/developer/images/sdk_layers.png
  docs/zh/developer/index.rst
  docs/zh/developer/sdk_develop.md
Labels: documentation

#1829 docs: add kafka doc
  docs/zh/use_case/images/kafka_connector_steps.png
  docs/zh/use_case/images/kafka_openmldb_result.png
  docs/zh/use_case/images/kafka_topic_describe.png
  docs/zh/use_case/index.rst
  docs/zh/use_case/kafka_openmldb_connector_demo.md
  docs/zh/use_case/pulsar_openmldb_connector_demo.md
  extensions/kafka-connect-jdbc/pom.xml
Labels: documentation

#1832 docs: update docker version
  docs/zh/use_case/taxi_tour_duration_prediction.md
Labels: documentation

#1840 docs: fix connector names
  docs/zh/use_case/index.rst
  docs/zh/use_case/kafka_connector_demo.md
  docs/zh/use_case/pulsar_connector_demo.md
Labels: documentation

#1838 fix: thread-safe for `RequestAggUnionRunner`
  hybridse/src/vm/runner.cc
  hybridse/src/vm/runner.h
  src/catalog/tablet_catalog_test.cc
Labels: bug, execute-engine, storage-engine

#1833 feat: taskmanager support large sql
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/ExportOfflineData.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/ImportOfflineData.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/ImportOnlineData.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/RunBatchAndShow.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/RunBatchSql.scala
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/client/TaskManagerClient.java
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/OpenmldbBatchjobManager.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/spark/SparkJobManager.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/util/BatchJobUtil.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/util/SqlFileUtil.scala
  java/openmldb-taskmanager/src/test/scala/com/_4paradigm/openmldb/taskmanager/spark/TestSparkJobManager.scala
Labels: batch-engine, task-manager

#1834 feat: add orderby and unit test for window union to handle same timestamp
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/WindowAggPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/window/WindowAggPlanUtil.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestWindowUnionWithSameTimestamp.scala
Labels: batch-engine

#1842 docs: update docker version to v0.5
  docs/zh/use_case/taxi_tour_duration_prediction.md
Labels: documentation

#1824 docs: add English version of upgrade
  docs/en/maintain/index.rst
  docs/en/maintain/upgrade.md
Labels: documentation

#1844 docs: fix index.rst for en/maintain
  docs/en/maintain/index.rst
Labels: documentation

#1845 docs: move chinese cli from reference to maintain
  docs/zh/maintain/cli.md
  docs/zh/maintain/index.rst
  docs/zh/reference/index.rst
Labels: documentation

#1843 refactor: delete `Cond_Column` from tablet_client
  src/client/tablet_client.h
Labels: storage-engine

#1848 docs: add kafka en demo
  docs/en/use_case/index.rst
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/environment.yml
  docs/zh/use_case/kafka_connector_demo.md
Labels: documentation

#1849 docs: fix seealso
  docs/en/use_case/kafka_connector_demo.md
Labels: documentation

#1851 docs: update JOIN_CLAUSE.md
  docs/zh/reference/sql/dql/JOIN_CLAUSE.md
Labels: documentation

#1820 fix(#1761): explain require next <cr> and space ending problem
  hybridse/src/vm/sql_compiler.cc
  src/cmd/sql_cmd.h
  src/cmd/sql_cmd_test.cc
  src/sdk/sql_cluster_router.cc
Labels: execute-engine, storage-engine

#1862 fix: resolve compiling warnings #1826
  src/nameserver/name_server_test.cc
  src/tablet/tablet_impl_multi_path_test.cc
  src/tablet/tablet_impl_projection_test.cc
Labels: storage-engine

#1867 fix: replace `RtidbSchema` keywords to `PBSchema`
  src/catalog/sdk_catalog_test.cc
  src/sdk/mini_cluster_batch_bm.cc
  src/sdk/mini_cluster_bm.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_router_test.cc
  src/sdk/sql_sdk_test.h
Labels: good first issue, storage-engine

#1863 fix: resolve the javadoc warning of openmldb-jdbc #1319
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/common/LibraryLoader.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/SQLResultSet.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/QueryFuture.java
Labels: sdk

#1855 feat: support window union for cluster mode/request mode
  cases/function/window/test_window_union.yaml
  hybridse/include/base/iterator.h
  hybridse/include/codec/row.h
  hybridse/src/vm/runner.cc
  src/catalog/distribute_iterator.cc
  src/catalog/distribute_iterator.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_test.cc
Labels: execute-engine, storage-engine

#1815 docs: translate chinese doc of faq.md and monitoring.md into english (#1796)
  docs/en/maintain/faq.md
  docs/en/maintain/index.rst
  docs/en/maintain/monitoring.md
Labels: documentation

#1864 ci(coverage): move coverage job to github runner
  .github/workflows/coverage.yml
  .github/workflows/sdk.yml
  CMakeLists.txt
  Makefile
  hybridse/examples/toydb/src/CMakeLists.txt
  hybridse/examples/toydb/src/sdk/CMakeLists.txt
  hybridse/src/CMakeLists.txt
  hybridse/src/sdk/CMakeLists.txt
  src/CMakeLists.txt
  src/base/strings.h
  src/sdk/CMakeLists.txt
  src/tablet/tablet_impl_test.cc
Labels: workflow, build, execute-engine, storage-engine

#1854 fix: python use db and split tests
  .gitignore
  python/openmldb/dbapi/dbapi.py
  python/openmldb/sdk/sdk.py
  python/openmldb/sql_magic/sql_magic.py
  python/openmldb/sqlalchemy_openmldb/openmldb_dialect.py
  python/openmldb/test/openmldb_client_test.py
  python/test/case_conf.py
  python/test/dbapi_test.py
  python/test/openmldb_client_test.py
  python/test/sdk_smoke_test.py
  python/test/sql_magic_test.py
  python/test/sqlalchemy_api_test.py
  steps/test_python.sh
Labels: sdk

#1872 fix: autoload when register offline table
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/LoadDataPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/HybridseUtil.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/TestLoadDataPlan.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/utils/HybridseUtilTest.scala
Labels: batch-engine

#1875 docs: update readme to replace the feishu link with the wiki home
  README.md
  README_cn.md
Labels: documentation

#1856 feat: iterate all data with distribute iterator
  src/base/kv_iterator.h
  src/base/kv_iterator_test.cc
  src/catalog/distribute_iterator.cc
  src/catalog/distribute_iterator.h
  src/catalog/distribute_iterator_test.cc
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/cmd/openmldb.cc
  src/codec/codec_bench_test.cc
  src/proto/tablet.proto
  src/sdk/sql_cluster_router.cc
  src/sdk/table_reader.h
  src/sdk/table_reader_impl.cc
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl.h
  src/tablet/tablet_impl_projection_test.cc
  src/tablet/tablet_impl_test.cc
Labels: storage-engine

#1857 feat: delete unused code about showtp #1823
  src/client/tablet_client.cc
  src/client/tablet_client.h
Labels: storage-engine

#1816 feat: add a default CMD for openmldb docker
  .github/workflows/openmldb-docker.yml
  demo/Dockerfile
  demo/docker-compose.test.yml
Labels: workflow, docker

#1858 fix: import in fixed order to avoid dlopen error
  demo/talkingdata-adtracking-fraud-detection/train_and_serve.py
  docs/zh/quickstart/python_sdk.md
Labels: documentation, docker

#1878 style(#1874): resolve typo function name for data handler
  hybridse/include/vm/catalog.h
  hybridse/src/vm/catalog_wrapper.h
  hybridse/src/vm/engine.cc
  hybridse/src/vm/runner.cc
Labels: good first issue, execute-engine

#1884 chore: remove `scan_concurrency_limit` gflag
  src/cmd/openmldb.cc
  src/flags.cc
  test/integration-test/openmldb-test-java/openmldb-test-common/src/main/java/com/_4paradigm/openmldb/test_common/util/FEDBDeploy.java
Labels: storage-engine

#1879 docs: upgrade to 0.5.1
  CHANGELOG.md
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/about/release_notes.md
  docs/en/deploy/install_deploy.md
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/zh/about/milestones.md
  docs/zh/about/release_notes.md
  docs/zh/deploy/install_deploy.md
  docs/zh/quickstart/java_sdk.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/reference/arch/online_arch.md
  docs/zh/reference/ip_tips.md
  docs/zh/use_case/kafka_connector_demo.md
  docs/zh/use_case/pulsar_connector_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
Labels: documentation, docker

#1886 refactor: remove `sscan` and `sget` command in tablet client
  src/cmd/openmldb.cc
Labels: good first issue, storage-engine

#1891 docs: upgrade to 0.5.1 (#1879)
  CHANGELOG.md
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/about/release_notes.md
  docs/en/deploy/install_deploy.md
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/zh/about/milestones.md
  docs/zh/about/release_notes.md
  docs/zh/deploy/install_deploy.md
  docs/zh/quickstart/java_sdk.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/reference/arch/online_arch.md
  docs/zh/reference/ip_tips.md
  docs/zh/use_case/kafka_connector_demo.md
  docs/zh/use_case/pulsar_connector_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
Labels: documentation, docker

#1885 build: support generate project with cmake 3.18
  CMakeLists.txt
  hybridse/CMakeLists.txt
  src/CMakeLists.txt
Labels: build, execute-engine, storage-engine

#1892 fix: core dump in macos running sql_cluster_test
  cases/query/window_with_union_query.yaml
  codecov.yml
  hybridse/examples/toydb/src/cmd/toydb_run_engine.cc
  hybridse/include/case/sql_case.h
  hybridse/src/case/sql_case.cc
  hybridse/src/vm/runner.cc
  src/catalog/distribute_iterator.cc
  src/catalog/distribute_iterator.h
  src/catalog/distribute_iterator_test.cc
  src/sdk/sql_sdk_test.h
Labels: execute-engine, storage-engine

#1897 fix: built-in function: support radians() function #788
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
Labels: good first issue, udf, execute-engine

#1895 fix: built-in function: support char_length() and character_length() function
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
Labels: good first issue, udf, execute-engine

#1870 fix: batch: compile warning that check a long for null #1408
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/WindowAggPlan.scala
Labels: batch-engine, wait for contributor

#1803 fix: add assertion in unit test of OpenmldbCatalogService
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/catalog/TestOpenmldbCatalogService.scala
Labels: batch-engine, wait for contributor

#1896 feat: built-in-function: support char(int) function #817
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
Labels: good first issue, udf, execute-engine

#1882 feat: optimize window computation with UnsafeRowOpt by removing zipped df
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/WindowAggPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/HybridseUtil.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/SparkRowUtil.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/window/WindowComputer.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/unsafe/TestUnsafeWindow.scala
Labels: batch-engine

#1821 feat: support `count_where` op in aggregator
  src/base/ddl_parser.cc
  src/base/ddl_parser.h
  src/base/ddl_parser_test.cc
  src/client/tablet_client.cc
  src/cmd/sql_cmd_test.cc
  src/nameserver/system_table.h
  src/proto/tablet.proto
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/storage/aggregator.cc
  src/storage/aggregator.h
  src/storage/aggregator_test.cc
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl_test.cc
Labels: storage-engine

#1902 feat: support predict server update
  demo/docker-compose.test.yml
  demo/talkingdata-adtracking-fraud-detection/README.md
  demo/talkingdata-adtracking-fraud-detection/predict_server.py
  demo/talkingdata-adtracking-fraud-detection/train_and_serve.py
Labels: docker
