Repository 4paradigm/OpenMLDB, pull requests merged in 2022-09, with the labels that each got.

#2408 docs: fix quickstart result explanation
  docs/en/quickstart/openmldb_quickstart.md
  docs/zh/quickstart/openmldb_quickstart.md
Labels: documentation

#2417 fix: `zk_session_timeout` in `ns_client` dose not work
  src/cmd/openmldb.cc
Labels: storage-engine

#2414 docs: fix ds & airflow demo
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/zh/use_case/airflow_provider_demo.md
  docs/zh/use_case/dolphinscheduler_task_demo.md
  docs/zh/use_case/images/ds_bind_status.png
  docs/zh/use_case/images/ds_create_tenant.png
  docs/zh/use_case/images/ds_set_tenant.png
  docs/zh/use_case/images/ds_tenant_manage.png
Labels: documentation

#2220 fix: create with zero partitionnum
  cases/plan/back_quote_identifier.yaml
  cases/plan/create.yaml
  hybridse/include/node/node_manager.h
  hybridse/include/node/sql_node.h
  hybridse/src/node/node_manager.cc
  hybridse/src/node/sql_node.cc
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/planv2/ast_node_converter_test.cc
  hybridse/src/planv2/planner_v2_test.cc
  src/cmd/sql_cmd_test.cc
  src/sdk/CMakeLists.txt
  src/sdk/node_adapter.cc
  src/sdk/node_adapter.h
  src/sdk/node_adapter_test.cc
  src/sdk/sql_cluster_router.cc
  src/storage/mem_table_snapshot.cc
Labels: build, execute-engine, storage-engine

#2420 build(docker): upgrade zetasql to 0.2.12
  docker/Dockerfile
Labels: docker

#2421 build(docker): upgrade zetasql to 0.2.12
  docker/Dockerfile
Labels: docker

#2402 docs: improved online serving requirements
  docs/zh/reference/sql/deployment_manage/ONLINE_SERVING_REQUIREMENTS.md
Labels: documentation

#2424 docs: update compile docs version
  docs/en/deploy/compile.md
  docs/zh/deploy/compile.md
  steps/upgrade_docs_version.sh
Labels: documentation

#2374 docs: improved the en version of create_tb
  docs/en/reference/sql/ddl/CREATE_TABLE_STATEMENT.md
  docs/zh/reference/sql/ddl/CREATE_TABLE_STATEMENT.md
Labels: documentation

#2434 fix: create failed if partitionnum not equal distribution list size
  src/sdk/node_adapter.cc
  src/sdk/node_adapter_test.cc
Labels: storage-engine

#2396 docs: added en version of show components
  docs/en/reference/sql/ddl/SHOW_COMPONENTS.md
  docs/en/reference/sql/ddl/index.rst
Labels: documentation

#2435 fix: ignore `interactive` if `cmd` is specified
  src/cmd/sql_cmd.h
Labels: storage-engine

#2376 docs: added en version of ddl/show_table_status
  docs/en/reference/sql/ddl/SHOW_TABLE_STATUS.md
  docs/zh/reference/sql/ddl/SHOW_TABLE_STATUS.md
Labels: documentation

#2418 docs: add distribution examples
  docs/en/reference/sql/ddl/CREATE_TABLE_STATEMENT.md
  docs/zh/reference/sql/ddl/CREATE_TABLE_STATEMENT.md
Labels: documentation

#2423 feat: add tools to run OpenMLDB offline
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/tools/RunOpenmldbSql.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/tools/RunOpenmldbSqlWithJson.scala
Labels: batch-engine

#2446 fix: add more msg in spark connector
  docs/zh/developer/sdk_develop.md
  java/openmldb-spark-connector/pom.xml
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/write/OpenmldbDataWriter.java
  java/openmldb-spark-connector/src/test/scala/com/_4paradigm/openmldb/spark/TestWrite.scala
Labels: documentation

#2447 fix(engine): limt clause conjunction with where clause or group by clause
  cases/function/select/test_where.yaml
  cases/query/limit.yaml
  hybridse/include/vm/physical_op.h
  hybridse/src/passes/physical/batch_request_optimize_test.cc
  hybridse/src/passes/physical/limit_optimized.cc
  hybridse/src/passes/physical/limit_optimized.h
  hybridse/src/testing/engine_test_base.cc
  hybridse/src/vm/catalog_wrapper.h
  hybridse/src/vm/physical_op.cc
  hybridse/src/vm/runner.cc
  hybridse/src/vm/runner.h
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/DataProviderPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/GroupByAggregationPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/LimitPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/RowProjectPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/window/WindowAggPlanUtil.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/TestLimitPlan.scala
  src/sdk/sql_sdk_test.h
Labels: batch-engine, execute-engine, storage-engine

#2452 build: thirdparty make glog with gflags
  third-party/CMakeLists.txt
  third-party/cmake/FetchGlog.cmake
Labels: build

#2455 docs: add note about api server
  docs/en/quickstart/rest_api.md
  docs/zh/deploy/install_deploy.md
  docs/zh/quickstart/rest_api.md
Labels: documentation

#2466 fix: set zk log append
  src/zk/zk_client.cc
Labels: storage-engine

#2470 fix: set glog depends on gflags
  third-party/cmake/FetchGlog.cmake
Labels: build

#2467 fix: include optional header
  hybridse/include/vm/mem_catalog.h
Labels: execute-engine

#2473 fix: Incorrect setting `schemaversion` after adding new field
  src/catalog/sdk_catalog.cc
  src/catalog/sdk_catalog.h
  src/cmd/display.h
  src/nameserver/name_server_impl.cc
  src/nameserver/name_server_test.cc
  src/sdk/sql_cluster_router.cc
  src/storage/schema.cc
Labels: bug, storage-engine

#2475 fix: add null check for openmldb batch tools
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/tools/RunOpenmldbSqlWithJson.scala
Labels: batch-engine

#2277 feat(api-server): add query parameters to the sql query api
  docs/en/quickstart/rest_api.md
  docs/zh/quickstart/rest_api.md
  src/apiserver/api_server_impl.cc
  src/apiserver/api_server_impl.h
  src/apiserver/api_server_test.cc
  src/apiserver/json_helper.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_router.h
Labels: documentation, api-server

#2472 fix: thread races in aggregator if there are concurrent `Put`s
  src/replica/log_replicator.cc
  src/replica/log_replicator.h
  src/storage/aggregator.cc
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl.h
  src/tablet/tablet_impl_test.cc
Labels: storage-engine

#2468 build: update pre-built thirdparty to 0.5.2
  docker/Dockerfile
  hybridse/examples/toydb/src/CMakeLists.txt
  hybridse/src/vm/engine.cc
  third-party/CMakeLists.txt
Labels: build, docker, execute-engine

#2458 docs: add docs of configuring taskmanager for kerberos yarn
  docs/en/maintain/faq.md
  docs/zh/maintain/faq.md
Labels: documentation

#2419 docs: improved the zh version of tutotial_sql_2
  docs/zh/tutorial/images/openmldb_sql_tutorial_1.drawio
  docs/zh/tutorial/images/openmldb_sql_tutorial_2.drawio
  docs/zh/tutorial/images/t2_to_t22.jpg
  docs/zh/tutorial/images/t2_to_t22.png
  docs/zh/tutorial/tutorial_sql_2.md
Labels: documentation

#2494 fix: do not handle zk diconnect event for taskmanager
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/zk/FailoverWatcher.java
Labels: bug, task-manager

#2488 feat: create/drop database remote
  src/client/ns_client.cc
  src/client/ns_client.h
  src/nameserver/name_server_create_remote_test.cc
  src/nameserver/name_server_impl.cc
  src/nameserver/name_server_impl.h
  src/proto/name_server.proto
Labels: storage-engine

#2489 docs: upgrade v0.6.2
  CHANGELOG.md
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/about/release_notes.md
  docs/en/deploy/compile.md
  docs/en/deploy/install_deploy.md
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/reference/ip_tips.md
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/lightgbm_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/zh/about/release_notes.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/install_deploy.md
  docs/zh/quickstart/java_sdk.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/reference/ip_tips.md
  docs/zh/use_case/airflow_provider_demo.md
  docs/zh/use_case/dolphinscheduler_task_demo.md
  docs/zh/use_case/kafka_connector_demo.md
  docs/zh/use_case/pulsar_connector_demo.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
Labels: documentation, docker

#2501 fix: add checking if there is data in the base table for long window deploy
  src/base/ddl_parser.cc
  src/cmd/sql_cmd_test.cc
  src/log/log_reader.cc
  src/log/log_reader.h
  src/replica/log_replicator_test.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_test.cc
  src/storage/aggregator.cc
  src/tablet/tablet_impl_test.cc
Labels: storage-engine

#2491 feat: main to v0.6
  CHANGELOG.md
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/about/release_notes.md
  docs/en/deploy/compile.md
  docs/en/deploy/install_deploy.md
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/reference/ip_tips.md
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/lightgbm_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/zh/about/release_notes.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/install_deploy.md
  docs/zh/quickstart/java_sdk.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/reference/ip_tips.md
  docs/zh/use_case/airflow_provider_demo.md
  docs/zh/use_case/dolphinscheduler_task_demo.md
  docs/zh/use_case/kafka_connector_demo.md
  docs/zh/use_case/pulsar_connector_demo.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
  src/base/ddl_parser.cc
  src/cmd/sql_cmd_test.cc
  src/log/log_reader.cc
  src/log/log_reader.h
  src/replica/log_replicator_test.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_test.cc
  src/storage/aggregator.cc
  src/tablet/tablet_impl_test.cc
Labels: documentation, docker, storage-engine

#2516 refactor: remove unused import in `StatementTest`
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/StatementTest.java
Labels: sdk

#2526 refactor: remove unused import in SQLRouterSmokeTest.java
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/SQLRouterSmokeTest.java
Labels: sdk

#2525 fix: fix the different signedness cmp
  hybridse/src/vm/runner.cc
Labels: execute-engine

#2523 feat: update the version to 0.6.2
  benchmark/pom.xml
  demo/Dockerfile
Labels: docker

#2527 refactor: remove PrintTableIndex function from cmd/display.h
  src/cmd/display.h
Labels: storage-engine

#2450 docs: improved the zh version of create deployment in reference/sql/deployment_manage
  docs/zh/reference/sql/ddl/CREATE_TABLE_STATEMENT.md
  docs/zh/reference/sql/deployment_manage/DEPLOY_STATEMENT.md
Labels: documentation

#2492 docs: improved drop_deployment
  docs/en/reference/sql/deployment_manage/DROP_DEPLOYMENT_STATEMENT.md
  docs/zh/reference/sql/deployment_manage/DROP_DEPLOYMENT_STATEMENT.md
Labels: documentation

#2546 fix: moved declarations to namespace
  src/zk/dist_lock.h
Labels: storage-engine

#2533 fix: deployment has not recovered if nameserver restarted
  src/nameserver/name_server_impl.cc
  src/sdk/sql_cluster_router.cc
Labels: storage-engine

#2504 ci(docs deploy)!: only trigger deployment on push to main
  .github/workflows/doc.yml
Labels: workflow

#2232 feat(go-sdk): init go sdk
  .github/workflows/sdk.yml
  .gitignore
  go/conn.go
  go/conn_test.go
  go/driver.go
  go/driver_test.go
  go/go.mod
  go/go.sum
  go/go_sdk_test.go
  src/apiserver/json_helper.cc
  src/apiserver/json_helper.h
Labels: workflow, api-server

#2560 build: add sha256sum for release pkg
  .github/workflows/cicd.yaml
Labels: workflow

#2559 fix: fixed different signedness
  hybridse/examples/toydb/src/sdk/tablet_sdk.cc
Labels: execute-engine

#2555 feat: use local[*] as default value of spark.master in taskmanager
  java/openmldb-taskmanager/src/main/resources/taskmanager.properties
  release/conf/taskmanager.properties
Labels: task-manager

#2554 refactor: cleaned unused code
  src/client/client.h
  src/client/tablet_client.h
Labels: storage-engine

#2562 docs: improved the en version of create_deploy
  docs/en/reference/sql/deployment_manage/DEPLOY_STATEMENT.md
  docs/zh/reference/sql/deployment_manage/DEPLOY_STATEMENT.md
Labels: documentation

#2496 docs: improved show deployments
  docs/en/reference/sql/deployment_manage/SHOW_DEPLOYMENTS.md
  docs/zh/reference/sql/deployment_manage/SHOW_DEPLOYMENTS.md
Labels: documentation

#2495 docs: improved the show_deployment statement
  docs/en/reference/sql/deployment_manage/SHOW_DEPLOYMENT.md
  docs/zh/reference/sql/deployment_manage/SHOW_DEPLOYMENT.md
Labels: documentation

#2540 fix: describe table with database prefix
  src/cmd/sql_cmd_test.cc
  src/sdk/sql_cluster_router.cc
Labels: storage-engine

#2568 feat: display readable timestamp
  hybridse/include/sdk/result_set.h
  src/base/time.h
  src/sdk/CMakeLists.txt
  src/sdk/result_set_sql.cc
  src/sdk/result_set_sql.h
  src/sdk/result_set_sql_test.cc
  src/sdk/sql_cluster_router.cc
Labels: build, execute-engine, storage-engine

#2436 docs: improved the en version of online_request spec
  docs/en/reference/sql/deployment_manage/DEPLOY_STATEMENT.md
  docs/en/reference/sql/deployment_manage/ONLINE_REQUEST_REQUIREMENTS.md
  docs/en/reference/sql/deployment_manage/ONLINE_SERVING_REQUIREMENTS.md
  docs/en/reference/sql/deployment_manage/index.rst
  docs/en/reference/sql/dql/JOIN_CLAUSE.md
  docs/en/reference/sql/dql/SELECT_STATEMENT.md
  docs/en/reference/sql/dql/WINDOW_CLAUSE.md
  docs/en/tutorial/modes.md
  docs/zh/README.md
  docs/zh/SUMMARY.md
  docs/zh/reference/sql/deployment_manage/DEPLOY_STATEMENT.md
  docs/zh/reference/sql/deployment_manage/ONLINE_REQUEST_REQUIREMENTS .md
  docs/zh/reference/sql/deployment_manage/index.rst
  docs/zh/reference/sql/dql/JOIN_CLAUSE.md
  docs/zh/reference/sql/dql/SELECT_STATEMENT.md
  docs/zh/reference/sql/dql/WINDOW_CLAUSE.md
  docs/zh/tutorial/modes.md
Labels: documentation

#2572 ci: coverage and labeler updates to workflows
  .github/labeler.yml
  .github/workflows/coverage.yml
  .github/workflows/sdk.yml
Labels: workflow

#2569 feat(engine): support subquery(last join) as producer of window node in request node
  cases/query/last_join_window_query.yaml
  hybridse/src/passes/physical/simple_project_optimized.h
  hybridse/src/vm/transform.cc
  hybridse/src/vm/transform.h
Labels: execute-engine

#2561 fix!: able to compile & execute multi window union query in batch mode
  cases/function/window/test_window_union.yaml
  hybridse/include/codec/fe_row_codec.h
  hybridse/include/vm/physical_op.h
  hybridse/include/vm/schemas_context.h
  hybridse/src/codec/fe_row_codec.cc
  hybridse/src/codec/row.cc
  hybridse/src/codegen/fn_let_ir_builder.cc
  hybridse/src/codegen/variable_ir_builder.cc
  hybridse/src/codegen/variable_ir_builder.h
  hybridse/src/vm/physical_op.cc
  hybridse/src/vm/runner.cc
  hybridse/src/vm/schemas_context.cc
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestWindow.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/unsafe/TestUnsafeFormatForWindowAppendSlice.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/unsafe/TestUnsafeWindowOverWindow.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/unsafe/TestWindowWithoutSelect.scala
Labels: batch-engine, execute-engine

#2550 fix: always use online mode to deploy
  src/cmd/sql_cmd_test.cc
  src/sdk/sql_cluster_router.cc
Labels: storage-engine

#2431 feat: add the implement of unhex build in function #822
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
Labels: udf, execute-engine

#2557 fix: correct go module to its path
  go/go.mod
  go/go_sdk_test.go
Labels: go-sdk

#2581 fix: fix memory leak in tablet_impl_test
  src/tablet/tablet_impl_test.cc
Labels: storage-engine

#2580 fix: resolve comparison of different signedness warnning
  src/apiserver/api_server_impl.cc
Labels: api-server

#2584 docs: update README_cn.md
  README_cn.md
Labels: documentation

#2577 fix: put failed if create with snappy
  src/base/glog_wrapper_test.cc
  src/sdk/sql_router.h
  src/storage/disk_table.cc
  src/storage/mem_table.cc
  src/tablet/tablet_impl_test.cc
Labels: storage-engine

#2599 refactor: remove unused code from `sql_cluster_availability`
  src/tablet/sql_cluster_availability_test.cc
Labels: storage-engine

#2594 refactor: updating `__INTERALDB` to `openmldb::nameserver::INTERNAL_DB`
  src/sdk/sql_cluster_router.cc
Labels: storage-engine
