Repository 4paradigm/OpenMLDB, pull requests merged in 2022-03, with the labels that each got.

#1312 feat: support window union with unsaferow opt
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/WindowAggPlan.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/unsafe/TestUnsafeWindowWithUnion.scala
Labels: enhancement

#1326 fix: fix string columns as null for UnsafeRowOpt
  hybridse/src/codec/type_codec.cc
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/DataUtil.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestProject.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/unsafe/TestUnsafeProjectWithNull.scala
Labels: bug

#1347 docs: add the active contribution list to CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#1343 feat: set fversion, sversion and size in row bytes for UnsafeRowOpt
  java/openmldb-batch/src/main/java/com/_4paradigm/openmldb/batch/utils/ByteArrayUtil.java
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/UnsafeRowUtil.scala
  java/openmldb-batch/src/test/java/com/_4paradigm/openmldb/batch/utils/TestByteArrayUtils.java
Labels: enhancement

#1355 feat: update the taskmanger config file in release for branch-0.4
  release/conf/taskmanager.properties
Labels: enhancement

#1354 feat: update the taskmanager config file in release
  release/conf/taskmanager.properties
Labels: enhancement

#1370 feat: upgrade openmldb to 0.4.2 for batch test
  test/batch-test/openmldb-batch-test/pom.xml
Labels: enhancement

#1362 feat: support unsaferow format for codec
  hybridse/src/codec/fe_row_codec.cc
  hybridse/src/codec/type_codec.cc
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/OpenmldbBatchConfig.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/RowProjectPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/WindowAggPlan.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/unsafe/TestUnsafeGroupby.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/unsafe/TestUnsafeJoin.scala
Labels: enhancement

#1334 feat: init pre-aggr table for long window
  .gitignore
  hybridse/src/node/plan_node.cc
  hybridse/src/planv2/planner_v2_test.cc
  src/base/ddl_parser.cc
  src/base/ddl_parser.h
  src/base/ddl_parser_test.cc
  src/cmd/sql_cmd_test.cc
  src/flags.cc
  src/nameserver/name_server_impl.cc
  src/nameserver/system_table.h
  src/sdk/mini_cluster.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_cluster_test.cc
Labels: enhancement

#1372 feat: update wrapper in Python SDK with new ExeucteSQL API from C
  python/openmldb/dbapi/dbapi.py
  python/openmldb/sdk/sdk.py
Labels: enhancement

#1364 feat(planner): suport `SET GLOBAL|SESSIOIN ` statement
  cases/plan/cmd.yaml
  cases/plan/error_unsupport_sql.yaml
  hybridse/src/planv2/ast_node_converter.cc
  third-party/CMakeLists.txt
  third-party/cmake/FetchZetasql.cmake
Labels: enhancement

#1403 fix: 1295 udaf default value for `min_where` and `max_where`
  .github/workflows/hybridse-ci.yml
  cases/function/function/test_udaf_function.yaml
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/udaf_test.cc
Labels: bug

#1380 feat: impl show components
  src/cmd/sql_cmd_test.cc
  src/sdk/db_sdk.h
  src/sdk/mini_cluster.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/zk/zk_client.cc
  src/zk/zk_client.h
  third-party/cmake/FetchZetasql.cmake
Labels: enhancement

#1426 fix: fix insert/select on standalone to branch-0.4
  src/cmd/sql_cmd.h
Labels: bug

#1425 fix: fix select/insert on standalone mode
  src/cmd/sql_cmd_test.cc
  src/sdk/sql_cluster_router.cc
Labels: bug

#1443 fix: fix simple expression infer
  cases/function/multiple_databases/test_multiple_databases.yaml
  hybridse/src/node/sql_node.cc
Labels: bug

#1432 ci: refactor workflow
  .github/workflows/cicd.yaml
  .github/workflows/coverage.yml
  .github/workflows/hybridsql-docker.yml
  .github/workflows/publish-sdk-test-result-from-fork.yml
  .github/workflows/sdk.yml
Labels: workflow

#1431 feat: support `SHOW TABLE STATUS`
  src/cmd/sql_cmd_test.cc
  src/nameserver/name_server_impl.cc
  src/nameserver/system_table.h
  src/nameserver/system_table_test.cc
  src/sdk/mini_cluster.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
Labels: enhancement

#1359 feat: support set global variable
  src/cmd/sql_cmd_test.cc
  src/sdk/db_sdk.cc
  src/sdk/db_sdk.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_cluster_test.cc
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl.h
Labels: enhancement

#1468 feat: add is_online_mode() API in Python SDK
  python/openmldb/dbapi/dbapi.py
  python/openmldb/sdk/sdk.py
  src/sdk/sql_cluster_router.h
  src/sdk/sql_router.h
Labels: enhancement

#1463 docs: update readme and templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/pull_request_template.md
  .github/pull_request_template.md
  README.md
  README_cn.md
Labels: documentation

#1287 feat: disk table
  Makefile
  src/CMakeLists.txt
  src/flags.cc
  src/proto/common.proto
  src/proto/tablet.proto
  src/storage/disk_table.cc
  src/storage/disk_table.h
  src/storage/disk_table_snapshot.cc
  src/storage/disk_table_snapshot.h
  src/storage/disk_table_test.cc
  src/storage/mem_table.cc
  src/storage/mem_table.h
  src/storage/table.cc
  src/storage/table.h
  src/storage/table_test.cc
  third-party/CMakeLists.txt
  third-party/cmake/FetchRocksDB.cmake
Labels: enhancement

#1453 feat: use sql for show jobs and show job command
  java/openmldb-taskmanager/src/main/resources/log4j.properties
  src/sdk/sql_cluster_router.cc
Labels: enhancement

#1454 feat: implement openmldb joined row
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/WindowAggPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/spark/OpenmldbJoinedRow.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/window/WindowComputer.scala
Labels: enhancement

#1470 feat: create database if not exists
  cases/plan/cmd.yaml
  hybridse/include/node/plan_node.h
  hybridse/include/node/sql_node.h
  hybridse/src/node/node_manager.cc
  hybridse/src/node/plan_node.cc
  hybridse/src/node/sql_node.cc
  hybridse/src/planv2/ast_node_converter.cc
  src/client/ns_client.cc
  src/client/ns_client.h
  src/cmd/sql_cmd_test.cc
  src/nameserver/name_server_impl.cc
  src/nameserver/name_server_impl.h
  src/proto/name_server.proto
  src/sdk/sql_cluster_router.cc
  third-party/cmake/FetchZetasql.cmake
Labels: enhancement

#1451 docs: add English version of Java SDK quickstart documentation
  docs/en/java_sdk.md
Labels: documentation, community

#1476 feat: add physical node for insert stmt
  Makefile
  hybridse/include/vm/physical_op.h
  hybridse/src/vm/physical_op.cc
  hybridse/src/vm/runner.cc
  hybridse/src/vm/transform.cc
  hybridse/src/vm/transform_test.cc
Labels: enhancement

#1452 docs: add English version of Python SDK quickstart documentation
  docs/en/python_sdk.md
Labels: documentation, community

#1268 fix: cli command will not be executed if we add space after semicolon
  src/cmd/sql_cmd.h
Labels: bug

#1484 fix: compile rocksdb
  CMakeLists.txt
  src/CMakeLists.txt
  third-party/cmake/FetchAbsl.cmake
  third-party/cmake/FetchBaiduCommon.cmake
  third-party/cmake/FetchRocksDB.cmake
  third-party/patches/rocksdb.patch
Labels: bug

#1474 feat: add tracker service to track unfinished jobs
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/config/TaskManagerConfig.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/dao/JobInfo.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/TaskManagerServer.java
  java/openmldb-taskmanager/src/main/resources/taskmanager.properties
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/tracker/JobTrackerService.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/tracker/YarnJobTrackerThread.scala
Labels: enhancement

#1439 docs: add English version of OpenMLDB QuickStart documentation
  docs/en/openmldb_quickstart.md
Labels: documentation, community

#1475 feat: support setInt for openmldb joined row for UnsafeRowOpt
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/spark/OpenmldbJoinedRow.scala
Labels: enhancement

#1502 feat: optimize join condition expr
  hybridse/include/node/sql_node.h
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/OpenmldbBatchConfig.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/ConstProjectPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/JoinPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/SimpleProjectPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/ExpressionUtil.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/unsafe/TestUnsafeJoin.scala
Labels: enhancement

#1497 feat: create INFORMATION_SCHEMA.DEPLOY_RESPONSE_TIME on start
  src/cmd/sql_cmd_test.cc
  src/nameserver/name_server_impl.cc
  src/nameserver/name_server_impl.h
  src/nameserver/system_table.cc
  src/nameserver/system_table.h
  src/nameserver/system_table_test.cc
  src/sdk/sql_cluster_router.cc
  src/test/util.h
Labels: enhancement

#1398 refactor: refact type
  CMakeLists.txt
  hybridse/CMakeLists.txt
  hybridse/include/codec/list_iterator_codec.h
  hybridse/include/codec/type_codec.h
  hybridse/src/base/mem_pool_test.cc
  hybridse/src/benchmark/udf_bm_case.cc
  hybridse/src/codec/fe_row_codec.cc
  hybridse/src/codec/type_codec.cc
  hybridse/src/codegen/arithmetic_expr_ir_builder_test.cc
  hybridse/src/codegen/buf_ir_builder_test.cc
  hybridse/src/codegen/cast_expr_ir_builder_test.cc
  hybridse/src/codegen/date_ir_builder_test.cc
  hybridse/src/codegen/expr_ir_builder_test.cc
  hybridse/src/codegen/fn_let_ir_builder_test.cc
  hybridse/src/codegen/ir_base_builder.cc
  hybridse/src/codegen/list_ir_builder_test.cc
  hybridse/src/codegen/predicate_expr_ir_builder_test.cc
  hybridse/src/codegen/timestamp_ir_builder_test.cc
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/node/expr_node_test.cc
  hybridse/src/udf/containers.h
  hybridse/src/udf/default_defs/avg_by_category_def.cc
  hybridse/src/udf/default_defs/count_by_category_def.cc
  hybridse/src/udf/default_defs/feature_zero_def.cc
  hybridse/src/udf/default_defs/max_by_category_def.cc
  hybridse/src/udf/default_defs/min_by_category_def.cc
  hybridse/src/udf/default_defs/sum_by_category_def.cc
  hybridse/src/udf/default_defs/window_functions_def.cc
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/literal_traits.h
  hybridse/src/udf/udaf_test.cc
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
  hybridse/src/udf/udf_registry_test.cc
  hybridse/src/udf/udf_test.cc
  hybridse/src/vm/jit_runtime.h
  include/base/mem_pool.h
  include/base/string_ref.h
  include/base/type.h
Labels: enhancement

#1448 feat: auto release Python SDK MacOS in CICD
  .github/workflows/sdk.yml
  steps/test_python.sh
  steps/zoo.cfg
Labels: enhancement

#1505 feat: join condition with SparkExprOpt supports arithmatic expression
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/JoinPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/ExpressionUtil.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/HybridseUtil.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/unsafe/TestUnsafeJoin.scala
Labels: enhancement

#1433 feat: long window plan
  hybridse/examples/toydb/src/tablet/tablet_catalog.h
  hybridse/include/plan/plan_api.h
  hybridse/include/sdk/base.h
  hybridse/include/vm/engine.h
  hybridse/include/vm/physical_op.h
  hybridse/include/vm/simple_catalog.h
  hybridse/src/passes/physical/group_and_sort_optimized.cc
  hybridse/src/passes/physical/long_window_optimized.cc
  hybridse/src/passes/physical/long_window_optimized.h
  hybridse/src/passes/physical/split_aggregation_optimized.cc
  hybridse/src/passes/physical/split_aggregation_optimized.h
  hybridse/src/passes/physical/transform_up_physical_pass.h
  hybridse/src/plan/planner.cc
  hybridse/src/plan/planner.h
  hybridse/src/planv2/plan_api.cc
  hybridse/src/planv2/planner_v2.h
  hybridse/src/testing/test_base.cc
  hybridse/src/testing/test_base.h
  hybridse/src/vm/engine.cc
  hybridse/src/vm/physical_op.cc
  hybridse/src/vm/physical_plan_context.h
  hybridse/src/vm/simple_catalog.cc
  hybridse/src/vm/sql_compiler.cc
  hybridse/src/vm/sql_compiler.h
  hybridse/src/vm/transform.cc
  hybridse/src/vm/transform.h
  hybridse/src/vm/transform_request_mode_test.cc
  src/catalog/base.cc
  src/catalog/base.h
  src/proto/sql_procedure.proto
  src/sdk/sql_cluster_router.cc
  src/tablet/tablet_impl.cc
Labels: enhancement

#1541 docs: fix the redirection URL in docs/cn
  docs/cn/README.md
  docs/cn/index.html
Labels: documentation

#1540 fix: execute udf function on string field will core dump if length greater than 2048
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/udf/containers.h
  hybridse/src/udf/default_defs/feature_zero_def.cc
  hybridse/src/udf/udf.cc
Labels: bug
