Repository 4paradigm/OpenMLDB, pull requests merged in 2022-11, with the labels that each got.

#2601 ci: reuse workflow for three publish-*-test-result-from-fork.yml
  .github/workflows/cicd.yaml
  .github/workflows/hybridse-ci.yml
  .github/workflows/publish-hybridse-test-result-from-fork.yml
  .github/workflows/publish-sdk-test-result-from-fork.yml
  .github/workflows/publish-test-result-from-fork-action.yml
  .github/workflows/publish-test-result-from-fork.yml
  .github/workflows/publish-test-results-action.yml
  .github/workflows/sdk.yml
Labels: workflow

#2607 docs: added en version of code structures and contributing guideline
  docs/en/developer/code_structure.md
  docs/en/developer/contributing.md
  docs/en/developer/index.rst
  docs/zh/developer/contributing.md
Labels: documentation

#2609 docs: added en version of python_sdk_tools
  docs/en/developer/index.rst
  docs/en/developer/python_dev.md
Labels: documentation

#2733 fix: some docs on online preview mode
  docs/en/tutorial/modes.md
  docs/zh/deploy/conf.md
  docs/zh/tutorial/modes.md
  release/conf/tablet.flags
  release/conf/tablet2.flags
Labels: documentation

#2719 feat: update Memtable::RecordIdxCnt
  src/replica/log_replicator_test.cc
  src/storage/mem_table.cc
  src/storage/snapshot_test.cc
  src/storage/table_test.cc
Labels: storage-engine

#2737 fix: type problem of index in get_parameter_row() and get_request_row…
  src/sdk/openmldb_api.cc
Labels: storage-engine

#2738 feat: add warnings msg for show table status
  CMakeLists.txt
  docs/en/reference/sql/ddl/SHOW_TABLE_STATUS.md
  docs/zh/reference/sql/ddl/SHOW_TABLE_STATUS.md
  hybridse/include/base/texttable.h
  hybridse/src/base/texttable.cc
  hybridse/src/base/texttable_test.cc
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/planv2/ast_node_converter_test.cc
  hybridse/src/planv2/planner_v2_test.cc
  src/catalog/client_manager.h
  src/catalog/sdk_catalog.cc
  src/catalog/sdk_catalog.h
  src/cmd/sql_cmd_test.cc
  src/sdk/db_sdk.cc
  src/sdk/db_sdk.h
  src/sdk/mini_cluster.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/test/util.h
Labels: documentation, build, execute-engine, storage-engine

#2742 fix: correct the doc of built-in function (#2587)
  hybridse/src/udf/default_udf_library.cc
Labels: udf, execute-engine

#2752 docs: fix quickstart link
  docs/zh/quickstart/openmldb_quickstart.md
Labels: documentation

#2751 fix: fix submit job show timestamp
  src/cmd/display.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
Labels: storage-engine

#2749 feat: improve the error handling in sql cluster router
  hybridse/include/base/fe_status.h
  hybridse/include/sdk/base.h
  hybridse/src/proto/fe_common.proto
  src/base/status.h
  src/base/status_util.h
  src/base/status_util_test.cc
  src/client/tablet_client.cc
  src/client/taskmanager_client.cc
  src/cmd/sql_cmd.h
  src/cmd/sql_cmd_test.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_router_test.cc
Labels: execute-engine, storage-engine

#2757 feat: add docs of show joblog and update quickstart
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/reference/sql/task_manage/SHOW_JOBLOG.md
  docs/en/reference/sql/task_manage/index.rst
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/reference/sql/task_manage/SHOW_JOBLOG.md
  docs/zh/reference/sql/task_manage/index.rst
Labels: documentation

#2753 docs: upgrade 0.6.5
  CHANGELOG.md
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/about/release_notes.md
  docs/en/deploy/compile.md
  docs/en/deploy/install_deploy.md
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/reference/ip_tips.md
  docs/en/use_case/JD_recommendation_en.md
  docs/en/use_case/airflow_provider_demo.md
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/lightgbm_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/en/use_case/talkingdata_demo.md
  docs/zh/about/release_notes.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/install_deploy.md
  docs/zh/quickstart/java_sdk.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/reference/ip_tips.md
  docs/zh/use_case/JD_recommendation.md
  docs/zh/use_case/OpenMLDB_Byzer_taxi.md
  docs/zh/use_case/airflow_provider_demo.md
  docs/zh/use_case/dolphinscheduler_task_demo.md
  docs/zh/use_case/kafka_connector_demo.md
  docs/zh/use_case/pulsar_connector_demo.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
Labels: documentation, docker

#2736 feat: add new tool for recovering data
  docs/en/maintain/index.rst
  docs/en/maintain/openmldb_ops.md
  docs/zh/maintain/index.rst
  docs/zh/maintain/openmldb_ops.md
  tools/analysis.sh
  tools/balanceleader.sh
  tools/changeleader.sh
  tools/conf.json
  tools/deploy.py
  tools/env.sh
  tools/install.sh
  tools/openmldb_migrate.py
  tools/openmldb_ops.py
  tools/recoverdata.sh
  tools/recovertable.sh
  tools/tool.py
Labels: documentation

#2747 feat: support command of show job log
  src/sdk/sql_cluster_router.cc
Labels: storage-engine

#2763 docs: update data recovery documents
  docs/en/maintain/backup.md
  docs/en/maintain/scale.md
  docs/zh/maintain/backup.md
  docs/zh/maintain/scale.md
Labels: documentation

#2758 fix(#2756): print row data in runner
  .github/workflows/hybridse-ci.yml
  hybridse/src/vm/runner.cc
  hybridse/src/vm/runner.h
Labels: workflow, execute-engine

#2754 feat(udf): hash64 function
  CMakeLists.txt
  cases/function/function/test_udf_function.yaml
  cmake/farmhash.cmake
  hybridse/CMakeLists.txt
  hybridse/src/CMakeLists.txt
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/literal_traits.h
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
  hybridse/src/udf/udf_registry.h
  include/base/string_ref.h
  include/base/type.h
Labels: build, execute-engine

#2606 docs: added en version of data import quickstart and improved the zh version
  docs/en/quickstart/data_import_guide.md
  docs/en/quickstart/index.rst
  docs/zh/quickstart/data_import_guide.md
Labels: documentation

#2768 fix: convert offset in recover data tool
  tools/tool.py
Labels: bug

#2610 docs: added en version of sdk development guideline
  docs/en/developer/images/sdk_layers.png
  docs/en/developer/index.rst
  docs/en/developer/sdk_develop.md
  docs/zh/developer/sdk_develop.md
Labels: documentation

#2773 fix: fix showopstatus without database
  src/client/ns_client.cc
Labels: storage-engine

#2779 docs: upgrade 0.6.6
  CHANGELOG.md
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/about/release_notes.md
  docs/en/deploy/compile.md
  docs/en/deploy/install_deploy.md
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/reference/ip_tips.md
  docs/en/use_case/JD_recommendation_en.md
  docs/en/use_case/airflow_provider_demo.md
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/lightgbm_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/en/use_case/talkingdata_demo.md
  docs/zh/about/release_notes.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/install_deploy.md
  docs/zh/quickstart/java_sdk.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/reference/ip_tips.md
  docs/zh/use_case/JD_recommendation.md
  docs/zh/use_case/OpenMLDB_Byzer_taxi.md
  docs/zh/use_case/airflow_provider_demo.md
  docs/zh/use_case/dolphinscheduler_task_demo.md
  docs/zh/use_case/kafka_connector_demo.md
  docs/zh/use_case/pulsar_connector_demo.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
Labels: documentation, docker

#2781 docs: recover faq
  docs/en/maintain/faq.md
  docs/zh/maintain/faq.md
Labels: documentation

#2783 test: skip python sdk request tiemout test
  python/openmldb_sdk/tests/dbapi_test.py
Labels: sdk

#2770 fix: fix syntax error
  src/catalog/distribute_iterator.cc
  src/catalog/tablet_catalog.cc
  src/cmd/openmldb.cc
  src/nameserver/name_server_impl.cc
  src/sdk/sql_cluster_router.cc
  src/storage/mem_table.cc
  src/storage/mem_table_snapshot.cc
  src/storage/snapshot.cc
  src/tablet/tablet_impl.cc
Labels: storage-engine

#2782 feat: collect 0.6.6 features
  .github/workflows/hybridse-ci.yml
  CHANGELOG.md
  CMakeLists.txt
  cases/function/function/test_udf_function.yaml
  cmake/farmhash.cmake
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/about/release_notes.md
  docs/en/deploy/compile.md
  docs/en/deploy/install_deploy.md
  docs/en/developer/images/sdk_layers.png
  docs/en/developer/index.rst
  docs/en/developer/sdk_develop.md
  docs/en/quickstart/data_import_guide.md
  docs/en/quickstart/index.rst
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/reference/ip_tips.md
  docs/en/reference/sql/functions_and_operators/Files/udfs_8h.md
  docs/en/use_case/JD_recommendation_en.md
  docs/en/use_case/airflow_provider_demo.md
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/lightgbm_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/en/use_case/talkingdata_demo.md
  docs/zh/about/release_notes.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/install_deploy.md
  docs/zh/developer/sdk_develop.md
  docs/zh/quickstart/data_import_guide.md
  docs/zh/quickstart/java_sdk.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/reference/ip_tips.md
  docs/zh/reference/sql/functions_and_operators/Files/udfs_8h.md
  docs/zh/use_case/JD_recommendation.md
  docs/zh/use_case/OpenMLDB_Byzer_taxi.md
  docs/zh/use_case/airflow_provider_demo.md
  docs/zh/use_case/dolphinscheduler_task_demo.md
  docs/zh/use_case/kafka_connector_demo.md
  docs/zh/use_case/pulsar_connector_demo.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
  hybridse/CMakeLists.txt
  hybridse/src/CMakeLists.txt
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/literal_traits.h
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
  hybridse/src/udf/udf_registry.h
  hybridse/src/vm/runner.cc
  hybridse/src/vm/runner.h
  include/base/string_ref.h
  include/base/type.h
  monitoring/poetry.lock
  src/client/ns_client.cc
  steps/test_python.sh
  tools/tool.py
Labels: documentation, workflow, build, docker, monitoring, execute-engine, storage-engine

#2777 feat: autofe improvement
  .gitignore
  docs/en/tutorial/autofe.md
  docs/en/tutorial/index.rst
  docs/zh/tutorial/autofe.md
  docs/zh/tutorial/index.rst
  python/AutoFE/AutoFE.py
  python/openmldb_autofe/README.md
  python/openmldb_autofe/autofe/__init__.py
  python/openmldb_autofe/autofe/autofe.py
  python/openmldb_autofe/environment.yml
  python/openmldb_autofe/setup.cfg
  python/openmldb_autofe/setup.py
  python/openmldb_autofe/tests/__init__.py
  python/openmldb_autofe/tests/sql_trans_test.py
  python/openmldb_autofe/tests/test.yaml
Labels: documentation, sdk

#2715 fix: some problems of data export function
  src/tools/data_exporter.cc
  src/tools/log_exporter.cc
  src/tools/tablemeta_reader.cc
  src/tools/tablemeta_reader.h
Labels: storage-engine

#2780 feat: improve taskmanager client error
  src/base/status.h
  src/client/taskmanager_client.cc
  src/rpc/rpc_client.h
Labels: storage-engine

#2788 fix: fix python mac twine
  .github/workflows/sdk.yml
Labels: workflow

#2791 fix: make test deps to extras require in pysdk
  docs/zh/developer/python_dev.md
  python/openmldb_sdk/setup.py
Labels: documentation, sdk

#2792 docs: improve quickstart, java sdk and must read
  demo/quick_start/cluster_quickstart.sql
  docs/en/deploy/compile.md
  docs/en/developer/python_dev.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/zh/deploy/compile.md
  docs/zh/developer/contributing.md
  docs/zh/developer/python_dev.md
  docs/zh/maintain/faq.md
  docs/zh/quickstart/beginner_must_read.md
  docs/zh/quickstart/function_boundary.md
  docs/zh/quickstart/java_sdk.md
  docs/zh/quickstart/openmldb_quickstart.md
Labels: documentation, docker

#2805 docs: update openmldb_quickstart.md
  docs/zh/quickstart/openmldb_quickstart.md
Labels: documentation

#2812 docs: add cxx sdk index
  docs/zh/quickstart/index.rst
Labels: documentation

#2810 fix: `createTable` function execute failed in quickstart
  docs/zh/quickstart/java_sdk.md
Labels: documentation

#2778 feat: support Hive import and export
  docs/en/reference/sql/dml/LOAD_DATA_STATEMENT.md
  docs/zh/developer/sdk_develop.md
  docs/zh/reference/sql/dml/LOAD_DATA_STATEMENT.md
  docs/zh/reference/sql/dql/SELECT_INTO_STATEMENT.md
  java/openmldb-batch/pom.xml
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/LoadDataPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/SelectIntoPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/HybridseUtil.scala
  java/openmldb-batch/src/test/resources/load_data_test_src/src.csv
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/utils/HybridseUtilTest.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/ExportOfflineData.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/ImportOfflineData.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/ImportOnlineData.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/RunBatchAndShow.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/RunBatchSql.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/util/OpenmldbJobUtil.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/OpenmldbBatchjobManager.scala
Labels: documentation, batch-engine, task-manager

#2808 docs: upgrade 0.6.7
  CHANGELOG.md
  demo/jd-recommendation/README.md
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/about/release_notes.md
  docs/en/deploy/compile.md
  docs/en/deploy/install_deploy.md
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/reference/ip_tips.md
  docs/en/use_case/JD_recommendation_en.md
  docs/en/use_case/airflow_provider_demo.md
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/lightgbm_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/en/use_case/talkingdata_demo.md
  docs/zh/about/release_notes.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/install_deploy.md
  docs/zh/quickstart/java_sdk.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/reference/ip_tips.md
  docs/zh/use_case/JD_recommendation.md
  docs/zh/use_case/OpenMLDB_Byzer_taxi.md
  docs/zh/use_case/airflow_provider_demo.md
  docs/zh/use_case/dolphinscheduler_task_demo.md
  docs/zh/use_case/kafka_connector_demo.md
  docs/zh/use_case/pulsar_connector_demo.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
Labels: documentation, docker

#2816 refactor: rm `format_version`
  src/apiserver/api_server_impl.cc
  src/catalog/distribute_iterator_test.cc
  src/catalog/sdk_catalog_test.cc
  src/cmd/display.h
  src/cmd/openmldb.cc
  src/codec/sdk_codec.cc
  src/codec/sdk_codec.h
  src/nameserver/name_server_impl.cc
  src/replica/snapshot_replica_test.cc
  src/sdk/db_sdk.cc
  src/sdk/db_sdk_test.cc
  src/sdk/mini_cluster_batch_bm.cc
  src/sdk/node_adapter.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_test.cc
  src/storage/disk_table_test.cc
  src/storage/snapshot_test.cc
  src/storage/table_iterator_test.cc
  src/storage/table_test.cc
  src/tablet/tablet_impl_func_test.cc
  src/tablet/tablet_impl_multi_path_test.cc
  src/tablet/tablet_impl_projection_test.cc
  src/tablet/tablet_impl_test.cc
  src/test/util.h
Labels: api-server

#2814 docs: fix stop job and offline select
  docs/en/reference/sql/dql/SELECT_STATEMENT.md
  docs/en/reference/sql/task_manage/STOP_JOB.md
  docs/zh/reference/sql/dql/SELECT_STATEMENT.md
  docs/zh/reference/sql/task_manage/STOP_JOB.md
Labels: documentation

#2714 build: various improvements to cpp compile, thirdparty and tests
  cases/function/expression/test_type.yaml
  cases/query/limit.yaml
  hybridse/CMakeLists.txt
  hybridse/examples/toydb/src/CMakeLists.txt
  hybridse/examples/toydb/src/bm/CMakeLists.txt
  hybridse/examples/toydb/src/sdk/CMakeLists.txt
  hybridse/examples/toydb/src/testing/toydb_engine_test.cc
  hybridse/src/CMakeLists.txt
  hybridse/src/benchmark/CMakeLists.txt
  hybridse/src/codegen/CMakeLists.txt
  hybridse/src/sdk/CMakeLists.txt
  hybridse/src/udf/udf.cc
  third-party/cmake/FetchBoost.cmake
Labels: build, execute-engine

#2820 feat: enable filter plan in offline and add ut
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/SparkPlanner.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestWhere.scala
Labels: batch-engine

#2813 feat: support json style data in apiserver
  docs/en/quickstart/rest_api.md
  docs/zh/quickstart/rest_api.md
  src/apiserver/api_server_impl.cc
  src/apiserver/api_server_impl.h
  src/apiserver/api_server_test.cc
  src/sdk/mini_cluster.h
Labels: documentation, api-server

#2826 docs: upgrade 0.6.8
  CHANGELOG.md
  demo/jd-recommendation/README.md
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/about/release_notes.md
  docs/en/deploy/compile.md
  docs/en/deploy/install_deploy.md
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/reference/ip_tips.md
  docs/en/use_case/JD_recommendation_en.md
  docs/en/use_case/airflow_provider_demo.md
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/lightgbm_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/en/use_case/talkingdata_demo.md
  docs/zh/about/release_notes.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/install_deploy.md
  docs/zh/quickstart/java_sdk.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/reference/ip_tips.md
  docs/zh/use_case/JD_recommendation.md
  docs/zh/use_case/OpenMLDB_Byzer_taxi.md
  docs/zh/use_case/airflow_provider_demo.md
  docs/zh/use_case/dolphinscheduler_task_demo.md
  docs/zh/use_case/kafka_connector_demo.md
  docs/zh/use_case/pulsar_connector_demo.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
Labels: documentation, docker
