Repository 4paradigm/OpenMLDB, pull requests merged in 2022-07, with the labels that each got.

#2051 refactor: deleted `enable_show_tp` from flags.cc
  src/flags.cc
Labels: storage-engine

#2044 fix: use int to record string length instead of map
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/InsertPreparedStatementImpl.java
Labels: sdk

#2055 fix(#1944): warning of invalid copy
  src/storage/disk_table.h
Labels: storage-engine

#2062 fix: delete unused functions AppendXXX
  src/codec/codec.h
Labels: storage-engine

#2070 refactor: removed `std::move`
  src/catalog/sdk_catalog.h
Labels: storage-engine

#2071 refactor: updated test names to UpperCamelCase
  src/catalog/sdk_catalog_test.cc
Labels: storage-engine

#2085 fix: removed `GetCondAndPrintColumns` & `shutdown_signal_handler` function from cmd/openmldb.cc
  src/cmd/openmldb.cc
Labels: storage-engine

#2088 docs: fix typos in Chinese docs
  README_cn.md
  docs/zh/about/intro.md
Labels: documentation

#2049 fix: `MakeResultSet` using wrong schema in projection
  src/cmd/sql_cmd_test.cc
  src/sdk/result_set_sql.cc
Labels: storage-engine

#2073 fix: remove the explicit keyword for copy-constructor in list_iterator_codec.h
  hybridse/include/codec/list_iterator_codec.h
Labels: execute-engine

#2084 fix: removed `explicit` from constructor declaration
  src/cmd/sdk_iterator.h
  src/sdk/table_reader_impl.cc
Labels: storage-engine

#2079 fix: delete unused include from codec/codec.h
  src/codec/codec.h
Labels: storage-engine

#2068 refactor: remove `SetLocalSpTablet` from src/catalog/tablet_catalog.h
  src/catalog/tablet_catalog.h
Labels: storage-engine

#2093 refactor: update sql_cmd_test.cc
  src/cmd/sql_cmd_test.cc
Labels: storage-engine

#2086 refactor: renamed from rtidb to openmldb in dist_lock_test.cc and zk_client_tes…
  src/zk/dist_lock_test.cc
  src/zk/zk_client_test.cc
Labels: storage-engine

#2096 refactor: delete RowContext src/codec/codec.h
  src/codec/codec.h
Labels: storage-engine

#2092 fix: make error msgs of TaskManager more explicit
  src/client/taskmanager_client.cc
Labels: storage-engine

#2053 feat: support `exclude current_row`
  cases/function/window/test_window_union.yaml
  cases/function/window/window_attributes.yaml
  cases/plan/window_query.yaml
  docker/Dockerfile
  hybridse/include/case/sql_case.h
  hybridse/include/codec/list_iterator_codec.h
  hybridse/include/codec/type_codec.h
  hybridse/include/node/node_manager.h
  hybridse/include/node/plan_node.h
  hybridse/include/node/sql_node.h
  hybridse/include/vm/mem_catalog.h
  hybridse/include/vm/physical_op.h
  hybridse/src/case/sql_case.cc
  hybridse/src/codec/type_codec.cc
  hybridse/src/codegen/expr_ir_builder.cc
  hybridse/src/codegen/window_ir_builder.cc
  hybridse/src/codegen/window_ir_builder.h
  hybridse/src/node/node_manager.cc
  hybridse/src/node/plan_node.cc
  hybridse/src/node/plan_node_test.cc
  hybridse/src/node/sql_node.cc
  hybridse/src/node/sql_node_test.cc
  hybridse/src/passes/physical/batch_request_optimize.cc
  hybridse/src/passes/physical/window_column_pruning.cc
  hybridse/src/plan/planner.cc
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/planv2/ast_node_converter_test.cc
  hybridse/src/planv2/planner_v2.cc
  hybridse/src/planv2/planner_v2_test.cc
  hybridse/src/testing/engine_test_base.cc
  hybridse/src/vm/core_api.cc
  hybridse/src/vm/core_api.h
  hybridse/src/vm/jit_wrapper.cc
  hybridse/src/vm/mem_catalog.cc
  hybridse/src/vm/physical_op.cc
  hybridse/src/vm/runner.cc
  hybridse/src/vm/runner.h
  hybridse/src/vm/transform.cc
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/window/WindowAggPlanUtil.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/window/WindowComputer.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestWindow.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestWindowUnion.scala
  src/sdk/sql_sdk_test.h
  third-party/cmake/FetchZetasql.cmake
Labels: build, docker, batch-engine, execute-engine, storage-engine

#2107 refactor: removed `NOLINT` annotation from the end of `base/glog_wapper.h` include statement
  src/base/file_util.h
  src/log/log_reader.cc
  src/log/log_writer.cc
  src/log/sequential_file.cc
  src/replica/log_replicator.cc
  src/replica/replicate_node.cc
  src/rpc/rpc_client.h
  src/storage/disk_table.cc
  src/storage/disk_table_snapshot.cc
  src/storage/disk_table_test.cc
  src/storage/segment_test.cc
  src/storage/snapshot.cc
  src/zk/dist_lock.cc
Labels: storage-engine

#2100 refactor: delete functions in src/codec/schema_codec.h
  src/codec/schema_codec.h
Labels: storage-engine

#2054 docs: add the Chinese doc of the talkingdata demo
  docs/zh/use_case/index.rst
  docs/zh/use_case/talkingdata_demo.md
Labels: documentation

#2104 refactor: delete the redundant comment from tablet/tablet_impl.h
  src/tablet/tablet_impl.h
Labels: storage-engine

#2102 feat: add taskmanager get version api
  java/openmldb-taskmanager/pom.xml
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/client/TaskManagerClient.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/TaskManagerInterface.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/TaskManagerServer.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/impl/TaskManagerImpl.java
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/util/VersionUtil.scala
  java/openmldb-taskmanager/src/test/scala/com/_4paradigm/openmldb/taskmanager/util/TestVersionUtil.scala
  src/cmd/openmldb.cc
  src/cmd/sql_cmd.h
  src/proto/taskmanager.proto
Labels: enhancement, storage-engine, task-manager

#2115 docs: (update and fix)cluster usage and excution mode
  docs/zh/tutorial/modes.md
Labels: documentation

#1756 feat: add sqlalchemy tests
  python/openmldb/sqlalchemy_openmldb/requirements.py
  python/openmldb/sqlalchemy_test_config
  python/openmldb/test/conftest.py
  python/openmldb/test/sqlalchemy_standardtest_example.py
  python/setup.py
Labels: sdk, wait for contributor

#2113 refactor: updated default value of concurrency_limit to zero in src/flags.cc
  src/flags.cc
Labels: storage-engine

#2112 refactor: removed `CalcTotalLength` function from `v1` namespace in codec/codec.h
  src/codec/codec.h
Labels: storage-engine

#2075 feat: support custom order in insert stmt
  .github/workflows/cicd.yaml
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/common/Pair.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/SQLInsertMetaData.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/InsertPreparedStatementImpl.java
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/JDBCDriverTest.java
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/SQLRouterSmokeTest.java
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/StatementTest.java
  python/openmldb/dbapi/dbapi.py
  python/setup.py
  python/test/dbapi_test.py
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_cluster_test.cc
  src/sdk/sql_insert_row.cc
  src/sdk/sql_insert_row.h
  src/sdk/sql_router_test.cc
Labels: sdk, storage-engine

#2129 fix: python sdk insert row and test main
  python/openmldb/dbapi/dbapi.py
  python/test/dbapi_test.py
  python/test/openmldb_client_test.py
  python/test/sdk_smoke_test.py
  python/test/sql_magic_test.py
  python/test/sqlalchemy_api_test.py
Labels: sdk

#2130 refactor: delete `Int64ToString` from codec/codec.h
  src/codec/codec.h
Labels: storage-engine

#2131 refactor: remove `NOLINT` annotation
  src/storage/disk_table.h
  src/storage/disk_table_test.cc
Labels: storage-engine

#2126 docs: fixed some syntax errors in Chinese
  docs/zh/reference/arch/online_arch.md
Labels: documentation

#2091 feat: support apiserver query, dbapi close and fix
  python/openmldb/dbapi/dbapi.py
  src/apiserver/api_server_impl.cc
  src/apiserver/api_server_impl.h
  src/apiserver/api_server_test.cc
  src/apiserver/interface_provider.cc
  src/apiserver/interface_provider.h
  src/client/taskmanager_client.cc
  src/client/taskmanager_client.h
  src/flags.cc
  src/proto/api_server.proto
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_router.h
Labels: sdk, api-server

#2116 docs: fixed some problems when building docs envs with environment file
  docs/README.md
  docs/environment.yml
Labels: documentation

#2139 fix: database in ns_client
  src/cmd/openmldb.cc
Labels: storage-engine

#2142 fix: fix unsaferowopt create managed slice
  hybridse/src/vm/core_api.cc
  hybridse/src/vm/core_api.h
Labels: execute-engine

#2154 docs: updated the description of disk-based storage engine in zh
  docs/zh/reference/arch/online_arch.md
Labels: documentation

#2158 refactor: hybridse/images file deleted
  hybridse/images/HybridSE.png
Labels: execute-engine

#2136 fix: concat_ws func example
  docs/en/reference/sql/functions_and_operators/Files/udfs_8h.md
  docs/zh/reference/sql/functions_and_operators/Files/udfs_8h.md
  hybridse/src/udf/default_udf_library.cc
Labels: documentation, execute-engine

#2152 docs: fixed the error that index of en/reference didn't show
  docs/en/reference/index.rst
Labels: documentation

#2162 fix: fix the bug of comparison with different type
  src/apiserver/api_server_test.cc
  src/cmd/sql_cmd_test.cc
Labels: api-server

#2151 fix: pass sql file absolute path and fix for yarn-client mode
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/util/OpenmldbJobUtil.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/OpenmldbBatchjobManager.scala
Labels: batch-engine, task-manager

#2161 fix: new server and make brpc own it in mini cluster
  src/sdk/mini_cluster.h
Labels: storage-engine

#2143 chore: rewrite a few funs in planner for better style
  hybridse/src/plan/planner.cc
Labels: execute-engine

#2167 fix: convert all non-const ref job_info to pointer in sql_cluster_router.h
  src/client/taskmanager_client.cc
  src/client/taskmanager_client.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_cluster_test.cc
  src/sdk/sql_router.h
Labels: storage-engine

#2165 feat: suppoprt `exclude current_row` in long window
  hybridse/include/vm/physical_op.h
  hybridse/src/passes/physical/long_window_optimized.cc
  hybridse/src/vm/runner.cc
  hybridse/src/vm/runner.h
  hybridse/src/vm/window_test.cc
  src/cmd/sql_cmd_test.cc
Labels: execute-engine, storage-engine

#2175 refactor(#2168): reimpl `dayofyear` udf
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/literal_traits.h
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
  include/base/type.h
Labels: execute-engine

#2176 fix: `showopstatus` show all tables even if set the database
  release/bin/start.sh
  src/client/ns_client.cc
  src/nameserver/name_server_impl.cc
Labels: storage-engine

#2178 docs: delete useless index infront of the docs
  docs/en/reference/sql/functions_and_operators/operators.md
  docs/zh/reference/sql/functions_and_operators/operators.md
Labels: documentation

#2191 fix: zk cleanup doesn't work
  demo/init.sh
Labels: docker

#2146 docs: fixed sql syntax errors and added new data export format
  docs/zh/reference/sql/dql/SELECT_INTO_STATEMENT.md
Labels: documentation

#2190 fix: remove `converttype` function in sdk/sql_insert_row.h
  src/sdk/sql_insert_row.h
Labels: storage-engine

#2184 docs: changes some cluster execution modes names
  docs/zh/tutorial/modes.md
Labels: documentation

#2171 feat: fix python sdk mac workflow and upgrade macos
  .github/workflows/sdk.yml
Labels: workflow

#2174 fix: snapshot recover for disk table
  src/base/file_util.h
  src/replica/snapshot_replica_test.cc
  src/tablet/tablet_impl.cc
Labels: storage-engine

#2138 docs: fixed sql error of the last example in having_clause
  docs/zh/reference/sql/dql/HAVING_CLAUSE.md
Labels: documentation

#2145 docs: updated the supported execution mode of limit clause
  docs/zh/reference/sql/dql/LIMIT_CLAUSE.md
Labels: documentation

#2160 docs: modified some en statement in ref/arch/online_arch
  docs/en/reference/arch/online_arch.md
Labels: documentation

#2207 feat: add bugfix for release 053
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/ExportOfflineData.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/ImportOfflineData.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/ImportOnlineData.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/RunBatchAndShow.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/RunBatchSql.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/util/OpenmldbJobUtil.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/OpenmldbBatchjobManager.scala
Labels: documentation, workflow, build, docker, monitoring, batch-engine, sdk, execute-engine, storage-engine, task-manager

#2205 fix: add index add arg db
  src/client/ns_client.cc
  src/client/ns_client.h
  src/nameserver/name_server_impl.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
Labels: storage-engine

#2181 fix(#2177): avoid ts overflow in window
  cases/function/window/test_window_exclude_current_time.yaml
  cases/function/window/test_window_union.yaml
  cases/function/window/window_attributes.yaml
  hybridse/include/vm/mem_catalog.h
  hybridse/src/vm/runner.cc
  src/test/base_test.cc
Labels: execute-engine, storage-engine

#2159 feat: built-in function: Support hex() function #819
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
Labels: execute-engine

#2197 docs: fixed duplicate table name and the link at the last part of use_db clause
  docs/zh/reference/sql/ddl/USE_DATABASE_STATEMENT.md
Labels: documentation

#2198 docs: update the links at the last of ddl/des
  docs/zh/reference/sql/ddl/DESC_STATEMENT.md
Labels: documentation

#2208 docs: 0.5.3 doc
  CHANGELOG.md
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/about/release_notes.md
  docs/en/deploy/install_deploy.md
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/zh/about/release_notes.md
  docs/zh/deploy/install_deploy.md
  docs/zh/quickstart/java_sdk.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/reference/ip_tips.md
  docs/zh/use_case/dolphinscheduler_task_demo.md
  docs/zh/use_case/kafka_connector_demo.md
  docs/zh/use_case/pulsar_connector_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
Labels: documentation, docker

#2218 feat: fix python sdk mac workflow and upgrade macos (#2171)
  .github/workflows/sdk.yml
Labels: workflow

#2133 docs: added sql examples in join clause and fixed syntax errors
  docs/zh/reference/sql/ddl/CREATE_DATABASE_STATEMENT.md
  docs/zh/reference/sql/ddl/CREATE_TABLE_STATEMENT.md
  docs/zh/reference/sql/ddl/SHOW_TABLES_STATEMENT.md
  docs/zh/reference/sql/dql/JOIN_CLAUSE.md
Labels: documentation

#2224 docs: improved en version of sql/ddl/desc
  docs/en/reference/sql/ddl/DESC_STATEMENT.md
Labels: documentation

#2223 docs: improved en version of sql/ddl/use_db
  docs/en/reference/sql/ddl/USE_DATABASE_STATEMENT.md
Labels: documentation

#2222 docs: improved sql/dql/where in zh version
  docs/zh/reference/sql/dql/WHERE_CLAUSE.md
Labels: documentation

#2228 ci: rm thirdparty cache step in `python-sdk-macos`
  .github/workflows/coverage.yml
  .github/workflows/sdk.yml
Labels: workflow

#2237 ci: rm thirdparty cache step in `python-sdk-macos` (#2228)
  .github/workflows/coverage.yml
  .github/workflows/sdk.yml
Labels: workflow

#2209 docs: improved en and zh versions of dql/no_table_select
  docs/en/reference/sql/dql/NO_TABLE_SELECT_CLAUSE.md
  docs/zh/reference/sql/dql/NO_TABLE_SELECT_CLAUSE.md
Labels: documentation

#2240 docs: add create index docs
  docs/en/reference/sql/ddl/CREATE_INDEX_STATEMENT.md
  docs/en/reference/sql/ddl/DROP_INDEX_STATEMENT.md
  docs/en/reference/sql/ddl/index.rst
  docs/zh/reference/sql/ddl/CREATE_INDEX_STATEMENT.md
  docs/zh/reference/sql/ddl/DROP_INDEX_STATEMENT.md
  docs/zh/reference/sql/ddl/index.rst
Labels: documentation

#2215 feat: add airflow openmldb provider
  demo/talkingdata-adtracking-fraud-detection/predict_server.py
  extensions/airflow-provider-openmldb/.gitignore
  extensions/airflow-provider-openmldb/README.md
  extensions/airflow-provider-openmldb/openmldb_provider/__init__.py
  extensions/airflow-provider-openmldb/openmldb_provider/example_dags/__init__.py
  extensions/airflow-provider-openmldb/openmldb_provider/example_dags/example_openmldb.py
  extensions/airflow-provider-openmldb/openmldb_provider/example_dags/example_openmldb_complex.py
  extensions/airflow-provider-openmldb/openmldb_provider/example_dags/train_sample.csv
  extensions/airflow-provider-openmldb/openmldb_provider/example_dags/xgboost_train_sample.py
  extensions/airflow-provider-openmldb/openmldb_provider/hooks/__init__.py
  extensions/airflow-provider-openmldb/openmldb_provider/hooks/openmldb_hook.py
  extensions/airflow-provider-openmldb/openmldb_provider/operators/__init__.py
  extensions/airflow-provider-openmldb/openmldb_provider/operators/openmldb_operator.py
  extensions/airflow-provider-openmldb/requirements.txt
  extensions/airflow-provider-openmldb/setup.py
  extensions/airflow-provider-openmldb/tests/__init__.py
  extensions/airflow-provider-openmldb/tests/hooks/__init__.py
  extensions/airflow-provider-openmldb/tests/hooks/test_openmldb_api_hook.py
  extensions/airflow-provider-openmldb/tests/operators/__init__.py
  extensions/airflow-provider-openmldb/tests/operators/test_openmldb_operator.py
Labels: docker

#2248 docs: improved en version of where clause
  docs/en/reference/sql/dql/WHERE_CLAUSE.md
Labels: documentation

#2244 docs: improve zh version of dql/set
  docs/zh/reference/sql/ddl/SET_STATEMENT.md
Labels: documentation

#2242 docs: improved the zh version of sql/ddl/show_variables
  docs/zh/reference/sql/ddl/SHOW_VARIABLES_STATEMENT.md
Labels: documentation

#2241 docs: improved en version of sql/dql/group_by
  docs/en/reference/sql/dql/GROUP_BY_CLAUSE.md
Labels: documentation

#2226 docs: improved en version of sql/dql/limit
  docs/en/reference/sql/dql/LIMIT_CLAUSE.md
Labels: documentation

#2225 docs: improved en version of sql/dql/having
  docs/en/reference/sql/dql/HAVING_CLAUSE.md
  docs/zh/reference/sql/dql/HAVING_CLAUSE.md
Labels: documentation

#2221 docs: improved zh/sql/dql/group_by
  docs/zh/reference/sql/dql/GROUP_BY_CLAUSE.md
Labels: documentation

#2219 docs: improved zh version of sql/ddl/show_components
  docs/zh/reference/sql/ddl/SHOW_COMPONENTS.md
Labels: documentation

#2236 fix: create index core dump
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/planv2/ast_node_converter_test.cc
Labels: execute-engine

#2201 docs: repaint the figures and update the table in sql/dql/window_clause
  docs/en/reference/sql/dql/images/window_exclude_current_time.png
  docs/en/reference/sql/dql/images/window_max_size.png
  docs/en/reference/sql/dql/images/window_union_1_table.png
  docs/en/reference/sql/dql/images/window_union_1_table_instance_not_in_window.png
  docs/en/reference/sql/dql/images/window_union_2_table.png
  docs/zh/reference/sql/dql/WINDOW_CLAUSE.md
  docs/zh/reference/sql/dql/images/dql_images.pptx
  docs/zh/reference/sql/dql/images/window_exclude_current_time.png
  docs/zh/reference/sql/dql/images/window_max_size.png
  docs/zh/reference/sql/dql/images/window_union_1_table.png
  docs/zh/reference/sql/dql/images/window_union_1_table_instance_not_in_window.png
  docs/zh/reference/sql/dql/images/window_union_2_table.png
Labels: documentation

#2189 feat(api-server): return result set for the new query api
  src/apiserver/api_server_impl.cc
  src/apiserver/api_server_impl.h
  src/apiserver/api_server_test.cc
Labels: api-server

#2253 fix: create index core dump
  src/catalog/sdk_catalog.cc
  src/catalog/sdk_catalog.h
  src/catalog/tablet_catalog.cc
  src/catalog/tablet_catalog.h
  src/schema/index_util.cc
  src/schema/index_util.h
Labels: storage-engine

#2183 feat: support delete
  cases/plan/error_unsupport_sql.yaml
  hybridse/include/node/node_manager.h
  hybridse/include/node/plan_node.h
  hybridse/include/node/sql_node.h
  hybridse/src/node/node_manager.cc
  hybridse/src/node/plan_node.cc
  hybridse/src/node/sql_node.cc
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/planv2/ast_node_converter.h
  hybridse/src/planv2/ast_node_converter_test.cc
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/SQLConnection.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/SqlExecutor.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/DeletePreparedStatementImpl.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/SqlClusterExecutor.java
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/JDBCDriverTest.java
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/StatementTest.java
  src/apiserver/api_server_impl.cc
  src/client/tablet_client.cc
  src/client/taskmanager_client.h
  src/cmd/sql_cmd_test.cc
  src/schema/schema_adapter.cc
  src/schema/schema_adapter.h
  src/sdk/node_adapter.cc
  src/sdk/node_adapter.h
  src/sdk/sql_cache.cc
  src/sdk/sql_cache.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_delete_row.cc
  src/sdk/sql_delete_row.h
  src/sdk/sql_router.h
  src/sdk/sql_router_sdk.i
Labels: sdk, execute-engine, api-server

#2195 docs: update docs for exclude current_row
  docs/en/reference/sql/deployment_manage/ONLINE_SERVING_REQUIREMENTS.md
  docs/en/reference/sql/dql/WINDOW_CLAUSE.md
  docs/zh/reference/sql/deployment_manage/ONLINE_SERVING_REQUIREMENTS.md
  docs/zh/reference/sql/dql/WINDOW_CLAUSE.md
Labels: documentation

#2264 docs: example for exclude current_row
  docs/en/reference/sql/dql/WINDOW_CLAUSE.md
  docs/zh/reference/sql/dql/WINDOW_CLAUSE.md
Labels: documentation

#2265 fix: update ttl failed when deploy a new sql
  src/cmd/sql_cmd_test.cc
  src/sdk/sql_cluster_router.cc
  src/tablet/tablet_impl.cc
Labels: bug, storage-engine
