Repository 4paradigm/OpenMLDB, pull requests merged in 2022-01, with the labels that each got.

#994 feat: init llvm in spark executor
  java/hybridse-sdk/src/main/java/com/_4paradigm/hybridse/sdk/JitManager.java
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/RowProjectPlan.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/spark/SparkJobManager.scala
Labels: enhancement

#997 feat: add taskmanger java client
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/client/TaskManagerClient.java
Labels: enhancement

#996 feat: add batchjob in taskmanager and use the default batchjob jar
  java/openmldb-taskmanager/pom.xml
  java/openmldb-taskmanager/src/main/resources/taskmanager.properties
  src/sdk/CMakeLists.txt
Labels: enhancement

#953 fix: create table specify database.table
  cases/plan/cmd.yaml
  cases/plan/create.yaml
  hybridse/examples/toydb/src/sdk/dbms_sdk.cc
  hybridse/include/case/sql_case.h
  hybridse/include/node/node_manager.h
  hybridse/include/node/plan_node.h
  hybridse/src/node/node_manager.cc
  hybridse/src/node/plan_node_test.cc
  hybridse/src/node/sql_node_test.cc
  hybridse/src/plan/planner.cc
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/planv2/planner_v2_test.cc
  hybridse/tools/documentation/udf_doxygen/config.json
  src/cmd/sql_cmd.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_test.cc
  src/test/base_test.cc
  steps/ut.sh
Labels: bug

#1008 fix: fix deploy index
  src/cmd/sql_cmd.h
  src/cmd/sql_cmd_test.cc
  src/schema/index_util.h
Labels: bug

#1022 docs(compile.md): fix minimal requirement for macOS
  docs/cn/compile.md
  docs/en/compile.md
Labels: documentation

#1019 feat: handle delete plan node and print unsupported message
  src/cmd/sql_cmd.h
Labels: enhancement

#1021 feat: catch exception for registering openmldb tables in openmldb-batch
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
Labels: enhancement

#1025 feat: add close for spark apps in batchjob
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/ImportOfflineData.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/ImportOnlineData.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/RunBatchAndShow.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/RunBatchSql.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/ShowBatchVersion.scala
  java/openmldb-taskmanager/src/main/resources/taskmanager.properties
Labels: enhancement

#1029 feat: use prepared statement for taskmanager and fix jobinfo null values
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/impl/TaskManagerImpl.java
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/JobInfoManager.scala
  java/openmldb-taskmanager/src/test/scala/com/_4paradigm/openmldb/taskmanager/spark/TestSparkJobManager.scala
Labels: enhancement

#988 feat: build wheel file for specific platform (Mac + Linux)
  src/sdk/CMakeLists.txt
Labels: enhancement

#1033 fix: fix load library for multiple times in sql cluster executor
  java/hybridse-sdk/src/test/java/com/_4paradigm/hybridse/sdk/SqlEngineTest.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/common/LibraryLoader.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/SqlClusterExecutor.java
Labels: bug

#1034 feat: refresh catalog when dropping table and add refresh table api
  java/openmldb-taskmanager/src/main/resources/taskmanager.properties
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/JobInfoManager.scala
  src/sdk/db_sdk.cc
  src/sdk/db_sdk.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_router.h
Labels: enhancement

#1038 fix: fix incorrect job type of select into job
  src/sdk/sql_cluster_router.cc
Labels: bug

#1045 feat: support job log file and fix delete hdfs file
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/config/TaskManagerConfig.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/TaskManagerInterface.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/impl/TaskManagerImpl.java
  java/openmldb-taskmanager/src/main/resources/log4j.properties
  java/openmldb-taskmanager/src/main/resources/taskmanager.properties
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/JobInfoManager.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/LogManager.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/spark/SparkJobManager.scala
  src/proto/taskmanager.proto
Labels: enhancement

#1015 fix: bug fix when group by a last joined table
  cases/debug/bug.yaml
  cases/function/join/test_lastjoin_complex.yaml
  hybridse/src/testing/engine_test_base.cc
  hybridse/src/vm/runner.cc
  src/sdk/sql_sdk_test.h
Labels: bug

#1061 feat: update the default path of taskmanager log
  java/openmldb-taskmanager/src/main/resources/log4j.properties
  java/openmldb-taskmanager/src/main/resources/taskmanager.properties
Labels: enhancement

#1049 feat: add start and stop taskmanager in onebox script
  onebox/start_onebox.sh
  onebox/stop_all.sh
Labels: enhancement

#1048 feat: add basic monitoring solution
  CMakeLists.txt
  Makefile
  docs/cn/compile.md
  docs/en/compile.md
  monitoring/CMakeLists.txt
  monitoring/openmldb_dashboard.json
  monitoring/openmldb_exporter.conf
  monitoring/openmldb_exporter.py
  monitoring/poetry.lock
  monitoring/prometheus_example.yml
  monitoring/pyproject.toml
  release/conf/nameserver.flags
  release/conf/tablet.flags
Labels: enhancement

#1071 feat: refresh catalog before getting table info in taskmanager
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/JobInfoManager.scala
Labels: enhancement

#779 feat: add ambiguous unit test and improve ambiguous error message
  cases/plan/join_query.yaml
  cases/plan/window_query.yaml
  cases/yaml/rtidb_demo.yaml
  hybridse/include/case/sql_case.h
  hybridse/src/case/sql_case.cc
  hybridse/src/case/sql_case_test.cc
  hybridse/src/proto/fe_common.proto
  hybridse/src/vm/schemas_context.cc
  hybridse/src/vm/transform_request_mode_test.cc
  hybridse/src/vm/transform_test.cc
Labels: enhancement

#1073 refactor: delete unused conf
  release/conf/standalone_nameserver.flags
  release/conf/standalone_tablet.flags
  release/conf/tablet.flags
  release/conf/tablet2.flags
Labels: enhancement

#1081 fix: fix deploy
  release/bin/start-all.sh
  src/catalog/tablet_catalog.cc
  src/nameserver/name_server_impl.cc
  src/tablet/tablet_impl.cc
Labels: bug

#1086 ci: update steps/prepare_release.sh
  .github/workflows/cicd.yaml
  steps/prepare_release.sh
Labels: bug

#1058 docs: update English and Chinese versions of readme
  CHANGELOG.md
  README.md
  README_cn.md
Labels: documentation

#1031 feat: update demo
  demo/README.md
  demo/predict-taxi-trip-duration-nb/Dockerfile
  demo/predict-taxi-trip-duration-nb/script/import.py
  demo/predict-taxi-trip-duration-nb/script/init.sh
  demo/predict-taxi-trip-duration-nb/script/predict_server.py
  demo/predict-taxi-trip-duration-nb/script/predict_server_s.py
  demo/predict-taxi-trip-duration-nb/script/start_predict_server.sh
  demo/predict-taxi-trip-duration-nb/script/train.py
  demo/predict-taxi-trip-duration-nb/script/train_s.py
  demo/quick_start/data/data.csv
  docs/cn/standalone.md
  docs/en/standalone.md
  release/bin/start.sh
Labels: enhancement

#1093 build: fix deploy allinone in ci & init 0.5.0 development
  .github/workflows/cicd.yaml
  CMakeLists.txt
  java/hybridse-native/pom.xml
  java/hybridse-proto/pom.xml
  java/hybridse-sdk/pom.xml
  java/openmldb-batch/pom.xml
  java/openmldb-batchjob/pom.xml
  java/openmldb-common/pom.xml
  java/openmldb-jdbc/pom.xml
  java/openmldb-native/pom.xml
  java/openmldb-spark-connector/pom.xml
  java/openmldb-taskmanager/pom.xml
  java/pom.xml
  python/sqlalchemy-openmldb/setup.py
  steps/prepare_release.sh
Labels: enhancement

#1109 feat: exclude openmldb native in openmldb batch
  java/openmldb-batch/pom.xml
Labels: enhancement

#1110 feat: update taskmanager unit tests
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/client/TaskManagerClient.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/TaskManagerServer.java
  java/openmldb-taskmanager/src/main/resources/log4j.properties
  java/openmldb-taskmanager/src/test/java/com/_4paradigm/openmldb/taskmanager/DummySparkApp.java
  java/openmldb-taskmanager/src/test/java/com/_4paradigm/openmldb/taskmanager/TaskManagerClientTest.java
  java/openmldb-taskmanager/src/test/java/com/_4paradigm/openmldb/taskmanager/TestJobIdGenerator.java
  java/openmldb-taskmanager/src/test/java/com/_4paradigm/openmldb/taskmanager/TestTaskManagerClient.java
  java/openmldb-taskmanager/src/test/resources/log4j.properties
  java/openmldb-taskmanager/src/test/resources/taskmanager.properties
  onebox/start_onebox.sh
  onebox/stop_all.sh
Labels: enhancement

#1083 feat: [PythonSDK] Add interface of C for supporting Sqlalchemy API Table object
  python/openmldb/driver.py
  python/sqlalchemy-openmldb/sqlalchemy_openmldb/openmldbapi/_openmldbapi.py
  python/sqlalchemy-openmldb/sqlalchemy_openmldb/saopenmldb.py
  python/test/openmldb_client_test.py
  src/sdk/db_sdk.cc
  src/sdk/db_sdk.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_router.h
Labels: enhancement

#1111 feat: download openmldb spark distribution in java cicd
  .github/workflows/cicd.yaml
  .github/workflows/coverage.yml
  steps/download_openmldb_spark.sh
Labels: enhancement

#1115 fix: fix start script
  release/bin/start.sh
Labels: bug

#1113 feat: remove hybridse python sdk
  Makefile
  hybridse/CMakeLists.txt
  hybridse/python/__init__.py.in
  hybridse/python/test/test_base.py
  hybridse/python/test/test_dbms.py
  hybridse/python/test/test_query.py
  hybridse/python/tools/sql_magic.py
  hybridse/src/sdk/CMakeLists.txt
  hybridse/tools/micro_bench.sh
Labels: enhancement

#1117 feat: refactor to move so library into python source dir
  .github/workflows/cicd.yaml
  .github/workflows/integration-test-src.yml
  python/__init__.py
  python/openmldb_dbapi/__init__.py
  python/openmldb_dbapi/dbapi.py
  python/openmldb_native/.gitkeeper
  python/openmldb_native/__init__.py
  python/openmldb_sdk/__init__.py
  python/openmldb_sdk/driver.py
  python/setup.py
  python/sqlalchemy_openmldb/__init__.py
  python/sqlalchemy_openmldb/openmldb_dialect.py
  python/test/sql_smoke_test.py
  src/sdk/CMakeLists.txt
  steps/test_python.sh
Labels: enhancement

#1107 build: add maven wrapper
  .github/workflows/cicd.yaml
  .gitignore
  Makefile
  hybridse/CMakeLists.txt
  java/.mvn/wrapper/MavenWrapperDownloader.java
  java/.mvn/wrapper/maven-wrapper.properties
  java/mvnw
  java/mvnw.cmd
  java/prepare_release.sh
  src/sdk/CMakeLists.txt
Labels: enhancement, workflow

#1132 feat: merge the similar commands to package python in macos and linux
  python/openmldb_dbapi/dbapi.py
  python/openmldb_sdk/sdk.py
  python/test/sql_smoke_test.py
  src/sdk/CMakeLists.txt
Labels: enhancement

#1128 feat: update hybridsql Dockerfile
  .github/workflows/hybridsql-docker.yml
  Makefile
  docker/Dockerfile
  docker/README.md
  docker/setup_cmake.sh
  docker/setup_deps.sh
  third-party/cmake/FetchZetasql.cmake
Labels: enhancement

#1125 feat: change testing framework of Python SDK and add new unittest for sqlalchemy API
  .github/workflows/cicd.yaml
  python/test/openmldb_client_test.py
  steps/test_python.sh
Labels: enhancement

#1139 feat: refactor to help users directly use OpenMLDB DB API
  .github/workflows/cicd.yaml
  python/openmldb/__init__.py
  python/openmldb/dbapi/__init__.py
  python/openmldb/dbapi/dbapi.py
  python/openmldb/native/__init__.py
  python/openmldb/sdk/__init__.py
  python/openmldb/sdk/sdk.py
  python/openmldb/sqlalchemy_openmldb/__init__.py
  python/openmldb/sqlalchemy_openmldb/openmldb_dialect.py
  python/openmldb/test/case_conf.py
  python/openmldb/test/openmldb_client_test.py
  python/openmldb/test/sql_smoke_test.py
  python/openmldb_native/.gitkeeper
  src/sdk/CMakeLists.txt
  steps/test_python.sh
Labels: enhancement

#1152 fix(memory): forget to delete planner_ptr
  hybridse/src/planv2/plan_api.cc
Labels: bug

#1146 feat: change wording in readme: enterprise => production
  README.md
  README_cn.md
Labels: documentation

#1136 ci: fix mvn deploy & optimize workflows
  .github/workflows/auto-format.yml
  .github/workflows/cicd.yaml
  .github/workflows/coverage.yml
  .github/workflows/hybridse-ci.yml
  .github/workflows/hybridsql-docker.yml
  .github/workflows/openmldb-docker.yml
  java/openmldb-batch/pom.xml
Labels: bug
