Repository 4paradigm/OpenMLDB, pull requests merged in 2022-04, with the labels that each got.

#1518 docs: add English version of cli
  docs/en/cli.md
Labels: doc-translate-cn2en

#1517 docs: add English version of conf
  docs/en/conf.md
Labels: doc-translate-cn2en

#1515 docs: update the English version of compilation
  docs/en/compile.md
Labels: doc-translate-cn2en

#1514 docs: add English version of standalown_vs_cluster
  docs/en/standalone_vs_cluster.md
Labels: doc-translate-cn2en

#1512 docs: add English version of milestone.md
  docs/en/milestones.md
Labels: doc-translate-cn2en

#1498 feat: update Python SDK smoke test
  python/openmldb/dbapi/dbapi.py
  python/openmldb/test/sql_smoke_test.py
Labels: enhancement

#1521 feat: deploy response time collector
  CMakeLists.txt
  hybridse/CMakeLists.txt
  hybridse/include/vm/engine_context.h
  onebox/start_onebox.sh
  src/CMakeLists.txt
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/cmd/sql_cmd_test.cc
  src/flags.cc
  src/nameserver/name_server_impl.cc
  src/nameserver/name_server_impl.h
  src/nameserver/system_table.h
  src/proto/tablet.proto
  src/sdk/mini_cluster.h
  src/statistics/CMakeLists.txt
  src/statistics/query_response_time/CMakeLists.txt
  src/statistics/query_response_time/deploy_query_response_time.cc
  src/statistics/query_response_time/deploy_query_response_time.h
  src/statistics/query_response_time/deploy_query_response_time_test.cc
  src/statistics/query_response_time/query_response_time.cc
  src/statistics/query_response_time/query_response_time.h
  src/statistics/query_response_time/query_response_time_test.cc
  src/statistics/query_response_time/query_response_time_util.h
  src/tablet/sp_cache.h
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl.h
  src/test/util.h
Labels: enhancement

#1556 ci: improve & update workflow files
  .github/workflows/cicd.yaml
  .github/workflows/coverage.yml
  .github/workflows/hybridse-ci.yml
  .github/workflows/hybridsql-docker.yml
  .github/workflows/sdk.yml
Labels: workflow

#1472 feat: pre aggregator
  src/base/ddl_parser.cc
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/codec/codec.cc
  src/codec/codec.h
  src/proto/tablet.proto
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_test.cc
  src/storage/aggregator.cc
  src/storage/aggregator.h
  src/storage/aggregator_test.cc
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl.h
  src/tablet/tablet_impl_test.cc
Labels: enhancement

#1516 docs: add English version of install_deploy
  docs/en/install_deploy.md
Labels: doc-translate-cn2en

#1571 feat: simplify the taskmanager config file in release
  release/conf/taskmanager.properties
  src/sdk/CMakeLists.txt
Labels: enhancement

#1592 docs: reorganize the English docs (docs/en)
  docs/en/_templates/versioning.html
  docs/en/about/images/openmldb_logo.png
  docs/en/about/images/wechat.png
  docs/en/about/images/workflow_cn.png
  docs/en/about/index.rst
  docs/en/about/milestones.md
  docs/en/about/release_notes.md
  docs/en/apiserver.md
  docs/en/cluster.md
  docs/en/conf.py
  docs/en/deploy.md
  docs/en/deploy/compile.md
  docs/en/deploy/conf.md
  docs/en/deploy/index.rst
  docs/en/deploy/install_deploy.md
  docs/en/developer/built_in_function_develop_guide.md
  docs/en/developer/index.rst
  docs/en/index.rst
  docs/en/maintain/cli.md
  docs/en/maintain/index.rst
  docs/en/quickstart/index.rst
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/quickstart/python_sdk.md
  docs/en/quickstart/rest_api.md
  docs/en/standalone.md
  docs/en/tutorial/data_import.md
  docs/en/tutorial/images/lastjoin_1.jpg
  docs/en/tutorial/images/lastjoin_2.jpg
  docs/en/tutorial/images/modes-flow.png
  docs/en/tutorial/images/modes-request.png
  docs/en/tutorial/images/modes.pptx
  docs/en/tutorial/images/t11_t22.jpg
  docs/en/tutorial/images/t1_to_t11.jpg
  docs/en/tutorial/images/t2_to_t22.jpg
  docs/en/tutorial/images/table_t1.jpg
  docs/en/tutorial/index.rst
  docs/en/tutorial/standalone_vs_cluster.md
  docs/en/tutorial/tutorial_sql_1.md
  docs/en/tutorial/tutorial_sql_2.md
Labels: documentation

#1460 feat: support create table if not exists
  hybridse/include/node/node_manager.h
  hybridse/include/node/plan_node.h
  hybridse/src/node/node_manager.cc
  hybridse/src/node/plan_node_test.cc
  hybridse/src/node/sql_node_test.cc
  hybridse/src/plan/planner.cc
  src/client/ns_client.cc
  src/client/ns_client.h
  src/cmd/openmldb.cc
  src/cmd/sql_cmd_test.cc
  src/nameserver/name_server_impl.cc
  src/nameserver/standalone_test.cc
  src/proto/name_server.proto
  src/sdk/db_sdk_test.cc
  src/sdk/mini_cluster_batch_bm.cc
  src/sdk/sql_cluster_router.cc
Labels: enhancement

#1584 feat(monitoring): openmldb prometheus exporter for v0.5.0
  monitoring/CMakeLists.txt
  monitoring/openmldb_collector/__init__.py
  monitoring/openmldb_collector/metrics.py
  monitoring/openmldb_exporter.py
  monitoring/openmldb_mixin/openmldb_dashboard.json
  monitoring/openmldb_mixin/prometheus_example.yml
  monitoring/poetry.lock
  monitoring/pyproject.toml
  python/openmldb/dbapi/dbapi.py
  src/nameserver/name_server_impl.cc
  src/nameserver/system_table.h
  src/proto/tablet.proto
  src/statistics/query_response_time/query_response_time.h
  src/tablet/tablet_impl.cc
Labels: enhancement

#1597 docs: fix dead links
  README.md
  README_cn.md
Labels: bug, documentation

#1594 fix: tablet ptr uninit fault
  src/catalog/sdk_catalog.cc
  src/sdk/sql_cluster_router.cc
Labels: bug

#1603 docs: improve English documentations and add a README for docs/
  docs/README.md
  docs/en/about/milestones.md
  docs/en/deploy/compile.md
  docs/en/deploy/index.rst
  docs/en/deploy/install_deploy.md
  docs/en/developer/built_in_function_develop_guide.md
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/quickstart/python_sdk.md
  docs/en/tutorial/standalone_vs_cluster.md
  docs/en/tutorial/tutorial_sql_1.md
  docs/en/tutorial/tutorial_sql_2.md
  docs/environment.yml
Labels: documentation

#1583 feat: more aggregator op
  src/base/strings.h
  src/codec/codec.cc
  src/codec/codec.h
  src/codec/codec_test.cc
  src/storage/aggregator.cc
  src/storage/aggregator.h
  src/storage/aggregator_test.cc
Labels: enhancement

#1600 feat: support reading spark conf file from cli
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/OpenmldbBatchConfig.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/TestOpenmldbBatchConfig.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/spark/SparkJobManager.scala
  release/conf/spark_conf.ini
  src/client/taskmanager_client.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
Labels: enhancement

#1602 fix: aggr catalog update in standalone mode &`RequestAggUnion` as cluster task
  hybridse/src/vm/runner.cc
  hybridse/src/vm/runner.h
  hybridse/src/vm/sql_compiler.cc
  src/cmd/sql_cmd_test.cc
  src/sdk/mini_cluster.h
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl.h
  src/test/util.h
Labels: bug

#1625 docs: cherry pick English docs to v0.4
  docs/README.md
  docs/en/_templates/versioning.html
  docs/en/about/images/openmldb_logo.png
  docs/en/about/images/wechat.png
  docs/en/about/images/workflow_cn.png
  docs/en/about/index.rst
  docs/en/about/milestones.md
  docs/en/about/release_notes.md
  docs/en/apiserver.md
  docs/en/cluster.md
  docs/en/conf.py
  docs/en/deploy.md
  docs/en/deploy/compile.md
  docs/en/deploy/conf.md
  docs/en/deploy/index.rst
  docs/en/deploy/install_deploy.md
  docs/en/developer/built_in_function_develop_guide.md
  docs/en/developer/index.rst
  docs/en/index.rst
  docs/en/maintain/cli.md
  docs/en/maintain/index.rst
  docs/en/quickstart/index.rst
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/quickstart/python_sdk.md
  docs/en/quickstart/rest_api.md
  docs/en/standalone.md
  docs/en/tutorial/data_import.md
  docs/en/tutorial/images/lastjoin_1.jpg
  docs/en/tutorial/images/lastjoin_2.jpg
  docs/en/tutorial/images/modes-flow.png
  docs/en/tutorial/images/modes-request.png
  docs/en/tutorial/images/modes.pptx
  docs/en/tutorial/images/t11_t22.jpg
  docs/en/tutorial/images/t1_to_t11.jpg
  docs/en/tutorial/images/t2_to_t22.jpg
  docs/en/tutorial/images/table_t1.jpg
  docs/en/tutorial/index.rst
  docs/en/tutorial/standalone_vs_cluster.md
  docs/en/tutorial/tutorial_sql_1.md
  docs/en/tutorial/tutorial_sql_2.md
  docs/environment.yml
Labels: documentation

#1620 feat: add offline tools to create table from offline data
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/ConstProjectPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/SimpleProjectPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/DataTypeUtil.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/ExpressionUtil.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/HybridseUtil.scala
  java/openmldb-batchjob/pom.xml
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/tools/CompareParquetResult.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/tools/CreateTableFromParquet.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/tools/InspectParquet.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/tools/SampleParquet.scala
Labels: enhancement

#1615 docs: update compile guide on main
  docs/en/deploy/compile.md
  docs/zh/deploy/compile.md
Labels: documentation

#1614 docs: 1607 update compile guide
  docs/en/deploy/compile.md
  docs/zh/deploy/compile.md
Labels: documentation

#1634 docs: pulsar openmldb connector docs
  docs/en/use_case/images/demo_steps.png
  docs/en/use_case/images/init_sink_status.png
  docs/en/use_case/images/openmldb_result.png
  docs/en/use_case/images/producer_code.png
  docs/en/use_case/images/sink_status.png
  docs/en/use_case/images/table.png
  docs/en/use_case/images/test_data.png
  docs/en/use_case/images/topic_schema.png
  docs/en/use_case/index.rst
  docs/en/use_case/pulsar_openmldb_connector_demo.md
  docs/zh/use_case/images/demo_steps.png
  docs/zh/use_case/images/init_sink_status.png
  docs/zh/use_case/images/openmldb_result.png
  docs/zh/use_case/images/producer_code.png
  docs/zh/use_case/images/sink_status.png
  docs/zh/use_case/images/table.png
  docs/zh/use_case/images/test_data.png
  docs/zh/use_case/images/topic_schema.png
  docs/zh/use_case/index.rst
  docs/zh/use_case/pulsar_openmldb_connector_demo.md
Labels: documentation

#1613 ci(hybridsql): fix docker publish triggering logic
  .github/workflows/hybridsql-docker.yml
Labels: workflow

#1627 feat: add `avg`, `count`, `min` and `max` ops in runner
  hybridse/include/codec/fe_row_codec.h
  hybridse/include/vm/schemas_context.h
  hybridse/src/codec/fe_row_codec.cc
  hybridse/src/passes/physical/long_window_optimized.cc
  hybridse/src/vm/aggregator.h
  hybridse/src/vm/aggregator_vm_test.cc
  hybridse/src/vm/runner.cc
  hybridse/src/vm/runner.h
  hybridse/src/vm/schemas_context.cc
  src/catalog/tablet_catalog_test.cc
  src/cmd/sql_cmd_test.cc
  src/sdk/mini_cluster.h
  src/storage/aggregator.cc
  src/storage/aggregator_test.cc
Labels: enhancement

#1660 fix: memroy leak in zk_client.cc
  src/zk/zk_client.cc
Labels: bug

#1645 feat(monitoring): add mixin for grafana dashboard
  docs/zh/maintain/monitoring.md
  monitoring/README.md
  monitoring/openmldb_collector/__init__.py
  monitoring/openmldb_collector/collectors.py
  monitoring/openmldb_collector/configstore.py
  monitoring/openmldb_collector/metrics.py
  monitoring/openmldb_exporter.conf
  monitoring/openmldb_exporter.py
  monitoring/openmldb_mixin/.gitignore
  monitoring/openmldb_mixin/Makefile
  monitoring/openmldb_mixin/README.md
  monitoring/openmldb_mixin/mixin.libsonnet
  monitoring/openmldb_mixin/openmldb_dashboard.json
  monitoring/openmldb_mixin/prometheus_example.yml
  monitoring/poetry.lock
  monitoring/pyproject.toml
Labels: enhancement, monitoring

#1664 feat: transmit storage mode of CreatePlanNode to TableInfo
  hybridse/src/planv2/planner_v2_test.cc
  src/cmd/display.h
  src/cmd/sql_cmd_test.cc
  src/sdk/node_adapter.cc
  src/sdk/sql_cluster_router.cc
  src/tablet/tablet_impl.cc
Labels: storage-engine, sql

#1637 fix: fix unsaferow for window append slice
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/SparkRowCodec.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/unsafe/TestUnsafeFormatForWindowAppendSlice.scala
Labels: bug

#1665 refactor: load dynamic lib in hybridse
  hybridse/include/vm/engine.h
  hybridse/src/sdk/hybridse_interface_core.i
  hybridse/src/udf/dynamic_lib_manager.h
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
  hybridse/src/udf/udf_library.cc
  hybridse/src/udf/udf_library.h
  hybridse/src/vm/engine.cc
  hybridse/src/vm/engine_compile_test.cc
  src/sdk/db_sdk.cc
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl.h
Labels: bug, sdk, execute-engine

#1652 docs: update builtin udf doc
  docs/zh/developer/built_in_function_develop_guide.md
Labels: documentation

#1655 fix: update catalog when change role
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl_test.cc
Labels: bug

#1668 ci: add labeler job
  .github/labeler.yml
  .github/workflows/label.yml
Labels: workflow

#1647 feat: support update tablets's global table when execute set command in standalone
  src/nameserver/name_server_impl.cc
  src/nameserver/name_server_impl.h
  src/proto/type.proto
  src/sdk/db_sdk.cc
  src/sdk/db_sdk.h
  src/sdk/sql_cluster_router.cc
  src/tablet/tablet_impl.cc
Labels: storage-engine

#1663 feat: support show functions command
  cases/plan/cmd.yaml
  hybridse/include/node/node_enum.h
  hybridse/src/node/sql_node.cc
  hybridse/src/planv2/ast_node_converter.cc
  src/cmd/single_tablet_test.cc
  src/sdk/sql_cluster_router.cc
Labels: execute-engine, storage-engine, sql

#1679 fix: workflow bugs
  .github/labeler.yml
  CMakeLists.txt
  monitoring/CMakeLists.txt
Labels: workflow, build, monitoring

#1676 fix: aggr table storage mode
  src/catalog/tablet_catalog_test.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_test.cc
Labels: bug, storage-engine

#1702 build: build rocksdb as portable
  third-party/cmake/FetchRocksDB.cmake
Labels: build

#1691 docs: developers-built-in function development page
  docs/en/developer/built_in_function_develop_guide.md
Labels: documentation

#1688 docs: Deployment - Install and Deploy
  docs/en/deploy/install_deploy.md
Labels: documentation

#1686 docs: English doc Deployment - Build
  docs/en/deploy/compile.md
Labels: documentation

#1685 docs: improve the english doc of tutorials - data import
  docs/en/tutorial/data_import.md
Labels: documentation

#1705 feat(hybridsql): upgrade bundled thirdparty into 0.5.0.b2
  docker/Dockerfile
Labels: docker

#1684 docs: improve the english doc of "tutorials - guidelines for feature engineering development (part 2)"
  docs/en/tutorial/tutorial_sql_2.md
Labels: documentation

#1683 docs: improve the english ver: tutorials - guidelines for feature engineering development part 1
  docs/en/tutorial/tutorial_sql_1.md
Labels: documentation

#1682 docs: english version: tutorials - cluster vs. standalone versions
  docs/en/tutorial/standalone_vs_cluster.md
Labels: documentation

#1677 docs: english version of about - history
  docs/en/about/milestones.md
Labels: documentation

#1704 fix: refine error handling for `SHOW COMPONENTS`
  src/sdk/sql_cluster_router.cc
Labels: storage-engine

#1708 feat: set `LD_LIBRARY_PATH`
  release/bin/boot.sh
  src/sdk/sql_cluster_router.cc
Labels: storage-engine

#1622 feat: aggregator recovery
  CMakeLists.txt
  src/CMakeLists.txt
  src/replica/log_replicator.cc
  src/replica/log_replicator.h
  src/sdk/sql_cluster_router.cc
  src/storage/aggregator.cc
  src/storage/aggregator.h
  src/storage/aggregator_test.cc
  src/storage/disk_table.cc
  src/storage/disk_table.h
  src/storage/iterator.h
  src/storage/mem_table.cc
  src/storage/mem_table.h
  src/storage/snapshot_test.cc
  src/storage/table.h
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl.h
  src/tablet/tablet_impl_test.cc
Labels: build, storage-engine

#1626 feat: recover funs in ns and sdk
  src/client/taskmanager_client.cc
  src/client/taskmanager_client.h
  src/cmd/single_tablet_test.cc
  src/nameserver/name_server_impl.cc
  src/nameserver/name_server_impl.h
  src/sdk/db_sdk.cc
  src/sdk/db_sdk.h
  src/sdk/sql_cluster_router.cc
Labels: storage-engine

#1681 docs: python sdk quickstart page
  docs/en/quickstart/python_sdk.md
Labels: documentation

#1698 fix(openmldb-import): add utf-8 source encoding in pom.xml, solve pro…
  java/openmldb-import/pom.xml
Labels: bug

#1675 feat: support spark local mode with multiple threads
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/config/TaskManagerConfig.java
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/spark/SparkJobManager.scala
Labels: task-manager

#1700 feat: support register external function for offline
  java/hybridse-sdk/src/main/java/com/_4paradigm/hybridse/sdk/SqlEngine.java
  java/openmldb-batch/pom.xml
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/SparkPlanner.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/catalog/OpenmldbCatalogService.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/DataTypeUtil.scala
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/config/TaskManagerConfig.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/impl/TaskManagerImpl.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/udf/ExternalFunctionManager.java
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/spark/SparkJobManager.scala
Labels: batch-engine, task-manager

#1718 feat: pdate the arguments index of batchjob tools
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/tools/CompareParquetResult.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/tools/InspectParquet.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/tools/SampleParquet.scala
Labels: enhancement, batch-engine

#1551 fix: removes an unused variable and its statement
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/JobInfoManager.scala
Labels: enhancement, task-manager

#1714 build: upgrade thirdparty and compile image version
  .github/workflows/cicd.yaml
  .github/workflows/coverage.yml
  .github/workflows/hybridse-ci.yml
  .github/workflows/integration-test-pkg.yml
  .github/workflows/integration-test-src.yml
  .github/workflows/sdk.yml
  third-party/CMakeLists.txt
Labels: workflow, build

#1721 fix: query result is incorrect after adding a new index in standalone version
  src/cmd/sql_cmd_test.cc
  src/nameserver/name_server_impl.cc
Labels: storage-engine

#1725 feat: rm `offline_file` from `ExternalFun` proto
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/impl/TaskManagerImpl.java
  src/cmd/single_tablet_test.cc
  src/proto/common.proto
  src/sdk/sql_cluster_router.cc
Labels: storage-engine, task-manager

#1701 feat: `show table status` support `hdd` storage_type
  src/CMakeLists.txt
  src/cmd/sql_cmd.h
  src/cmd/sql_cmd_test.cc
  src/sdk/sql_cluster_router.cc
Labels: build, storage-engine

#1719 docs: add maintain faq
  docs/zh/maintain/faq.md
  docs/zh/maintain/index.rst
  docs/zh/reference/cli.md
Labels: documentation

#1598 fix: quickstart doc
  docs/README.md
  docs/zh/conf.py
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/reference/index.rst
  docs/zh/reference/ip_tips.md
  docs/zh/reference/reference.md
Labels: documentation

#1731 feat: fix gflags of UnsafeRowOpt when running in yarn-cluster
  hybridse/include/vm/engine.h
  hybridse/src/codec/type_codec.cc
  hybridse/src/vm/engine.cc
  java/hybridse-sdk/src/main/java/com/_4paradigm/hybridse/sdk/JitManager.java
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/SparkPlanner.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/FilterPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/GroupByAggregationPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/JoinPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/RowProjectPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/window/WindowAggPlanUtil.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/window/WindowSampleSupport.scala
Labels: bug, batch-engine, execute-engine

#1724 docs: refine the titles of chinese docs
  docs/zh/about/about.md
  docs/zh/about/index.rst
  docs/zh/about/intro.md
  docs/zh/about/milestones.md
  docs/zh/deploy/conf.md
  docs/zh/deploy/deploy.md
  docs/zh/developer/built_in_function_develop_guide.md
  docs/zh/developer/developer.md
  docs/zh/maintain/maintain.md
  docs/zh/maintain/monitoring.md
  docs/zh/quickstart/quickstart.md
  docs/zh/reference/cli.md
  docs/zh/reference/reference.md
  docs/zh/reference/sql/data_types/reference.md
  docs/zh/reference/sql/ddl/reference.md
  docs/zh/reference/sql/deployment_manage/ONLINE_SERVING_REQUIREMENTS.md
  docs/zh/reference/sql/deployment_manage/reference.md
  docs/zh/reference/sql/dml/INSERT_STATEMENT.md
  docs/zh/reference/sql/dml/LOAD_DATA_STATEMENT.md
  docs/zh/reference/sql/dml/reference.md
  docs/zh/reference/sql/dql/NO_TABLE_SELECT_CLAUSE.md
  docs/zh/reference/sql/dql/SELECT_INTO_STATEMENT.md
  docs/zh/reference/sql/dql/SELECT_STATEMENT.md
  docs/zh/reference/sql/dql/reference.md
  docs/zh/reference/sql/functions_and_operators/reference.md
  docs/zh/reference/sql/language_structure/case_sensitive.md
  docs/zh/reference/sql/language_structure/object_names_identifiers.md
  docs/zh/reference/sql/language_structure/reference.md
  docs/zh/reference/sql/reference.md
  docs/zh/reference/sql/sql.md
  docs/zh/reference/sql/task_manage/reference.md
  docs/zh/tutorial/index.rst
  docs/zh/tutorial/modes.md
  docs/zh/tutorial/openmldbspark_distribution.md
  docs/zh/tutorial/standalone_vs_cluster.md
  docs/zh/tutorial/tutorial.md
  docs/zh/tutorial/tutorial_sql_1.md
  docs/zh/tutorial/tutorial_sql_2.md
  docs/zh/use_case/pulsar_openmldb_connector_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
  docs/zh/use_case/use_case.md
Labels: documentation

#1678 docs: english quickstart proofreading
  docs/en/quickstart/openmldb_quickstart.md
Labels: documentation
