Repository 4paradigm/OpenMLDB, pull requests merged in 2022-06, with the labels that each got.

#1831 docs: translate the Chinese doc of backup.md into English
  docs/en/maintain/backup.md
  docs/en/maintain/index.rst
Labels: documentation

#1913 refactor: rm format_version in put
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/cmd/openmldb.cc
  src/sdk/mini_cluster_batch_bm.cc
  src/sdk/sql_cluster_router.cc
  src/tablet/tablet_impl.cc
Labels: storage-engine

#1912 build: update brpc to avoid error define bug
  third-party/cmake/FetchBrpc.cmake
Labels: build

#1914 fix: a few minor bugs
  hybridse/include/vm/physical_op.h
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/default_udf_library.h
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
  hybridse/src/udf/udf_library.h
  hybridse/src/vm/physical_op.cc
  java/openmldb-jdbc/pom.xml
  onebox/start_onebox.sh
  test/test-tool/command-tool/pom.xml
Labels: sdk, execute-engine

#1916 fix: #1890, wrong link order in src/sdk
  src/sdk/CMakeLists.txt
Labels: build, storage-engine

#1917 fix: cleanup the usage of ts_name
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/cmd/openmldb.cc
Labels: storage-engine

#1921 docs: add dolphinscheduler task demo
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/zh/use_case/dolphinscheduler_task_demo.md
  docs/zh/use_case/images/ds_bind_status.png
  docs/zh/use_case/images/ds_bind_tenant.png
  docs/zh/use_case/images/ds_create_project.png
  docs/zh/use_case/images/ds_env_setting.png
  docs/zh/use_case/images/ds_import_workflow.png
  docs/zh/use_case/images/ds_predict.png
  docs/zh/use_case/images/ds_project.png
  docs/zh/use_case/images/ds_run.png
  docs/zh/use_case/images/ds_run_status.png
  docs/zh/use_case/images/ds_set_tenant.png
  docs/zh/use_case/images/ds_switch.png
  docs/zh/use_case/images/ds_switch_right.png
  docs/zh/use_case/images/ds_tenant_manage.png
  docs/zh/use_case/images/ds_workflow_detail.png
  docs/zh/use_case/images/ds_workflow_list.png
  docs/zh/use_case/images/ecosystem.png
  docs/zh/use_case/images/set_python_env.png
  docs/zh/use_case/images/task_func.png
Labels: documentation, docker

#1908 feat: catch and throw unsupported exception for SparkSQL fallback
  java/hybridse-sdk/src/main/java/com/_4paradigm/hybridse/sdk/SqlEngine.java
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/SparkPlanner.scala
Labels: batch-engine

#1923 fix: zh use_case index
  docs/zh/use_case/index.rst
Labels: documentation

#1919 fix: aggregator cleanup
  benchmark/src/main/java/com/_4paradigm/openmldb/benchmark/OpenMLDBLongWindowBenchmark.java
  src/cmd/sql_cmd_test.cc
  src/nameserver/name_server_impl.cc
  src/nameserver/system_table.h
  src/proto/name_server.proto
  src/proto/tablet.proto
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_cluster_test.cc
  src/sdk/sql_standalone_sdk_test.cc
  src/storage/aggregator.cc
  src/storage/aggregator.h
  src/tablet/tablet_impl.cc
Labels: storage-engine

#1900 fix: fix the error of pylint in demo directory
  demo/predict-taxi-trip-duration/script/convert_data.py
  demo/predict-taxi-trip-duration/script/predict.py
  demo/predict-taxi-trip-duration/script/predict_server.py
  demo/predict-taxi-trip-duration/script/train.py
  demo/predict-taxi-trip-duration/test/import.py
  demo/talkingdata-adtracking-fraud-detection/predict.py
  demo/talkingdata-adtracking-fraud-detection/predict_server.py
  demo/talkingdata-adtracking-fraud-detection/train_and_serve.py
Labels: code-standards, python, docker

#1928 build: update pre-built thirdparty version to 0.5.0b3
  docker/Dockerfile
  third-party/CMakeLists.txt
Labels: build, docker

#1924 feat: udf `replace` function
  .github/workflows/hybridse-ci.yml
  cases/query/udf_query.yaml
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/literal_traits.h
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
  hybridse/src/udf/udf_test.cc
  include/base/string_ref.h
  src/sdk/sql_sdk_test.h
Labels: workflow, execute-engine, storage-engine

#1934 fix: python import sort order
  demo/talkingdata-adtracking-fraud-detection/train_and_serve.py
Labels: docker

#1939 docs(udf): update builtin udfs
  docs/zh/reference/sql/functions_and_operators/Files/udfs_8h.md
  hybridse/tools/documentation/udf_doxygen/config.json
Labels: documentation, execute-engine

#1937 docs: upgrade 0.5.2
  CHANGELOG.md
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/about/release_notes.md
  docs/en/deploy/install_deploy.md
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/zh/about/release_notes.md
  docs/zh/deploy/install_deploy.md
  docs/zh/quickstart/java_sdk.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/reference/ip_tips.md
  docs/zh/use_case/dolphinscheduler_task_demo.md
  docs/zh/use_case/kafka_connector_demo.md
  docs/zh/use_case/pulsar_connector_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
Labels: documentation, docker

#1926 test: optimize test
  src/nameserver/name_server_create_remote_test.cc
  src/nameserver/name_server_test.cc
  src/replica/log_replicator_test.cc
  src/tablet/tablet_impl_multi_path_test.cc
Labels: storage-engine

#1935 fix: write table meta file when update ttl
  src/storage/table.cc
  src/storage/table_test.cc
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl_test.cc
Labels: storage-engine

#1942 docs(#1801): add docs for`show components` & `show table status`
  docs/zh/reference/sql/ddl/SHOW_COMPONENTS.md
  docs/zh/reference/sql/ddl/SHOW_TABLES_STATEMENT.md
  docs/zh/reference/sql/ddl/SHOW_TABLE_STATUS.md
  docs/zh/reference/sql/ddl/index.rst
Labels: documentation

#1929 feat: insert with database
  src/cmd/sql_cmd_test.cc
  src/sdk/sql_cluster_router.cc
Labels: storage-engine

#1901 feat: support iterating key from remote tablet with `Next` function in `DistributeWindowIterator`
  src/base/kv_iterator.cc
  src/base/kv_iterator.h
  src/base/kv_iterator_test.cc
  src/catalog/distribute_iterator.cc
  src/catalog/distribute_iterator.h
  src/catalog/distribute_iterator_test.cc
  src/catalog/sdk_catalog_test.cc
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/cmd/openmldb.cc
  src/cmd/sdk_iterator.h
  src/codec/codec_test.cc
  src/proto/tablet.proto
  src/storage/binlog.cc
  src/storage/mem_table.cc
  src/storage/mem_table_snapshot.cc
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl_func_test.cc
  src/tablet/tablet_impl_keep_alive_test.cc
  src/tablet/tablet_impl_mem_test.cc
  src/tablet/tablet_impl_multi_path_test.cc
  src/tablet/tablet_impl_test.cc
Labels: storage-engine

#1945 docs: translate the Chinese doc of scale.md into English #1793
  docs/en/maintain/index.rst
  docs/en/maintain/scale.md
Labels: documentation

#1955 docs: add english version of dolphinscheduler demo
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/en/use_case/images/ds_bind_status.png
  docs/en/use_case/images/ds_bind_tenant.png
  docs/en/use_case/images/ds_create_project.png
  docs/en/use_case/images/ds_env_setting.png
  docs/en/use_case/images/ds_import_workflow.png
  docs/en/use_case/images/ds_predict.png
  docs/en/use_case/images/ds_project.png
  docs/en/use_case/images/ds_run.png
  docs/en/use_case/images/ds_run_status.png
  docs/en/use_case/images/ds_set_tenant.png
  docs/en/use_case/images/ds_switch.png
  docs/en/use_case/images/ds_switch_right.png
  docs/en/use_case/images/ds_tenant_manage.png
  docs/en/use_case/images/ds_workflow_detail.png
  docs/en/use_case/images/ds_workflow_list.png
  docs/en/use_case/images/ecosystem.png
  docs/en/use_case/images/kafka_connector_steps.png
  docs/en/use_case/images/kafka_openmldb_result.png
  docs/en/use_case/images/kafka_topic_describe.png
  docs/en/use_case/images/set_python_env.png
  docs/en/use_case/images/task_func.png
  docs/en/use_case/index.rst
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/zh/use_case/dolphinscheduler_task_demo.md
Labels: documentation

#1957 docs: add the english version of lightgbm_demo.md
  README.md
  docs/en/use_case/index.rst
  docs/en/use_case/lightgbm_demo.md
Labels: documentation

#1938 feat: support zk log options & flags fix
  src/cmd/openmldb.cc
  src/cmd/sql_cmd.h
  src/flags.cc
  src/sdk/db_sdk.cc
  src/sdk/db_sdk.h
  src/zk/zk_client.cc
  src/zk/zk_client.h
Labels: storage-engine

#1959 feat(#1723): upgrade openssl to 1.1.1o
  third-party/cmake/FetchOpenssl.cmake
Labels: build

#1943 feat: refactor to make sure c row is released for UnsafeRowOpt
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/RowProjectPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/WindowAggPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/UnsafeRowUtil.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/window/WindowComputer.scala
Labels: batch-engine

#1956 fix: `genDDL` function will generate incorrect ddl if partition by multi columns
  src/sdk/sql_router.cc
  src/sdk/sql_router_test.cc
Labels: bug, storage-engine

#1950 fix(#1787): wrong result from window open preceding query
  cases/function/cluster/window_and_lastjoin.yaml
  cases/function/test_index_optimized.yaml
  cases/function/window/test_window.yaml
  cases/function/window/test_window_row_range.yaml
  cases/function/window/test_window_union.yaml
  cases/query/window_with_union_query.yaml
  hybridse/include/node/sql_node.h
  hybridse/include/vm/mem_catalog.h
  hybridse/src/node/node_manager_test.cc
  hybridse/src/node/sql_node.cc
  hybridse/src/node/sql_node_test.cc
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/planv2/planner_v2_test.cc
  hybridse/src/vm/mem_catalog.cc
  hybridse/src/vm/runner.cc
  hybridse/src/vm/transform_request_mode_test.cc
  hybridse/src/vm/transform_test.cc
Labels: execute-engine

#1953 refactor: rename session_timeout to zk_session_timeout in clusteroptions
  hybridse/src/passes/physical/group_and_sort_optimized.h
  hybridse/src/testing/test_base.cc
  hybridse/src/testing/test_base.h
  src/cmd/openmldb.cc
  src/cmd/sql_cmd.h
  src/sdk/db_sdk.cc
  src/sdk/db_sdk.h
  src/sdk/sql_cluster_router.cc
Labels: good first issue, execute-engine, storage-engine

#1965 refactor: mv session_timeout to cluster router options and rename to it
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/SqlClusterExecutor.java
  python/openmldb/sdk/sdk.py
  src/apiserver/api_server_test.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_test.cc
  src/sdk/sql_router.h
  src/sdk/sql_router_test.cc
  src/sdk/sql_sdk_test.cc
Labels: sdk, api-server

#1976 refactor: cleanup unused including
  src/cmd/sql_cmd.h
  src/cmd/sql_cmd_test.cc
Labels: storage-engine

#1972 fix: deleted INVALID_TID
  src/client/tablet_client.h
Labels: storage-engine

#1963 fix: update ns&taskmanager client when zk changed
  src/sdk/db_sdk.cc
  src/sdk/db_sdk.h
  src/zk/dist_lock.cc
Labels: storage-engine

#1964 build: upgrade thirdpary precompiled
  docker/Dockerfile
  docker/setup_deps.sh
  third-party/CMakeLists.txt
  third-party/README.md
  third-party/cmake/FetchZookeeper.cmake
Labels: build, docker

#1982 fix: fix typo `kPhysicalOpAggrerate` to `kPhysicalOpAggregate`
  hybridse/include/vm/physical_op.h
  hybridse/src/vm/physical_op.cc
Labels: execute-engine

#1994 fix: delete unused files(4paradigm#1986)
  src/base/count_down_latch.h
  src/base/count_down_latch_test.cc
  src/storage/mem_table_snapshot.cc
Labels: storage-engine

#1999 refactor: rename `RtiDBIndex` to `PBIndex` in src/catalog/sdk_catalog_test.cc
  src/catalog/sdk_catalog_test.cc
Labels: storage-engine

#1984 refactor: removed `Count` function with `ts_name` argument from src/tablet_client…
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/cmd/openmldb.cc
Labels: storage-engine

#1997 fix(codegen): loop combing should not reuse same count value for different columns
  cases/function/fz_ddl/test_myhug.yaml
  cases/function/join/test_lastjoin_complex.yaml
  cases/function/window/test_maxsize.yaml
  cases/function/window/test_window_row.yaml
  cases/function/window/test_window_row_range.yaml
  cases/plan/error_query.yaml
  cases/query/udaf_query.yaml
  cases/query/window_query.yaml
  hybridse/include/node/sql_node.h
  hybridse/src/codegen/aggregate_ir_builder.cc
  hybridse/src/codegen/aggregate_ir_builder.h
  hybridse/src/codegen/fn_let_ir_builder.cc
  hybridse/src/node/sql_node.cc
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/planv2/ast_node_converter_test.cc
  hybridse/src/planv2/planner_v2_test.cc
Labels: execute-engine

#2012 fix: move in return stmt preventing copy elision
  hybridse/include/codec/list_iterator_codec.h
Labels: execute-engine

#2017 refactor: move implement of function to cc
  src/catalog/tablet_catalog.cc
  src/catalog/tablet_catalog.h
Labels: storage-engine

#2015 refactor: remove `PackValue` and `Convert` functions from src/codec/field_codec.h
  src/codec/field_codec.h
  src/codec/field_codec_test.cc
  src/codec/memcomparable_format.h
  src/codec/memcomparable_format_test.cc
Labels: storage-engine

#2000 feat: deleted code for setting LANG and LC_ALL in TaskManager #1962
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/spark/SparkJobManager.scala
Labels: task-manager

#1973 feat: optimize window agg plan for UnsafeRowOpt
  java/openmldb-batch/scala_style.xml
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/WindowAggPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/window/WindowComputer.scala
  java/scala_style.xml
Labels: batch-engine

#2009 fix(#1930): refactor `hybridse-build` target and enable strip for hybridse tests
  .github/workflows/hybridse-ci.yml
  CMakeLists.txt
  Makefile
  hybridse/examples/toydb/src/CMakeLists.txt
  hybridse/examples/toydb/src/bm/CMakeLists.txt
  hybridse/examples/toydb/src/sdk/CMakeLists.txt
  hybridse/src/CMakeLists.txt
  hybridse/src/benchmark/CMakeLists.txt
  src/sdk/CMakeLists.txt
Labels: workflow, build, execute-engine, storage-engine

#2030 feat: new built-in aggregate function median
  cases/function/function/test_udaf_function.yaml
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/default_udf_library_test.cc
  hybridse/src/udf/udaf_test.cc
Labels: udf, execute-engine

#2034 fix: removed unnecessary declaration in src/sdk/mini_cluster_bm.cc
  src/sdk/mini_cluster_bm.cc
Labels: storage-engine

#2033 fix: remove `tablereader` declaration
  src/sdk/table_reader_impl.h
Labels: storage-engine

#2008 refactor: rewrite talkingdata training part
  demo/talkingdata-adtracking-fraud-detection/README.md
  demo/talkingdata-adtracking-fraud-detection/predict_server.py
  demo/talkingdata-adtracking-fraud-detection/train_and_serve.py
  demo/talkingdata-adtracking-fraud-detection/train_sample.csv
Labels: docker

#2010 fix: make RunBatchSql use mutable request timeout
  src/client/taskmanager_client.cc
Labels: storage-engine

#2037 refactor: remove unnecessary declaration in nameserver/name_server_impl.h
  src/nameserver/name_server_impl.h
Labels: storage-engine

#2031 docs: update scale out docs
  docs/en/maintain/scale.md
  docs/zh/maintain/scale.md
Labels: documentation

#2025 feat: support coverage ci for python sdk
  .github/workflows/sdk.yml
  steps/test_python.sh
Labels: workflow

#2028 feat: add the workflow to release the installing package for macos
  .github/workflows/cicd.yaml
Labels: workflow

#2036 fix: send snapshot for disk table
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/replica/snapshot_replica_test.cc
  src/tablet/file_sender.cc
  src/tablet/file_sender.h
  src/tablet/tablet_impl.cc
Labels: storage-engine

#2048 docs: fixed the file path in talkingdata demo doc
  demo/talkingdata-adtracking-fraud-detection/README.md
Labels: docker
