Repository 4paradigm/OpenMLDB, pull requests merged in 2022-02, with the labels that each got.

#1168 docs: add the link of mirror docs site in readme
  README.md
  README_cn.md
Labels: documentation

#1167 fix: memory leak
  java/openmldb-jmh/pom.xml
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/stability/FEQLFZPerf.java
  java/openmldb-jmh/src/main/java/com/_4paradigm/sql/tools/TableInfo.java
  java/openmldb-jmh/src/main/resources/conf.properties
  src/sdk/result_set_sql.cc
  src/sdk/result_set_sql.h
Labels: bug

#1130 feat: add error logs and enable_trace system variable
  cases/usecase/autox.yaml
  hybridse/src/passes/resolve_fn_and_attrs.cc
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/testing/engine_test_base.cc
  src/cmd/sql_cmd.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_cluster_test.cc
  src/sdk/sql_router_test.cc
Labels: enhancement

#1150 feat: fix git plugin and return version of openmldb-batch
  java/openmldb-batch/pom.xml
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
Labels: enhancement

#1194 feat: support get result set schema for python sdk
  python/openmldb/dbapi/dbapi.py
  python/openmldb/sdk/sdk.py
Labels: enhancement

#1187 fix: fix release docker skip login
  .github/workflows/openmldb-docker.yml
Labels: bug

#1212 fix: python SDK magic register function bug fix
  python/openmldb/__init__.py
  python/openmldb/sql_magic/sql_magic.py
  python/setup.py
Labels: bug

#1214 feat: support get job log api for sdk
  python/openmldb/sdk/sdk.py
  src/client/taskmanager_client.cc
  src/client/taskmanager_client.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_router.h
Labels: enhancement

#1215 feat: support function fetchmany() and fetchall() in python SDK and UT
  python/openmldb/dbapi/dbapi.py
  python/openmldb/test/openmldb_client_test.py
Labels: enhancement

#1173 fix: support db prefix in sql
  cases/plan/cmd.yaml
  cases/plan/create.yaml
  cases/plan/insert.yaml
  hybridse/include/node/node_manager.h
  hybridse/include/node/sql_node.h
  hybridse/src/node/node_manager.cc
  hybridse/src/node/sql_node.cc
  hybridse/src/node/sql_node_test.cc
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/planv2/ast_node_converter_test.cc
  src/client/ns_client.cc
  src/client/ns_client.h
  src/cmd/sql_cmd.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_router_test.cc
Labels: enhancement

#1226 fix: update tablet client
  src/nameserver/name_server_impl.cc
  src/nameserver/name_server_impl.h
  src/tablet/tablet_impl.cc
Labels: bug

#1251 feat: do not install python package in cicd
  .github/workflows/cicd.yaml
  python/setup.py
Labels: enhancement

#1243 feat: add print table in python sdk and show in notebook magic function
  python/openmldb/sdk/sdk.py
  python/openmldb/sql_magic/sql_magic.py
  python/setup.py
Labels: enhancement

#1248 fix: resolve the conflicts in openmldb-batch and spark jars
  java/openmldb-batch/pom.xml
Labels: bug

#1256 feat: reorder the list of tasks
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/SparkPlanner.scala
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/zk/FailoverWatcher.java
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/JobInfoManager.scala
Labels: enhancement

#1265 feat: support yarn-client mode in taskmanager
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/spark/SparkJobManager.scala
Labels: enhancement

#1262 feat: add check for taskmanager config
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/config/ConfigException.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/config/TaskManagerConfig.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/TaskManagerServer.java
  java/openmldb-taskmanager/src/main/resources/taskmanager.properties
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/yarn/YarnClientUtil.scala
  java/openmldb-taskmanager/src/test/java/com/_4paradigm/openmldb/taskmanager/TestTaskManagerClient.java
  java/openmldb-taskmanager/src/test/resources/taskmanager.properties
Labels: enhancement

#1272 fix: fix the start time is null for taskmanager jobs in cli
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/dao/JobInfo.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/impl/TaskManagerImpl.java
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/JobInfoManager.scala
Labels: bug

#1274 fix: check null from column and and unit tests for null data
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/WindowAggPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/SparkRowUtil.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/nulldata/TestJoinWithNullData.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/nulldata/TestWindowWithNullData.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/utils/TestSparkRowUtil.scala
Labels: bug

#1267 feat: openmldb batch do not crash when connect openmldb fail
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
Labels: enhancement

#1276 fix: detect incorrect sql like `select 10s` or `select 10s + 1`
  cases/query/const_query.yaml
  cases/query/fail_query.yaml
  hybridse/include/node/sql_node.h
  hybridse/include/vm/physical_op.h
  hybridse/src/node/expr_node.cc
  hybridse/src/passes/physical/batch_request_optimize.cc
  hybridse/src/vm/physical_op.cc
  hybridse/src/vm/schemas_context_test.cc
  hybridse/src/vm/transform.cc
Labels: bug

#1258 feat: add pre agg meta table
  src/nameserver/name_server_impl.cc
  src/nameserver/system_table.h
  src/nameserver/system_table_test.cc
Labels: enhancement

#1253 feat: unittest for sql magic in Python SDK
  python/openmldb/sql_magic/sql_magic.py
  python/openmldb/test/openmldb_client_test.py
Labels: enhancement

#1302 feat: add standalone options for sql cluster router
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_router.cc
  src/sdk/sql_router.h
Labels: enhancement

#1303 feat: add check for hadoop.conf.dir when it uses yarn mode
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/config/TaskManagerConfig.java
Labels: enhancement

#1304 fix: support create empty dataframe with schema for openmldb-batch
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/HybridseUtil.scala
Labels: enhancement

#1298 feat: fix unsaferow for window
  Makefile
  hybridse/src/codec/fe_row_codec.cc
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/OpenmldbBatchConfig.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/SparkPlanner.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/WindowAggPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/SparkRowUtil.scala
  java/openmldb-batch/src/test/resources/log4j.properties
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/DataUtil.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/unsafe/TestUnsafeProject.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/unsafe/TestUnsafeWindow.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/utils/TestSparkRowUtil.scala
Labels: bug, enhancement

#1314 fix: bugfix of failed to register notebook magic with python SDK
  python/openmldb/sql_magic/sql_magic.py
Labels: bug

#1231 feat: add statement class
  hybridse/include/sdk/base.h
  hybridse/src/proto/fe_common.proto
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/Statement.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/SqlExecutor.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/SqlClusterExecutor.java
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/SQLRouterSmokeTest.java
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/StatementTest.java
  python/openmldb/sdk/sdk.py
  src/apiserver/api_server_test.cc
  src/base/lru_cache.h
  src/client/taskmanager_client.cc
  src/client/taskmanager_client.h
  src/cmd/display.h
  src/cmd/openmldb.cc
  src/cmd/sql_cmd.h
  src/cmd/sql_cmd_test.cc
  src/codec/field_codec.h
  src/codec/row_codec.h
  src/schema/schema_adapter.cc
  src/schema/schema_adapter.h
  src/sdk/db_sdk.cc
  src/sdk/file_option_parser.h
  src/sdk/result_set_base.cc
  src/sdk/result_set_base.h
  src/sdk/result_set_sql.cc
  src/sdk/result_set_sql.h
  src/sdk/split.h
  src/sdk/split_test.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_cluster_test.cc
  src/sdk/sql_router.h
  src/sdk/sql_sdk_base_test.cc
  src/sdk/sql_sdk_base_test.h
  src/sdk/sql_sdk_test.cc
  src/sdk/sql_standalone_sdk_test.cc
Labels: enhancement
