Repository 4paradigm/OpenMLDB, pull requests merged in 2022-10, with the labels that each got.

#2623 docs: fixed the idex problem
  docs/zh/reference/sql/deployment_manage/ONLINE_REQUEST_REQUIREMENTS.md
  docs/zh/reference/sql/deployment_manage/index.rst
Labels: documentation

#2567 fix: rest_api input json
  docs/en/quickstart/rest_api.md
  docs/zh/quickstart/rest_api.md
Labels: documentation

#2566 feat: upgrade spark version
  java/openmldb-batch/pom.xml
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestWindowSkewOpt.scala
  java/openmldb-batchjob/pom.xml
  java/openmldb-spark-connector/pom.xml
  java/openmldb-taskmanager/pom.xml
  java/pom.xml
Labels: batch-engine, task-manager

#2539 fix: client and ut glog settings
  docs/en/maintain/faq.md
  src/base/glog_wrapper.h
  src/base/glog_wrapper_test.cc
  src/cmd/openmldb.cc
  src/cmd/sql_cmd.h
  src/cmd/sql_cmd_test.cc
  src/sdk/db_sdk_test.cc
  src/sdk/mini_cluster_batch_bm.cc
  src/sdk/mini_cluster_request_batch_bm.cc
  src/sdk/mini_cluster_request_bm.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_test.cc
  src/sdk/sql_router_test.cc
  src/sdk/sql_sdk_test.cc
  src/sdk/sql_standalone_sdk_test.cc
Labels: documentation, storage-engine

#2571 docs: add more common configs for spark.conf
  docs/en/reference/client_config/client_spark_config.md
  docs/zh/reference/client_config/client_spark_config.md
Labels: documentation

#2605 feat: support sdk set sql cache size
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/SQLDriver.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/SdkOption.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/SqlClusterExecutor.java
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/JDBCDriverTest.java
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/SQLRouterSmokeTest.java
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/sdk/SdkOptionTest.java
  python/openmldb_sdk/openmldb/sdk/sdk.py
  python/openmldb_sdk/tests/dbapi_test.py
  src/sdk/db_sdk_test.cc
  src/sdk/sql_cluster_test.cc
  src/sdk/sql_router.h
  src/sdk/sql_router_test.cc
  src/sdk/sql_sdk_test.cc
  src/sdk/sql_standalone_sdk_test.cc
Labels: sdk, storage-engine

#2625 fix: run `start.sh` failed if has not installed `curl`
  demo/JD-recommendation/README.md
  docs/en/deploy/install_deploy.md
  docs/en/maintain/scale.md
  docs/en/maintain/upgrade.md
  docs/en/use_case/JD_recommendation_en.md
  docs/zh/deploy/install_deploy.md
  docs/zh/maintain/scale.md
  docs/zh/maintain/upgrade.md
  docs/zh/use_case/JD_recommendation.md
  release/bin/start.sh
Labels: documentation, docker

#2583 docs: add more info in contributing
  docs/zh/developer/contributing.md
Labels: documentation

#2556 feat: add C++ SDK
  CMakeLists.txt
  docs/zh/quickstart/cxx_sdk.md
  hybridse/include/sdk/base.h
  hybridse/include/sdk/base_schema.h
  hybridse/include/sdk/result_set.h
  src/CMakeLists.txt
  src/sdk/CMakeLists.txt
  src/sdk/openmldb_api.cc
  src/sdk/openmldb_api.h
  src/sdk/openmldb_api_test.cc
  src/sdk/sql_router_sdk.i
Labels: documentation, build, execute-engine, storage-engine

#2598 feat(udf): replace `fz_func`s with `func`
  hybridse/src/udf/default_defs/feature_zero_def.cc
Labels: execute-engine

#2595 feat: oneflow demo update
  demo/JD-recommendation/oneflow_process/deepfm_train_eval_JD.py
  docs/en/use_case/JD_recommendation_en.md
  docs/zh/use_case/JD_recommendation.md
Labels: documentation, docker

#2626 feat: support validatesql
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/Schema.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/SqlClusterExecutor.java
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/SQLRouterSmokeTest.java
  src/base/ddl_parser.cc
  src/base/ddl_parser.h
  src/base/ddl_parser_test.cc
  src/sdk/sql_router.cc
  src/sdk/sql_router.h
Labels: sdk, storage-engine

#2570 fix: resolve two sql engine correctness issues & improve procedure test
  cases/function/expression/test_arithmetic.yaml
  cases/function/function/test_udaf_function.yaml
  cases/integration_test/expression/test_arithmetic.yaml
  cases/query/operator_query.yaml
  cases/query/udaf_query.yaml
  hybridse/include/case/sql_case.h
  hybridse/include/node/node_enum.h
  hybridse/src/case/sql_case.cc
  hybridse/src/case/sql_case_test.cc
  hybridse/src/codegen/arithmetic_expr_ir_builder.cc
  hybridse/src/codegen/arithmetic_expr_ir_builder.h
  hybridse/src/codegen/arithmetic_expr_ir_builder_test.cc
  hybridse/src/codegen/null_ir_builder.cc
  hybridse/src/codegen/null_ir_builder.h
  hybridse/src/udf/default_udf_library.cc
  src/sdk/sql_sdk_base_test.cc
Labels: execute-engine, storage-engine

#2641 feat: disable native last join by default
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/OpenmldbBatchConfig.scala
Labels: batch-engine

#2635 feat: update spark version
  demo/Dockerfile
  demo/setup_openmldb.sh
  docs/en/deploy/compile.md
  docs/en/deploy/install_deploy.md
  docs/en/tutorial/openmldbspark_distribution.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/install_deploy.md
  docs/zh/tutorial/openmldbspark_distribution.md
Labels: documentation, docker

#2655 fix: log file name
  src/base/glog_wrapper.h
Labels: storage-engine

#2649 docs: upgrade 0.6.3
  CHANGELOG.md
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/about/release_notes.md
  docs/en/deploy/compile.md
  docs/en/deploy/install_deploy.md
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/reference/ip_tips.md
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/lightgbm_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/zh/about/release_notes.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/install_deploy.md
  docs/zh/quickstart/java_sdk.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/reference/ip_tips.md
  docs/zh/use_case/airflow_provider_demo.md
  docs/zh/use_case/dolphinscheduler_task_demo.md
  docs/zh/use_case/kafka_connector_demo.md
  docs/zh/use_case/pulsar_connector_demo.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
Labels: documentation, docker

#2658 build: skip c++ sdk build on macos
  src/sdk/CMakeLists.txt
Labels: build, storage-engine

#2662 fix: fix spark version in docker file
  demo/Dockerfile
  demo/setup_openmldb.sh
Labels: bug, docker

#2663 docs: fix pr no in release notes
  CHANGELOG.md
  docs/en/about/release_notes.md
  docs/zh/about/release_notes.md
Labels: documentation

#2664 docs: fix quickstart
  docs/en/quickstart/openmldb_quickstart.md
  docs/zh/quickstart/openmldb_quickstart.md
Labels: documentation

#2440 fix: recreate index failed
  docs/en/reference/sql/ddl/DROP_INDEX_STATEMENT.md
  docs/zh/reference/sql/ddl/DROP_INDEX_STATEMENT.md
  src/schema/index_test.cc
  src/schema/index_util.cc
  src/storage/mem_table.cc
Labels: bug, documentation, storage-engine

#2541 fix: resolve redundant put in disktable
  src/replica/snapshot_replica_test.cc
  src/storage/disk_table.cc
  src/storage/table_test.cc
  src/tablet/tablet_impl_test.cc
Labels: storage-engine

#2637 fix: traverse with same ts
  src/base/kv_iterator.h
  src/catalog/distribute_iterator.cc
  src/catalog/distribute_iterator_test.cc
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/cmd/openmldb.cc
  src/proto/tablet.proto
  src/storage/disk_table.cc
  src/storage/disk_table_test.cc
  src/storage/mem_table.cc
  src/storage/table_test.cc
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl_test.cc
Labels: storage-engine

#2486 docs: added en version of usecase_airflow
  docs/en/use_case/airflow_provider_demo.md
  docs/en/use_case/images/add_connection.png
  docs/en/use_case/images/airflow_dag.png
  docs/en/use_case/images/airflow_login.png
  docs/en/use_case/images/airflow_test_result.png
  docs/en/use_case/images/connection.png
  docs/en/use_case/images/connection_display.png
  docs/en/use_case/images/connection_settings.png
  docs/en/use_case/images/dag_code.png
  docs/en/use_case/images/dag_home.png
  docs/en/use_case/images/dag_run.png
  docs/en/use_case/index.rst
  docs/zh/use_case/airflow_provider_demo.md
Labels: documentation

#2476 docs: added en version of talkingdata_demo usecase
  docs/en/use_case/index.rst
  docs/en/use_case/talkingdata_demo.md
  docs/zh/use_case/talkingdata_demo.md
Labels: documentation

#2672 refactor: removed unused function `RecordCntIncr` from storage/mem_table.h
  src/storage/mem_table.h
Labels: storage-engine

#2665 feat: run mac compile in workflow
  .github/workflows/cicd.yaml
  src/sdk/CMakeLists.txt
Labels: workflow, build, storage-engine

#2669 fix: iterator zero
  src/catalog/distribute_iterator.cc
  src/catalog/distribute_iterator.h
  src/catalog/distribute_iterator_test.cc
  src/sdk/openmldb_api.cc
  src/storage/mem_table.cc
  src/tablet/tablet_impl.cc
Labels: storage-engine

#2035 feat: new data export tool
  docs/en/maintain/data_export.md
  docs/zh/maintain/data_export.md
  src/CMakeLists.txt
  src/tools/README.md
  src/tools/data_exporter.cc
  src/tools/log_exporter.cc
  src/tools/log_exporter.h
  src/tools/tablemeta_reader.cc
  src/tools/tablemeta_reader.h
Labels: documentation, build, storage-engine

#2381 feat: auto Feature Engineering
  python/AutoFE/AutoFE.py
Labels: sdk

#2622 feat(udf): support top_n_value_*_cate_where
  cases/function/function/test_udaf_function.yaml
  cases/integration_test/function/test_udaf_function.yaml
  hybridse/src/udf/containers.h
  hybridse/src/udf/default_defs/avg_by_category_def.cc
  hybridse/src/udf/default_defs/containers.h
  hybridse/src/udf/default_defs/count_by_category_def.cc
  hybridse/src/udf/default_defs/max_by_category_def.cc
  hybridse/src/udf/default_defs/min_by_category_def.cc
  hybridse/src/udf/default_defs/sum_by_category_def.cc
  hybridse/src/udf/udaf_test.cc
Labels: execute-engine

#2683 fix: only link stdc++fs in if gnu < 9.1
  src/CMakeLists.txt
Labels: build, storage-engine

#2478 feat: add compatible union and unit test
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/SparkUtil.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/window/WindowAggPlanUtil.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestWindowUnion.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/utils/TestSparkUtil.scala
Labels: batch-engine

#2341 feat: delete record interface of specified timestamp
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/codec/row_codec.h
  src/proto/tablet.proto
  src/sdk/sql_cluster_router.cc
  src/storage/binlog.cc
  src/storage/disk_table.cc
  src/storage/disk_table.h
  src/storage/disk_table_test.cc
  src/storage/mem_table.cc
  src/storage/mem_table.h
  src/storage/mem_table_snapshot.cc
  src/storage/mem_table_snapshot.h
  src/storage/schema.cc
  src/storage/schema.h
  src/storage/segment.cc
  src/storage/segment.h
  src/storage/table.h
  src/storage/table_test.cc
  src/tablet/tablet_impl.cc
Labels: storage-engine

#2514 docs: improved en version of tutorial_sql2
  docs/en/tutorial/images/openmldb_sql_tutorial_1.drawio
  docs/en/tutorial/images/openmldb_sql_tutorial_2.drawio
  docs/en/tutorial/images/t11_t22.jpg
  docs/en/tutorial/images/t1_to_t11.jpg
  docs/en/tutorial/images/t2_to_t22.jpg
  docs/en/tutorial/tutorial_sql_2.md
  docs/zh/tutorial/images/openmldb_sql_tutorial_2.drawio
  docs/zh/tutorial/images/t11_t22.jpg
  docs/zh/tutorial/tutorial_sql_2.md
Labels: documentation

#2611 docs: added en version of udf functions development guideline
  docs/en/developer/index.rst
  docs/en/developer/udf_develop_guide.md
  docs/en/reference/sql/ddl/FUNCTION_STATEMENT.md
  docs/en/reference/sql/ddl/index.rst
  docs/zh/developer/udf_develop_guide.md
  docs/zh/reference/sql/ddl/FUNCTION_STATEMENT.md
  docs/zh/reference/sql/ddl/index.rst
Labels: documentation

#2695 docs: add rocketmq connector, add the cikm paper entry
  README.md
  README_cn.md
  docs/zh/README.md
  docs/zh/SUMMARY.md
  docs/zh/use_case/images/rocketmq_overview.png
  docs/zh/use_case/images/rocketmq_runtime.png
  docs/zh/use_case/images/rocketmq_test.png
  docs/zh/use_case/images/rocketmq_workflow.png
  docs/zh/use_case/index.rst
  docs/zh/use_case/kafka_connector_demo.md
  docs/zh/use_case/pulsar_connector_demo.md
  docs/zh/use_case/rocketmq_connector.md
Labels: documentation

#2693 docs: divided the function_statement into 3 docs
  docs/en/developer/udf_develop_guide.md
  docs/en/reference/sql/ddl/CREATE_FUNCTION.md
  docs/en/reference/sql/ddl/CREATE_TABLE_STATEMENT.md
  docs/en/reference/sql/ddl/DROP_FUNCTION.md
  docs/en/reference/sql/ddl/SHOW_FUNCTIONS.md
  docs/en/reference/sql/ddl/index.rst
  docs/zh/developer/udf_develop_guide.md
  docs/zh/reference/sql/ddl/CREATE_FUNCTION.md
  docs/zh/reference/sql/ddl/DROP_FUNCTION.md
  docs/zh/reference/sql/ddl/SHOW_FUNCTIONS.md
  docs/zh/reference/sql/ddl/index.rst
Labels: documentation

#2462 docs: improved the en version of tutorial_sql_1
  docs/en/tutorial/tutorial_sql_1.md
  docs/zh/tutorial/tutorial_sql_1.md
Labels: documentation

#2687 fix: multiple window project in offline
  hybridse/src/codec/row.cc
  hybridse/src/vm/core_api.cc
  hybridse/src/vm/runner.cc
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/window/WindowComputer.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestWindow.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestWindowUnion.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/unsafe/TestUnsafeFormatForWindowAppendSlice.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/unsafe/TestUnsafeWindowOverWindow.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/unsafe/TestWindowWithoutSelect.scala
Labels: batch-engine, execute-engine

#2653 docs: improve install deploy and client
  docs/README.md
  docs/en/deploy/compile.md
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/python_sdk.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/images/tablet_ps.png
  docs/zh/deploy/images/zk_cli.png
  docs/zh/deploy/images/zk_ps.png
  docs/zh/deploy/images/zk_started.png
  docs/zh/deploy/install_deploy.md
  docs/zh/maintain/faq.md
  docs/zh/quickstart/java_sdk.md
  docs/zh/quickstart/python_sdk.md
Labels: documentation

#2698 fix: group by with where and count_where (IteratorFilterWrapper)
  cases/query/group_query.yaml
  hybridse/src/vm/catalog_wrapper.h
Labels: execute-engine

#2660 fix(#2505): refine `select *` expansion
  cases/plan/having_query.yaml
  cases/query/simple_query.yaml
  hybridse/include/node/plan_node.h
  hybridse/include/node/sql_node.h
  hybridse/include/vm/physical_op.h
  hybridse/include/vm/schemas_context.h
  hybridse/src/codegen/fn_let_ir_builder_test.h
  hybridse/src/vm/transform.cc
  hybridse/src/vm/transform.h
Labels: execute-engine

#2674 fix(#2597): revolve int overflow for rows unbounded window
  cases/function/window/window_attributes.yaml
  hybridse/include/vm/mem_catalog.h
  hybridse/src/base/numeric.h
  hybridse/src/codegen/expr_ir_builder.cc
  hybridse/src/vm/runner.h
Labels: execute-engine

#2699 fix: add checking for `local load` in online mode
  src/cmd/sql_cmd_test.cc
  src/sdk/sql_cluster_router.cc
Labels: storage-engine

#2503 docs: update openmldb sql capabilities
  docs/en/deploy/install_deploy.md
  docs/en/reference/sql/dql/LIMIT_CLAUSE.md
  docs/en/reference/sql/dql/SELECT_STATEMENT.md
  docs/en/reference/sql/functions_and_operators/operators.md
  docs/zh/deploy/install_deploy.md
  docs/zh/reference/sql/deployment_manage/ONLINE_REQUEST_REQUIREMENTS.md
  docs/zh/reference/sql/dql/LIMIT_CLAUSE.md
  docs/zh/reference/sql/dql/SELECT_STATEMENT.md
  docs/zh/reference/sql/functions_and_operators/operators.md
Labels: documentation

#2696 docs: upgrade 0.6.4
  CHANGELOG.md
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/about/release_notes.md
  docs/en/deploy/compile.md
  docs/en/deploy/install_deploy.md
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/reference/ip_tips.md
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/lightgbm_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/zh/about/release_notes.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/install_deploy.md
  docs/zh/quickstart/java_sdk.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/reference/ip_tips.md
  docs/zh/use_case/airflow_provider_demo.md
  docs/zh/use_case/dolphinscheduler_task_demo.md
  docs/zh/use_case/kafka_connector_demo.md
  docs/zh/use_case/pulsar_connector_demo.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
Labels: documentation, docker

#2706 fix: deep_copy option parse in client
  src/cmd/sql_cmd_test.cc
  src/sdk/file_option_parser.h
Labels: storage-engine

#2708 fix: v0.6 load data deep_copy
  src/cmd/sql_cmd_test.cc
  src/sdk/file_option_parser.h
Labels: storage-engine

#2710 fix: format checking for parquet format
  src/cmd/sql_cmd_test.cc
  src/sdk/file_option_parser.h
  src/sdk/sql_cluster_router.cc
Labels: storage-engine

#2711 fix: format checking for parquet format
  src/cmd/sql_cmd_test.cc
  src/sdk/file_option_parser.h
  src/sdk/sql_cluster_router.cc
Labels: storage-engine

#2688 refactor: java msg and cleanup py sdk
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/InsertPreparedStatementImpl.java
  python/openmldb_sdk/openmldb/sdk/sdk.py
Labels: sdk

#2707 docs: update udf list
  docs/en/reference/sql/functions_and_operators/Files/udfs_8h.md
  docs/zh/reference/sql/functions_and_operators/Files/udfs_8h.md
Labels: documentation, udf

#2648 fix: parquet check schema in load data
  docs/zh/developer/sdk_develop.md
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/LoadDataPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/HybridseUtil.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/TestLoadDataPlan.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/utils/HybridseUtilTest.scala
Labels: documentation, batch-engine

#2701 feat: optimize the distribution of table partition
  src/nameserver/name_server_impl.cc
Labels: storage-engine

#2705 feat: update code version
  CMakeLists.txt
  java/hybridse-native/pom.xml
  java/hybridse-proto/pom.xml
  java/hybridse-sdk/pom.xml
  java/openmldb-batch/pom.xml
  java/openmldb-batchjob/pom.xml
  java/openmldb-common/pom.xml
  java/openmldb-jdbc/pom.xml
  java/openmldb-native/pom.xml
  java/openmldb-spark-connector/pom.xml
  java/openmldb-taskmanager/pom.xml
  java/pom.xml
  python/openmldb_sdk/setup.py
  python/openmldb_tool/setup.py
Labels: build, batch-engine, sdk, task-manager

#2718 docs: kafka download url update
  docs/en/use_case/kafka_connector_demo.md
  docs/zh/use_case/kafka_connector_demo.md
Labels: documentation

#2709 ci: add udf-doc-gen workflow
  .github/workflows/udf-doc.yml
  hybridse/src/CMakeLists.txt
  hybridse/tools/documentation/udf_doxygen/Makefile
  hybridse/tools/documentation/udf_doxygen/SUMMARY.md.tmpl
  hybridse/tools/documentation/udf_doxygen/patch_markdown.sh
Labels: workflow, build, execute-engine

#2717 refactor: byzer taxi demo
  demo/byzer-taxi/openmldb_byzer_taxi.bznb
  docs/zh/reference/ip_tips.md
  docs/zh/use_case/OpenMLDB_Byzer_taxi.md
  docs/zh/use_case/images/byzer-load-data.png
  docs/zh/use_case/images/byzer-upload-data.png
Labels: documentation, docker

#2538 docs: add must-read and function boundary
  demo/cluster_dist.yml
  demo/standalone_dist.yml
  docs/en/quickstart/rest_api.md
  docs/zh/quickstart/beginner_must_read.md
  docs/zh/quickstart/function_boundary.md
  docs/zh/quickstart/index.rst
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/quickstart/rest_api.md
  docs/zh/reference/index.rst
  docs/zh/reference/sql/dql/SELECT_INTO_STATEMENT.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
Labels: documentation, docker

#2727 docs(developer): add guide on how to revise builtin function documents
  docs/en/developer/built_in_function_develop_guide.md
  docs/zh/developer/built_in_function_develop_guide.md
Labels: documentation

#2729 ci(udf-doc-gen): schedule it daily
  .github/workflows/udf-doc.yml
Labels: workflow

#2728 docs: update docs version tool
  docs/en/maintain/index.rst
  docs/zh/maintain/index.rst
  steps/upgrade_docs_version.sh
Labels: documentation

#2720 fix: create index with db
  src/cmd/sql_cmd_test.cc
  src/sdk/sql_cluster_router.cc
Labels: storage-engine

#2732 feat(sql): support show joblog xxx
  cases/plan/cmd.yaml
  docker/Dockerfile
  hybridse/include/node/node_enum.h
  hybridse/src/node/sql_node.cc
  hybridse/src/planv2/ast_node_converter.cc
  third-party/cmake/FetchZetasql.cmake
Labels: build, docker, execute-engine

#2731 fix: must_read doc and byzer notebook cell
  demo/byzer-taxi/openmldb_byzer_taxi.bznb
  docs/zh/quickstart/beginner_must_read.md
  docs/zh/quickstart/index.rst
Labels: documentation, docker

#2558 docs: go sdk
  docs/en/quickstart/go_sdk.md
  docs/en/quickstart/index.rst
  docs/zh/quickstart/go_sdk.md
  docs/zh/quickstart/index.rst
Labels: documentation
