Repository 4paradigm/OpenMLDB, pull requests merged in 2022-08, with the labels that each got.

#2254 docs: fix date and time type
  docs/en/reference/sql/data_types/date_and_time_types.md
  docs/zh/reference/sql/data_types/date_and_time_types.md
Labels: documentation

#2247 docs: fix java sdk in quickstart
  docs/en/quickstart/java_sdk.md
  docs/zh/quickstart/java_sdk.md
Labels: documentation

#2278 fix(#2211): disable window merge for rows/rows_range window if both
  cases/function/window/window_attributes.yaml
  hybridse/src/node/sql_node.cc
Labels: execute-engine

#2286 build: bump code version to 0.6.0
  CMakeLists.txt
  java/hybridse-native/pom.xml
  java/hybridse-proto/pom.xml
  java/hybridse-sdk/pom.xml
  java/openmldb-batch/pom.xml
  java/openmldb-batchjob/pom.xml
  java/openmldb-common/pom.xml
  java/openmldb-jdbc/pom.xml
  java/openmldb-native/pom.xml
  java/openmldb-spark-connector/pom.xml
  java/openmldb-taskmanager/pom.xml
  java/pom.xml
  python/setup.py
  steps/prepare_release.sh
Labels: build, batch-engine, sdk, task-manager

#2052 fix: `MemTableWindowIterator::Seek` has not set `record_idx_` properly
  src/storage/disk_table.cc
  src/storage/mem_table.cc
  src/storage/mem_table.h
  src/storage/table_iterator_test.cc
  src/storage/window_iterator.cc
  src/storage/window_iterator.h
Labels: storage-engine

#2288 fix: fix delete sql bugs
  hybridse/include/node/sql_node.h
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/planv2/ast_node_converter_test.cc
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/DeletePreparedStatementImpl.java
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/StatementTest.java
  src/codec/codec.cc
  src/codec/codec.h
  src/schema/schema_adapter.cc
  src/schema/schema_adapter.h
  src/sdk/node_adapter.cc
  src/sdk/node_adapter.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_delete_row.cc
  src/sdk/sql_delete_row.h
  src/sdk/sql_insert_row.cc
Labels: sdk, execute-engine, storage-engine

#2291 docs: fixed sql syntax errors in sql/dml/insert
  docs/en/reference/sql/dml/INSERT_STATEMENT.md
  docs/zh/reference/sql/dml/INSERT_STATEMENT.md
Labels: documentation

#2260 docs: update deployment docs
  docs/en/reference/sql/deployment_manage/DEPLOY_STATEMENT.md
  docs/zh/reference/sql/deployment_manage/DEPLOY_STATEMENT.md
Labels: documentation

#2231 docs: complete the translation of dql/window
  docs/en/reference/sql/dql/WINDOW_CLAUSE.md
Labels: documentation

#2281 feat: add version cli for taskmanger
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/impl/TaskManagerImpl.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/utils/VersionCli.java
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/util/VersionUtil.scala
  java/openmldb-taskmanager/src/test/scala/com/_4paradigm/openmldb/taskmanager/util/TestVersionUtil.scala
Labels: task-manager

#2259 fix: upgrade version of lombok and support jdk 10+
  java/hybridse-sdk/pom.xml
  java/openmldb-jdbc/pom.xml
Labels: sdk

#2292 fix: #2235 enable trace
  hybridse/include/sdk/base.h
  src/cmd/sql_cmd.h
  src/sdk/sql_cluster_router.cc
Labels: execute-engine, storage-engine

#2282 feat: apiserver post /refresh
  src/apiserver/api_server_impl.cc
  src/apiserver/api_server_impl.h
Labels: api-server

#2196 docs: updated the table in select_statement and fixed the link in drop_db_statement
  docs/zh/reference/sql/ddl/DROP_DATABASE_STATEMENT.md
  docs/zh/reference/sql/dql/SELECT_STATEMENT.md
Labels: documentation

#2297 docs: added images for exclude_current_row in dql/window
  docs/en/reference/sql/dql/WINDOW_CLAUSE.md
  docs/en/reference/sql/dql/images/window_exclude_current_row.png
  docs/zh/reference/sql/dql/WINDOW_CLAUSE.md
  docs/zh/reference/sql/dql/images/dql_images.pptx
  docs/zh/reference/sql/dql/images/window_exclude_current_row.png
Labels: documentation

#2206 docs: added en version of tutorial/modes
  docs/en/tutorial/images/modes-flow-en.png
  docs/en/tutorial/images/modes-request-en.png
  docs/en/tutorial/index.rst
  docs/en/tutorial/modes.md
Labels: documentation

#2238 docs: improved sql/dql/join in en
  docs/en/reference/sql/dql/JOIN_CLAUSE.md
  docs/en/reference/sql/dql/WINDOW_CLAUSE.md
  docs/zh/reference/sql/dql/JOIN_CLAUSE.md
  docs/zh/reference/sql/dql/SELECT_STATEMENT.md
  docs/zh/reference/sql/dql/WINDOW_CLAUSE.md
Labels: documentation

#2270 docs: improved en version of sql/dql/select_into
  docs/en/reference/sql/dql/SELECT_INTO_STATEMENT.md
  docs/zh/reference/sql/dql/SELECT_INTO_STATEMENT.md
Labels: documentation

#2296 docs: improved en version of sql/select_overview
  docs/en/reference/sql/dql/SELECT_STATEMENT.md
Labels: documentation

#2304 docs: fix udf, rest api, select into and download links
  docs/en/quickstart/rest_api.md
  docs/en/reference/sql/functions_and_operators/Files/udfs_8h.md
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/lightgbm_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/reference/ip_tips.md
  docs/zh/reference/sql/dql/SELECT_INTO_STATEMENT.md
  docs/zh/reference/sql/functions_and_operators/Files/udfs_8h.md
  docs/zh/use_case/dolphinscheduler_task_demo.md
  docs/zh/use_case/kafka_connector_demo.md
  docs/zh/use_case/pulsar_connector_demo.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
  hybridse/src/udf/default_udf_library.cc
Labels: documentation, execute-engine

#2317 docs: added use case of byzer
  docs/zh/use_case/OpenMLDB_Byzer_taxi.md
  docs/zh/use_case/images/Byzer_Notebook.jpg
  docs/zh/use_case/index.rst
Labels: documentation

#2321 fix: pre-aggr table indexing schema
  src/sdk/sql_cluster_router.cc
  src/storage/aggregator.cc
  src/storage/aggregator.h
  src/storage/aggregator_test.cc
  src/tablet/tablet_impl_test.cc
Labels: storage-engine

#2257 docs: add delete doc
  docs/en/quickstart/java_sdk.md
  docs/en/reference/sql/dml/DELETE_STATEMENT.md
  docs/en/reference/sql/dml/index.rst
  docs/zh/quickstart/java_sdk.md
  docs/zh/reference/sql/dml/DELETE_STATEMENT.md
  docs/zh/reference/sql/dml/index.rst
Labels: documentation

#2255 feat(long window): support *_where in sql engine
  hybridse/examples/toydb/src/tablet/tablet_catalog.h
  hybridse/include/node/sql_node.h
  hybridse/include/vm/catalog.h
  hybridse/include/vm/physical_op.h
  hybridse/include/vm/simple_catalog.h
  hybridse/src/passes/physical/long_window_optimized.cc
  hybridse/src/passes/physical/long_window_optimized.h
  hybridse/src/testing/test_base.cc
  hybridse/src/vm/aggregator.h
  hybridse/src/vm/internal/eval.cc
  hybridse/src/vm/internal/eval.h
  hybridse/src/vm/runner.cc
  hybridse/src/vm/runner.h
  hybridse/src/vm/schemas_context.cc
  hybridse/src/vm/simple_catalog.cc
  hybridse/src/vm/transform_request_mode_test.cc
  src/base/ddl_parser.cc
  src/base/ddl_parser_test.cc
  src/catalog/tablet_catalog.cc
  src/catalog/tablet_catalog.h
  src/catalog/tablet_catalog_test.cc
  src/cmd/sql_cmd_test.cc
  src/sdk/sql_cluster_router.cc
  src/storage/aggregator.cc
  src/storage/aggregator.h
  src/tablet/tablet_impl.cc
Labels: execute-engine, storage-engine

#2331 docs: update supported ops for long window
  docs/en/reference/sql/deployment_manage/DEPLOY_STATEMENT.md
  docs/zh/reference/sql/deployment_manage/DEPLOY_STATEMENT.md
Labels: documentation

#2333 docs: airflow demo
  docs/zh/use_case/airflow_provider_demo.md
  docs/zh/use_case/images/add_connection.png
  docs/zh/use_case/images/airflow_dag.png
  docs/zh/use_case/images/airflow_login.png
  docs/zh/use_case/images/airflow_test_result.png
  docs/zh/use_case/images/connection.png
  docs/zh/use_case/images/connection_display.png
  docs/zh/use_case/images/connection_settings.png
  docs/zh/use_case/images/dag_code.png
  docs/zh/use_case/images/dag_home.png
  docs/zh/use_case/images/dag_run.png
  docs/zh/use_case/index.rst
Labels: documentation

#2326 docs: add diagnostic tool docs
  docs/en/maintain/diagnose.md
  docs/en/maintain/index.rst
  docs/zh/maintain/diagnose.md
  docs/zh/maintain/index.rst
  docs/zh/reference/sql/dml/DELETE_STATEMENT.md
Labels: documentation

#2329 docs: update changelog for v0.6.0
  CHANGELOG.md
Labels: documentation

#2327 docs: upgrade 0.6.0
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/about/release_notes.md
  docs/en/deploy/install_deploy.md
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/reference/ip_tips.md
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/lightgbm_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/zh/about/release_notes.md
  docs/zh/deploy/install_deploy.md
  docs/zh/quickstart/java_sdk.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/reference/ip_tips.md
  docs/zh/use_case/dolphinscheduler_task_demo.md
  docs/zh/use_case/kafka_connector_demo.md
  docs/zh/use_case/pulsar_connector_demo.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
Labels: documentation, docker

#2289 docs: improved zh version of sql/dml/load
  docs/zh/reference/sql/dml/LOAD_DATA_STATEMENT.md
Labels: documentation

#2299 feat: add diagnostic tool
  .github/workflows/sdk.yml
  .gitignore
  python/openmldb_sdk/openmldb/__init__.py
  python/openmldb_sdk/openmldb/dbapi/__init__.py
  python/openmldb_sdk/openmldb/dbapi/dbapi.py
  python/openmldb_sdk/openmldb/native/__init__.py
  python/openmldb_sdk/openmldb/sdk/__init__.py
  python/openmldb_sdk/openmldb/sdk/sdk.py
  python/openmldb_sdk/openmldb/sql_magic/__init__.py
  python/openmldb_sdk/openmldb/sql_magic/sql_magic.py
  python/openmldb_sdk/openmldb/sqlalchemy_openmldb/__init__.py
  python/openmldb_sdk/openmldb/sqlalchemy_openmldb/openmldb_dialect.py
  python/openmldb_sdk/openmldb/sqlalchemy_openmldb/requirements.py
  python/openmldb_sdk/openmldb/sqlalchemy_test_config
  python/openmldb_sdk/openmldb/test/conftest.py
  python/openmldb_sdk/openmldb/test/sqlalchemy_standardtest_example.py
  python/openmldb_sdk/setup.py
  python/openmldb_sdk/test/case_conf.py
  python/openmldb_sdk/test/dbapi_test.py
  python/openmldb_sdk/test/openmldb_client_test.py
  python/openmldb_sdk/test/sdk_smoke_test.py
  python/openmldb_sdk/test/sql_magic_test.py
  python/openmldb_sdk/test/sqlalchemy_api_test.py
  python/openmldb_tool/diagnostic_tool/README.md
  python/openmldb_tool/diagnostic_tool/__init__.py
  python/openmldb_tool/diagnostic_tool/collector.py
  python/openmldb_tool/diagnostic_tool/conf_option.py
  python/openmldb_tool/diagnostic_tool/conf_validator.py
  python/openmldb_tool/diagnostic_tool/diagnose.py
  python/openmldb_tool/diagnostic_tool/dist_conf.py
  python/openmldb_tool/diagnostic_tool/log_analysis.py
  python/openmldb_tool/diagnostic_tool/server_checker.py
  python/openmldb_tool/diagnostic_tool/util.py
  python/openmldb_tool/setup.py
  python/openmldb_tool/tests/__init__.py
  python/openmldb_tool/tests/cluster_dist.yml
  python/openmldb_tool/tests/dist_conf_reader_test.py
  python/openmldb_tool/tests/standalone_dist.yml
  python/openmldb_tool/tests/test_collector.py
  python/openmldb_tool/tests/work/ns1/conf/nameserver.flags
  python/openmldb_tool/tests/work/ns1/logs/bar.info
  python/openmldb_tool/tests/work/ns1/logs/foo.info.log.3
  python/openmldb_tool/tests/work/ns1/logs/nameserver.info.log.1
  python/openmldb_tool/tests/work/ns1/logs/nameserver.info.log.2
  python/openmldb_tool/tests/work/ns1/logs/nameserver.warn.log.1
  python/openmldb_tool/tests/work/ns1/logs/soft_link.log
  python/openmldb_tool/tests/work/tablet1/conf/tablet.flags
  python/openmldb_tool/tests/work/tablet2/conf/tablet.flags
  python/openmldb_tool/tests/work/taskmanager1/bin/logs/taskmanager.log
  python/openmldb_tool/tests/work/taskmanager1/conf/log4j.properties
  python/openmldb_tool/tests/work/taskmanager1/conf/taskmanager.properties
  python/openmldb_tool/tests/work/taskmanager1/log/job_1_error.log
  src/sdk/CMakeLists.txt
  steps/prepare_release.sh
  steps/test_python.sh
Labels: workflow, build, sdk, storage-engine

#2310 refactor: update TaskManagerClient.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/client/TaskManagerClient.java
Labels: task-manager

#2306 fix: addtid and pid to RollWLogFile log message
  src/replica/log_replicator.cc
Labels: storage-engine

#2336 fix: release openmldb-tool failed
  .github/workflows/sdk.yml
Labels: bug, workflow

#2337 fix: taskmanager start failed
  demo/init.sh
  release/bin/start.sh
Labels: bug, docker

#2305 fix: fix getJobLog comment
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/client/TaskManagerClient.java
Labels: task-manager

#2338 docs: fix the doc version to v0.6
  docs/en/conf.py
  docs/zh/conf.py
Labels: documentation

#2285 docs: add time units to comments & docs of zk (#2021)
  docs/en/deploy/conf.md
  docs/zh/deploy/conf.md
  src/flags.cc
Labels: documentation, storage-engine

#2262 feat: implement function last_day
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
Labels: udf, execute-engine

#2348 docs: fixed indexes, links and translation
  docs/en/conf.py
  docs/en/reference/sql/dql/GROUP_BY_CLAUSE.md
  docs/en/reference/sql/dql/HAVING_CLAUSE.md
  docs/en/reference/sql/dql/JOIN_CLAUSE.md
  docs/en/reference/sql/dql/LIMIT_CLAUSE.md
  docs/en/reference/sql/dql/NO_TABLE_SELECT_CLAUSE.md
  docs/en/reference/sql/dql/SELECT_STATEMENT.md
  docs/en/reference/sql/dql/WINDOW_CLAUSE.md
  docs/zh/conf.py
  docs/zh/reference/sql/ddl/SHOW_COMPONENTS.md
  docs/zh/reference/sql/ddl/SHOW_TABLE_STATUS.md
  docs/zh/reference/sql/dql/JOIN_CLAUSE.md
  docs/zh/reference/sql/dql/NO_TABLE_SELECT_CLAUSE.md
  docs/zh/reference/sql/dql/SELECT_STATEMENT.md
  docs/zh/reference/sql/dql/WINDOW_CLAUSE.md
Labels: documentation

#2316 docs: improved en version of drop_tb, show_tb and drop_index
  docs/en/reference/sql/ddl/DROP_INDEX_STATEMENT.md
  docs/en/reference/sql/ddl/DROP_TABLE_STATEMENT.md
  docs/en/reference/sql/ddl/SHOW_TABLES_STATEMENT.md
  docs/zh/reference/sql/ddl/DROP_INDEX_STATEMENT.md
Labels: documentation

#2324 docs: improved zh and en version of ddl/show_variables
  docs/en/reference/sql/ddl/SHOW_VARIABLES_STATEMENT.md
  docs/zh/reference/sql/ddl/SHOW_VARIABLES_STATEMENT.md
Labels: documentation

#2346 fix: apiserver query resp support no rs
  src/apiserver/api_server_impl.cc
Labels: bug, api-server

#2361 docs: improved zh and en version of sql/tm/stop_job
  docs/en/reference/sql/task_manage/STOP_JOB.md
  docs/zh/reference/sql/task_manage/STOP_JOB.md
Labels: documentation

#2315 docs: improved the en version of ddl/create_db and drop_db
  docs/en/reference/sql/ddl/CREATE_DATABASE_STATEMENT.md
  docs/en/reference/sql/ddl/DROP_DATABASE_STATEMENT.md
  docs/zh/reference/sql/ddl/CREATE_DATABASE_STATEMENT.md
  docs/zh/reference/sql/ddl/DROP_DATABASE_STATEMENT.md
Labels: documentation

#2368 fix: resolve the compile warning of openmldb-batch
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/SparkPlanner.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/DataTypeUtil.scala
Labels: batch-engine

#2187 feat: support the SQL RLIKE expression
  cases/function/expression/test_predicate.yaml
  cases/function/function/test_udf_function.yaml
  hybridse/include/node/node_enum.h
  hybridse/include/node/sql_node.h
  hybridse/src/codegen/expr_ir_builder.cc
  hybridse/src/codegen/expr_ir_builder.h
  hybridse/src/codegen/expr_ir_builder_test.cc
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/node/expr_node.cc
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
  hybridse/src/udf/udf_test.cc
  third-party/cmake/FetchZetasql.cmake
Labels: build, execute-engine

#2355 docs: fixed the links in zh version of select_overview, join, window
  docs/en/conf.py
  docs/en/reference/sql/dql/SELECT_STATEMENT.md
  docs/zh/conf.py
  docs/zh/reference/sql/dql/JOIN_CLAUSE.md
  docs/zh/reference/sql/dql/SELECT_STATEMENT.md
  docs/zh/reference/sql/dql/WINDOW_CLAUSE.md
Labels: documentation

#2328 docs: improved the en and zh version of ddl/set_statement
  docs/en/reference/sql/ddl/SET_STATEMENT.md
  docs/zh/reference/sql/ddl/SET_STATEMENT.md
Labels: documentation

#2373 docs: fix the broken format for a table
  docs/en/reference/sql/ddl/CREATE_TABLE_STATEMENT.md
Labels: documentation

#2360 docs: improved the zh and en version of sql/task_manage/show_job
  docs/en/reference/sql/task_manage/SHOW_JOB.md
  docs/zh/reference/sql/task_manage/SHOW_JOB.md
Labels: documentation

#2300 fix: delete data from associated pre-aggr table
  src/storage/aggregator.cc
  src/storage/aggregator.h
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl_test.cc
Labels: storage-engine

#2370 docs: add doc config spark file encoding
  docs/en/maintain/faq.md
  docs/zh/maintain/faq.md
Labels: documentation

#2354 feat: add talkingdata notebook
  demo/talkingdata-adtracking-fraud-detection/README.md
  demo/talkingdata-adtracking-fraud-detection/train_and_serve.ipynb
  demo/talkingdata-adtracking-fraud-detection/xgboost_train_sample.py
Labels: docker

#2367 docs: window and udf fix
  docs/zh/reference/sql/dql/WINDOW_CLAUSE.md
  hybridse/src/udf/default_defs/window_functions_def.cc
Labels: documentation, execute-engine

#2378 docs: fixed syntax errors and uselss )
  docs/en/reference/sql/ddl/SHOW_VARIABLES_STATEMENT.md
  docs/zh/reference/sql/dml/LOAD_DATA_STATEMENT.md
Labels: documentation

#2380 test: cicd add mail
  .github/workflows/integration-test-src.yml
Labels: workflow

#2352 feat: new and memcpy row for unsaferowopt
  hybridse/src/vm/core_api.cc
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/RowProjectPlan.scala
Labels: batch-engine, execute-engine

#2364 feat: reduce one memory copy for unsaferow window project
  hybridse/src/vm/core_api.cc
  hybridse/src/vm/core_api.h
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/window/WindowComputer.scala
Labels: batch-engine, execute-engine

#2359 feat: add spark log api for offline
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
Labels: batch-engine

#2319 docs: added en version of tutorial/spark and improved the zh version
  docs/en/tutorial/index.rst
  docs/en/tutorial/modes.md
  docs/en/tutorial/openmldbspark_distribution.md
  docs/zh/tutorial/openmldbspark_distribution.md
Labels: documentation

#2350 docs: improved the en version of dml/load_data_infile
  docs/en/reference/sql/dml/LOAD_DATA_STATEMENT.md
Labels: documentation

#2382 docs: more in lag/at
  hybridse/src/udf/default_defs/window_functions_def.cc
Labels: execute-engine

#2384 fix: openmldb-import curator version and docs
  docs/zh/tutorial/data_import.md
  java/openmldb-import/pom.xml
  java/openmldb-import/src/main/java/com/_4paradigm/openmldb/importer/Importer.java
Labels: documentation

#2387 docs: add `BOOL` to create table docs
  docs/en/reference/sql/ddl/CREATE_TABLE_STATEMENT.md
  docs/zh/reference/sql/ddl/CREATE_TABLE_STATEMENT.md
Labels: documentation

#2372 fix(openmldb-exporter): handle error during collecting metrics
  monitoring/openmldb_exporter/collector/collectors.py
  monitoring/openmldb_exporter/exporter.py
  monitoring/poetry.lock
  monitoring/pyproject.toml
  pylintrc
Labels: monitoring

#2375 docs: rewrite ip tips and some fix
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/reference/ip_tips.md
  docs/zh/reference/sql/dql/SELECT_STATEMENT.md
Labels: documentation

#2371 feat: support rpc request timeout in CLI and Python SDK
  docs/en/maintain/faq.md
  docs/zh/developer/sdk_develop.md
  docs/zh/maintain/faq.md
  python/openmldb_sdk/openmldb/dbapi/dbapi.py
  python/openmldb_sdk/openmldb/sdk/sdk.py
  python/openmldb_sdk/openmldb/sqlalchemy_openmldb/openmldb_dialect.py
  python/openmldb_sdk/test/case_conf.py
  python/openmldb_sdk/test/dbapi_test.py
  python/openmldb_sdk/test/sdk_smoke_test.py
  python/openmldb_sdk/test/sqlalchemy_api_test.py
  src/cmd/sql_cmd.h
  src/flags.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_router.h
Labels: documentation, sdk, storage-engine

#2391 refactor: remove the prefix `k` from the type of `SHOW DEPLOYMENT`
  src/cmd/display.h
Labels: storage-engine

#2392 refactor: removed duplicated compile_proto
  src/CMakeLists.txt
Labels: build, storage-engine

#2395 docs: fixed jd usecase index
  docs/en/use_case/index.rst
  docs/zh/use_case/index.rst
Labels: documentation

#2398 docs: try to fixed en index of jd use case
  docs/en/use_case/JD_recommendation_en.md
  docs/en/use_case/index.rst
  docs/en/use_case/lightgbm_demo.md
Labels: documentation

#2363 chore(release): use conventional-changelog-cli to generate changelog
  package-lock.json
  package.json
Labels: code-standards

#2379 docs(udf): how to generate udf documents (udfs_8h.md)
  Makefile
  docs/en/reference/sql/functions_and_operators/Files/udfs_8h.md
  docs/zh/reference/sql/functions_and_operators/Files/udfs_8h.md
  hybridse/.gitignore
  hybridse/src/udf/default_defs/window_functions_def.cc
  hybridse/src/udf/default_udf_library.cc
  hybridse/tools/documentation/udf_doxygen/Makefile
  hybridse/tools/documentation/udf_doxygen/README.md
  hybridse/tools/documentation/udf_doxygen/export_udf_doc.py
  hybridse/tools/documentation/udf_doxygen/poetry.lock
  hybridse/tools/documentation/udf_doxygen/pyproject.toml
Labels: documentation, build, execute-engine

#2403 docs: add entries of use cases to readme
  README.md
  README_cn.md
Labels: documentation

#2394 docs: rm `k` prefix from the result of `show deployment`
  docs/en/reference/sql/deployment_manage/DEPLOY_STATEMENT.md
  docs/en/reference/sql/deployment_manage/SHOW_DEPLOYMENT.md
  docs/zh/reference/sql/deployment_manage/DEPLOY_STATEMENT.md
  docs/zh/reference/sql/deployment_manage/SHOW_DEPLOYMENT.md
Labels: documentation

#2400 docs: add button to help & use Gitpod for new contributors
  README.md
Labels: documentation

#2405 refactor: remove Get method from Segment class
  src/storage/segment.cc
  src/storage/segment.h
  src/storage/segment_test.cc
Labels: storage-engine

#2407 docs: upgrade 0.6.1
  CHANGELOG.md
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/about/release_notes.md
  docs/en/deploy/install_deploy.md
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/reference/ip_tips.md
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/lightgbm_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/zh/about/release_notes.md
  docs/zh/deploy/install_deploy.md
  docs/zh/quickstart/java_sdk.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/reference/ip_tips.md
  docs/zh/use_case/airflow_provider_demo.md
  docs/zh/use_case/dolphinscheduler_task_demo.md
  docs/zh/use_case/kafka_connector_demo.md
  docs/zh/use_case/pulsar_connector_demo.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
  steps/upgrade_docs_version.sh
Labels: documentation, docker

#2406 feat(docs): build documents with sphinx
  .github/workflows/doc.yml
  docs/.gitignore
  docs/Makefile
  docs/README.md
  docs/en/conf.py
  docs/environment.yml
  docs/poetry.lock
  docs/pyproject.toml
  docs/zh/conf.py
Labels: documentation, workflow
