Repository 4paradigm/OpenMLDB, pull requests merged in 2023-10, with the labels that each got.

#3499 feat(udf): support `datediff` dates before 1900
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
Labels: execute-engine

#3517 docs: update version
  CMakeLists.txt
  demo/Dockerfile
  java/hybridse-native/pom.xml
  java/hybridse-proto/pom.xml
  java/hybridse-sdk/pom.xml
  java/openmldb-batch/pom.xml
  java/openmldb-batchjob/pom.xml
  java/openmldb-common/pom.xml
  java/openmldb-jdbc/pom.xml
  java/openmldb-native/pom.xml
  java/openmldb-spark-connector/pom.xml
  java/openmldb-synctool/pom.xml
  java/openmldb-taskmanager/pom.xml
  java/pom.xml
  python/openmldb_sdk/setup.py
  python/openmldb_tool/setup.py
  test/integration-test/openmldb-test-python/install.sh
Labels: build, docker, batch-engine, sdk, task-manager

#3492 build: thirdparty parallel compile option & fix centos6 build
  .github/workflows/other-os-build.yml
  Makefile
  docs/zh/deploy/compile.md
  steps/centos6_build.sh
Labels: documentation, workflow, build

#3520 fix: add deploy bias on demo and docs
  demo/byzer-taxi/openmldb_byzer_taxi.bznb
  demo/java_quickstart/demo/src/main/java/com/openmldb/demo/App.java
  demo/jd-recommendation/sql_scripts/deploy.sql
  demo/predict-taxi-trip-duration/README.md
  demo/predict-taxi-trip-duration/script/taxi.sql
  demo/talkingdata-adtracking-fraud-detection/train_and_serve.ipynb
  demo/talkingdata-adtracking-fraud-detection/train_and_serve.py
  docs/en/use_case/lightgbm_demo.md
  docs/zh/integration/deploy_integration/OpenMLDB_Byzer_taxi.md
  docs/zh/openmldb_sql/deployment_manage/DEPLOY_STATEMENT.md
  docs/zh/quickstart/sdk/java_sdk.md
  docs/zh/use_case/JD_recommendation.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
Labels: documentation, docker

#3467 docs: change_for_airflow_provider_demo_of_integration_folder
  docs/en/integration/deploy_integration/airflow_provider_demo.md
  docs/en/integration/deploy_integration/images/add_connection.png
  docs/en/integration/deploy_integration/images/airflow_dag.png
  docs/en/integration/deploy_integration/images/airflow_login.png
  docs/en/integration/deploy_integration/images/airflow_test_result.png
  docs/en/integration/deploy_integration/images/connection.png
  docs/en/integration/deploy_integration/images/connection_display.png
  docs/en/integration/deploy_integration/images/connection_settings.png
  docs/en/integration/deploy_integration/images/dag_code.png
  docs/en/integration/deploy_integration/images/dag_home.png
  docs/en/integration/deploy_integration/images/dag_run.png
  docs/zh/integration/deploy_integration/airflow_provider_demo.md
Labels: documentation

#3468 docs: change_for_dolphinscheduler_task_demo_of_integration_folder
  docs/en/integration/deploy_integration/dolphinscheduler_task_demo.md
  docs/en/integration/deploy_integration/images/ds_bind_status.png
  docs/en/integration/deploy_integration/images/ds_bind_tenant.png
  docs/en/integration/deploy_integration/images/ds_create_project.png
  docs/en/integration/deploy_integration/images/ds_create_tenant.png
  docs/en/integration/deploy_integration/images/ds_import_workflow.png
  docs/en/integration/deploy_integration/images/ds_predict.png
  docs/en/integration/deploy_integration/images/ds_project.png
  docs/en/integration/deploy_integration/images/ds_run.png
  docs/en/integration/deploy_integration/images/ds_run_status.png
  docs/en/integration/deploy_integration/images/ds_set_tenant.png
  docs/en/integration/deploy_integration/images/ds_switch.png
  docs/en/integration/deploy_integration/images/ds_switch_right.png
  docs/en/integration/deploy_integration/images/ds_workflow_detail.png
  docs/en/integration/deploy_integration/images/ds_workflow_list.png
  docs/en/integration/deploy_integration/images/ecosystem.png
  docs/en/integration/deploy_integration/images/task_func.png
  docs/zh/integration/deploy_integration/dolphinscheduler_task_demo.md
Labels: documentation

#3535 docs: update-quickstart-folder
  docs/en/quickstart/beginner_must_read.md
  docs/en/quickstart/cli.md
  docs/en/quickstart/function_boundary.md
  docs/en/quickstart/index.rst
  docs/zh/quickstart/beginner_must_read.md
  docs/zh/quickstart/function_boundary.md
Labels: documentation

#3485 docs: change_for_index_file_of_integration_folder
  docs/en/integration/deploy_integration/index.rst
  docs/en/integration/develop/index.rst
  docs/en/integration/index.rst
  docs/en/integration/online_datasources/index.rst
Labels: documentation

#3523 docs: add case when desc
  docs/zh/openmldb_sql/functions_and_operators/operators.md
Labels: documentation

#3478 docs: change_for_status_and_index_of_maintain_folder
  docs/en/maintain/images/showtablestatus.png
  docs/en/maintain/index.rst
  docs/en/maintain/status.md
Labels: documentation

#3472 docs: change_for_jupyter_notebook_of_integration_develop_folder
  docs/en/integration/develop/images/muti.png
  docs/en/integration/develop/images/single.png
  docs/en/integration/develop/images/support_function.png
  docs/en/integration/develop/jupyter_notebook.md
Labels: documentation

#3415 build(brpc): upgrade to apache/brpc 1.6.0
  third-party/cmake/FetchBrpc.cmake
  third-party/patches/brpc-1.6.0-2235.patch
  third-party/patches/brpc-1.6.0.patch
Labels: build

#3533 feat(sql): lazy last join
  .gitignore
  cases/query/last_join_query.yaml
  cases/query/last_join_where.yaml
  cases/query/last_join_window_query.yaml
  hybridse/examples/toydb/src/testing/toydb_engine_test.cc
  hybridse/include/node/node_manager.h
  hybridse/include/node/sql_node.h
  hybridse/include/passes/expression/expr_pass.h
  hybridse/include/vm/engine.h
  hybridse/include/vm/physical_op.h
  hybridse/include/vm/schemas_context.h
  hybridse/src/node/node_manager.cc
  hybridse/src/passes/physical/cluster_optimized.cc
  hybridse/src/passes/physical/group_and_sort_optimized.cc
  hybridse/src/passes/physical/group_and_sort_optimized.h
  hybridse/src/vm/engine.cc
  hybridse/src/vm/generator.cc
  hybridse/src/vm/generator.h
  hybridse/src/vm/internal/node_helper.cc
  hybridse/src/vm/internal/node_helper.h
  hybridse/src/vm/runner.cc
  hybridse/src/vm/runner.h
  hybridse/src/vm/schemas_context.cc
  hybridse/src/vm/transform.cc
  hybridse/src/vm/transform.h
Labels: execute-engine

#3500 feat: support show create table
  cases/plan/cmd.yaml
  docs/en/reference/sql/ddl/SHOW_CREATE_TABLE_STATEMENT.md
  docs/en/reference/sql/ddl/index.rst
  docs/zh/openmldb_sql/ddl/SHOW_CREATE_TABLE_STATEMENT.md
  docs/zh/openmldb_sql/ddl/index.rst
  hybridse/include/node/node_enum.h
  hybridse/src/node/sql_node.cc
  hybridse/src/planv2/ast_node_converter.cc
  src/sdk/CMakeLists.txt
  src/sdk/sdk_util.cc
  src/sdk/sdk_util.h
  src/sdk/sdk_util_test.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_test.cc
  third-party/cmake/FetchZetasql.cmake
Labels: documentation, build, execute-engine, storage-engine

#3556 ci: reduce disk usage for java jobs
  .github/workflows/sdk.yml
  java/pom.xml
Labels: workflow

#3480 docs: remove the export tool doc from the maintain folder (en)
  docs/en/maintain/data_export.md
Labels: documentation

#3487 docs: update_workflow_of_quickstart_concepts_folder
  docs/en/quickstart/concepts/images/modes-request.png
Labels: documentation

#3537 docs: update-quickstart-sdk-folder
  docs/en/deploy/compile.md
  docs/en/quickstart/sdk/cpp_sdk.md
  docs/en/quickstart/sdk/cxx_sdk.md
  docs/en/quickstart/sdk/go_sdk.md
  docs/en/quickstart/sdk/index.rst
  docs/en/quickstart/sdk/java_sdk.md
  docs/en/quickstart/sdk/python_sdk.md
  docs/en/quickstart/sdk/rest_api.md
Labels: documentation

#3547 refactor(codegen): null safe for struct ir builder
  cases/query/const_query.yaml
  hybridse/src/codegen/array_ir_builder.cc
  hybridse/src/codegen/array_ir_builder.h
  hybridse/src/codegen/cast_expr_ir_builder.cc
  hybridse/src/codegen/cast_expr_ir_builder.h
  hybridse/src/codegen/date_ir_builder.cc
  hybridse/src/codegen/date_ir_builder.h
  hybridse/src/codegen/expr_ir_builder.cc
  hybridse/src/codegen/ir_base_builder.cc
  hybridse/src/codegen/native_value.h
  hybridse/src/codegen/string_ir_builder.cc
  hybridse/src/codegen/string_ir_builder.h
  hybridse/src/codegen/struct_ir_builder.cc
  hybridse/src/codegen/struct_ir_builder.h
  hybridse/src/codegen/timestamp_ir_builder.cc
  hybridse/src/codegen/type_ir_builder.cc
  hybridse/src/codegen/type_ir_builder.h
  hybridse/src/udf/default_udf_library.cc
Labels: execute-engine

#3557 build: upgrade thirdparty to 0.6.0
  Makefile
  docker/Dockerfile
  src/nameserver/name_server_impl.h
  src/sdk/mini_cluster.h
  third-party/CMakeLists.txt
Labels: build, docker, storage-engine

#3536 docs: update-quickstart-concepts-folder
  docs/en/quickstart/concepts/images/modes-flow.png
  docs/en/quickstart/concepts/index.rst
  docs/en/quickstart/concepts/modes.md
Labels: documentation

#3559 feat: full inspect
  docs/zh/maintain/diagnose.md
  docs/zh/quickstart/beginner_must_read.md
  python/openmldb_tool/README.md
  python/openmldb_tool/diagnostic_tool/diagnose.py
  python/openmldb_tool/diagnostic_tool/inspect.py
  python/openmldb_tool/diagnostic_tool/pb.py
  python/openmldb_tool/diagnostic_tool/rpc.py
  python/openmldb_tool/diagnostic_tool/table_checker.py
  python/openmldb_tool/setup.py
  python/openmldb_tool/tests/inspect_test.py
  src/proto/tablet.proto
Labels: documentation, sdk, storage-engine

#3567 fix: the output index number of `DESC` command is incorrect
  src/cmd/display.h
Labels: storage-engine
