Repository 4paradigm/OpenMLDB, pull requests merged in 2023-03, with the labels that each got.

#3113 docs: update hive and create table like doc
  docs/en/reference/sql/ddl/CREATE_TABLE_STATEMENT.md
  docs/zh/integration/offline_data_sources/hive.md
  docs/zh/openmldb_sql/ddl/CREATE_TABLE_STATEMENT.md
Labels: documentation

#3115 feat: add config and print openmldb version by default
  java/openmldb-batch/src/main/java/com/_4paradigm/openmldb/batch/utils/VersionCli.java
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/OpenmldbBatchConfig.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
Labels: batch-engine

#3106 feat: diag tool supports sub commands and hosts & refactor
  demo/Dockerfile
  demo/README.md
  demo/cluster_dist.yml
  demo/docker-compose.test.yml
  demo/jd-recommendation/sql_scripts/deploy.sql
  demo/job_checker.py
  docs/zh/developer/python_dev.md
  docs/zh/maintain/diagnose.md
  docs/zh/quickstart/sdk/java_sdk.md
  hybridse/src/proto/fe_common.proto
  python/openmldb_sdk/openmldb/sdk/sdk.py
  python/openmldb_tool/README.md
  python/openmldb_tool/diagnostic_tool/collector.py
  python/openmldb_tool/diagnostic_tool/conf_option.py
  python/openmldb_tool/diagnostic_tool/conf_validator.py
  python/openmldb_tool/diagnostic_tool/connector.py
  python/openmldb_tool/diagnostic_tool/diagnose.py
  python/openmldb_tool/diagnostic_tool/dist_conf.py
  python/openmldb_tool/diagnostic_tool/log_analysis.py
  python/openmldb_tool/diagnostic_tool/log_analyzer.py
  python/openmldb_tool/diagnostic_tool/server_checker.py
  python/openmldb_tool/diagnostic_tool/util.py
  python/openmldb_tool/setup.py
  python/openmldb_tool/tests/case_conf.py
  python/openmldb_tool/tests/cluster_dist.yml
  python/openmldb_tool/tests/cmd_test.py
  python/openmldb_tool/tests/collector_test.py
  python/openmldb_tool/tests/conf_validator_test.py
  python/openmldb_tool/tests/dist_conf_test.py
  python/openmldb_tool/tests/hosts
  python/openmldb_tool/tests/sbin_test/tmp/openmldb/tablet-1/conf/tablet.flags
  python/openmldb_tool/tests/sbin_test/tmp/openmldb/tablet-2/conf/tablet.flags
  python/openmldb_tool/tests/sbin_test/work/openmldb/conf/apiserver.flags
  python/openmldb_tool/tests/sbin_test/work/openmldb/conf/nameserver.flags
  python/openmldb_tool/tests/sbin_test/work/openmldb/conf/openmldb-env.sh
  python/openmldb_tool/tests/sbin_test/work/openmldb/conf/spark_conf.ini
  python/openmldb_tool/tests/sbin_test/work/openmldb/conf/taskmanager.properties
  python/openmldb_tool/tests/sbin_test/work/openmldb/taskmanager/conf/log4j.properties
  python/openmldb_tool/tests/sbin_test/work/openmldb/taskmanager/conf/taskmanager.properties
  python/openmldb_tool/tests/server_checker_test.py
  python/openmldb_tool/tests/static_check_test.py
  src/client/taskmanager_client.cc
  src/sdk/sql_cluster_router.cc
  test/integration-test/openmldb-test-java/openmldb-sdk-test/src/test/java/com/_4paradigm/openmldb/java_sdk_test/performance/Demo.java
Labels: documentation, docker, sdk, execute-engine, storage-engine

#3111 docs: difference between openmldb sql and standard sql
  docs/zh/openmldb_sql/image/difference.png
  docs/zh/openmldb_sql/index.rst
  docs/zh/openmldb_sql/sql_difference.md
Labels: documentation

#3116 feat: select into supports dataframe with schema but no data
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/SelectIntoPlan.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestSelectInto.scala
Labels: batch-engine

#3112 feat: get job fail status for show job commands
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
Labels: storage-engine

#3117 fix(#3087): correct schema for asterisk project over multiple join
  cases/function/cluster/window_and_lastjoin.yaml
  cases/query/simple_query.yaml
  hybridse/src/vm/schemas_context.cc
Labels: execute-engine

#3093 docs: add core_data_structure.md to arch file
  docs/zh/reference/arch/core_data_structure.md
  docs/zh/reference/arch/images/core_data_structure/1.png
  docs/zh/reference/arch/images/core_data_structure/2.png
  docs/zh/reference/arch/images/core_data_structure/3.png
  docs/zh/reference/arch/images/core_data_structure/4.png
  docs/zh/reference/arch/images/core_data_structure/5.png
  docs/zh/reference/arch/images/core_data_structure/6.png
  docs/zh/reference/arch/index.rst
Labels: documentation

#2993 docs: polish taxi_tour_duration_prediction.md
  docs/zh/about/intro.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/use_case/JD_recommendation.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
Labels: documentation

#3105 docs: add CLI doc
  docs/en/maintain/faq.md
  docs/zh/maintain/faq.md
  docs/zh/quickstart/cli.md
  docs/zh/quickstart/index.rst
  docs/zh/reference/client_config/client_spark_config.md
  src/cmd/sql_cmd.h
Labels: documentation, storage-engine

#2818 feat(udf)!: deprecate functions `fz_{fn}`
  cases/debug/diff-debug-ttgwm.yaml
  cases/debug/diff-debug-ttgwm2.yaml
  cases/debug/diff-debug-ttgwm3.yaml
  cases/function/function/test_udaf_function.yaml
  cases/function/fz_ddl/test_bank.yaml
  cases/function/fz_ddl/test_luoji.yaml
  cases/function/spark/test_ads.yaml
  cases/function/spark/test_credit.yaml
  cases/function/spark/test_fqz_studio.yaml
  cases/function/spark/test_jd.yaml
  cases/function/spark/test_news.yaml
  cases/function/test_feature_zero_function.yaml
  cases/function/test_fz_sql.yaml
  cases/integration_test/function/test_udaf_function.yaml
  cases/integration_test/fz_ddl/test_bank.yaml
  cases/integration_test/fz_ddl/test_luoji.yaml
  cases/integration_test/spark/test_ads.yaml
  cases/integration_test/spark/test_credit.yaml
  cases/integration_test/spark/test_fqz_studio.yaml
  cases/integration_test/spark/test_jd.yaml
  cases/integration_test/spark/test_news.yaml
  cases/integration_test/test_feature_zero_function.yaml
  cases/integration_test/test_fz_sql.yaml
  cases/usecase/autox.yaml
  demo/jd-recommendation/data/openmldb_sql.txt
  demo/jd-recommendation/sql_scripts/deploy.sql
  demo/jd-recommendation/sql_scripts/sync_select_out.sql
  hybridse/examples/toydb/src/bm/engine_bm_case.cc
  hybridse/src/passes/expression/merge_aggregations_test.cc
  hybridse/src/passes/expression/window_iter_analysis_test.cc
  hybridse/src/udf/default_defs/feature_zero_def.cc
  java/openmldb-batch/src/test/resources/ddl/batch_request100680.txt
  java/openmldb-batch/src/test/resources/ddl/constant_column.txt
  java/openmldb-batch/src/test/resources/ddl/failed/all_op.txt
  java/openmldb-batch/src/test/resources/ddl/failed/timestamp2date.txt
  java/openmldb-batch/src/test/resources/ddl/gg_studio.txt
  java/openmldb-batch/src/test/resources/ddl/only_one.txt
  java/openmldb-batch/src/test/resources/ddl/rong_e.txt
  java/openmldb-batch/src/test/resources/ddl/ut/duplicate_col.txt
Labels: execute-engine

#3114 docs: update install docs
  docs/en/deploy/install_deploy.md
  docs/zh/deploy/install_deploy.md
Labels: documentation

#3123 fix!: test break by `fn_{fn} -> {fn}` breaking change
  cases/function/test_feature_zero_function.yaml
  cases/function/test_fz_sql.yaml
  cases/integration_test/test_feature_zero_function.yaml
  cases/integration_test/test_fz_sql.yaml
  docs/en/tutorial/tutorial_sql_1.md
  docs/en/use_case/JD_recommendation_en.md
  docs/zh/tutorial/tutorial_sql_1.md
  docs/zh/use_case/JD_recommendation.md
Labels: documentation

#2999 refactor: rename pk and remove the traverse limit by default
  docs/en/deploy/conf.md
  docs/en/tutorial/modes.md
  docs/zh/deploy/conf.md
  docs/zh/quickstart/concepts/modes.md
  docs/zh/quickstart/sdk/java_sdk.md
  release/conf/tablet.flags.template
  src/catalog/distribute_iterator.cc
  src/catalog/distribute_iterator_test.cc
  src/flags.cc
  src/storage/disk_table.cc
  src/storage/mem_table.cc
  src/tablet/tablet_impl.cc
Labels: documentation, storage-engine

#3122 refactor: agg window warning messages change
  hybridse/src/vm/runner.cc
Labels: execute-engine

#3119 docs: fix the picture
  docs/zh/reference/arch/images/core_data_structure/2.png
Labels: documentation

#3125 docs: fix java sdk explaination
  docs/zh/quickstart/sdk/java_sdk.md
Labels: documentation

#3118 feat: add cases for taskmanger jobs
  java/openmldb-taskmanager/pom.xml
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/impl/TaskManagerImpl.java
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/OpenmldbBatchjobManager.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/util/BatchJobUtil.scala
  java/openmldb-taskmanager/src/test/resources/c1_table.csv
  java/openmldb-taskmanager/src/test/resources/openmldb-batchjob-0.7.0-SNAPSHOT.jar
  java/openmldb-taskmanager/src/test/scala/com/_4paradigm/openmldb/taskmanager/server/impl/TestTaskManagerImpl.scala
  src/proto/taskmanager.proto
Labels: storage-engine, task-manager

#3128 docs: fix openmldb sql summary doc
  docs/zh/openmldb_sql/dql/WITH_CLAUSE.md
  docs/zh/openmldb_sql/sql_difference.md
Labels: documentation

#3141 feat(udf doc gen): one udf doc fix and udf generate title
  hybridse/src/udf/default_defs/feature_zero_def.cc
  hybridse/tools/documentation/udf_doxygen/patch_markdown.sh
Labels: execute-engine

#3120 docs: how to setup/upgrade yarn and auth in hive
  docs/zh/deploy/conf.md
  docs/zh/integration/offline_data_sources/hive.md
  docs/zh/maintain/upgrade.md
Labels: documentation

#3142 feat: use script to set node env
  docs/en/deploy/install_deploy.md
  docs/zh/deploy/install_deploy.md
  release/sbin/init_env.sh
Labels: documentation

#3150 feat(udf doc): fix topn_frequency & top1_ratio
  hybridse/src/udf/default_defs/feature_zero_def.cc
Labels: execute-engine

#3143 feat: update start script of demo
  demo/jd-recommendation/serving/start_predict_server.sh
  demo/predict-taxi-trip-duration/script/start_predict_server.sh
Labels: docker

#2825 feat: support external udaf function
  docs/en/developer/udf_develop_guide.md
  docs/en/reference/sql/ddl/CREATE_FUNCTION.md
  docs/zh/openmldb_sql/ddl/CREATE_FUNCTION.md
  docs/zh/tutorial/udf_develop_guide.md
  hybridse/include/node/node_enum.h
  hybridse/include/vm/engine.h
  hybridse/src/codegen/ir_base_builder.cc
  hybridse/src/codegen/type_ir_builder.cc
  hybridse/src/node/sql_node.cc
  hybridse/src/planv2/planner_v2_test.cc
  hybridse/src/udf/dynamic_lib_manager.cc
  hybridse/src/udf/dynamic_lib_manager.h
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
  hybridse/src/udf/udf_library.cc
  hybridse/src/udf/udf_library.h
  hybridse/src/udf/udf_registry.cc
  hybridse/src/udf/udf_registry.h
  hybridse/src/vm/engine.cc
  hybridse/src/vm/engine_compile_test.cc
  include/udf/openmldb_udf.h
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/SparkPlanner.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/ExternalUdfUtil.scala
  src/cmd/single_tablet_test.cc
  src/examples/test_udf.cc
  src/proto/common.proto
  src/sdk/db_sdk.cc
  src/sdk/sql_cluster_router.cc
  src/tablet/tablet_impl.cc
Labels: documentation, batch-engine, execute-engine, storage-engine

#3126 docs: update sql docs
  docs/en/reference/sql/dml/DELETE_STATEMENT.md
  docs/en/reference/sql/dml/INSERT_STATEMENT.md
  docs/zh/openmldb_sql/dml/DELETE_STATEMENT.md
  docs/zh/openmldb_sql/dml/INSERT_STATEMENT.md
Labels: documentation

#3156 docs: update 0.7.3 docs
  CHANGELOG.md
  demo/java_quickstart/demo/pom.xml
  demo/jd-recommendation/README.md
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/deploy/compile.md
  docs/en/deploy/install_deploy.md
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/reference/ip_tips.md
  docs/en/use_case/JD_recommendation_en.md
  docs/en/use_case/airflow_provider_demo.md
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/lightgbm_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/en/use_case/talkingdata_demo.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/install_deploy.md
  docs/zh/integration/deploy_integration/OpenMLDB_Byzer_taxi.md
  docs/zh/integration/deploy_integration/airflow_provider_demo.md
  docs/zh/integration/deploy_integration/dolphinscheduler_task_demo.md
  docs/zh/integration/online_datasources/kafka_connector_demo.md
  docs/zh/integration/online_datasources/pulsar_connector_demo.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/quickstart/sdk/java_sdk.md
  docs/zh/reference/ip_tips.md
  docs/zh/tutorial/standalone_use.md
  docs/zh/use_case/JD_recommendation.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
  release/conf/openmldb-env.sh
Labels: documentation, docker

#3160 docs: update the publication list
  README.md
  README_cn.md
  docs/paper/pmem_vldb2021.pdf
  docs/paper/scale_oij_icde2023.pdf
  docs/paper/tsfe_cikm2022.pdf
Labels: documentation

#3155 docs: upgrade 0.7.3
  CHANGELOG.md
  demo/java_quickstart/demo/pom.xml
  demo/jd-recommendation/README.md
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/deploy/compile.md
  docs/en/deploy/install_deploy.md
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/reference/ip_tips.md
  docs/en/use_case/JD_recommendation_en.md
  docs/en/use_case/airflow_provider_demo.md
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/lightgbm_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/en/use_case/talkingdata_demo.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/install_deploy.md
  docs/zh/integration/deploy_integration/OpenMLDB_Byzer_taxi.md
  docs/zh/integration/deploy_integration/airflow_provider_demo.md
  docs/zh/integration/deploy_integration/dolphinscheduler_task_demo.md
  docs/zh/integration/online_datasources/kafka_connector_demo.md
  docs/zh/integration/online_datasources/pulsar_connector_demo.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/quickstart/sdk/java_sdk.md
  docs/zh/reference/ip_tips.md
  docs/zh/tutorial/standalone_use.md
  docs/zh/use_case/JD_recommendation.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
  release/conf/openmldb-env.sh
Labels: documentation, docker

#3162 build(docs): set poetry's installer.modern-installation to false
  docs/poetry.toml
Labels: documentation

#3161 feat: upgrade docker version
  demo/Dockerfile
Labels: docker

#3153 test: add tool case
  .github/workflows/openmldb-tool.yml
  release/conf/openmldb-env.sh
  release/sbin/clear-all.sh
  release/sbin/stop-apiservers.sh
  release/sbin/stop-nameservers.sh
  release/sbin/stop-tablets.sh
  release/sbin/stop-taskmanagers.sh
  release/sbin/stop-zks.sh
  test/test-tool/openmldb-deploy/cases/case_conf.py
  test/test-tool/openmldb-deploy/cases/test_install.py
  test/test-tool/openmldb-deploy/cases/test_recoverdata.py
  test/test-tool/openmldb-deploy/cases/test_scale.py
  test/test-tool/openmldb-deploy/cases/test_upgrade.py
  test/test-tool/openmldb-deploy/cases/tool.py
  test/test-tool/openmldb-deploy/gen_conf.sh
  test/test-tool/openmldb-deploy/install.sh
  tools/openmldb_ops.py
Labels: workflow
