Repository 4paradigm/OpenMLDB, pull requests merged in 2023-11, with the labels that each got.

#3554 feat(sql): window without order by
  cases/function/window/error_window.yaml
  cases/query/window_query.yaml
  hybridse/include/node/sql_node.h
  hybridse/include/vm/physical_op.h
  hybridse/src/node/sql_node.cc
  hybridse/src/plan/planner.cc
  hybridse/src/testing/engine_test_base.cc
  hybridse/src/vm/runner.cc
  hybridse/src/vm/transform.cc
Labels: execute-engine

#3534 docs: change udf and faq level, add sql guide
  .github/workflows/udf-doc.yml
  docs/en/developer/built_in_function_develop_guide.md
  docs/en/developer/udf_develop_guide.md
  docs/en/reference/sql/dql/WINDOW_CLAUSE.md
  docs/en/reference/sql/index.rst
  docs/en/reference/sql/operators/index.rst
  docs/en/reference/sql/operators/operators.md
  docs/en/reference/sql/udfs_8h.md
  docs/zh/deploy/index.rst
  docs/zh/developer/built_in_function_develop_guide.md
  docs/zh/faq/client_faq.md
  docs/zh/faq/index.rst
  docs/zh/faq/server_faq.md
  docs/zh/index.rst
  docs/zh/maintain/faq.md
  docs/zh/maintain/index.rst
  docs/zh/maintain/openmldb_ops.md
  docs/zh/openmldb_sql/dql/WINDOW_CLAUSE.md
  docs/zh/openmldb_sql/functions_and_operators/index.rst
  docs/zh/openmldb_sql/index.rst
  docs/zh/openmldb_sql/sql_difference.md
  docs/zh/openmldb_sql/udf_develop_guide.md
  docs/zh/openmldb_sql/udfs_8h.md
  docs/zh/quickstart/beginner_must_read.md
  docs/zh/tutorial/index.rst
  hybridse/tools/documentation/udf_doxygen/Makefile
  hybridse/tools/documentation/udf_doxygen/README.md
  hybridse/tools/documentation/udf_doxygen/config.json
Labels: documentation, workflow, execute-engine

#3503 fix: update ttl may execute failed if the deploy sql has multiple database
  src/client/ns_client.cc
  src/client/ns_client.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_test.cc
Labels: storage-engine

#3327 feat: support delete(aggregator)
  src/storage/aggregator.cc
  src/storage/aggregator.h
  src/storage/aggregator_test.cc
  src/storage/disk_table.cc
  src/storage/disk_table.h
  src/storage/mem_table.cc
  src/storage/mem_table.h
  src/storage/table.h
  src/tablet/combine_iterator.h
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl_test.cc
Labels: storage-engine

#3561 fix: fix gc coredump
  src/storage/mem_table.cc
  src/storage/snapshot_test.cc
Labels: storage-engine

#3525 feat: optimize insert in java sdk
  java/openmldb-common/src/main/java/com/_4paradigm/openmldb/common/codec/FlexibleRowBuilder.java
  java/openmldb-jdbc/pom.xml
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/SQLInsertMetaData.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/Common.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/QueryFuture.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/SqlExecutor.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/InsertPreparedStatementCache.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/InsertPreparedStatementImpl.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/InsertPreparedStatementMeta.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/SqlClusterExecutor.java
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/JDBCDriverTest.java
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/SQLRouterSmokeTest.java
  src/base/hash.h
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_insert_row.h
  src/sdk/sql_router.h
  src/sdk/sql_router_sdk.i
Labels: sdk, storage-engine

#3565 feat: last join on window
  cases/query/last_join_subquery_window.yml
  hybridse/examples/toydb/src/tablet/tablet_catalog.cc
  hybridse/examples/toydb/src/tablet/tablet_catalog.h
  hybridse/examples/toydb/src/testing/toydb_engine_test_base.cc
  hybridse/include/codec/row.h
  hybridse/include/codec/row_iterator.h
  hybridse/include/codec/row_list.h
  hybridse/include/vm/catalog.h
  hybridse/include/vm/mem_catalog.h
  hybridse/include/vm/physical_op.h
  hybridse/src/passes/physical/batch_request_optimize.cc
  hybridse/src/passes/physical/group_and_sort_optimized.cc
  hybridse/src/passes/physical/group_and_sort_optimized.h
  hybridse/src/passes/physical/transform_up_physical_pass.h
  hybridse/src/plan/planner.cc
  hybridse/src/testing/engine_test_base.cc
  hybridse/src/testing/engine_test_base.h
  hybridse/src/vm/catalog_wrapper.cc
  hybridse/src/vm/catalog_wrapper.h
  hybridse/src/vm/engine.cc
  hybridse/src/vm/generator.cc
  hybridse/src/vm/generator.h
  hybridse/src/vm/internal/node_helper.cc
  hybridse/src/vm/internal/node_helper.h
  hybridse/src/vm/mem_catalog.cc
  hybridse/src/vm/runner.cc
  hybridse/src/vm/runner.h
  hybridse/src/vm/transform.cc
  hybridse/src/vm/transform.h
  src/sdk/sql_sdk_test.h
Labels: execute-engine, storage-engine

#3572 feat: support compress
  cases/plan/create.yaml
  docs/en/reference/sql/ddl/CREATE_TABLE_STATEMENT.md
  docs/en/reference/sql/ddl/DESC_STATEMENT.md
  docs/en/reference/sql/ddl/SHOW_CREATE_TABLE_STATEMENT.md
  docs/zh/openmldb_sql/ddl/CREATE_TABLE_STATEMENT.md
  docs/zh/openmldb_sql/ddl/DESC_STATEMENT.md
  docs/zh/openmldb_sql/ddl/SHOW_CREATE_TABLE_STATEMENT.md
  hybridse/include/node/node_enum.h
  hybridse/include/node/node_manager.h
  hybridse/include/node/sql_node.h
  hybridse/src/node/node_manager.cc
  hybridse/src/node/plan_node_test.cc
  hybridse/src/node/sql_node.cc
  hybridse/src/node/sql_node_test.cc
  hybridse/src/planv2/ast_node_converter.cc
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/RequestPreparedStatementTest.java
  onebox/start_onebox.sh
  src/base/kv_iterator_test.cc
  src/catalog/distribute_iterator.cc
  src/catalog/tablet_catalog.cc
  src/cmd/display.h
  src/cmd/openmldb.cc
  src/cmd/sql_cmd_test.cc
  src/codec/codec_bench_test.cc
  src/codec/codec_test.cc
  src/codec/row_codec.cc
  src/codec/row_codec.h
  src/sdk/node_adapter.cc
  src/sdk/sdk_util.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_test.cc
  src/storage/disk_table.cc
  src/storage/disk_table_iterator.cc
  src/storage/disk_table_iterator.h
  src/storage/mem_table.cc
  src/storage/mem_table_iterator.cc
  src/storage/mem_table_iterator.h
  src/storage/segment.cc
  src/storage/segment.h
  src/storage/segment_test.cc
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl.h
  src/tablet/tablet_impl_test.cc
Labels: documentation, sdk, execute-engine, storage-engine

#3593 ci: fix go-sdk
  .github/workflows/sdk.yml
Labels: workflow

#3581 feat: add zk auth
  docs/en/deploy/conf.md
  docs/zh/deploy/conf.md
  java/openmldb-common/src/main/java/com/_4paradigm/openmldb/common/zk/ZKClient.java
  java/openmldb-common/src/main/java/com/_4paradigm/openmldb/common/zk/ZKConfig.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/SdkOption.java
  java/openmldb-synctool/src/main/java/com/_4paradigm/openmldb/synctool/SyncToolConfig.java
  java/openmldb-synctool/src/main/java/com/_4paradigm/openmldb/synctool/SyncToolImpl.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/client/TaskManagerClient.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/config/TaskManagerConfig.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/impl/TaskManagerImpl.java
  python/openmldb_sdk/openmldb/sdk/sdk.py
  release/conf/apiserver.flags.template
  release/conf/nameserver.flags.template
  release/conf/tablet.flags.template
  src/cmd/openmldb.cc
  src/cmd/sql_cmd.h
  src/datacollector/data_collector.cc
  src/flags.cc
  src/nameserver/cluster_info.cc
  src/nameserver/name_server_create_remote_test.cc
  src/nameserver/name_server_impl.cc
  src/nameserver/name_server_test.cc
  src/nameserver/new_server_env_test.cc
  src/proto/name_server.proto
  src/sdk/db_sdk.cc
  src/sdk/db_sdk.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_router.h
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl_keep_alive_test.cc
  src/zk/dist_lock_test.cc
  src/zk/zk_client.cc
  src/zk/zk_client.h
  src/zk/zk_client_test.cc
Labels: documentation, sdk, storage-engine, task-manager

#3576 feat: left join
  cases/plan/join_query.yaml
  cases/query/fail_query.yaml
  cases/query/left_join.yml
  hybridse/examples/toydb/src/storage/table_iterator.cc
  hybridse/examples/toydb/src/tablet/tablet_catalog.cc
  hybridse/examples/toydb/src/tablet/tablet_catalog.h
  hybridse/include/codec/fe_row_codec.h
  hybridse/include/codec/row_list.h
  hybridse/include/node/node_enum.h
  hybridse/include/vm/catalog.h
  hybridse/include/vm/mem_catalog.h
  hybridse/include/vm/physical_op.h
  hybridse/include/vm/simple_catalog.h
  hybridse/src/base/fe_slice.cc
  hybridse/src/passes/physical/batch_request_optimize_test.cc
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/testing/engine_test_base.cc
  hybridse/src/vm/catalog_wrapper.cc
  hybridse/src/vm/catalog_wrapper.h
  hybridse/src/vm/cluster_task.cc
  hybridse/src/vm/cluster_task.h
  hybridse/src/vm/engine.cc
  hybridse/src/vm/engine_compile_test.cc
  hybridse/src/vm/generator.cc
  hybridse/src/vm/generator.h
  hybridse/src/vm/mem_catalog.cc
  hybridse/src/vm/runner.cc
  hybridse/src/vm/runner.h
  hybridse/src/vm/runner_builder.cc
  hybridse/src/vm/runner_builder.h
  hybridse/src/vm/runner_ctx.cc
  hybridse/src/vm/runner_ctx.h
  hybridse/src/vm/runner_test.cc
  hybridse/src/vm/sql_compiler.cc
  hybridse/src/vm/sql_compiler.h
  hybridse/src/vm/sql_compiler_test.cc
  hybridse/src/vm/transform.cc
  src/base/ddl_parser_test.cc
  src/sdk/sql_sdk_test.h
Labels: execute-engine, storage-engine

#3580 fix: ip validation in diag rpc helper
  python/openmldb_tool/diagnostic_tool/rpc.py
Labels: sdk

#3521 fix: get trans-failed column and relax json
  .github/workflows/cicd.yaml
  CMakeLists.txt
  cmake/rapidjson.cmake
  docs/zh/quickstart/sdk/rest_api.md
  src/apiserver/api_server_impl.cc
  src/apiserver/api_server_impl.h
  src/apiserver/api_server_test.cc
  src/apiserver/json_helper.cc
  src/apiserver/json_helper.h
Labels: documentation, workflow, build, api-server

#3542 feat: support truncate table statement
  cases/plan/cmd.yaml
  docs/en/reference/sql/ddl/TRUNCATE_TABLE_STATEMENT.md
  docs/en/reference/sql/ddl/index.rst
  docs/zh/openmldb_sql/ddl/TRUNCATE_TABLE_STATEMENT.md
  docs/zh/openmldb_sql/ddl/index.rst
  hybridse/include/node/node_enum.h
  hybridse/src/node/sql_node.cc
  hybridse/src/planv2/ast_node_converter.cc
  src/base/status.h
  src/catalog/tablet_catalog.cc
  src/client/ns_client.cc
  src/client/ns_client.h
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/cmd/sql_cmd_test.cc
  src/nameserver/name_server_impl.cc
  src/nameserver/name_server_impl.h
  src/proto/name_server.proto
  src/proto/tablet.proto
  src/sdk/interactive.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/storage/aggregator.h
  src/storage/disk_table.cc
  src/storage/disk_table.h
  src/storage/mem_table_snapshot.cc
  src/storage/mem_table_snapshot.h
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl.h
  src/tablet/tablet_impl_test.cc
Labels: documentation, execute-engine, storage-engine

#3588 feat: p99 metric for deployment and apiserver
  docs/zh/maintain/monitoring.md
  release/conf/apiserver.flags.template
  release/conf/tablet.flags.template
  src/apiserver/api_server_impl.cc
  src/apiserver/api_server_impl.h
  src/apiserver/api_server_test.cc
  src/apiserver/interface_provider.cc
  src/apiserver/interface_provider.h
  src/client/tablet_client.cc
  src/cmd/openmldb.cc
  src/cmd/sql_cmd_test.cc
  src/nameserver/name_server_impl.cc
  src/nameserver/name_server_impl.h
  src/nameserver/name_server_test.cc
  src/statistics/query_response_time/CMakeLists.txt
  src/statistics/query_response_time/deployment_metric_collector.cc
  src/statistics/query_response_time/deployment_metric_collector.h
  src/statistics/query_response_time/deployment_metric_collector_test.cc
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl.h
Labels: documentation, build, api-server

#3587 feat: catch error msgs in ns/tablet client
  docs/zh/maintain/openmldb_ops.md
  src/base/status.h
  src/client/ns_client.cc
  src/client/ns_client.h
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/cmd/openmldb.cc
  src/datacollector/data_collector.cc
  src/nameserver/name_server_impl.cc
  src/replica/snapshot_replica_test.cc
  src/sdk/sql_cluster_router.cc
  src/tablet/tablet_impl.cc
  tools/openmldb_ops.py
  tools/tool.py
Labels: documentation, storage-engine

#3594 fix: set version of importlib-metadata to avoid compatibility error
  .github/workflows/sdk.yml
  python/openmldb_sdk/setup.py
  python/openmldb_tool/diagnostic_tool/inspect.py
Labels: workflow, sdk

#3597 fix: fix taskmanager config handle null string
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/config/TaskManagerConfig.java
Labels: task-manager

#3582 docs: update 0.8.4 docs
  CHANGELOG.md
  demo/java_quickstart/demo/pom.xml
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/deploy/compile.md
  docs/en/deploy/install_deploy.md
  docs/en/integration/deploy_integration/airflow_provider_demo.md
  docs/en/integration/deploy_integration/dolphinscheduler_task_demo.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/quickstart/sdk/java_sdk.md
  docs/en/reference/ip_tips.md
  docs/en/use_case/JD_recommendation_en.md
  docs/en/use_case/airflow_provider_demo.md
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/lightgbm_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/en/use_case/talkingdata_demo.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/install_deploy.md
  docs/zh/integration/deploy_integration/OpenMLDB_Byzer_taxi.md
  docs/zh/integration/deploy_integration/airflow_provider_demo.md
  docs/zh/integration/deploy_integration/dolphinscheduler_task_demo.md
  docs/zh/integration/online_datasources/kafka_connector_demo.md
  docs/zh/integration/online_datasources/pulsar_connector_demo.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/quickstart/sdk/java_sdk.md
  docs/zh/reference/ip_tips.md
  docs/zh/tutorial/standalone_use.md
  docs/zh/use_case/JD_recommendation.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
  release/conf/openmldb-env.sh
Labels: documentation, docker

#3600 docs: label alpha
  CHANGELOG.md
Labels: documentation

#3604 fix: return null in `getNString` if the value is null
  CHANGELOG.md
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/DirectResultSet.java
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/RequestPreparedStatementTest.java
Labels: documentation, sdk

#3555 docs(sql): update SQL syntax for WINDOW and JOIN
  docs/zh/openmldb_sql/deployment_manage/ONLINE_REQUEST_REQUIREMENTS.md
  docs/zh/openmldb_sql/dql/JOIN_CLAUSE.md
  docs/zh/openmldb_sql/dql/WINDOW_CLAUSE.md
  docs/zh/openmldb_sql/sql_difference.md
Labels: documentation

#3605 fix: fix mac python sdk cicd issue
  .github/workflows/sdk.yml
  python/openmldb_sdk/setup.py
Labels: workflow, sdk

#3617 docs: fix mirror site
  README.md
  README_cn.md
  docs/en/deploy/install_deploy.md
  docs/zh/deploy/install_deploy.md
Labels: documentation

#3612 feat: upgrade version
  CMakeLists.txt
  demo/Dockerfile
  java/hybridse-native/pom.xml
  java/hybridse-proto/pom.xml
  java/hybridse-sdk/pom.xml
  java/openmldb-batch/pom.xml
  java/openmldb-batchjob/pom.xml
  java/openmldb-common/pom.xml
  java/openmldb-jdbc/pom.xml
  java/openmldb-native/pom.xml
  java/openmldb-spark-connector/pom.xml
  java/openmldb-synctool/pom.xml
  java/openmldb-taskmanager/pom.xml
  java/pom.xml
  python/openmldb_sdk/setup.py
  python/openmldb_tool/setup.py
  test/integration-test/openmldb-test-python/install.sh
Labels: build, docker, batch-engine, sdk, task-manager

#3497 build(cmake): respect third_party_dir env variable
  CMakeLists.txt
Labels: build

#3609 docs: rewrite syntax rules for query
  docs/zh/openmldb_sql/dql/GROUP_BY_CLAUSE.md
  docs/zh/openmldb_sql/dql/HAVING_CLAUSE.md
  docs/zh/openmldb_sql/dql/JOIN_CLAUSE.md
  docs/zh/openmldb_sql/dql/LIMIT_CLAUSE.md
  docs/zh/openmldb_sql/dql/NO_TABLE_SELECT_CLAUSE.md
  docs/zh/openmldb_sql/dql/SELECT_INTO_STATEMENT.md
  docs/zh/openmldb_sql/dql/SELECT_STATEMENT.md
  docs/zh/openmldb_sql/dql/WHERE_CLAUSE.md
  docs/zh/openmldb_sql/dql/WINDOW_CLAUSE.md
  docs/zh/openmldb_sql/dql/WITH_CLAUSE.md
Labels: documentation

#3626 feat: log openmldb sql when executing
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
Labels: batch-engine

#3616 feat: support select outfile to openmldb online tables
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/SelectIntoPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/HybridseUtil.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/OpenmldbTableUtil.scala
Labels: batch-engine

#3634 fix: revert "feat: log openmldb sql when executing"
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
Labels: batch-engine

#3519 docs: fix boundary, add more about maintain
  docs/zh/faq/client_faq.md
  docs/zh/openmldb_sql/dml/DELETE_STATEMENT.md
  docs/zh/openmldb_sql/dml/LOAD_DATA_STATEMENT.md
  docs/zh/quickstart/beginner_must_read.md
  docs/zh/quickstart/function_boundary.md
  docs/zh/quickstart/sdk/rest_api.md
  docs/zh/use_case/JD_recommendation.md
Labels: documentation
