Repository 4paradigm/OpenMLDB, pull requests merged in 2023-05, with the labels that each got.

#3239 feat: add docs of k8s
  docs/zh/deploy/index.rst
  docs/zh/deploy/offline_integrate_kubernetes.md
Labels: documentation

#3234 fix(round): explicitly turn off bool type as first param of round
  hybridse/src/cmd/export_udf_info.cc
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/udf/default_udf_library.cc
Labels: execute-engine

#3230 test: add kafka connector integration test and date fix
  docs/zh/integration/online_datasources/kafka_connector_demo.md
  extensions/kafka-connect-jdbc/DEVELOP.md
  extensions/kafka-connect-jdbc/pom.xml
  extensions/kafka-connect-jdbc/src/main/java/io/confluent/connect/jdbc/dialect/OpenmldbDatabaseDialect.java
  extensions/kafka-connect-jdbc/src/main/java/io/confluent/connect/jdbc/sink/BufferedRecords.java
  extensions/kafka-connect-jdbc/src/main/java/io/confluent/connect/jdbc/sink/JdbcSinkConfig.java
  test/integration-test/openmldb-test-java/openmldb-ecosystem/README.md
  test/integration-test/openmldb-test-java/openmldb-ecosystem/pom.xml
  test/integration-test/openmldb-test-java/openmldb-ecosystem/src/test/java/com/_4paradigm/openmldb/ecosystem/TestKafka.java
  test/integration-test/openmldb-test-java/openmldb-ecosystem/src/test/java/com/_4paradigm/openmldb/ecosystem/Utils.java
  test/integration-test/openmldb-test-java/openmldb-ecosystem/src/test/java/com/_4paradigm/openmldb/ecosystem/tmp/TestKafka.java
  test/integration-test/openmldb-test-java/openmldb-ecosystem/src/test/resources/kafka.properties
  test/integration-test/openmldb-test-java/openmldb-ecosystem/src/test/resources/kafka_test_cases.yml
Labels: documentation, extensions

#3254 docs: update dolphin scheduler version
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/zh/integration/deploy_integration/dolphinscheduler_task_demo.md
Labels: documentation

#3229 feat: support s3 for offline engine
  docs/zh/integration/offline_data_sources/index.rst
  docs/zh/integration/offline_data_sources/s3.md
  java/openmldb-batch/pom.xml
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/TaskManagerServer.java
  java/pom.xml
Labels: documentation, batch-engine, task-manager

#3251 fix: falied -> failed
  src/nameserver/name_server_impl.cc
  src/zk/dist_lock.cc
  test/integration-test/openmldb-test-python/util/tool.py
  test/test-tool/openmldb-deploy/cases/tool.py
  tools/tool.py
Labels: storage-engine

#3233 docs: fix some warnings of doc building
  docs/zh/about/milestones.md
  docs/zh/conf.py
  docs/zh/deploy/install_deploy.md
  docs/zh/developer/built_in_function_develop_guide.md
  docs/zh/openmldb_sql/dql/NO_TABLE_SELECT_CLAUSE.md
Labels: documentation

#3255 docs: update online requirements for last join and window union
  docs/en/reference/sql/deployment_manage/ONLINE_REQUEST_REQUIREMENTS.md
  docs/en/reference/sql/dql/JOIN_CLAUSE.md
  docs/en/reference/sql/dql/SELECT_STATEMENT.md
  docs/zh/openmldb_sql/deployment_manage/ONLINE_REQUEST_REQUIREMENTS.md
  docs/zh/openmldb_sql/dql/JOIN_CLAUSE.md
  docs/zh/openmldb_sql/dql/SELECT_STATEMENT.md
Labels: documentation

#3241 feat: add `skip_index_check` option
  docs/en/reference/sql/deployment_manage/DEPLOY_STATEMENT.md
  docs/zh/openmldb_sql/deployment_manage/DEPLOY_STATEMENT.md
  src/cmd/sql_cmd_test.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
Labels: documentation, storage-engine

#3272 feat: revert the function to get yarn log
  docs/en/deploy/integrate_hadoop.md
  docs/zh/deploy/integrate_hadoop.md
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/impl/TaskManagerImpl.java
Labels: documentation, task-manager

#3261 feat: support symbolic import for s3 data source
  docs/zh/integration/offline_data_sources/s3.md
  java/openmldb-batch/pom.xml
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/LoadDataPlan.scala
Labels: documentation, batch-engine

#3253 feat: integration tests for openmldb exporter
  .github/workflows/monitoring.yml
  monitoring/.gitignore
  monitoring/Dockerfile
  monitoring/docker-compose.yml
  monitoring/openmldb_exporter/collector/collectors.py
  monitoring/openmldb_mixin/openmldb_dashboard.json
  monitoring/poetry.lock
  monitoring/pyproject.toml
  monitoring/res/prometheus.yml
  monitoring/src.Dockerfile
  monitoring/test.Dockerfile
  monitoring/tests/conftest.py
  monitoring/tests/test_exporter.py
  monitoring/tests/test_prometheus.py
Labels: workflow, monitoring

#3256 feat: online to offline sync tool
  .gitignore
  docs/en/developer/code_structure.md
  docs/zh/deploy/index.rst
  docs/zh/deploy/online_offline_sync.md
  docs/zh/developer/code_structure.md
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/Statement.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/SqlExecutor.java
  java/openmldb-synctool/pom.xml
  java/openmldb-synctool/src/main/java/com/_4paradigm/openmldb/synctool/CsvFilePathFilter.java
  java/openmldb-synctool/src/main/java/com/_4paradigm/openmldb/synctool/DataCollectorService.java
  java/openmldb-synctool/src/main/java/com/_4paradigm/openmldb/synctool/DataParser.java
  java/openmldb-synctool/src/main/java/com/_4paradigm/openmldb/synctool/FlinkTunnel.java
  java/openmldb-synctool/src/main/java/com/_4paradigm/openmldb/synctool/HDFSTunnel.java
  java/openmldb-synctool/src/main/java/com/_4paradigm/openmldb/synctool/IgnorableException.java
  java/openmldb-synctool/src/main/java/com/_4paradigm/openmldb/synctool/SyncTask.java
  java/openmldb-synctool/src/main/java/com/_4paradigm/openmldb/synctool/SyncTool.java
  java/openmldb-synctool/src/main/java/com/_4paradigm/openmldb/synctool/SyncToolConfig.java
  java/openmldb-synctool/src/main/java/com/_4paradigm/openmldb/synctool/SyncToolImpl.java
  java/openmldb-synctool/src/main/java/com/_4paradigm/openmldb/synctool/SyncToolInterface.java
  java/openmldb-synctool/src/main/resources/core-site.xml
  java/openmldb-synctool/src/main/resources/log4j.properties
  java/openmldb-synctool/src/main/resources/synctool.properties
  java/openmldb-synctool/src/test/resources/log4j.xml
  java/openmldb-synctool/src/test/resources/synctool.properties
  java/pom.xml
  release/bin/start.sh
  release/conf/data_collector.flags
  release/conf/synctool.properties
  src/CMakeLists.txt
  src/base/file_util.h
  src/base/response_util.h
  src/datacollector/data_collector.cc
  src/datacollector/data_collector.h
  src/datacollector/data_collector_server.cc
  src/datacollector/data_collector_te1st.cc
  src/proto/data_sync.proto
  src/proto/tablet.proto
  src/replica/log_replicator.h
  src/rpc/rpc_client.h
  src/sdk/CMakeLists.txt
  src/storage/snapshot.h
  src/tablet/tablet_impl.cc
  tools/synctool_helper.py
Labels: documentation, build, sdk, storage-engine

#3279 fix: revert diag tool show distribution docs
  CHANGELOG.md
  docs/zh/maintain/diagnose.md
  python/openmldb_tool/setup.py
Labels: documentation, sdk

#3280 fix: revert diag tool show distribution docs (#3279) -> v0.8
  CHANGELOG.md
  docs/zh/maintain/diagnose.md
  python/openmldb_tool/setup.py
Labels: documentation, sdk

#3260 feat: add post-release script
  demo/Dockerfile
  steps/post_release.sh
  steps/upgrade_docs_version.sh
  test/integration-test/openmldb-test-python/install.sh
Labels: docker

#3282 feat: add topic table mapping in kafka connector and jdbc driver fix
  extensions/kafka-connect-jdbc/DEVELOP.md
  extensions/kafka-connect-jdbc/pom.xml
  extensions/kafka-connect-jdbc/src/main/java/io/confluent/connect/jdbc/sink/JdbcDbWriter.java
  extensions/kafka-connect-jdbc/src/main/java/io/confluent/connect/jdbc/sink/JdbcSinkConfig.java
  extensions/kafka-connect-jdbc/src/test/java/io/confluent/connect/jdbc/dialect/DatabaseDialectsTest.java
  extensions/kafka-connect-jdbc/src/test/java/io/confluent/connect/jdbc/dialect/OpenmldbDatabaseDialectTest.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/SQLDriver.java
  test/integration-test/openmldb-test-java/openmldb-ecosystem/README.md
  test/integration-test/openmldb-test-java/openmldb-ecosystem/src/test/java/com/_4paradigm/openmldb/ecosystem/TestKafka.java
  test/integration-test/openmldb-test-java/openmldb-ecosystem/src/test/java/com/_4paradigm/openmldb/ecosystem/Utils.java
  test/integration-test/openmldb-test-java/openmldb-ecosystem/src/test/resources/kafka.properties
  test/integration-test/openmldb-test-java/openmldb-ecosystem/src/test/resources/kafka_test_cases.yml
Labels: sdk, extensions

#3284 build(docker): add pip and requests in build image
  docker/Dockerfile
Labels: docker

#3287 feat(monitoring): testing both dev & prod
  .github/workflows/monitoring.yml
  monitoring/.env
  monitoring/README.md
  monitoring/docker-compose.yml
  monitoring/prod.Dockerfile
  monitoring/prod.env
  monitoring/pyproject.toml
Labels: workflow, monitoring
