Repository 4paradigm/OpenMLDB, pull requests merged in 2023-04, with the labels that each got.

#3157 feat: taskmanager kubernetes watch job status and support hadoop
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/config/TaskManagerConfig.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/impl/TaskManagerImpl.java
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/k8s/K8sJobManager.scala
Labels: task-manager

#3163 feat: get yarn cluster log
  docs/en/deploy/index.rst
  docs/en/deploy/integrate_hadoop.md
  docs/zh/deploy/index.rst
  docs/zh/deploy/integrate_hadoop.md
  java/openmldb-taskmanager/pom.xml
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/config/TaskManagerConfig.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/impl/TaskManagerImpl.java
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/k8s/K8sJobManager.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/yarn/YarnClientUtil.scala
Labels: documentation, task-manager

#3169 fix: sync job wait logic and default worker num
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/config/TaskManagerConfig.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/impl/TaskManagerImpl.java
Labels: task-manager

#3184 docs(sql): correct syntax of Window Spec
  docs/en/reference/sql/dql/SELECT_STATEMENT.md
  docs/en/reference/sql/dql/WINDOW_CLAUSE.md
  docs/zh/openmldb_sql/dql/SELECT_STATEMENT.md
  docs/zh/openmldb_sql/dql/WINDOW_CLAUSE.md
Labels: documentation

#3185 feat: fix duplicated code in taskmanager k8s manager
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/k8s/K8sJobManager.scala
Labels: task-manager

#3195 docs: move the udf doc onto the section of openmldb sql
  docs/zh/openmldb_sql/index.rst
  docs/zh/openmldb_sql/udf_develop_guide.md
  docs/zh/tutorial/index.rst
Labels: documentation

#3197 docs: fix udf
  docs/zh/openmldb_sql/udf_develop_guide.md
Labels: documentation

#3134 feat(online): support LASTJOIN(, FILTER) OP online
  cases/plan/error_request_query.yaml
  cases/query/last_join_query.yaml
  cases/query/last_join_where.yaml
  hybridse/examples/toydb/src/tablet/tablet_catalog.h
  hybridse/include/node/plan_node.h
  hybridse/include/vm/physical_op.h
  hybridse/src/node/plan_node.cc
  hybridse/src/node/plan_node_test.cc
  hybridse/src/passes/physical/group_and_sort_optimized.cc
  hybridse/src/passes/physical/group_and_sort_optimized.h
  hybridse/src/passes/physical/transform_up_physical_pass.cc
  hybridse/src/passes/physical/transform_up_physical_pass.h
  hybridse/src/plan/planner.cc
  hybridse/src/plan/planner.h
  hybridse/src/testing/engine_test_base.cc
  hybridse/src/udf/udf.cc
  hybridse/src/vm/catalog_wrapper.h
  hybridse/src/vm/physical_op.cc
  hybridse/src/vm/transform.cc
  hybridse/src/vm/transform.h
  src/catalog/tablet_catalog.h
  src/sdk/sql_sdk_test.h
Labels: execute-engine, storage-engine

#3192 docs: fix must read doc
  docs/zh/quickstart/function_boundary.md
Labels: documentation

#3188 feat: refactor python dbapi execute methods by ChatGPT optimization
  python/openmldb_sdk/openmldb/dbapi/dbapi.py
Labels: sdk

#3182 feat: support sqlalchemy methods for python sdk
  python/openmldb_sdk/openmldb/sqlalchemy_openmldb/openmldb_dialect.py
Labels: sdk

#3193 feat(udf): add_months
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/udf/default_defs/date_and_time_def.h
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/literal_traits.h
  hybridse/src/udf/udf_registry.h
  hybridse/src/udf/udf_registry_test.cc
  hybridse/src/udf/udf_test.cc
  include/base/type.h
Labels: execute-engine

#3186 test: update self-host runner
  .github/workflows/cicd.yaml
  .github/workflows/openmldb-tool.yml
Labels: workflow

#3201 docs: fix spark config
  docs/zh/deploy/conf.md
  docs/zh/maintain/faq.md
Labels: documentation

#3213 docs: fix python sdk use case on jupyter notebook
  docs/zh/integration/develop/jupyter_notebook.md
Labels: documentation

#3202 test: rm `TS_BASE` from conf
  .github/workflows/cicd.yaml
  .github/workflows/coverage.yml
  .github/workflows/sdk.yml
  benchmark/README.md
  benchmark/pom.xml
  benchmark/src/main/java/com/_4paradigm/openmldb/benchmark/BenchmarkConfig.java
  benchmark/src/main/resources/conf.properties
Labels: workflow

#3215 fix: miss string in hive type
  docs/zh/integration/offline_data_sources/hive.md
Labels: documentation

#3164 feat: update openmldb batchjob and add ut
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/util/OpenmldbJobUtil.scala
  java/openmldb-batchjob/src/test/resources/sql-test.sql
  java/openmldb-batchjob/src/test/scala/com/_4paradigm/openmldb/batchjob/util/TestOpenmldbJobUtil.scala
  java/openmldb-taskmanager/src/test/resources/openmldb-batchjob-0.7.0-SNAPSHOT.jar
Labels: batch-engine, task-manager

#3196 fix: protect in NormalizeColumns in ddl parser
  src/base/ddl_parser.cc
  src/base/ddl_parser_test.cc
Labels: storage-engine

#3189 docs: add the chinese version of application architecture
  docs/zh/tutorial/common_architecture.md
  docs/zh/tutorial/images/ca1.png
  docs/zh/tutorial/images/ca2.png
  docs/zh/tutorial/images/ca3.png
  docs/zh/tutorial/images/ca4.PNG
  docs/zh/tutorial/images/ca5.jpg
  docs/zh/tutorial/images/ca6.png
  docs/zh/tutorial/index.rst
Labels: documentation

#3223 docs: fix the zh version of app_arch
  docs/zh/quickstart/sdk/cxx_sdk.md
  docs/zh/quickstart/sdk/go_sdk.md
  docs/zh/quickstart/sdk/rest_api.md
  docs/zh/tutorial/app_arch.md
  docs/zh/tutorial/index.rst
Labels: documentation

#3208 feat: diag tool check connections
  python/openmldb_tool/diagnostic_tool/diagnose.py
  python/openmldb_tool/diagnostic_tool/server_checker.py
Labels: sdk

#3203 test: add ha cases
  .github/workflows/integration-test.yml
  hybridse/src/node/sql_node.cc
  release/sbin/deploy-all.sh
  test/integration-test/openmldb-test-python/genhost.py
  test/integration-test/openmldb-test-python/ha_cases/test_addreplica.py
  test/integration-test/openmldb-test-python/ha_cases/test_ha.py
  test/integration-test/openmldb-test-python/ha_cases/test_makesnapshot.py
  test/integration-test/openmldb-test-python/ha_cases/test_migrate.py
  test/integration-test/openmldb-test-python/install.sh
  test/integration-test/openmldb-test-python/util/cluster_manager.py
  test/integration-test/openmldb-test-python/util/tool.py
Labels: workflow, execute-engine

#3218 fix: fix disk table snapshot
  src/storage/disk_table_snapshot.cc
  src/storage/disk_table_snapshot_test.cc
Labels: storage-engine

#3221 feat(round): supports decimal place as second parameter
  cases/function/function/test_calculate.yaml
  cases/integration_test/function/test_calculate.yaml
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/udf.h
Labels: execute-engine

#3220 fix: add deployment usage in java quickstart
  Makefile
  demo/docker-compose.test.yml
  demo/java_quickstart/demo/pom.xml
  demo/java_quickstart/demo/src/main/java/com/openmldb/demo/App.java
  demo/job_checker.py
  docs/zh/quickstart/sdk/java_sdk.md
Labels: documentation, build, docker

#3199 docs: english version of application architecture
  docs/en/quickstart/cli.md
  docs/en/quickstart/index.rst
  docs/en/quickstart/rest_api.md
  docs/en/tutorial/app_arch.md
  docs/en/tutorial/images/ca1.png
  docs/en/tutorial/images/ca2.png
  docs/en/tutorial/images/ca3.png
  docs/en/tutorial/images/ca4.png
  docs/en/tutorial/images/ca5.jpg
  docs/en/tutorial/images/ca6.png
  docs/en/tutorial/index.rst
Labels: documentation

#3231 fix: taskmanager io/work thread config
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/TaskManagerServer.java
Labels: task-manager

#3232 docs: make cxx go sdk alpha
  docs/zh/quickstart/sdk/cxx_sdk.md
  docs/zh/quickstart/sdk/go_sdk.md
Labels: documentation

#3224 feat: diag tool show distribution
  docs/zh/maintain/diagnose.md
  python/openmldb_tool/diagnostic_tool/diagnose.py
  python/openmldb_tool/diagnostic_tool/table_checker.py
Labels: documentation, sdk

#3237 feat(docs): add the default html page under root of doc site
  docs/Makefile
Labels: documentation

#3236 docs: change download links
  README.md
  README_cn.md
  docs/zh/deploy/install_deploy.md
Labels: documentation
