Repository 4paradigm/OpenMLDB, pull requests merged in 2023-02, with the labels that each got.

#2997 docs: update the config name of unsafe row opt
  docs/en/tutorial/openmldbspark_distribution.md
  docs/zh/tutorial/openmldbspark_distribution.md
Labels: documentation

#3004 feat: support deploy multiple taskmanagers
  docs/en/deploy/install_deploy.md
  docs/zh/deploy/install_deploy.md
  release/bin/start.sh
  release/conf/hosts
  release/conf/openmldb-env.sh
  release/sbin/clear-all.sh
  release/sbin/deploy-all.sh
  release/sbin/deploy.sh
  release/sbin/start-apiservers.sh
  release/sbin/start-nameservers.sh
  release/sbin/start-tablets.sh
  release/sbin/start-taskmanagers.sh
  release/sbin/start-zks.sh
  release/sbin/stop-apiservers.sh
  release/sbin/stop-nameservers.sh
  release/sbin/stop-tablets.sh
  release/sbin/stop-taskmanagers.sh
  release/sbin/stop-zks.sh
Labels: documentation

#2979 fix: last join ttl
  hybridse/examples/toydb/src/sdk/dbms_sdk_test.cc
  hybridse/src/vm/physical_op_test.cc
  src/base/ddl_parser.cc
  src/base/ddl_parser_test.cc
  src/sdk/sql_router_test.cc
  src/storage/disk_table.h
Labels: execute-engine, storage-engine

#3020 chore: update docs for some udfs
  hybridse/src/udf/default_defs/feature_zero_def.cc
  hybridse/src/udf/default_defs/window_functions_def.cc
  hybridse/tools/documentation/udf_doxygen/config.json
Labels: execute-engine

#2930 fix: exclude current_row correctness
  cases/function/window/window_attributes.yaml
  hybridse/include/node/node_manager.h
  hybridse/include/node/plan_node.h
  hybridse/include/node/sql_node.h
  hybridse/include/vm/mem_catalog.h
  hybridse/include/vm/physical_op.h
  hybridse/src/codegen/expr_ir_builder.cc
  hybridse/src/codegen/fn_let_ir_builder.cc
  hybridse/src/node/node_manager.cc
  hybridse/src/node/sql_node.cc
  hybridse/src/node/sql_node_test.cc
  hybridse/src/passes/physical/batch_request_optimize.cc
  hybridse/src/passes/physical/long_window_optimized.cc
  hybridse/src/passes/physical/window_column_pruning.cc
  hybridse/src/plan/planner.cc
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/vm/core_api.cc
  hybridse/src/vm/physical_op.cc
  hybridse/src/vm/runner.cc
  hybridse/src/vm/runner.h
  hybridse/src/vm/transform.cc
  hybridse/src/vm/window_test.cc
Labels: execute-engine

#3033 docs: update openmldb_quickstart.md, fix a little mistake
  docs/zh/quickstart/openmldb_quickstart.md
Labels: documentation

#3036 docs: update openmldb_quickstart.md
  docs/zh/quickstart/openmldb_quickstart.md
Labels: documentation

#3025 feat: add std built-in function
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/udaf_test.cc
Labels: execute-engine

#2991 feat: specify the maximal size of rocksdb log file
  docs/en/deploy/conf.md
  docs/zh/deploy/conf.md
  release/conf/tablet.flags.template
  src/flags.cc
  src/storage/disk_table.cc
Labels: documentation, storage-engine

#3032 feat: support ew_avg function
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/udaf_test.cc
Labels: execute-engine

#3028 fix: fix error msg in zk client
  src/zk/zk_client.cc
Labels: storage-engine

#3003 fix: count in statistics overflow
  monitoring/openmldb_exporter/collector/collectors.py
  src/nameserver/name_server_impl.cc
  src/nameserver/system_table.h
  src/statistics/query_response_time/deploy_query_response_time.h
  src/statistics/query_response_time/query_response_time.h
Labels: monitoring, storage-engine

#3026 fix: fix exit
  cases/plan/cmd.yaml
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/planv2/planner_v2_test.cc
  src/cmd/sql_cmd.h
  src/sdk/sql_cluster_router.cc
  third-party/cmake/FetchZetasql.cmake
Labels: build, execute-engine, storage-engine

#2996 feat: support create table like parquet in offline
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/CreateTablePlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/DataTypeUtil.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/hive/TestCreateTableLikeParquet.scala
Labels: batch-engine

#3030 refactor(udf): many improves to udf system
  cases/function/expression/test_condition.yaml
  hybridse/include/node/sql_node.h
  hybridse/include/node/type_node.h
  hybridse/src/cmd/export_udf_info.cc
  hybridse/src/codegen/expr_ir_builder.cc
  hybridse/src/codegen/ir_base_builder.cc
  hybridse/src/codegen/native_value.cc
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/node/expr_node.cc
  hybridse/src/node/expr_node_test.cc
  hybridse/src/node/type_node.cc
  hybridse/src/udf/default_defs/expr_def.h
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
  hybridse/src/udf/udf_library.cc
  hybridse/src/udf/udf_registry.h
  hybridse/tools/documentation/udf_doxygen/export_udf_doc.py
Labels: execute-engine

#3042 fix: set the right status when AddIndex failed
  src/sdk/sql_cluster_router.cc
Labels: storage-engine

#2846 feat: support with clause
  cases/function/function/test_udaf_function.yaml
  cases/integration_test/function/test_udaf_function.yaml
  cases/plan/simple_query.yaml
  cases/query/last_join_query.yaml
  cases/query/with.yaml
  hybridse/include/base/fe_hash.h
  hybridse/include/base/fe_object.h
  hybridse/include/case/sql_case.h
  hybridse/include/node/node_base.h
  hybridse/include/node/node_enum.h
  hybridse/include/node/node_manager.h
  hybridse/include/node/plan_node.h
  hybridse/include/node/sql_node.h
  hybridse/include/vm/engine.h
  hybridse/include/vm/physical_op.h
  hybridse/src/case/sql_case.cc
  hybridse/src/node/node_manager.cc
  hybridse/src/node/plan_node.cc
  hybridse/src/node/sql_node.cc
  hybridse/src/passes/physical/batch_request_optimize_test.cc
  hybridse/src/passes/physical/simple_project_optimized.cc
  hybridse/src/passes/physical/transform_up_physical_pass.h
  hybridse/src/plan/planner.cc
  hybridse/src/plan/planner.h
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/planv2/ast_node_converter.h
  hybridse/src/planv2/planner_v2.cc
  hybridse/src/testing/engine_test_base.cc
  hybridse/src/udf/default_defs/avg_by_category_def.cc
  hybridse/src/udf/default_defs/count_by_category_def.cc
  hybridse/src/udf/default_defs/max_by_category_def.cc
  hybridse/src/udf/default_defs/min_by_category_def.cc
  hybridse/src/udf/default_defs/sum_by_category_def.cc
  hybridse/src/udf/default_defs/window_functions_def.cc
  hybridse/src/vm/engine.cc
  hybridse/src/vm/engine_compile_test.cc
  hybridse/src/vm/internal/cte_context.h
  hybridse/src/vm/internal/node_helper.h
  hybridse/src/vm/physical_op.cc
  hybridse/src/vm/runner.cc
  hybridse/src/vm/runner.h
  hybridse/src/vm/transform.cc
  hybridse/src/vm/transform.h
  src/sdk/CMakeLists.txt
  src/sdk/db_sdk.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_sdk_base_test.cc
  src/sdk/sql_sdk_base_test.h
  src/sdk/sql_sdk_run.cc
  src/sdk/sql_sdk_test.cc
  src/sdk/sql_sdk_test.h
  src/test/CMakeLists.txt
  src/test/util.cc
  src/test/util.h
  steps/ut.sh
Labels: build, execute-engine, storage-engine

#3060 fix: fix recover data
  src/storage/table.h
  tools/openmldb_ops.py
  tools/tool.py
Labels: storage-engine

#3029 feat: support `drawdown` built-in func
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/udaf_test.cc
Labels: execute-engine

#3018 fix(#2974): support expr like `count_where(expr_fn()..)`
  cases/query/udaf_query.yaml
  hybridse/include/node/sql_node.h
  hybridse/src/node/expr_node.cc
  hybridse/src/passes/expression/merge_aggregations.cc
  hybridse/src/passes/expression/simplify.cc
  hybridse/src/passes/resolve_fn_and_attrs.cc
  hybridse/src/udf/udf_library.cc
Labels: execute-engine

#3016 docs: csv format of load data source
  docs/en/reference/sql/dml/LOAD_DATA_STATEMENT.md
  docs/zh/openmldb_sql/dml/LOAD_DATA_STATEMENT.md
Labels: documentation

#3034 feat: cache and show sync job output in taskmanager
  docs/zh/openmldb_sql/dql/SELECT_STATEMENT.md
  java/openmldb-batch/pom.xml
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/OpenmldbBatchConfig.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbDataframe.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/HybridseUtil.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/RunBatchSql.scala
  java/openmldb-taskmanager/pom.xml
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/config/TaskManagerConfig.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/JobResultSaver.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/TaskManagerInterface.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/impl/TaskManagerImpl.java
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/OpenmldbBatchjobManager.scala
  java/pom.xml
  src/proto/taskmanager.proto
  src/sdk/sql_cluster_router.cc
Labels: documentation, batch-engine, storage-engine, task-manager

#3065 docs: add docs of create table like parquet
  docs/en/reference/sql/ddl/CREATE_TABLE_STATEMENT.md
  docs/zh/openmldb_sql/ddl/CREATE_TABLE_STATEMENT.md
Labels: documentation

#3035 docs: improve the chinese doc of install_deploy
  docs/zh/deploy/install_deploy.md
Labels: documentation

#3066 chore: fix udf doc for join and split
  hybridse/src/udf/default_defs/feature_zero_def.cc
Labels: execute-engine

#3027 docs: add update conf
  docs/en/maintain/index.rst
  docs/en/maintain/update_conf.md
  docs/en/maintain/upgrade.md
  docs/zh/maintain/index.rst
  docs/zh/maintain/update_conf.md
Labels: documentation

#3061 feat: auto set timeout of offline sync job and add onsync mode in apiserver
  demo/predict-taxi-trip-duration/script/taxi.sql
  demo/quick_start/cluster_quickstart.sql
  demo/talkingdata-adtracking-fraud-detection/train_and_serve.ipynb
  demo/talkingdata-adtracking-fraud-detection/train_and_serve.py
  docs/en/maintain/faq.md
  docs/en/quickstart/java_sdk.md
  docs/en/reference/sql/ddl/SET_STATEMENT.md
  docs/zh/integration/offline_data_sources/hive.md
  docs/zh/maintain/faq.md
  docs/zh/openmldb_sql/ddl/SET_STATEMENT.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/quickstart/sdk/java_sdk.md
  src/apiserver/api_server_impl.cc
  src/apiserver/api_server_impl.h
  src/flags.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
Labels: documentation, docker, api-server

#3064 fix: openmldb_api_test compile failed
  src/sdk/CMakeLists.txt
Labels: build, storage-engine

#3071 docs(dql): with clause
  docs/en/reference/sql/dql/SELECT_STATEMENT.md
  docs/en/reference/sql/dql/WITH_CLAUSE.md
  docs/en/reference/sql/dql/index.rst
  docs/zh/openmldb_sql/deployment_manage/ONLINE_REQUEST_REQUIREMENTS.md
  docs/zh/openmldb_sql/dql/SELECT_STATEMENT.md
  docs/zh/openmldb_sql/dql/WITH_CLAUSE.md
  docs/zh/openmldb_sql/dql/index.rst
Labels: documentation

#3041 docs: upgrade 0.7.2
  CHANGELOG.md
  demo/java_quickstart/demo/pom.xml
  demo/jd-recommendation/README.md
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/deploy/compile.md
  docs/en/deploy/install_deploy.md
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/reference/ip_tips.md
  docs/en/use_case/JD_recommendation_en.md
  docs/en/use_case/airflow_provider_demo.md
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/lightgbm_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/en/use_case/talkingdata_demo.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/install_deploy.md
  docs/zh/integration/deploy_integration/OpenMLDB_Byzer_taxi.md
  docs/zh/integration/deploy_integration/airflow_provider_demo.md
  docs/zh/integration/deploy_integration/dolphinscheduler_task_demo.md
  docs/zh/integration/online_datasources/kafka_connector_demo.md
  docs/zh/integration/online_datasources/pulsar_connector_demo.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/quickstart/sdk/java_sdk.md
  docs/zh/reference/ip_tips.md
  docs/zh/tutorial/standalone_use.md
  docs/zh/use_case/JD_recommendation.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
  release/conf/openmldb-env.sh
  steps/upgrade_docs_version.sh
Labels: documentation, docker

#3074 feat: release compile image via tag push `v*` and some updates to docs
  .github/workflows/hybridsql-docker.yml
  docker/Dockerfile
  docs/en/reference/sql/dql/WITH_CLAUSE.md
  docs/zh/openmldb_sql/dql/WITH_CLAUSE.md
Labels: documentation, workflow, docker

#3084 fix: delete dir and print result in job result saver
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/JobResultSaver.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/impl/TaskManagerImpl.java
Labels: task-manager

#3089 ci: rm curator in docker-compose.test.yml
  demo/docker-compose.test.yml
Labels: docker

#3090 fix: do not shade for guava library
  demo/docker-compose.test.yml
  java/openmldb-batch/pom.xml
Labels: docker, batch-engine

#3097 fix: rm curator when building docker
  demo/setup_openmldb.sh
Labels: docker

#3095 fix: revert testng version
  java/hybridse-sdk/pom.xml
  java/openmldb-common/pom.xml
  java/openmldb-jdbc/pom.xml
  java/openmldb-spark-connector/pom.xml
  java/openmldb-taskmanager/pom.xml
Labels: sdk, task-manager

#3091 feat: upgrade docker version
  demo/Dockerfile
Labels: docker

#3046 feat: new builtin functions
  cases/function/function/test_udaf_function.yaml
  cases/function/function/test_udf_function.yaml
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/udf/default_defs/aggregate_def.cc
  hybridse/src/udf/default_defs/earth_distance_def.cc
  hybridse/src/udf/default_defs/window_functions_def.cc
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/default_udf_library.h
  hybridse/src/udf/udaf_test.cc
Labels: execute-engine

#3104 docs: update quickstart.md
  docs/zh/quickstart/images/state_finished.png
  docs/zh/quickstart/openmldb_quickstart.md
Labels: documentation

#3057 feat: support register table in spark and openmldb
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/sparksql/TestRegisterTable.scala
Labels: bug, batch-engine

#3063 fix: create table like get default db
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/CreateTablePlan.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/hive/TestCreateTableLikeHive.scala
Labels: batch-engine

#3080 fix: fix offline job fail message inc CLI and set offline job status if spark job fails
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/dao/JobInfo.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/impl/TaskManagerImpl.java
  src/client/taskmanager_client.cc
  src/sdk/sql_cluster_router.cc
Labels: storage-engine, task-manager

#3070 feat: support batch read for openmldb-spark-connector
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/SQLResultSet.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/OpenmldbTable.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/read/OpenmldbPartitionReaderFactory.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/read/OpenmldbReadConfig.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/read/OpenmldbScan.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/read/OpenmldbScanBuilder.java
  java/openmldb-spark-connector/src/main/scala/com/_4paradigm/openmldb/spark/read/OpenmldbPartitionReader.scala
  java/openmldb-spark-connector/src/main/scala/com/_4paradigm/openmldb/spark/read/SimplePartition.scala
  java/openmldb-spark-connector/src/test/scala/com/_4paradigm/openmldb/spark/TestRead.scala
Labels: sdk

#3088 fix: add udf for string to timestamp and ut
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/ConstProjectPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/SimpleProjectPlan.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/simple_project/TestStringToTimestamp.scala
Labels: batch-engine

#3096 feat: enable ut for taskmanager
  java/openmldb-common/src/main/java/com/_4paradigm/openmldb/common/zk/ZKClient.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/config/ConfigException.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/config/TaskManagerConfig.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/TaskManagerServer.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/impl/TaskManagerImpl.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/utils/VersionCli.java
  java/openmldb-taskmanager/src/test/java/com/_4paradigm/openmldb/taskmanager/TestTaskManagerClient.java
  java/openmldb-taskmanager/src/test/resources/log4j.properties
  java/openmldb-taskmanager/src/test/resources/taskmanager.properties
  java/openmldb-taskmanager/src/test/scala/com/_4paradigm/openmldb/taskmanager/server/TestTaskManagerServer.scala
  java/openmldb-taskmanager/src/test/scala/com/_4paradigm/openmldb/taskmanager/server/impl/TestTaskManagerImpl.scala
Labels: task-manager
