Repository 4paradigm/OpenMLDB, pull requests merged in 2023-01, with the labels that each got.

#2904 docs: sdk optimization
  docs/zh/quickstart/sdk/cxx_sdk.md
  docs/zh/quickstart/sdk/go_sdk.md
  docs/zh/quickstart/sdk/images/cli.png
  docs/zh/quickstart/sdk/images/cli_cluster.png
  docs/zh/quickstart/sdk/images/openmldb_magic_function.png
  docs/zh/quickstart/sdk/java_sdk.md
  docs/zh/quickstart/sdk/python_sdk.md
  docs/zh/quickstart/sdk/rest_api.md
Labels: documentation

#2925 docs: add error code and fix beginner read
  docs/zh/quickstart/beginner_must_read.md
  docs/zh/reference/error_code.md
Labels: documentation

#2928 docs: add error code in index
  docs/zh/reference/index.rst
Labels: documentation

#2924 feat: update docker version
  demo/Dockerfile
Labels: docker

#2921 docs: move and optimize founction_boundary.md
  docs/zh/openmldb_sql/index.rst
  docs/zh/quickstart/function_boundary.md
  docs/zh/quickstart/index.rst
  docs/zh/quickstart/openmldb_quickstart.md
Labels: documentation

#2926 fix: fix tablet coredump
  src/catalog/distribute_iterator.cc
  src/storage/disk_table.cc
  src/storage/disk_table.h
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl_mem_test.cc
Labels: storage-engine

#2894 fix: deploy failed if the column name of main table is keyword
  src/cmd/sql_cmd_test.cc
  src/sdk/sql_cluster_router.cc
Labels: storage-engine

#2934 docs: fix hive export desc
  docs/zh/integration/offline_data_sources/hive.md
Labels: documentation

#2875 refactor: delete root_path_dir after run case
  src/catalog/distribute_iterator_test.cc
  src/nameserver/name_server_create_remote_test.cc
  src/nameserver/name_server_test.cc
  src/nameserver/new_server_env_test.cc
  src/nameserver/standalone_test.cc
  src/nameserver/system_table_test.cc
  src/replica/binlog_test.cc
  src/replica/snapshot_replica_test.cc
  src/sdk/CMakeLists.txt
  src/storage/snapshot_test.cc
  src/tablet/sql_cluster_availability_test.cc
  src/tablet/tablet_impl_func_test.cc
  src/tablet/tablet_impl_keep_alive_test.cc
  src/tablet/tablet_impl_mem_test.cc
  src/tablet/tablet_impl_multi_path_test.cc
  src/tablet/tablet_impl_projection_test.cc
  src/tablet/tablet_impl_test.cc
  src/test/util.h
Labels: build, storage-engine

#2937 feat: upgrade version
  CMakeLists.txt
  java/hybridse-native/pom.xml
  java/hybridse-proto/pom.xml
  java/hybridse-sdk/pom.xml
  java/openmldb-batch/pom.xml
  java/openmldb-batchjob/pom.xml
  java/openmldb-common/pom.xml
  java/openmldb-jdbc/pom.xml
  java/openmldb-native/pom.xml
  java/openmldb-spark-connector/pom.xml
  java/openmldb-taskmanager/pom.xml
  java/pom.xml
  python/openmldb_sdk/setup.py
  python/openmldb_tool/setup.py
Labels: build, batch-engine, sdk, task-manager

#2940 fix: show components result is wrong
  src/sdk/sql_cluster_router.cc
Labels: storage-engine

#2943 fix: disk table memory leak
  src/storage/disk_table.cc
Labels: storage-engine

#2945 docs: quickstart improvement
  docs/zh/quickstart/concepts/modes.md
  docs/zh/quickstart/openmldb_quickstart.md
Labels: documentation

#2936 fix: set guava version for openmldb-batch
  java/openmldb-batch/pom.xml
  java/pom.xml
Labels: batch-engine

#2898 feat: improve cmd and interactive in sql client
  src/cmd/sql_cmd.h
  src/flags.cc
Labels: storage-engine

#2946 feat: update docs for monitoring
  docs/en/maintain/monitoring.md
  docs/zh/maintain/monitoring.md
  monitoring/README.md
  monitoring/openmldb_mixin/README.md
  monitoring/openmldb_mixin/mixin.libsonnet
  monitoring/openmldb_mixin/openmldb_dashboard.json
Labels: documentation, monitoring

#2952 docs: improve the chinese docs of high availability
  docs/zh/maintain/backup.md
Labels: documentation

#2954 docs: fix conf.md
  docs/en/deploy/conf.md
  docs/zh/deploy/conf.md
Labels: documentation

#2953 fix: disable `DeployStats` log
  src/tablet/tablet_impl.cc
Labels: storage-engine

#2942 docs: add develop file to integration file; add magic_function.md to develop file
  docs/zh/integration/deploy_integration/index.rst
  docs/zh/integration/develop/images/muti.png
  docs/zh/integration/develop/images/single.png
  docs/zh/integration/develop/images/support_function.png
  docs/zh/integration/develop/index.rst
  docs/zh/integration/develop/jupyter_notebook.md
  docs/zh/integration/index.rst
Labels: documentation

#2949 feat: create table like
  cases/plan/create.yaml
  hybridse/include/node/node_manager.h
  hybridse/include/node/plan_node.h
  hybridse/include/node/sql_node.h
  hybridse/include/vm/physical_op.h
  hybridse/src/node/node_manager.cc
  hybridse/src/node/plan_node.cc
  hybridse/src/node/sql_node.cc
  hybridse/src/plan/planner.cc
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/vm/physical_op.cc
  hybridse/src/vm/transform.cc
  hybridse/src/vm/transform.h
  third-party/cmake/FetchZetasql.cmake
Labels: build, execute-engine

#2948 feat: support soft import from hive
  docs/zh/deploy/conf.md
  docs/zh/integration/offline_data_sources/hive.md
  docs/zh/openmldb_sql/dml/LOAD_DATA_STATEMENT.md
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/PlanContext.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/LoadDataPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/SelectIntoPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/HybridseUtil.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/TestLoadDataPlan.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/utils/HybridseUtilTest.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/ExportOfflineData.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/ImportOfflineData.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/ImportOnlineData.scala
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/config/TaskManagerConfig.java
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/OpenmldbBatchjobManager.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/spark/SparkJobManager.scala
  src/nameserver/name_server_impl.cc
Labels: documentation, batch-engine, storage-engine, task-manager

#2947 docs: release 0.7.1
  CHANGELOG.md
  demo/java_quickstart/demo/pom.xml
  demo/jd-recommendation/README.md
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/about/release_notes.md
  docs/en/deploy/compile.md
  docs/en/deploy/install_deploy.md
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/reference/ip_tips.md
  docs/en/use_case/JD_recommendation_en.md
  docs/en/use_case/airflow_provider_demo.md
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/lightgbm_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/en/use_case/talkingdata_demo.md
  docs/zh/about/release_notes.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/install_deploy.md
  docs/zh/integration/deploy_integration/OpenMLDB_Byzer_taxi.md
  docs/zh/integration/deploy_integration/airflow_provider_demo.md
  docs/zh/integration/deploy_integration/dolphinscheduler_task_demo.md
  docs/zh/integration/online_datasources/kafka_connector_demo.md
  docs/zh/integration/online_datasources/pulsar_connector_demo.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/quickstart/sdk/java_sdk.md
  docs/zh/reference/ip_tips.md
  docs/zh/tutorial/standalone_use.md
  docs/zh/use_case/JD_recommendation.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
Labels: documentation, docker

#2962 feat: offline support create table like hive
  hybridse/include/node/plan_node.h
  hybridse/include/vm/physical_op.h
  hybridse/src/codec/fe_row_codec.cc
  hybridse/src/vm/physical_op.cc
  hybridse/src/vm/transform.cc
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/SparkPlanner.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/CreateTablePlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/HybridseUtil.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/OpenmldbTableUtil.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/hive/TestCreateTableLikeHive.scala
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_router_sdk.i
Labels: batch-engine, execute-engine, storage-engine

#2964 feat: add the docs of create table like
  docs/en/reference/sql/ddl/CREATE_TABLE_STATEMENT.md
  docs/zh/openmldb_sql/ddl/CREATE_TABLE_STATEMENT.md
Labels: documentation

#2965 docs: add known issues docs for create table like hive
  docs/en/reference/sql/ddl/CREATE_TABLE_STATEMENT.md
  docs/zh/openmldb_sql/ddl/CREATE_TABLE_STATEMENT.md
Labels: documentation

#2967 feat: upgrade docker version
  demo/Dockerfile
Labels: docker

#2938 docs: add explanation of ip whitelist
  docs/zh/deploy/install_deploy.md
  docs/zh/reference/ip_tips.md
Labels: documentation

#2958 docs: add the doc of ns client command status
  docs/zh/maintain/images/showtablestatus.png
  docs/zh/maintain/index.rst
  docs/zh/maintain/status.md
Labels: documentation

#2973 docs: fix hive doc
  docs/zh/integration/index.rst
  docs/zh/integration/offline_data_sources/hive.md
  docs/zh/openmldb_sql/ddl/CREATE_TABLE_STATEMENT.md
Labels: documentation

#2970 fix: check create table option
  cases/plan/back_quote_identifier.yaml
  cases/plan/create.yaml
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/planv2/ast_node_converter_test.cc
Labels: execute-engine

#2963 fix: disk usage continues to grow
  release/conf/tablet.flags.template
  src/storage/disk_table.cc
  src/storage/disk_table.h
  src/storage/disk_table_test.cc
Labels: storage-engine

#2980 docs: add the doc of multi-cluster
  docs/zh/maintain/images/leader_follower_cluster.png
  docs/zh/maintain/images/leader_follower_flow.png
  docs/zh/maintain/images/showrepcluster.png
  docs/zh/maintain/images/tikv_mysql.png
  docs/zh/maintain/index.rst
  docs/zh/maintain/multi_cluster.md
  docs/zh/use_case/JD_recommendation.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
Labels: documentation

#2990 docs: update missing disk table configs in the english version
  docs/en/deploy/conf.md
Labels: documentation

#2984 docs: fix typo
  docs/zh/integration/online_datasources/kafka_connector_demo.md
  docs/zh/maintain/openmldb_ops.md
Labels: documentation

#2988 docs: improve the deploy and compile docs
  docs/zh/deploy/compile.md
  docs/zh/deploy/index.rst
  docs/zh/deploy/install_deploy.md
Labels: documentation

#2995 refactor(build): add standalone test module
  src/CMakeLists.txt
  src/nameserver/name_server_impl.cc
  src/replica/log_replicator_test.cc
  src/replica/snapshot_replica_test.cc
  src/sdk/CMakeLists.txt
  src/storage/snapshot_test.cc
  src/tablet/tablet_impl_test.cc
  src/test/CMakeLists.txt
  src/test/base_test.cc
  src/test/util.cc
  src/test/util.h
Labels: build, storage-engine
