Repository 4paradigm/OpenMLDB, pull requests merged in 2023-09, with the labels that each got.

#3447 docs: update_about_folder
  docs/en/about/community.md
  docs/en/about/index.rst
  docs/en/about/milestones.md
Labels: documentation

#3463 docs: add deploy documentation
  docs/en/deploy/index.rst
  docs/en/deploy/offline_integrate_kubernetes.md
  docs/en/tutorial/index.rst
  docs/en/tutorial/online_offline_sync.md
Labels: documentation

#3484 feat: use user sync timeout when it > default
  docs/en/reference/sql/ddl/SET_STATEMENT.md
  docs/zh/openmldb_sql/ddl/SET_STATEMENT.md
  docs/zh/quickstart/cli.md
  docs/zh/quickstart/sdk/java_sdk.md
  docs/zh/quickstart/sdk/python_sdk.md
  src/sdk/sql_cluster_router.cc
Labels: documentation, storage-engine

#3498 docs: add cluster restart docs
  docs/zh/maintain/backup.md
  docs/zh/maintain/index.rst
  docs/zh/maintain/multi_cluster.md
  docs/zh/maintain/openmldb_ops.md
  docs/zh/maintain/restart.md
  docs/zh/maintain/update_conf.md
  docs/zh/maintain/upgrade.md
  docs/zh/openmldb_sql/notice.md
Labels: documentation

#3494 feat: optimize `CLI` output message
  src/base/status.h
  src/cmd/openmldb.cc
  src/nameserver/name_server_impl.cc
  src/sdk/sql_cluster_router.cc
Labels: storage-engine

#3466 docs: change_for_install_deploy_of_deploy_folder
  docs/en/deploy/images/tablet_ps.png
  docs/en/deploy/images/zk_cli.png
  docs/en/deploy/images/zk_ps.png
  docs/en/deploy/images/zk_started.png
  docs/en/deploy/install_deploy.md
Labels: documentation

#3380 feat: support load data for hive with sql option
  docs/zh/integration/offline_data_sources/hive.md
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/LoadDataPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/HybridseUtil.scala
Labels: documentation, batch-engine

#3495 fix(#3489): rm unnecessary logs
  hybridse/src/vm/generator.cc
  hybridse/src/vm/runner.cc
Labels: execute-engine

#3376 feat: support const project online
  cases/query/const_query.yaml
  hybridse/include/case/sql_case.h
  hybridse/include/sdk/base.h
  hybridse/include/vm/physical_op.h
  hybridse/src/case/sql_case.cc
  hybridse/src/case/sql_case_test.cc
  hybridse/src/plan/planner.cc
  hybridse/src/testing/engine_test_base.h
  hybridse/src/vm/runner.cc
  hybridse/src/vm/transform.cc
  src/cmd/sql_cmd_test.cc
  src/sdk/sql_cluster_test.cc
  src/sdk/sql_request_row.h
  src/sdk/sql_sdk_base_test.cc
  src/sdk/sql_sdk_test.cc
  src/sdk/sql_standalone_sdk_test.cc
  src/test/base_test.cc
Labels: execute-engine, storage-engine

#3445 feat: optimize java sdk
  hybridse/examples/toydb/src/sdk/result_set_impl.h
  hybridse/include/sdk/base.h
  hybridse/include/sdk/result_set.h
  java/openmldb-common/src/main/java/com/_4paradigm/openmldb/common/codec/ByteBitMap.java
  java/openmldb-common/src/main/java/com/_4paradigm/openmldb/common/codec/ClassicRowBuilder.java
  java/openmldb-common/src/main/java/com/_4paradigm/openmldb/common/codec/CodecMetaData.java
  java/openmldb-common/src/main/java/com/_4paradigm/openmldb/common/codec/CodecUtil.java
  java/openmldb-common/src/main/java/com/_4paradigm/openmldb/common/codec/FlexibleRowBuilder.java
  java/openmldb-common/src/main/java/com/_4paradigm/openmldb/common/codec/RowBuilder.java
  java/openmldb-common/src/main/java/com/_4paradigm/openmldb/common/codec/RowView.java
  java/openmldb-common/src/test/java/com/_4paradigm/openmldb/common/RowCodecTest.java
  java/openmldb-common/src/test/java/com/_4paradigm/openmldb/common/codec/TestBitMap.java
  java/openmldb-common/src/test/java/com/_4paradigm/openmldb/common/codec/TestCodecUtil.java
  java/openmldb-jdbc/pom.xml
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/CallablePreparedStatement.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/DirectResultSet.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/PreparedStatement.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/RequestPreparedStatement.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/SQLResultSet.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/SQLResultSetMetaData.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/Statement.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/Common.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/ProcedureInfo.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/QueryFuture.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/Schema.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/BatchCallablePreparedStatementImpl.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/BatchRequestPreparedStatementImpl.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/CallableDirectResultSet.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/CallablePreparedStatementImpl.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/Deployment.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/DeploymentManager.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/NativeResultSet.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/PreparedStatementImpl.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/SqlClusterExecutor.java
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/RequestPreparedStatementTest.java
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/SQLRouterSmokeTest.java
  java/openmldb-spark-connector/pom.xml
  src/catalog/base.cc
  src/catalog/base.h
  src/catalog/tablet_catalog.cc
  src/catalog/tablet_catalog.h
  src/catalog/tablet_catalog_test.cc
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/proto/sql_procedure.proto
  src/sdk/batch_request_result_set_sql.h
  src/sdk/result_set_base.h
  src/sdk/result_set_sql.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_router.h
  src/sdk/sql_router_sdk.i
  src/tablet/tablet_impl.cc
Labels: sdk, execute-engine, storage-engine, breaking-change

#3496 docs: upgrade 0.8.3
  CHANGELOG.md
  demo/java_quickstart/demo/pom.xml
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/deploy/compile.md
  docs/en/deploy/install_deploy.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/quickstart/sdk/java_sdk.md
  docs/en/reference/ip_tips.md
  docs/en/use_case/JD_recommendation_en.md
  docs/en/use_case/airflow_provider_demo.md
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/lightgbm_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/en/use_case/talkingdata_demo.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/install_deploy.md
  docs/zh/integration/deploy_integration/OpenMLDB_Byzer_taxi.md
  docs/zh/integration/deploy_integration/airflow_provider_demo.md
  docs/zh/integration/deploy_integration/dolphinscheduler_task_demo.md
  docs/zh/integration/online_datasources/kafka_connector_demo.md
  docs/zh/integration/online_datasources/pulsar_connector_demo.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/quickstart/sdk/java_sdk.md
  docs/zh/reference/ip_tips.md
  docs/zh/tutorial/standalone_use.md
  docs/zh/use_case/JD_recommendation.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
  release/conf/openmldb-env.sh
  steps/upgrade_docs_version.sh
Labels: documentation, docker

#3515 fix: fix version v0.7
  docs/en/conf.py
  docs/zh/conf.py
Labels: documentation

#3516 fix: fix version v0.6
  docs/en/conf.py
  docs/zh/conf.py
Labels: documentation

#3493 fix(#3491): support window union multiple join in request mode
  cases/query/window_query.yaml
  hybridse/include/vm/schemas_context.h
  hybridse/src/passes/physical/group_and_sort_optimized.cc
  hybridse/src/vm/runner.cc
  hybridse/src/vm/schemas_context.cc
Labels: execute-engine
