Repository 4paradigm/OpenMLDB, pull requests merged in 2023-07, with the labels that each got.

#3344 docs: fix install_deploy.md note block
  docs/zh/deploy/install_deploy.md
Labels: documentation

#3341 feat(udf doc gen): simplify supported types
  hybridse/tools/documentation/udf_doxygen/export_udf_doc.py
  hybridse/tools/documentation/udf_doxygen/patch_markdown.sh
Labels: execute-engine

#3346 build: fix git-commit-id-plugin
  java/openmldb-batch/pom.xml
  java/openmldb-taskmanager/pom.xml
  java/pom.xml
Labels: batch-engine, task-manager

#3152 fix: oneflow demo and docker test
  demo/Dockerfile
  demo/README.md
  demo/docker-compose.test.yml
  demo/jd-recommendation/README.md
  docs/zh/use_case/JD_recommendation.md
Labels: documentation, docker

#3350 fix: external udf load
  hybridse/src/udf/dynamic_lib_manager.cc
  hybridse/src/vm/jit.cc
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/SparkPlanner.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/FilterPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/JoinPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/ExternalUdfUtil.scala
Labels: batch-engine, execute-engine

#3357 feat: rm codecov
  README.md
  README_cn.md
Labels: documentation

#3349 fix: offline load data & show table status
  docs/en/reference/sql/ddl/SHOW_TABLE_STATUS.md
  docs/zh/deploy/conf.md
  docs/zh/openmldb_sql/ddl/SET_STATEMENT.md
  docs/zh/openmldb_sql/ddl/SHOW_TABLE_STATUS.md
  docs/zh/openmldb_sql/dml/LOAD_DATA_STATEMENT.md
  docs/zh/quickstart/function_boundary.md
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/LoadDataPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/HybridseUtil.scala
  src/cmd/sql_cmd_test.cc
  src/sdk/sql_cluster_router.cc
Labels: documentation, batch-engine, storage-engine

#3313 fix(#2252): handling integer converting
  cases/plan/error_unsupport_sql.yaml
  docs/en/reference/sql/language_structure/literals_value.md
  docs/zh/openmldb_sql/language_structure/literals_value.md
  hybridse/src/codegen/cast_expr_ir_builder_test.cc
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/planv2/ast_node_converter_test.cc
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/literal_traits.h
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
  hybridse/src/udf/udf_test.cc
  include/base/string_ref.h
Labels: documentation, execute-engine

#3359 fix(udf): try abs path after dlopen failed and more error catch
  hybridse/src/udf/dynamic_lib_manager.cc
Labels: execute-engine

#3348 feat: support `drop database/table if exists`
  cases/plan/cmd.yaml
  hybridse/src/planv2/ast_node_converter.cc
  src/client/ns_client.cc
  src/client/ns_client.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_cluster_test.cc
Labels: execute-engine, storage-engine

#3365 build: update kafka connector version
  extensions/kafka-connect-jdbc/DEVELOP.md
  extensions/kafka-connect-jdbc/pom.xml
Labels: extensions

#3306 fix: fix dup index
  src/schema/index_test.cc
  src/schema/index_util.cc
Labels: storage-engine

#3366 fix: api server write json
  src/apiserver/api_server_impl.cc
  src/apiserver/api_server_test.cc
Labels: api-server

#3301 feat: enhance the delete
  docs/en/reference/sql/dml/DELETE_STATEMENT.md
  docs/zh/openmldb_sql/dml/DELETE_STATEMENT.md
  src/base/status.h
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/cmd/sql_cmd_test.cc
  src/codec/field_codec.h
  src/proto/tablet.proto
  src/sdk/node_adapter.cc
  src/sdk/node_adapter.h
  src/sdk/node_adapter_test.cc
  src/sdk/split_test.cc
  src/sdk/sql_cache.cc
  src/sdk/sql_cache.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_delete_row.cc
  src/sdk/sql_delete_row.h
  src/storage/aggregator.cc
  src/storage/aggregator.h
  src/storage/aggregator_test.cc
  src/storage/binlog.cc
  src/storage/disk_table.cc
  src/storage/disk_table.h
  src/storage/disk_table_iterator.cc
  src/storage/disk_table_iterator.h
  src/storage/disk_table_snapshot.cc
  src/storage/disk_table_test.cc
  src/storage/key_entry.cc
  src/storage/key_entry.h
  src/storage/key_transform.h
  src/storage/mem_table.cc
  src/storage/mem_table.h
  src/storage/mem_table_iterator.cc
  src/storage/mem_table_iterator.h
  src/storage/mem_table_snapshot.cc
  src/storage/mem_table_snapshot.h
  src/storage/node_cache.cc
  src/storage/node_cache.h
  src/storage/record.h
  src/storage/segment.cc
  src/storage/segment.h
  src/storage/segment_test.cc
  src/storage/snapshot_test.cc
  src/storage/table.h
  src/storage/table_test.cc
  src/storage/ticket.h
  src/storage/window_iterator.cc
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl_test.cc
Labels: documentation, storage-engine

#3355 docs: add more desc about sync select
  docs/zh/openmldb_sql/ddl/SET_STATEMENT.md
  docs/zh/quickstart/function_boundary.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/quickstart/sdk/java_sdk.md
Labels: documentation

#3372 docs: add publication
  README.md
  README_cn.md
Labels: documentation

#3370 docs: upgrade 0.8.2
  CHANGELOG.md
  demo/java_quickstart/demo/pom.xml
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/deploy/compile.md
  docs/en/deploy/install_deploy.md
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/reference/ip_tips.md
  docs/en/use_case/JD_recommendation_en.md
  docs/en/use_case/airflow_provider_demo.md
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/lightgbm_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/en/use_case/talkingdata_demo.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/install_deploy.md
  docs/zh/integration/deploy_integration/OpenMLDB_Byzer_taxi.md
  docs/zh/integration/deploy_integration/airflow_provider_demo.md
  docs/zh/integration/deploy_integration/dolphinscheduler_task_demo.md
  docs/zh/integration/online_datasources/kafka_connector_demo.md
  docs/zh/integration/online_datasources/pulsar_connector_demo.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/quickstart/sdk/java_sdk.md
  docs/zh/reference/ip_tips.md
  docs/zh/tutorial/standalone_use.md
  docs/zh/use_case/JD_recommendation.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
  release/conf/openmldb-env.sh
Labels: documentation, docker

#3381 fix: fix changelog version
  CHANGELOG.md
Labels: documentation

#3374 fix: unsupport delete with multi index
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/cmd/sql_cmd_test.cc
  src/proto/tablet.proto
  src/sdk/node_adapter.cc
  src/sdk/node_adapter.h
  src/sdk/node_adapter_test.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_test.cc
  src/storage/disk_table.cc
  src/storage/mem_table.cc
  src/tablet/tablet_impl.cc
Labels: storage-engine

#3383 fix: add deployment request example of pysdk
  demo/python_quickstart/demo.py
  docs/zh/quickstart/sdk/python_sdk.md
Labels: documentation, docker

#3384 fix: library load exception
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/common/LibraryLoader.java
Labels: sdk

#3392 fix: tablet rpc return, tool log, link https
  docs/zh/integration/online_datasources/kafka_connector_demo.md
  docs/zh/use_case/JD_recommendation.md
  src/tablet/tablet_impl.cc
  tools/openmldb_ops.py
  tools/tool.py
Labels: documentation, storage-engine

#3379 feat: unsupport create table like when database is not found
  src/sdk/db_sdk.cc
  src/sdk/db_sdk.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_test.cc
Labels: storage-engine

#3391 build: fix py version for training and compose test
  demo/Dockerfile
  demo/docker-compose.test.yml
Labels: docker

#3362 fix: external udf error handle
  docs/zh/openmldb_sql/ddl/DROP_FUNCTION.md
  hybridse/src/udf/udf_library.cc
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/udf/ExternalFunctionManager.java
  src/base/proto_util.h
  src/nameserver/name_server_impl.cc
  src/sdk/sql_cluster_router.cc
  src/tablet/tablet_impl.cc
Labels: documentation, execute-engine, storage-engine, task-manager

#3386 fix: `twine` and `urllib` mismatch
  .github/workflows/sdk.yml
Labels: workflow

#3390 feat: do not pack sync tools in demo docker image
  demo/setup_openmldb.sh
Labels: docker

#3367 build(cxx): fix cmake configure on cmake 3.18
  src/sdk/CMakeLists.txt
Labels: build, storage-engine

#3330 feat: diag tool proto parser and rpc service
  docs/zh/developer/python_dev.md
  docs/zh/maintain/diagnose.md
  onebox/stop_all.sh
  python/openmldb_tool/README.md
  python/openmldb_tool/diagnostic_tool/common_err.yml
  python/openmldb_tool/diagnostic_tool/diagnose.py
  python/openmldb_tool/diagnostic_tool/parser.py
  python/openmldb_tool/diagnostic_tool/rpc.py
  python/openmldb_tool/diagnostic_tool/server_checker.py
  python/openmldb_tool/setup.py
  python/openmldb_tool/tests/cmd_test.py
  python/openmldb_tool/tests/rpc_test.py
  steps/test_python.sh
Labels: documentation, sdk

#3397 refactor: rm boost
  src/sdk/file_option_parser.h
  src/sdk/mini_cluster_batch_bm.cc
  src/sdk/mini_cluster_bm.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_test.cc
  src/sdk/sql_sdk_base_test.cc
Labels: storage-engine
