Repository 4paradigm/OpenMLDB, pull requests merged in 2023-12, with the labels that each got.

#3651 feat: read spark config from session for all sql cases
  src/sdk/sql_cluster_router.cc
Labels: storage-engine

#3590 feat(online): union all query
  cases/plan/create.yaml
  cases/plan/error_request_query.yaml
  cases/plan/simple_query.yaml
  cases/plan/union_query.yaml
  cases/query/union_query.yml
  hybridse/include/codec/row.h
  hybridse/include/node/node_base.h
  hybridse/include/node/node_enum.h
  hybridse/include/node/node_manager.h
  hybridse/include/node/plan_node.h
  hybridse/include/node/sql_node.h
  hybridse/include/vm/catalog.h
  hybridse/include/vm/physical_op.h
  hybridse/include/vm/schemas_context.h
  hybridse/src/node/node_manager.cc
  hybridse/src/node/plan_node.cc
  hybridse/src/node/sql_node.cc
  hybridse/src/node/sql_node_test.cc
  hybridse/src/passes/physical/group_and_sort_optimized.cc
  hybridse/src/passes/physical/group_and_sort_optimized.h
  hybridse/src/plan/planner.cc
  hybridse/src/plan/planner.h
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/planv2/ast_node_converter.h
  hybridse/src/planv2/ast_node_converter_test.cc
  hybridse/src/planv2/planner_v2_test.cc
  hybridse/src/testing/engine_test_base.cc
  hybridse/src/vm/catalog_wrapper.cc
  hybridse/src/vm/catalog_wrapper.h
  hybridse/src/vm/internal/node_helper.cc
  hybridse/src/vm/mem_catalog.cc
  hybridse/src/vm/physical_op.cc
  hybridse/src/vm/runner.cc
  hybridse/src/vm/runner.h
  hybridse/src/vm/runner_builder.cc
  hybridse/src/vm/schemas_context.cc
  hybridse/src/vm/transform.cc
  hybridse/src/vm/transform.h
  src/sdk/sql_sdk_test.h
Labels: execute-engine, storage-engine

#3642 feat: add light java sdk
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/SdkOption.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/SqlException.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/SqlClusterExecutor.java
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/SQLRouterSmokeTest.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/OpenmldbSource.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/write/OpenmldbDataSingleWriter.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/write/OpenmldbDataWriter.java
  java/openmldb-spark-connector/src/main/scala/com/_4paradigm/openmldb/spark/read/OpenmldbPartitionReader.scala
Labels: sdk

#3619 feat(offline): support & test new SQLs from online mode
  cases/query/window_query.yaml
  hybridse/include/vm/mem_catalog.h
  hybridse/src/vm/core_api.cc
  hybridse/src/vm/core_api.h
  hybridse/src/vm/mem_catalog.cc
  hybridse/src/vm/runner.cc
  hybridse/src/vm/runner.h
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/WindowAggPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/PhysicalNodeUtil.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/window/RowDebugger.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/window/WindowAggPlanUtil.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/window/WindowComputer.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestWindow.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/nulldata/TestJoinWithNullData.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/nulldata/TestWindowWithNullData.scala
Labels: batch-engine, execute-engine

#3656 fix: zk reconnect in db sdk
  src/sdk/db_sdk.cc
  src/sdk/db_sdk.h
  src/zk/zk_client.cc
  src/zk/zk_client.h
Labels: storage-engine

#3654 fix: drop non empty offline path
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/JobInfoManager.scala
Labels: task-manager

#3672 docs(sql): update sql supports
  docs/zh/openmldb_sql/deployment_manage/ONLINE_REQUEST_REQUIREMENTS.md
  docs/zh/openmldb_sql/dql/JOIN_CLAUSE.md
  docs/zh/openmldb_sql/dql/SELECT_STATEMENT.md
  docs/zh/openmldb_sql/dql/SET_OPERATION.md
  docs/zh/openmldb_sql/dql/index.rst
  docs/zh/openmldb_sql/index.rst
  docs/zh/openmldb_sql/sql_difference.md
Labels: documentation

#3469 docs: change_for_OpenMLDB_Byzer_taxi_of_integration_folder
  docs/en/integration/deploy_integration/OpenMLDB_Byzer_taxi.md
  docs/en/integration/deploy_integration/images/Byzer_Notebook.jpg
  docs/en/integration/deploy_integration/images/byzer-load-data.png
  docs/en/integration/deploy_integration/images/byzer-upload-data.png
  docs/zh/integration/deploy_integration/OpenMLDB_Byzer_taxi.md
Labels: documentation

#3655 fix(v068-patch): zk reconnect in db sdk
  .github/workflows/coverage.yml
  src/sdk/db_sdk.cc
  src/sdk/db_sdk.h
  src/zk/zk_client.cc
  src/zk/zk_client.h
Labels: workflow, storage-engine

#3584 docs: update-openmldbsql-image-folder
  docs/en/openmldb_sql/image/difference.png
Labels: documentation

#3579 docs: move-from-reference-folder-to-openmldbsql-languagestructure-folder
  docs/en/openmldb_sql/language_structure/case_sensitive.md
  docs/en/openmldb_sql/language_structure/comment.md
  docs/en/openmldb_sql/language_structure/index.rst
  docs/en/openmldb_sql/language_structure/keywords.md
  docs/en/openmldb_sql/language_structure/literals_value.md
  docs/en/openmldb_sql/language_structure/object_names_identifiers.md
Labels: documentation

#3578 docs: move-from-reference-folder-to-openmldbsql-taskmanage-folder
  docs/en/openmldb_sql/task_manage/SHOW_JOB.md
  docs/en/openmldb_sql/task_manage/SHOW_JOBLOG.md
  docs/en/openmldb_sql/task_manage/SHOW_JOBS.md
  docs/en/openmldb_sql/task_manage/STOP_JOB.md
  docs/en/openmldb_sql/task_manage/SUBMIT_JOB.md
  docs/en/openmldb_sql/task_manage/index.rst
Labels: documentation

#3574 docs: update-en-folder-index-file
  docs/en/index.rst
Labels: documentation

#3552 docs: update-tutorial-folder
  docs/en/tutorial/app_arch.md
  docs/en/tutorial/autofe.md
  docs/en/tutorial/data_export.md
  docs/en/tutorial/data_import_guide.md
  docs/en/tutorial/images/ca1.png
  docs/en/tutorial/images/ca2.png
  docs/en/tutorial/images/ca3.png
  docs/en/tutorial/images/ca4.png
  docs/en/tutorial/images/ca5.jpg
  docs/en/tutorial/images/ca5.png
  docs/en/tutorial/images/ca6.png
  docs/en/tutorial/images/cli.png
  docs/en/tutorial/images/modes-flow-en.png
  docs/en/tutorial/images/modes-flow.png
  docs/en/tutorial/modes.md
  docs/en/tutorial/standalone_use.md
  docs/en/tutorial/standalone_vs_cluster.md
  docs/zh/tutorial/autofe.md
  docs/zh/tutorial/data_export.md
  docs/zh/tutorial/data_import_guide.md
  docs/zh/tutorial/standalone_use.md
Labels: documentation

#3539 docs: update-reference-arch-folder
  docs/en/reference/arch/core_data_structure.md
  docs/en/reference/arch/images/core_data_structure/1.png
  docs/en/reference/arch/images/core_data_structure/2.png
  docs/en/reference/arch/images/core_data_structure/3.png
  docs/en/reference/arch/images/core_data_structure/4.png
  docs/en/reference/arch/images/core_data_structure/5.png
  docs/en/reference/arch/images/core_data_structure/6.png
  docs/en/reference/arch/index.rst
  docs/zh/reference/arch/core_data_structure.md
Labels: documentation

#3488 docs: update_integration_offline_data_sources_folder
  docs/en/integration/offline_data_sources/hive.md
  docs/en/integration/offline_data_sources/index.rst
  docs/en/integration/offline_data_sources/s3.md
Labels: documentation

#3477 docs: change_for_multi_cluster_of_maintain_folder
  docs/en/maintain/images/leader_follower_cluster.png
  docs/en/maintain/images/leader_follower_flow.png
  docs/en/maintain/images/showrepcluster.png
  docs/en/maintain/images/tikv_mysql.png
  docs/en/maintain/multi_cluster.md
Labels: documentation

#3475 docs: change_for_rocketmq_connector_of_integration_folder
  docs/en/integration/online_datasources/images/rocketmq_overview.png
  docs/en/integration/online_datasources/images/rocketmq_runtime.png
  docs/en/integration/online_datasources/images/rocketmq_test.png
  docs/en/integration/online_datasources/images/rocketmq_workflow.png
  docs/en/integration/online_datasources/rocketmq_connector.md
  docs/zh/integration/online_datasources/rocketmq_connector.md
Labels: documentation

#3667 feat(deployment): create index for more sqls
  CMakeLists.txt
  cases/query/union_query.yml
  hybridse/include/vm/engine.h
  hybridse/include/vm/engine_context.h
  hybridse/include/vm/physical_op.h
  hybridse/src/passes/physical/group_and_sort_optimized.cc
  hybridse/src/passes/physical/group_and_sort_optimized.h
  hybridse/src/sdk/hybridse_interface_core.i
  hybridse/src/vm/engine.cc
  hybridse/src/vm/physical_plan_context.h
  hybridse/src/vm/sql_compiler.cc
  hybridse/src/vm/sql_compiler.h
  hybridse/src/vm/transform.cc
  hybridse/src/vm/transform.h
  src/base/ddl_parser.cc
  src/base/ddl_parser.h
  src/base/ddl_parser_test.cc
  src/sdk/sql_cluster_router.cc
Labels: build, execute-engine, storage-engine

#3666 fix: local load/write validate and refactor
  docs/zh/openmldb_sql/dml/LOAD_DATA_STATEMENT.md
  docs/zh/openmldb_sql/dql/SELECT_INTO_STATEMENT.md
  src/cmd/sql_cmd_test.cc
  src/sdk/CMakeLists.txt
  src/sdk/file_option_parser.h
  src/sdk/options_map_parser.h
  src/sdk/options_map_parser_test.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
Labels: documentation, build, storage-engine

#3649 fix: throw null pointer exception if the set value is null in `RowBuilder`
  docs/en/quickstart/sdk/java_sdk.md
  docs/zh/quickstart/sdk/java_sdk.md
  java/openmldb-common/src/main/java/com/_4paradigm/openmldb/common/codec/ClassicRowBuilder.java
  java/openmldb-common/src/main/java/com/_4paradigm/openmldb/common/codec/FlexibleRowBuilder.java
  java/openmldb-common/src/test/java/com/_4paradigm/openmldb/common/RowCodecTest.java
Labels: documentation
