Repository 4paradigm/OpenMLDB, pull requests merged in 2023-06, with the labels that each got.

#3226 refactor: use `CreateTask` function to create all kinds of task
  src/nameserver/name_server_impl.cc
  src/nameserver/name_server_impl.h
  src/nameserver/task.h
Labels: storage-engine

#3258 feat: diag tool log parse
  docs/zh/maintain/diagnose.md
  python/openmldb_tool/diagnostic_tool/diagnose.py
  python/openmldb_tool/diagnostic_tool/parser.py
  python/openmldb_tool/tests/log_parser_test.py
  python/openmldb_tool/tests/off_err_logs/no_class.logfile
  python/openmldb_tool/tests/off_err_logs/no_db.logfile
  python/openmldb_tool/tests/off_err_logs/no_hive_table.logfile
  python/openmldb_tool/tests/off_err_logs/no_table.logfile
  python/openmldb_tool/tests/off_err_logs/select_into_empty.logfile
  python/openmldb_tool/tests/off_err_logs/yarn_error.logfile
Labels: documentation, sdk

#3288 feat: deploy with data
  docs/en/reference/sql/deployment_manage/DEPLOY_STATEMENT.md
  docs/zh/openmldb_sql/deployment_manage/DEPLOY_STATEMENT.md
  src/client/ns_client.cc
  src/client/ns_client.h
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/cmd/openmldb.cc
  src/cmd/sql_cmd_test.cc
  src/codec/codec.cc
  src/codec/row_codec.cc
  src/codec/row_codec.h
  src/flags.cc
  src/log/log_writer.h
  src/nameserver/name_server_impl.cc
  src/nameserver/name_server_impl.h
  src/nameserver/name_server_test.cc
  src/nameserver/task.cc
  src/nameserver/task.h
  src/proto/name_server.proto
  src/proto/tablet.proto
  src/schema/index_test.cc
  src/schema/index_util.cc
  src/schema/index_util.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/storage/mem_table_snapshot.cc
  src/storage/mem_table_snapshot.h
  src/storage/snapshot.cc
  src/storage/snapshot.h
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl.h
  src/tablet/tablet_impl_test.cc
  test/integration-test/openmldb-test-python/ha_cases/test_addindex.py
Labels: documentation, storage-engine

#3294 test: improve to yaml case file loading
  cases/yaml/demo.yaml
  hybridse/CMakeLists.txt
  hybridse/examples/toydb/src/bm/batch_request_bm.cc
  hybridse/examples/toydb/src/bm/request_bm.cc
  hybridse/examples/toydb/src/sdk/dbms_sdk_test.cc
  hybridse/include/case/sql_case.h
  hybridse/src/case/sql_case.cc
  hybridse/src/case/sql_case_test.cc
  hybridse/src/passes/physical/batch_request_optimize_test.cc
  hybridse/src/testing/engine_test_base.cc
  hybridse/src/vm/schemas_context_test.cc
  src/sdk/mini_cluster_request_batch_bm.cc
  src/sdk/mini_cluster_request_bm.cc
  src/sdk/sql_sdk_base_test.cc
  src/sdk/sql_sdk_base_test.h
  src/sdk/sql_sdk_run.cc
  src/sdk/sql_sdk_test.h
Labels: build, execute-engine, storage-engine

#3307 feat(docker): bump zetasql to 0.3.0
  docker/Dockerfile
Labels: docker

#3276 feat: support config and deploy openmldb-kafka-connect in docker and k8s
  docs/zh/integration/online_datasources/kafka_connector_demo.md
  extensions/kafka-connect-jdbc/docker/Dockerfile
  extensions/kafka-connect-jdbc/docker/openmldb-kafka-connect-deployment.yaml
  extensions/kafka-connect-jdbc/docker/openmldb-kafka-connect-service.yaml
Labels: documentation, extensions

#3303 feat: enhance diag tool log parser and fix python setup
  docs/zh/maintain/diagnose.md
  python/openmldb_sdk/setup.py
  python/openmldb_sdk/tests/conftest.py
  python/openmldb_sdk/tests/sqlalchemy_standardtest_example.py
  python/openmldb_tool/diagnostic_tool/common_err.yml
  python/openmldb_tool/diagnostic_tool/diagnose.py
  python/openmldb_tool/diagnostic_tool/parser.py
  python/openmldb_tool/diagnostic_tool/table_checker.py
  python/openmldb_tool/setup.py
  python/openmldb_tool/tests/log_parser_test.py
  python/openmldb_tool/tests/off_err_logs/no_class.logfile
Labels: documentation, sdk

#3297 feat: sql merge, ttl merge and deploy index fix
  Makefile
  docs/zh/openmldb_sql/ddl/CREATE_TABLE_STATEMENT.md
  docs/zh/openmldb_sql/deployment_manage/DEPLOY_STATEMENT.md
  docs/zh/quickstart/sdk/java_sdk.md
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/SqlClusterExecutor.java
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/SQLRouterSmokeTest.java
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/StatementTest.java
  src/base/ddl_parser.cc
  src/base/ddl_parser.h
  src/base/ddl_parser_test.cc
  src/cmd/sql_cmd_test.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/storage/table.cc
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl_test.cc
  steps/ut_zookeeper.sh
Labels: documentation, build, sdk, storage-engine

#3312 feat: add other os build workflow
  .github/workflows/other-os-build.yml
  docs/zh/deploy/compile.md
  steps/centos6_build.sh
Labels: documentation, workflow

#2529 feat: support select into 1 file on offline
  docs/en/reference/sql/dql/SELECT_INTO_STATEMENT.md
  docs/zh/openmldb_sql/dql/SELECT_INTO_STATEMENT.md
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/LoadDataPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/SelectIntoPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/HybridseUtil.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/TestSelectIntoPlan.scala
Labels: documentation, batch-engine

#3298 fix(#3023): query expr `at(list, numeric)` as non-window function
  cases/function/function/test_udaf_function.yaml
  cases/function/function/test_udf_function.yaml
  hybridse/include/codec/list_iterator_codec.h
  hybridse/include/codec/row_list.h
  hybridse/src/node/sql_node.cc
  hybridse/src/plan/planner.cc
  hybridse/src/udf/default_defs/feature_zero_def.cc
  hybridse/src/udf/default_defs/window_functions_def.cc
Labels: execute-engine

#3308 docs(online preview): update support for window/groupby/having
  docs/en/reference/sql/dql/GROUP_BY_CLAUSE.md
  docs/en/reference/sql/dql/HAVING_CLAUSE.md
  docs/en/reference/sql/dql/SELECT_STATEMENT.md
  docs/en/reference/sql/dql/WINDOW_CLAUSE.md
  docs/zh/openmldb_sql/dql/GROUP_BY_CLAUSE.md
  docs/zh/openmldb_sql/dql/HAVING_CLAUSE.md
  docs/zh/openmldb_sql/dql/SELECT_STATEMENT.md
  docs/zh/openmldb_sql/dql/WINDOW_CLAUSE.md
Labels: documentation

#3293 feat: show nameserver job
  cases/plan/cmd.yaml
  docs/en/reference/sql/task_manage/SHOW_JOB.md
  docs/en/reference/sql/task_manage/SHOW_JOBS.md
  docs/zh/openmldb_sql/task_manage/SHOW_JOB.md
  docs/zh/openmldb_sql/task_manage/SHOW_JOBS.md
  hybridse/include/node/node_enum.h
  hybridse/include/node/plan_node.h
  hybridse/include/node/sql_node.h
  hybridse/src/node/plan_node.cc
  hybridse/src/node/sql_node.cc
  hybridse/src/plan/planner.cc
  hybridse/src/planv2/ast_node_converter.cc
  src/client/ns_client.h
  src/cmd/sql_cmd_test.cc
  src/nameserver/name_server_impl.cc
  src/sdk/job_table_helper.cc
  src/sdk/job_table_helper.h
  src/sdk/result_set_sql.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
Labels: documentation, execute-engine, storage-engine

#3325 build(ci): reduce coverage disk usage
  .github/workflows/coverage.yml
  CMakeLists.txt
  Makefile
  src/sdk/CMakeLists.txt
Labels: workflow, build, storage-engine

#3314 feat: support multi db in parse and add getDependenceTables
  docs/zh/quickstart/sdk/java_sdk.md
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/SqlClusterExecutor.java
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/SQLRouterSmokeTest.java
  src/base/ddl_parser.cc
  src/base/ddl_parser.h
  src/base/ddl_parser_test.cc
  src/catalog/tablet_catalog.cc
  src/client/ns_client.cc
  src/client/ns_client.h
  src/cmd/sql_cmd.h
  src/cmd/sql_cmd_test.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_router.cc
  src/sdk/sql_router.h
  src/sdk/sql_router_sdk.i
  src/sdk/sql_router_test.cc
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl_test.cc
Labels: documentation, sdk, storage-engine

#3328 fix: refresh table info after zk updated
  src/cmd/sql_cmd_test.cc
  src/nameserver/name_server_impl.cc
  src/nameserver/name_server_impl.h
  src/test/util.cc
Labels: storage-engine

#3331 build(coverage): enable `TESTING_ENABLE_STRIP` for coverage
  .github/workflows/coverage.yml
  src/CMakeLists.txt
  src/sdk/CMakeLists.txt
Labels: workflow, build, storage-engine

#3332 build(cpp sdk): do not extract path for interface target
  src/sdk/CMakeLists.txt
Labels: build, storage-engine

#3326 fix: dlopen error, install udf dir and doc
  CMakeLists.txt
  docs/zh/deploy/install_deploy.md
  docs/zh/openmldb_sql/ddl/CREATE_FUNCTION.md
  docs/zh/openmldb_sql/udf_develop_guide.md
  hybridse/src/udf/dynamic_lib_manager.cc
Labels: documentation, build, execute-engine

#3333 docs: fix warnings of docs compilation
  docs/zh/developer/built_in_function_develop_guide.md
  docs/zh/developer/sdk_develop.md
  docs/zh/integration/deploy_integration/OpenMLDB_Byzer_taxi.md
  docs/zh/integration/deploy_integration/airflow_provider_demo.md
  docs/zh/integration/deploy_integration/dolphinscheduler_task_demo.md
  docs/zh/maintain/faq.md
  docs/zh/openmldb_sql/ddl/CREATE_INDEX_STATEMENT.md
  docs/zh/openmldb_sql/ddl/CREATE_TABLE_STATEMENT.md
  docs/zh/openmldb_sql/deployment_manage/DEPLOY_STATEMENT.md
  docs/zh/openmldb_sql/deployment_manage/ONLINE_REQUEST_REQUIREMENTS.md
  docs/zh/openmldb_sql/dql/JOIN_CLAUSE.md
  docs/zh/openmldb_sql/dql/SELECT_STATEMENT.md
  docs/zh/openmldb_sql/dql/WINDOW_CLAUSE.md
  docs/zh/openmldb_sql/functions_and_operators/Files/udfs_8h.md
  docs/zh/openmldb_sql/language_structure/keywords.md
  docs/zh/quickstart/beginner_must_read.md
  docs/zh/quickstart/concepts/modes.md
  docs/zh/quickstart/function_boundary.md
  docs/zh/quickstart/sdk/rest_api.md
  docs/zh/reference/ip_tips.md
  docs/zh/tutorial/standalone_use.md
  docs/zh/tutorial/tutorial_sql_1.md
  docs/zh/tutorial/tutorial_sql_2.md
  docs/zh/use_case/JD_recommendation.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
Labels: documentation

#3323 feat: support alter table
  docs/en/reference/sql/dml/ALTER_STATEMENT.md
  docs/en/reference/sql/dml/index.rst
  docs/zh/openmldb_sql/dml/ALTER_STATEMENT.md
  docs/zh/openmldb_sql/dml/index.rst
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_test.cc
Labels: documentation, storage-engine

#3329 feat(udf): top_n_value_ratio_cate & top_n_value_key_ratio_cate
  cases/function/function/test_udaf_function.yaml
  cases/function/test_feature_zero_function.yaml
  hybridse/src/udf/containers.h
  hybridse/src/udf/default_defs/aggregate_def.cc
  hybridse/src/udf/default_defs/avg_by_category_def.cc
  hybridse/src/udf/default_defs/containers.h
  hybridse/src/udf/default_defs/count_by_category_def.cc
  hybridse/src/udf/default_defs/feature_zero_def.cc
  hybridse/src/udf/default_defs/max_by_category_def.cc
  hybridse/src/udf/default_defs/min_by_category_def.cc
  hybridse/src/udf/default_defs/sum_by_category_def.cc
  hybridse/src/udf/default_defs/window_functions_def.cc
Labels: execute-engine

#3337 fix: fix alter table with db name and add ut
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_test.cc
Labels: storage-engine

#3335 docs: upgrade 0.8.1
  CHANGELOG.md
  README.md
  README_cn.md
  demo/java_quickstart/demo/pom.xml
  demo/jd-recommendation/README.md
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/deploy/compile.md
  docs/en/deploy/install_deploy.md
  docs/en/quickstart/java_sdk.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/reference/ip_tips.md
  docs/en/use_case/JD_recommendation_en.md
  docs/en/use_case/airflow_provider_demo.md
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/lightgbm_demo.md
  docs/en/use_case/pulsar_connector_demo.md
  docs/en/use_case/talkingdata_demo.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/install_deploy.md
  docs/zh/integration/deploy_integration/OpenMLDB_Byzer_taxi.md
  docs/zh/integration/deploy_integration/airflow_provider_demo.md
  docs/zh/integration/deploy_integration/dolphinscheduler_task_demo.md
  docs/zh/integration/online_datasources/kafka_connector_demo.md
  docs/zh/integration/online_datasources/pulsar_connector_demo.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/quickstart/sdk/java_sdk.md
  docs/zh/reference/ip_tips.md
  docs/zh/tutorial/standalone_use.md
  docs/zh/use_case/JD_recommendation.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
  release/conf/openmldb-env.sh
Labels: documentation, docker
