Repository 4paradigm/OpenMLDB, pull requests merged in 2023-08, with the labels that each got.

#3414 feat(udf): json functions
  CMakeLists.txt
  CPPLINT.cfg
  contrib/CMakeLists.txt
  contrib/simdjson/CMakeLists.txt
  contrib/simdjson/README
  contrib/simdjson/simdjson.cpp
  contrib/simdjson/simdjson.h
  hybridse/src/CMakeLists.txt
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/udf/default_defs/json_defs.cc
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/default_udf_library.h
Labels: build, execute-engine

#3410 fix: udf build and deploy
  docs/en/developer/udf_develop_guide.md
  docs/zh/openmldb_sql/udf_develop_guide.md
  release/sbin/deploy-all.sh
Labels: documentation

#3371 feat: support showing jobs sorted by id
  src/sdk/job_table_helper.cc
  src/sdk/sql_cluster_test.cc
Labels: storage-engine

#3388 feat: upgrade docker version
  CMakeLists.txt
  demo/Dockerfile
  java/hybridse-native/pom.xml
  java/hybridse-proto/pom.xml
  java/hybridse-sdk/pom.xml
  java/openmldb-batch/pom.xml
  java/openmldb-batchjob/pom.xml
  java/openmldb-common/pom.xml
  java/openmldb-jdbc/pom.xml
  java/openmldb-native/pom.xml
  java/openmldb-spark-connector/pom.xml
  java/openmldb-synctool/pom.xml
  java/openmldb-taskmanager/pom.xml
  java/pom.xml
  python/openmldb_sdk/setup.py
  python/openmldb_tool/setup.py
  steps/post_release.sh
  test/integration-test/openmldb-test-python/install.sh
Labels: build, docker, batch-engine, sdk, task-manager

#3435 feat!: rm monitoring source
  .github/workflows/monitoring.yml
  monitoring/.env
  monitoring/.gitignore
  monitoring/README.md
  monitoring/docker-compose.yml
  monitoring/openmldb_exporter/__init__.py
  monitoring/openmldb_exporter/collector/__init__.py
  monitoring/openmldb_exporter/collector/collectors.py
  monitoring/openmldb_exporter/collector/configstore.py
  monitoring/openmldb_exporter/collector/metrics.py
  monitoring/openmldb_exporter/exporter.py
  monitoring/openmldb_mixin/.gitignore
  monitoring/openmldb_mixin/Makefile
  monitoring/openmldb_mixin/README.md
  monitoring/openmldb_mixin/mixin.libsonnet
  monitoring/openmldb_mixin/openmldb_dashboard.json
  monitoring/openmldb_mixin/prometheus_example.yml
  monitoring/poetry.lock
  monitoring/prod.Dockerfile
  monitoring/prod.env
  monitoring/pyproject.toml
  monitoring/res/prometheus.yml
  monitoring/src.Dockerfile
  monitoring/test.Dockerfile
  monitoring/tests/conftest.py
  monitoring/tests/test_exporter.py
  monitoring/tests/test_prometheus.py
Labels: workflow, monitoring

#3408 fix: kafka connector dependency
  docs/zh/integration/online_datasources/kafka_connector_demo.md
  extensions/kafka-connect-jdbc/DEVELOP.md
  extensions/kafka-connect-jdbc/pom.xml
Labels: documentation, extensions

#3429 feat(udf): add get_json_object
  CPPLINT.cfg
  contrib/simdjson/README
  contrib/simdjson/simdjson.cpp
  contrib/simdjson/simdjson.h
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/udf/default_defs/json_defs.cc
  hybridse/src/udf/literal_traits.h
Labels: execute-engine

#3436 docs(monitoring): update description
  docs/en/maintain/monitoring.md
  docs/zh/maintain/monitoring.md
Labels: documentation

#3283 ci: add selfhost muliti-machine integration test
  .github/workflows/selfhost_intergration.yml
  cases/integration_test/ddl/test_options.yaml
  cases/integration_test/expression/test_condition.yaml
  cases/integration_test/expression/test_like.yaml
  cases/integration_test/long_window/test_long_window.yaml
  test/integration-test/openmldb-test-java/openmldb-sdk-test/pom.xml
  test/integration-test/openmldb-test-java/openmldb-sdk-test/src/main/java/com/_4paradigm/openmldb/java_sdk_test/common/OpenMLDBConfig.java
  test/integration-test/openmldb-test-java/openmldb-sdk-test/src/main/java/com/_4paradigm/openmldb/java_sdk_test/common/OpenMLDBTest.java
  test/integration-test/openmldb-test-java/openmldb-sdk-test/src/test/java/com/_4paradigm/openmldb/java_sdk_test/yarn/TestExternalFunction.java
  test/integration-test/openmldb-test-java/openmldb-test-common/pom.xml
  test/steps/format_config.sh
  test/test-tool/openmldb-deploy/cases/test_upgrade.py
Labels: workflow

#3441 fix: create function return success if create failed on tablet
  src/cmd/single_tablet_test.cc
  src/nameserver/name_server_impl.cc
Labels: storage-engine

#3433 fix: fix nameserver fatal coredump
  src/datacollector/data_collector_test.cc
  src/nameserver/name_server_impl.cc
Labels: storage-engine

#3451 docs: fix typo
  docs/zh/openmldb_sql/sql_difference.md
Labels: documentation

#3450 feat: support inherit env variables for spark
  docs/zh/deploy/conf.md
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/config/TaskManagerConfig.java
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/spark/SparkJobManager.scala
Labels: documentation, task-manager

#3456 feat: deploy with bias
  docs/en/reference/sql/deployment_manage/DEPLOY_STATEMENT.md
  docs/zh/openmldb_sql/deployment_manage/DEPLOY_STATEMENT.md
  src/base/ddl_parser.cc
  src/cmd/sql_cmd_test.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
Labels: documentation, storage-engine

#3453 docs: add notice
  docs/zh/openmldb_sql/index.rst
  docs/zh/openmldb_sql/notice.md
Labels: documentation

#3462 docs: add online_openmldb_kubernetes
  docs/zh/deploy/index.rst
Labels: documentation

#3427 feat: drop success if pid does not exist
  docs/en/deploy/conf.md
  docs/zh/deploy/conf.md
  release/conf/tablet.flags.template
  src/client/tablet_client.cc
  src/nameserver/name_server_impl.cc
Labels: documentation, storage-engine

#3393 fix: run addindex failed
  docs/en/reference/sql/ddl/CREATE_INDEX_STATEMENT.md
  docs/en/reference/sql/ddl/CREATE_TABLE_STATEMENT.md
  docs/zh/openmldb_sql/ddl/CREATE_INDEX_STATEMENT.md
  docs/zh/openmldb_sql/ddl/CREATE_TABLE_STATEMENT.md
  src/base/status.h
  src/nameserver/name_server_impl.cc
  src/nameserver/name_server_impl.h
  src/schema/index_util.cc
  src/schema/index_util.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_test.cc
  test/integration-test/openmldb-test-python/ha_cases/test_addindex.py
Labels: documentation, storage-engine

#3434 refactor: optimize the error message of create table
  src/catalog/distribute_iterator_test.cc
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/nameserver/name_server_impl.cc
  src/nameserver/name_server_impl.h
  src/replica/binlog_test.cc
  src/replica/snapshot_replica_test.cc
  src/schema/index_util.cc
  src/schema/index_util.h
  src/sdk/node_adapter.cc
  src/test/util.cc
  src/test/util.h
Labels: storage-engine
