Repository 4paradigm/OpenMLDB, pull requests merged in 2024-07, with the labels that each got.

#3944 feat: iot table
  docs/zh/openmldb_sql/ddl/CREATE_INDEX_STATEMENT.md
  docs/zh/openmldb_sql/ddl/CREATE_TABLE_STATEMENT.md
  hybridse/include/node/node_manager.h
  hybridse/include/node/sql_node.h
  hybridse/src/node/node_manager.cc
  hybridse/src/node/plan_node_test.cc
  hybridse/src/node/sql_node.cc
  hybridse/src/node/sql_node_test.cc
  hybridse/src/plan/planner.cc
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/sdk/codec_sdk.cc
  src/base/index_util.cc
  src/base/index_util.h
  src/base/status.h
  src/base/status_util.h
  src/catalog/distribute_iterator.cc
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/cmd/display.h
  src/cmd/sql_cmd_test.cc
  src/codec/field_codec.h
  src/flags.cc
  src/nameserver/name_server_impl.cc
  src/proto/common.proto
  src/proto/tablet.proto
  src/sdk/node_adapter.cc
  src/sdk/option.h
  src/sdk/sql_cluster_router.cc
  src/storage/index_organized_table.cc
  src/storage/index_organized_table.h
  src/storage/iot_segment.cc
  src/storage/iot_segment.h
  src/storage/iot_segment_test.cc
  src/storage/key_entry.cc
  src/storage/mem_table.cc
  src/storage/mem_table.h
  src/storage/mem_table_iterator.cc
  src/storage/mem_table_iterator.h
  src/storage/node_cache.cc
  src/storage/record.h
  src/storage/schema.cc
  src/storage/schema.h
  src/storage/segment.cc
  src/storage/segment.h
  src/storage/table.cc
  src/storage/table_iterator_test.cc
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl_test.cc
  steps/test_python.sh
  tools/tool.py
Labels: documentation, execute-engine, storage-engine

#3908 fix: drop aggr tables in drop table
  src/cmd/sql_cmd_test.cc
  src/sdk/sql_cluster_router.cc
Labels: storage-engine

#3955 ci(#3954): fix checkout action on old glibc OS
  .github/workflows/cicd.yaml
  .github/workflows/devops-test.yml
  .github/workflows/hybridse-ci.yml
  .github/workflows/integration-test-pkg.yml
  .github/workflows/integration-test-src.yml
  .github/workflows/integration-test.yml
  .github/workflows/openmldb-tool.yml
  .github/workflows/sdk.yml
  .github/workflows/selfhost_intergration.yml
Labels: workflow

#3943 feat: support locate(substr, str[, pos]) function(#820)
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
Labels: execute-engine

#3959 docs: add changelog for 0.9.1
  CHANGELOG.md
Labels: documentation

#3963 fix: select from JOB_INFO should always in online mode
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/JobInfoManager.scala
  src/sdk/sql_cluster_router.cc
Labels: storage-engine, task-manager

#3965 build(docker): centos7 EOL
  .github/workflows/hybridsql-docker.yml
  docker/Dockerfile
  docker/patch_yum_repo.sh
Labels: workflow, docker

#3966 fix(docker): numpy version lock
  demo/Dockerfile
Labels: docker

#3960 feat: update docs version to 0.9.1
  demo/java_quickstart/demo/pom.xml
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/blog_post/20240402_OpenmldbVsRedis.md
  docs/en/deploy/compile.md
  docs/en/deploy/install_deploy.md
  docs/en/integration/deploy_integration/OpenMLDB_Byzer_taxi.md
  docs/en/integration/deploy_integration/airflow_provider_demo.md
  docs/en/integration/deploy_integration/dolphinscheduler_task_demo.md
  docs/en/integration/online_datasources/kafka_connector_demo.md
  docs/en/integration/online_datasources/pulsar_connector_demo.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/quickstart/sdk/java_sdk.md
  docs/en/reference/ip_tips.md
  docs/en/tutorial/standalone_use.md
  docs/en/use_case/JD_recommendation.md
  docs/en/use_case/talkingdata_demo.md
  docs/en/use_case/taxi_tour_duration_prediction.md
  docs/zh/blog_post/20240402_OpenmldbVsRedis.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/install_deploy.md
  docs/zh/integration/deploy_integration/OpenMLDB_Byzer_taxi.md
  docs/zh/integration/deploy_integration/airflow_provider_demo.md
  docs/zh/integration/deploy_integration/dolphinscheduler_task_demo.md
  docs/zh/integration/online_datasources/kafka_connector_demo.md
  docs/zh/integration/online_datasources/pulsar_connector_demo.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/quickstart/sdk/java_sdk.md
  docs/zh/reference/ip_tips.md
  docs/zh/tutorial/standalone_use.md
  docs/zh/use_case/JD_recommendation.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
  release/conf/openmldb-env.sh
Labels: documentation, docker

#3936 docs: add blog post
  docs/en/blog_post/20240523_OpenmldbFeatureSignatures.md
  docs/en/blog_post/index.rst
  docs/zh/blog_post/20240523_OpenmldbFeatureSignatures.md
  docs/zh/blog_post/images/20240523-patent.png
  docs/zh/blog_post/index.rst
Labels: documentation

#3952 refactor: fix compile for mcjit and improve to tests
  hybridse/.gitignore
  hybridse/CMakeLists.txt
  hybridse/include/case/sql_case.h
  hybridse/src/case/sql_case.cc
  hybridse/src/case/test_cfg.h.in
  hybridse/src/vm/jit.cc
Labels: build, execute-engine

#3913 docs: add blog post
  docs/en/blog_post/20240503_OpenmldbRelease.md
  docs/en/blog_post/index.rst
  docs/zh/blog_post/20240503_OpenmldbRelease.md
  docs/zh/blog_post/index.rst
Labels: documentation

#3964 ci: update create-pull-request action to v6 in udf-doc-gen workflow & rm deprecated file sync
  .github/workflows/udf-doc.yml
  hybridse/tools/documentation/udf_doxygen/Makefile
Labels: workflow, execute-engine

#3968 docs: add changelog for 0.9.2
  CHANGELOG.md
Labels: documentation

#3970 docs: update version 0.9.2 in docs
  demo/java_quickstart/demo/pom.xml
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/blog_post/20240402_OpenmldbVsRedis.md
  docs/en/blog_post/20240523_OpenmldbFeatureSignatures.md
  docs/en/deploy/compile.md
  docs/en/deploy/install_deploy.md
  docs/en/integration/deploy_integration/OpenMLDB_Byzer_taxi.md
  docs/en/integration/deploy_integration/airflow_provider_demo.md
  docs/en/integration/deploy_integration/dolphinscheduler_task_demo.md
  docs/en/integration/online_datasources/kafka_connector_demo.md
  docs/en/integration/online_datasources/pulsar_connector_demo.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/quickstart/sdk/java_sdk.md
  docs/en/reference/ip_tips.md
  docs/en/tutorial/standalone_use.md
  docs/en/use_case/JD_recommendation.md
  docs/en/use_case/talkingdata_demo.md
  docs/en/use_case/taxi_tour_duration_prediction.md
  docs/zh/blog_post/20240402_OpenmldbVsRedis.md
  docs/zh/blog_post/20240523_OpenmldbFeatureSignatures.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/install_deploy.md
  docs/zh/integration/deploy_integration/OpenMLDB_Byzer_taxi.md
  docs/zh/integration/deploy_integration/airflow_provider_demo.md
  docs/zh/integration/deploy_integration/dolphinscheduler_task_demo.md
  docs/zh/integration/online_datasources/kafka_connector_demo.md
  docs/zh/integration/online_datasources/pulsar_connector_demo.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/quickstart/sdk/java_sdk.md
  docs/zh/reference/ip_tips.md
  docs/zh/tutorial/standalone_use.md
  docs/zh/use_case/JD_recommendation.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
  release/conf/openmldb-env.sh
Labels: documentation, docker
