Repository 4paradigm/OpenMLDB, pull requests merged in 2024-10, with the labels that each got.

#3988 fix(workflow): ci/cd failure
  .github/workflows/cicd.yaml
  .github/workflows/coverage.yml
  .github/workflows/devops-test.yml
  .github/workflows/hybridse-ci.yml
  .github/workflows/integration-test-pkg.yml
  .github/workflows/integration-test-src.yml
  .github/workflows/integration-test.yml
  .github/workflows/openmldb-tool.yml
  .github/workflows/other-os-build.yml
  .github/workflows/sdk.yml
  .github/workflows/selfhost_intergration.yml
Labels: documentation, workflow

#3984 upgrade: upload-artifact to v3
  .github/workflows/cicd.yaml
  .github/workflows/integration-test-pkg.yml
  .github/workflows/integration-test.yml
Labels: workflow

#3995 fix: update doc of kafka connector demo for #3993
  docs/en/integration/online_datasources/kafka_connector_demo.md
  docs/zh/integration/online_datasources/kafka_connector_demo.md
Labels: documentation

#3996 fix(workflow): ci/cd failure for main branch
  .github/workflows/cicd.yaml
  .github/workflows/devops-test.yml
  .github/workflows/hybridse-ci.yml
  .github/workflows/integration-test-pkg.yml
  .github/workflows/integration-test-src.yml
  .github/workflows/integration-test.yml
  .github/workflows/openmldb-tool.yml
  .github/workflows/other-os-build.yml
  .github/workflows/sdk.yml
  .github/workflows/selfhost_intergration.yml
Labels: workflow
