Repository 4paradigm/OpenMLDB, pull requests merged in 2024-06, with the labels that each got.

#3947 fix: handle repeated sort keys and sort as int
  hybridse/src/codegen/udf_ir_builder_test.cc
  hybridse/src/udf/default_defs/feature_zero_def.cc
Labels: execute-engine

#3939 feat(udf): isin
  cases/query/udf_query.yaml
  hybridse/src/udf/default_defs/array_def.cc
Labels: execute-engine

#3924 feat(#3916): support @@execute_mode = 'request'
  hybridse/include/vm/engine.h
  hybridse/src/vm/engine.cc
  hybridse/src/vm/engine_context.cc
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/sdk/internal/system_variable.cc
  src/sdk/internal/system_variable.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_router.h
  src/sdk/sql_router_sdk.i
  src/tablet/tablet_impl.cc
Labels: execute-engine, storage-engine

#3945 feat(udf): array_combine & array_join
  cases/query/udf_query.yaml
  hybridse/src/base/cartesian_product.cc
  hybridse/src/base/cartesian_product.h
  hybridse/src/codegen/array_ir_builder.cc
  hybridse/src/codegen/array_ir_builder.h
  hybridse/src/codegen/ir_base_builder.cc
  hybridse/src/codegen/string_ir_builder.cc
  hybridse/src/codegen/string_ir_builder.h
  hybridse/src/codegen/struct_ir_builder.cc
  hybridse/src/codegen/struct_ir_builder.h
  hybridse/src/udf/default_defs/array_def.cc
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
  hybridse/src/vm/jit_wrapper.cc
Labels: execute-engine

#3938 feat: execute mode batchrequest
  src/tablet/tablet_impl.cc
Labels: storage-engine

#3941 feat: user authz
  hybridse/include/node/node_enum.h
  hybridse/include/node/plan_node.h
  hybridse/include/node/sql_node.h
  hybridse/src/plan/planner.cc
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/planv2/ast_node_converter.h
  src/auth/user_access_manager.cc
  src/auth/user_access_manager.h
  src/base/status.h
  src/client/ns_client.cc
  src/client/ns_client.h
  src/cmd/sql_cmd_test.cc
  src/nameserver/name_server_impl.cc
  src/nameserver/name_server_impl.h
  src/nameserver/system_table.h
  src/proto/name_server.proto
  src/sdk/sql_cluster_router.cc
Labels: execute-engine, storage-engine
