Repository 4paradigm/OpenMLDB, pull requests merged in 2024-02, with the labels that each got.

#3743 fix: udf example and docs
  docs/zh/openmldb_sql/udf_develop_guide.md
  src/examples/test_udf.cc
Labels: documentation, storage-engine

#3725 feat: insert error improve
  docs/zh/openmldb_sql/ddl/DESC_STATEMENT.md
  docs/zh/openmldb_sql/dml/LOAD_DATA_STATEMENT.md
  docs/zh/quickstart/sdk/rest_api.md
  java/hybridse-sdk/src/main/java/com/_4paradigm/hybridse/sdk/RequestEngine.java
  java/openmldb-common/src/main/java/com/_4paradigm/openmldb/common/codec/ClassicRowBuilder.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/write/OpenmldbDataSingleWriter.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/write/OpenmldbDataWriter.java
  src/apiserver/api_server_impl.cc
  src/apiserver/api_server_impl.h
  src/apiserver/api_server_test.cc
  src/base/status_util.h
  src/sdk/split_test.cc
  src/sdk/sql_cluster_router.cc
Labels: documentation, api-server

#3747 fix: fix coverage_core
  hybridse/src/node/sql_node.cc
Labels: execute-engine

#3737 feat: load, write supports iceberg
  docs/en/integration/offline_data_sources/hive.md
  docs/en/integration/offline_data_sources/iceberg.md
  docs/en/integration/offline_data_sources/index.rst
  docs/zh/integration/offline_data_sources/hive.md
  docs/zh/integration/offline_data_sources/iceberg.md
  docs/zh/integration/offline_data_sources/index.rst
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/CreateTablePlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/LoadDataPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/SelectIntoPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/DataSourceUtil.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/HybridseUtil.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/TestLoadDataPlan.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/utils/DataSourceUtilTest.scala
Labels: documentation, batch-engine

#3759 fix: replace Unrecognized VM option MaxPermSize with MaxMetaspaceSize
  java/openmldb-batchjob/pom.xml
  java/pom.xml
Labels: batch-engine

#3764 docs: create-faq-folder
  docs/en/faq/client_faq.md
  docs/en/faq/index.rst
  docs/en/faq/server_faq.md
  docs/zh/faq/client_faq.md
  docs/zh/faq/server_faq.md
Labels: documentation

#3753 docs: remove unused files for usecase folder
  docs/en/use_case/airflow_provider_demo.md
  docs/en/use_case/dolphinscheduler_task_demo.md
  docs/en/use_case/kafka_connector_demo.md
  docs/en/use_case/lightgbm_demo.md
  docs/en/use_case/pulsar_connector_demo.md
Labels: documentation

#3721 docs: include introduction ppt slides
  docs/en/about/OpenMLDB_intro_2024.pdf
  docs/en/about/index.rst
  docs/zh/about/index.rst
Labels: documentation

#3739 docs: updates on integration and develop folder
  docs/en/developer/built_in_function_develop_guide.md
  docs/en/developer/contributing.md
  docs/en/developer/index.rst
  docs/en/developer/python_dev.md
  docs/en/developer/sdk_develop.md
  docs/en/developer/udf_develop_guide.md
  docs/en/integration/deploy_integration/index.rst
  docs/en/integration/index.rst
  docs/en/integration/online_datasources/index.rst
Labels: documentation

#3754 docs: updates on tutorial folder
  docs/en/tutorial/index.rst
  docs/en/tutorial/tutorial_sql_1.md
  docs/en/tutorial/tutorial_sql_2.md
  docs/zh/tutorial/tutorial_sql_1.md
  docs/zh/tutorial/tutorial_sql_2.md
Labels: documentation

#3745 feat: update the schema of user table
  src/nameserver/system_table.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
Labels: storage-engine

#3736 feat: upgrade third-party to 0.6.1
  .github/workflows/cicd.yaml
  docker/Dockerfile
  third-party/CMakeLists.txt
Labels: workflow, build, docker

#3693 feat: delete data from all index
  docs/en/openmldb_sql/dml/DELETE_STATEMENT.md
  docs/en/quickstart/function_boundary.md
  docs/zh/openmldb_sql/dml/DELETE_STATEMENT.md
  docs/zh/openmldb_sql/notice.md
  docs/zh/quickstart/function_boundary.md
  docs/zh/quickstart/openmldb_quickstart.md
  src/catalog/client_manager.cc
  src/catalog/client_manager.h
  src/catalog/distribute_iterator.cc
  src/catalog/tablet_catalog.h
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/cmd/sql_cmd_test.cc
  src/proto/tablet.proto
  src/sdk/node_adapter.cc
  src/sdk/node_adapter.h
  src/sdk/node_adapter_test.cc
  src/sdk/option.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_cluster_test.cc
  src/storage/disk_table.h
  src/storage/mem_table.cc
  src/storage/mem_table.h
  src/storage/schema.h
  src/storage/segment.cc
  src/storage/segment.h
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl.h
  src/tablet/tablet_impl_test.cc
Labels: documentation, storage-engine

#3720 docs: update deploy and about folder
  docs/en/about/images/workflow.png
  docs/en/about/index.rst
  docs/en/about/intro.md
  docs/en/deploy/compile.md
  docs/en/deploy/conf.md
  docs/en/deploy/index.rst
  docs/en/deploy/install_deploy.md
  docs/en/deploy/integrate_hadoop.md
  docs/zh/about/community.md
  docs/zh/about/intro.md
  docs/zh/deploy/conf.md
Labels: documentation

#3756 docs: changes for openmldb_sql folder
  docs/en/openmldb_sql/ddl/ALTER_USER_STATEMENT.md
  docs/en/openmldb_sql/ddl/CREATE_DATABASE_STATEMENT.md
  docs/en/openmldb_sql/ddl/CREATE_FUNCTION.md
  docs/en/openmldb_sql/ddl/CREATE_INDEX_STATEMENT.md
  docs/en/openmldb_sql/ddl/CREATE_TABLE_STATEMENT.md
  docs/en/openmldb_sql/ddl/CREATE_USER_STATEMENT.md
  docs/en/openmldb_sql/ddl/DESC_STATEMENT.md
  docs/en/openmldb_sql/ddl/DROP_DATABASE_STATEMENT.md
  docs/en/openmldb_sql/ddl/DROP_FUNCTION.md
  docs/en/openmldb_sql/ddl/DROP_INDEX_STATEMENT.md
  docs/en/openmldb_sql/ddl/DROP_TABLE_STATEMENT.md
  docs/en/openmldb_sql/ddl/DROP_USER_STATEMENT.md
  docs/en/openmldb_sql/ddl/SET_STATEMENT.md
  docs/en/openmldb_sql/ddl/SHOW_COMPONENTS.md
  docs/en/openmldb_sql/ddl/SHOW_CREATE_TABLE_STATEMENT.md
  docs/en/openmldb_sql/ddl/SHOW_CURRENT_USER_STATEMENT.md
  docs/en/openmldb_sql/ddl/SHOW_DATABASES_STATEMENT.md
  docs/en/openmldb_sql/ddl/SHOW_FUNCTIONS.md
  docs/en/openmldb_sql/ddl/SHOW_TABLES_STATEMENT.md
  docs/en/openmldb_sql/ddl/SHOW_TABLE_STATUS.md
  docs/en/openmldb_sql/ddl/SHOW_VARIABLES_STATEMENT.md
  docs/en/openmldb_sql/ddl/TRUNCATE_TABLE_STATEMENT.md
  docs/en/openmldb_sql/ddl/USE_DATABASE_STATEMENT.md
  docs/en/openmldb_sql/ddl/index.rst
  docs/en/openmldb_sql/dml/LOAD_DATA_STATEMENT.md
  docs/en/openmldb_sql/dql/SET_OPERATION.md
  docs/en/openmldb_sql/dql/WINDOW_CLAUSE.md
  docs/en/openmldb_sql/dql/index.rst
  docs/en/openmldb_sql/functions_and_operators/index.rst
  docs/en/openmldb_sql/functions_and_operators/operators.md
  docs/en/openmldb_sql/index.rst
  docs/en/openmldb_sql/language_structure/object_names_identifiers.md
  docs/en/openmldb_sql/notice.md
  docs/en/openmldb_sql/sql_difference.md
  docs/en/openmldb_sql/udf_develop_guide.md
  docs/zh/openmldb_sql/dql/WINDOW_CLAUSE.md
  docs/zh/openmldb_sql/sql_difference.md
Labels: documentation

#3762 docs: editiontwo quickstart folder
  docs/en/quickstart/beginner_must_read.md
  docs/en/quickstart/cli.md
  docs/en/quickstart/concepts/modes.md
  docs/en/quickstart/function_boundary.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/quickstart/sdk/java_sdk.md
  docs/en/quickstart/sdk/rest_api.md
  docs/zh/quickstart/beginner_must_read.md
  docs/zh/quickstart/function_boundary.md
Labels: documentation

#3752 docs: updates for maintain folder
  docs/en/maintain/backup.md
  docs/en/maintain/cli.md
  docs/en/maintain/diagnose.md
  docs/en/maintain/faq.md
  docs/en/maintain/index.rst
  docs/en/maintain/openmldb_ops.md
  docs/en/maintain/restart.md
  docs/en/maintain/update_conf.md
  docs/en/maintain/upgrade.md
  docs/zh/maintain/upgrade.md
Labels: documentation

#3757 docs: update on reference folder
  docs/en/reference/error_code.md
  docs/en/reference/index.rst
  docs/en/reference/sql/index.rst
  docs/en/reference/sql/operators/index.rst
  docs/en/reference/sql/operators/operators.md
  docs/en/reference/sql/udfs_8h.md
Labels: documentation

#3719 docs: add featinsight english documentation
  docs/en/app_ecosystem/feat_insight/faq.md
  docs/en/app_ecosystem/feat_insight/images/bigscreen.png
  docs/en/app_ecosystem/feat_insight/images/create_test_feature_service.png
  docs/en/app_ecosystem/feat_insight/images/create_test_featureview.png
  docs/en/app_ecosystem/feat_insight/images/create_test_table.png
  docs/en/app_ecosystem/feat_insight/images/csv_import_test_table.png
  docs/en/app_ecosystem/feat_insight/images/export_test_offline_samples.png
  docs/en/app_ecosystem/feat_insight/images/ide_develop_featuer_platform.png
  docs/en/app_ecosystem/feat_insight/images/import_job_result.png
  docs/en/app_ecosystem/feat_insight/images/local_test_offline_samples.png
  docs/en/app_ecosystem/feat_insight/images/online_csv_import_test_table.png
  docs/en/app_ecosystem/feat_insight/images/preview_test_features.png
  docs/en/app_ecosystem/feat_insight/images/preview_test_table.png
  docs/en/app_ecosystem/feat_insight/images/request_test_feature_service.png
  docs/en/app_ecosystem/feat_insight/images/test_feature_service_detail.png
  docs/en/app_ecosystem/feat_insight/images/test_offline_sample_detail.png
  docs/en/app_ecosystem/feat_insight/index.rst
  docs/en/app_ecosystem/feat_insight/install/config_file.md
  docs/en/app_ecosystem/feat_insight/install/docker.md
  docs/en/app_ecosystem/feat_insight/install/index.rst
  docs/en/app_ecosystem/feat_insight/install/package.md
  docs/en/app_ecosystem/feat_insight/install/source.md
  docs/en/app_ecosystem/feat_insight/install/upgrade.md
  docs/en/app_ecosystem/feat_insight/introduction.md
  docs/en/app_ecosystem/feat_insight/quickstart.md
  docs/en/app_ecosystem/feat_insight/use_cases/images/recommend_create_feature.png
  docs/en/app_ecosystem/feat_insight/use_cases/images/recommend_create_feature_service.png
  docs/en/app_ecosystem/feat_insight/use_cases/images/recommend_feature_view_detail.png
  docs/en/app_ecosystem/feat_insight/use_cases/images/taxi_create_feature.png
  docs/en/app_ecosystem/feat_insight/use_cases/images/taxi_create_feature_service.png
  docs/en/app_ecosystem/feat_insight/use_cases/images/taxi_create_table.png
  docs/en/app_ecosystem/feat_insight/use_cases/images/taxi_export_offline_samples.png
  docs/en/app_ecosystem/feat_insight/use_cases/images/taxi_feature_service_detail.png
  docs/en/app_ecosystem/feat_insight/use_cases/images/taxi_features.png
  docs/en/app_ecosystem/feat_insight/use_cases/images/taxi_import_offline_data.png
  docs/en/app_ecosystem/feat_insight/use_cases/images/taxi_import_online_data.png
  docs/en/app_ecosystem/feat_insight/use_cases/images/taxi_offline_samples_data.png
  docs/en/app_ecosystem/feat_insight/use_cases/images/taxi_preview_online_table.png
  docs/en/app_ecosystem/feat_insight/use_cases/images/taxi_request_feature_service.png
  docs/en/app_ecosystem/feat_insight/use_cases/index.rst
  docs/en/app_ecosystem/feat_insight/use_cases/recommend_system.md
  docs/en/app_ecosystem/feat_insight/use_cases/taxi_tour_duration_prediction.md
  docs/en/app_ecosystem/feature_platform/concept.md
  docs/en/app_ecosystem/feature_platform/installation.md
  docs/en/app_ecosystem/feature_platform/tutorial.md
  docs/en/app_ecosystem/feature_platform/usage.md
  docs/en/index.rst
  docs/en/use_case/taxi_tour_duration_prediction.md
  docs/zh/app_ecosystem/feat_insight/images/bigscreen.png
  docs/zh/app_ecosystem/feat_insight/install/docker.md
  docs/zh/app_ecosystem/feat_insight/install/upgrade.md
  docs/zh/app_ecosystem/feat_insight/introduction.md
  docs/zh/app_ecosystem/feat_insight/quickstart.md
Labels: documentation

#3702 feat: add deleteop command
  docs/en/maintain/cli.md
  docs/zh/maintain/cli.md
  src/client/ns_client.cc
  src/client/ns_client.h
  src/cmd/openmldb.cc
  src/nameserver/name_server_impl.cc
  src/nameserver/name_server_impl.h
  src/proto/name_server.proto
Labels: documentation, storage-engine

#3716 feat: support absandlat/absorlat gc in disktable
  docs/zh/openmldb_sql/notice.md
  src/nameserver/name_server_impl.cc
  src/schema/index_util.cc
  src/schema/index_util.h
  src/schema/schema_adapter.cc
  src/schema/schema_adapter.h
  src/storage/disk_table.cc
  src/storage/disk_table.h
  src/storage/disk_table_iterator.h
  src/storage/disk_table_snapshot.cc
  src/storage/disk_table_snapshot.h
  src/storage/disk_table_test.cc
  src/storage/mem_table.cc
  src/storage/mem_table.h
  src/storage/mem_table_iterator.h
  src/storage/mem_table_snapshot.cc
  src/storage/mem_table_snapshot.h
  src/storage/schema.h
  src/storage/schema_test.cc
  src/storage/snapshot.cc
  src/storage/snapshot.h
  src/storage/table.cc
  src/storage/table.h
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl.h
  src/tablet/tablet_impl_test.cc
  test/integration-test/openmldb-test-python/ha_cases/test_addindex.py
Labels: documentation, storage-engine

#3775 fix: fix selfhost_intergration
  .github/workflows/selfhost_intergration.yml
Labels: workflow

#3774 fix: coverage
  .github/workflows/coverage.yml
  .github/workflows/sdk.yml
Labels: workflow

#3744 feat: support username password in offline
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/OpenmldbBatchConfig.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/catalog/OpenmldbCatalogService.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/ConfigReflections.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/catalog/TestOpenmldbCatalogService.scala
  java/openmldb-taskmanager/src/main/resources/taskmanager.properties
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/JobInfoManager.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/spark/SparkJobManager.scala
Labels: batch-engine, task-manager

#3706 feat: add config to delete logs automatically
  release/conf/apiserver.flags.template
  release/conf/nameserver.flags.template
  release/conf/tablet.flags.template
  src/base/glog_wrapper.h
  src/flags.cc
Labels: storage-engine

#3741 docs: upgrade 0.8.5
  CHANGELOG.md
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/deploy/compile.md
  docs/en/deploy/install_deploy.md
  docs/en/integration/deploy_integration/OpenMLDB_Byzer_taxi.md
  docs/en/integration/deploy_integration/airflow_provider_demo.md
  docs/en/integration/deploy_integration/dolphinscheduler_task_demo.md
  docs/en/integration/online_datasources/kafka_connector_demo.md
  docs/en/integration/online_datasources/pulsar_connector_demo.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/quickstart/sdk/java_sdk.md
  docs/en/reference/ip_tips.md
  docs/en/tutorial/standalone_use.md
  docs/en/use_case/JD_recommendation.md
  docs/en/use_case/talkingdata_demo.md
  docs/en/use_case/taxi_tour_duration_prediction.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/install_deploy.md
  docs/zh/integration/deploy_integration/OpenMLDB_Byzer_taxi.md
  docs/zh/integration/deploy_integration/airflow_provider_demo.md
  docs/zh/integration/deploy_integration/dolphinscheduler_task_demo.md
  docs/zh/integration/online_datasources/kafka_connector_demo.md
  docs/zh/integration/online_datasources/pulsar_connector_demo.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/quickstart/sdk/java_sdk.md
  docs/zh/reference/ip_tips.md
  docs/zh/tutorial/standalone_use.md
  docs/zh/use_case/JD_recommendation.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
  release/conf/openmldb-env.sh
Labels: documentation, docker

#3782 feat: set `NPROC` in intergration test
  .github/workflows/selfhost_intergration.yml
Labels: workflow

#3777 build(deps): thirdparty builds
  third-party/CMakeLists.txt
  third-party/cmake/FetchGflags.cmake
  third-party/cmake/FetchGlog.cmake
  third-party/cmake/FetchLLVM.cmake
  third-party/cmake/FetchLibunwind.cmake
Labels: build

#3713 feat(codec): encode/decode map value to codec row
  cases/query/udf_query.yaml
  hybridse/examples/toydb/src/tablet/tablet_catalog.cc
  hybridse/include/base/fe_status.h
  hybridse/include/codec/fe_row_codec.h
  hybridse/include/codec/type_codec.h
  hybridse/src/benchmark/udf_bm_case.cc
  hybridse/src/case/sql_case.cc
  hybridse/src/case/sql_case_test.cc
  hybridse/src/codec/fe_row_codec.cc
  hybridse/src/codec/fe_row_codec_test.cc
  hybridse/src/codec/type_codec.cc
  hybridse/src/codegen/aggregate_ir_builder.cc
  hybridse/src/codegen/aggregate_ir_builder.h
  hybridse/src/codegen/array_ir_builder.cc
  hybridse/src/codegen/array_ir_builder.h
  hybridse/src/codegen/buf_ir_builder.cc
  hybridse/src/codegen/buf_ir_builder.h
  hybridse/src/codegen/buf_ir_builder_test.cc
  hybridse/src/codegen/context.cc
  hybridse/src/codegen/context.h
  hybridse/src/codegen/expr_ir_builder.cc
  hybridse/src/codegen/fn_ir_builder.cc
  hybridse/src/codegen/fn_ir_builder.h
  hybridse/src/codegen/fn_let_ir_builder.cc
  hybridse/src/codegen/ir_base_builder.cc
  hybridse/src/codegen/ir_base_builder.h
  hybridse/src/codegen/map_ir_builder.cc
  hybridse/src/codegen/map_ir_builder.h
  hybridse/src/codegen/native_value.cc
  hybridse/src/codegen/native_value.h
  hybridse/src/codegen/row_ir_builder.h
  hybridse/src/codegen/struct_ir_builder.cc
  hybridse/src/codegen/struct_ir_builder.h
  hybridse/src/codegen/window_ir_builder.cc
  hybridse/src/codegen/window_ir_builder.h
  hybridse/src/node/expr_node.cc
  hybridse/src/plan/planner.cc
  hybridse/src/proto/fe_type.proto
  hybridse/src/udf/literal_traits.h
  hybridse/src/vm/jit_wrapper.cc
  hybridse/src/vm/jit_wrapper.h
  hybridse/src/vm/physical_plan_context.cc
  hybridse/src/vm/runner.cc
  hybridse/src/vm/runner_test.cc
  hybridse/src/vm/simple_catalog.cc
  hybridse/src/vm/transform.h
  src/catalog/sdk_catalog.cc
  src/catalog/tablet_catalog.cc
Labels: execute-engine, storage-engine

#3784 docs(MAINTAIN.md): c dependencies policy
  MAINTAIN.md
Labels: documentation
