Repository 4paradigm/OpenMLDB, pull requests merged in 2024-05, with the labels that each got.

#3907 docs: fix example
  docs/en/openmldb_sql/dql/SELECT_STATEMENT.md
  docs/zh/openmldb_sql/dql/SELECT_STATEMENT.md
Labels: documentation

#3906 fix: make clients use always send auth info
  src/auth/brpc_authenticator.cc
  src/cmd/openmldb.cc
  src/nameserver/name_server_impl.cc
  src/rpc/rpc_client.h
  src/sdk/mini_cluster.h
  src/tablet/file_sender.cc
Labels: storage-engine

#3918 feat: tablets get user table remotely
  src/cmd/sql_cmd_test.cc
  src/nameserver/name_server_create_remote_test.cc
  src/nameserver/name_server_impl.cc
  src/nameserver/new_server_env_test.cc
  src/sdk/sql_cluster_router.cc
  src/tablet/procedure_drop_test.cc
  src/tablet/procedure_recover_test.cc
  src/tablet/tablet_impl.cc
Labels: storage-engine

#3888 fix: recoverdata support load disk table
  docs/en/maintain/cli.md
  docs/zh/maintain/cli.md
  src/cmd/openmldb.cc
  src/tablet/tablet_impl.cc
  tools/openmldb_ops.py
  tools/tool.py
Labels: documentation, storage-engine

#3912 docs: add map desc in create table
  docs/en/openmldb_sql/data_types/composite_types.md
  docs/en/openmldb_sql/ddl/CREATE_TABLE_STATEMENT.md
  docs/zh/openmldb_sql/data_types/composite_types.md
  docs/zh/openmldb_sql/ddl/CREATE_TABLE_STATEMENT.md
Labels: documentation

#3905 ci(#3898): python mac jobs fix
  .github/workflows/sdk.yml
Labels: workflow

#3910 fix(#3909): checkout execute_mode in config clause in sql client
  src/sdk/sql_cluster_router.cc
Labels: storage-engine

#3911 feat: merge dag sql
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/SqlClusterExecutor.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/utils/AIOSUtil.java
  java/openmldb-jdbc/src/test/data/aiosdagsql/error1.json
  java/openmldb-jdbc/src/test/data/aiosdagsql/error1.sql
  java/openmldb-jdbc/src/test/data/aiosdagsql/input1.json
  java/openmldb-jdbc/src/test/data/aiosdagsql/output1.sql
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/SQLRouterSmokeTest.java
Labels: sdk

#3921 fix: gcformat space and continuous sign
  cases/query/feature_signature_query.yaml
  hybridse/src/udf/default_defs/feature_signature_def.cc
Labels: execute-engine

#3929 feat: merge 090 features to main
  java/openmldb-batch/pom.xml
  java/openmldb-common/pom.xml
  java/openmldb-taskmanager/pom.xml
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/JobResultSaver.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/zk/RecoverableZooKeeper.java
Labels: batch-engine, task-manager

#3931 feat: run script to update post release version
  CMakeLists.txt
  java/hybridse-native/pom.xml
  java/hybridse-proto/pom.xml
  java/hybridse-sdk/pom.xml
  java/openmldb-batch/pom.xml
  java/openmldb-batchjob/pom.xml
  java/openmldb-common/pom.xml
  java/openmldb-jdbc/pom.xml
  java/openmldb-native/pom.xml
  java/openmldb-spark-connector/pom.xml
  java/openmldb-synctool/pom.xml
  java/openmldb-taskmanager/pom.xml
  java/pom.xml
  python/openmldb_sdk/setup.py
  python/openmldb_tool/setup.py
Labels: build, batch-engine, sdk, task-manager

#3928 feat: crud users synchronously
  src/auth/user_access_manager.cc
  src/auth/user_access_manager.h
  src/base/status.h
  src/client/ns_client.cc
  src/client/ns_client.h
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/cmd/openmldb.cc
  src/cmd/sql_cmd_test.cc
  src/nameserver/name_server_impl.cc
  src/nameserver/name_server_impl.h
  src/proto/name_server.proto
  src/proto/tablet.proto
  src/sdk/mini_cluster.h
  src/sdk/sql_cluster_router.cc
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl.h
Labels: storage-engine

#3934 feat(parser): simple ANSI SQL rewriter
  hybridse/src/CMakeLists.txt
  hybridse/src/rewriter/ast_rewriter.cc
  hybridse/src/rewriter/ast_rewriter.h
  hybridse/src/rewriter/ast_rewriter_test.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
Labels: build, execute-engine, storage-engine
