Repository 4paradigm/OpenMLDB, pull requests merged in 2024-01, with the labels that each got.

#3688 docs: update publication
  README.md
  README_cn.md
Labels: documentation

#3586 docs: move-from-reference-folder-to-openmldbsql-dql-folder
  docs/en/openmldb_sql/dql/GROUP_BY_CLAUSE.md
  docs/en/openmldb_sql/dql/HAVING_CLAUSE.md
  docs/en/openmldb_sql/dql/JOIN_CLAUSE.md
  docs/en/openmldb_sql/dql/LIMIT_CLAUSE.md
  docs/en/openmldb_sql/dql/NO_TABLE_SELECT_CLAUSE.md
  docs/en/openmldb_sql/dql/SELECT_INTO_STATEMENT.md
  docs/en/openmldb_sql/dql/SELECT_STATEMENT.md
  docs/en/openmldb_sql/dql/WHERE_CLAUSE.md
  docs/en/openmldb_sql/dql/WINDOW_CLAUSE.md
  docs/en/openmldb_sql/dql/WITH_CLAUSE.md
  docs/en/openmldb_sql/dql/images/dql_images.pptx
  docs/en/openmldb_sql/dql/images/last_join_with_order1.png
  docs/en/openmldb_sql/dql/images/last_join_with_order2.png
  docs/en/openmldb_sql/dql/images/last_join_without_order.png
  docs/en/openmldb_sql/dql/images/last_join_without_order2.png
  docs/en/openmldb_sql/dql/images/window_exclude_current_row.png
  docs/en/openmldb_sql/dql/images/window_exclude_current_time.png
  docs/en/openmldb_sql/dql/images/window_frame_type.png
  docs/en/openmldb_sql/dql/images/window_max_size.png
  docs/en/openmldb_sql/dql/images/window_union_1_table.png
  docs/en/openmldb_sql/dql/images/window_union_1_table_instance_not_in_window.png
  docs/en/openmldb_sql/dql/images/window_union_2_table.png
  docs/en/openmldb_sql/dql/index.rst
Labels: documentation

#3668 fix: taskmanager ha reconnect
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/TaskManagerServer.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/zk/FailoverWatcher.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/zk/RecoverableZooKeeper.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/zk/ZooKeeperUtil.java
Labels: task-manager

#3630 feat(sql router): add interface for sql to dag
  hybridse/include/sdk/base.h
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/DAGNode.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/SqlExecutor.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/SqlClusterExecutor.java
  java/openmldb-jdbc/src/test/java/com/_4paradigm/openmldb/jdbc/SQLRouterSmokeTest.java
  src/sdk/sql_router.cc
  src/sdk/sql_router.h
  src/sdk/sql_router_sdk.i
  src/sdk/sql_router_test.cc
Labels: sdk, execute-engine, storage-engine

#3640 feat: refine openmldb batch log and offline job info with SQL
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/api/OpenmldbSession.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/OpenmldbBatchjobManager.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/k8s/K8sJobManager.scala
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/spark/SparkJobManager.scala
  java/openmldb-taskmanager/src/test/scala/com/_4paradigm/openmldb/taskmanager/spark/TestSparkJobManager.scala
Labels: batch-engine, task-manager

#3697 docs: include application eco system
  docs/en/app_ecosystem/feature_platform/concept.md
  docs/en/app_ecosystem/feature_platform/index.rst
  docs/en/app_ecosystem/feature_platform/installation.md
  docs/en/app_ecosystem/feature_platform/tutorial.md
  docs/en/app_ecosystem/feature_platform/usage.md
  docs/en/app_ecosystem/sql_emulator/index.rst
  docs/en/app_ecosystem/sql_emulator/sql_emulator.md
  docs/en/index.rst
  docs/zh/app_ecosystem/feature_platform/concept.md
  docs/zh/app_ecosystem/feature_platform/functions.md
  docs/zh/app_ecosystem/feature_platform/index.rst
  docs/zh/app_ecosystem/feature_platform/installation.md
  docs/zh/app_ecosystem/feature_platform/quickstart.md
  docs/zh/app_ecosystem/feature_platform/usage.md
  docs/zh/app_ecosystem/images/create_db.png
  docs/zh/app_ecosystem/images/create_fe_entry.png
  docs/zh/app_ecosystem/images/create_table.png
  docs/zh/app_ecosystem/images/fep_screenshot.png
  docs/zh/app_ecosystem/images/sql_tool_entry.png
  docs/zh/app_ecosystem/images/sql_tool_tutorial.png
  docs/zh/app_ecosystem/sql_emulator/index.rst
  docs/zh/app_ecosystem/sql_emulator/sql_emulator.md
  docs/zh/index.rst
Labels: documentation

#3470 docs: change_for_kafka_connector_demo_of_integration_folder
  docs/en/integration/online_datasources/images/kafka_connector_steps.png
  docs/en/integration/online_datasources/images/kafka_openmldb_result.png
  docs/en/integration/online_datasources/images/kafka_topic_describe.png
  docs/en/integration/online_datasources/kafka_connector_demo.md
Labels: documentation

#3474 docs: change_for_pulsar_connector_demo_of_intergration_folder
  docs/en/integration/deploy_integration/images/demo_steps.png
  docs/en/integration/online_datasources/images/demo_steps.png
  docs/en/integration/online_datasources/images/init_sink_status.png
  docs/en/integration/online_datasources/images/openmldb_result.png
  docs/en/integration/online_datasources/images/producer_code.png
  docs/en/integration/online_datasources/images/sink_status.png
  docs/en/integration/online_datasources/images/table.png
  docs/en/integration/online_datasources/images/test_data.png
  docs/en/integration/online_datasources/images/topic_schema.png
  docs/en/integration/online_datasources/pulsar_connector_demo.md
Labels: documentation

#3568 docs: update-reference-sql-datatypes-folder
  docs/en/reference/sql/data_types/string_types.md
Labels: documentation

#3583 docs: move-from-reference-folder-to-openmldbsql-functionsandoperators…
  docs/en/openmldb_sql/functions_and_operators/index.rst
  docs/en/openmldb_sql/functions_and_operators/operators.md
Labels: documentation

#3564 docs: update-use_case-folder
  docs/en/use_case/JD_recommendation.md
  docs/en/use_case/OpenMLDB_Byzer_taxi.md
  docs/en/use_case/images/ds_tenant_manage.png
  docs/en/use_case/index.rst
  docs/en/use_case/taxi_tour_duration_prediction.md
Labels: documentation

#3635 fix: adding a deleted index will fail if the index name is different from the previous name
  src/CMakeLists.txt
  src/nameserver/name_server_impl.cc
  src/schema/index_test.cc
  src/schema/index_util.cc
  src/storage/mem_table.cc
  test/integration-test/openmldb-test-python/ha_cases/test_addindex.py
Labels: build, storage-engine

#3677 fix: truncate big table timeout
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl.h
Labels: storage-engine

#3631 feat: put returns failure if the server memory usage exceeds the specified ratio
  docs/en/openmldb_sql/dml/LOAD_DATA_STATEMENT.md
  docs/en/reference/sql/ddl/SET_STATEMENT.md
  docs/zh/openmldb_sql/ddl/SET_STATEMENT.md
  docs/zh/openmldb_sql/dml/LOAD_DATA_STATEMENT.md
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/OpenmldbSource.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/OpenmldbTable.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/write/OpenmldbDataSingleWriter.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/write/OpenmldbDataWriter.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/write/OpenmldbWriteConfig.java
  src/apiserver/api_server_impl.h
  src/base/status.h
  src/base/sys_info.h
  src/base/sys_info_test.cc
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/cmd/openmldb.cc
  src/datacollector/data_collector.cc
  src/datacollector/data_collector_test.cc
  src/flags.cc
  src/nameserver/name_server_impl.cc
  src/proto/name_server.proto
  src/proto/tablet.proto
  src/replica/snapshot_replica_test.cc
  src/sdk/mini_cluster_batch_bm.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/storage/table_test.cc
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl.h
Labels: documentation, api-server

#3687 docs(monitoring): openmldb exporter compatibility notice
  docs/en/maintain/monitoring.md
  docs/zh/maintain/monitoring.md
Labels: documentation

#3686 fix(list_iterator_codec): nonnull error
  .github/workflows/udf-doc.yml
  hybridse/include/codec/list_iterator_codec.h
Labels: workflow, execute-engine

#3690 fix: scan max, doc, mics
  docs/en/deploy/conf.md
  docs/en/openmldb_sql/dql/SELECT_STATEMENT.md
  docs/en/quickstart/concepts/modes.md
  docs/zh/deploy/conf.md
  docs/zh/openmldb_sql/dql/SELECT_STATEMENT.md
  docs/zh/openmldb_sql/sql_difference.md
  docs/zh/quickstart/concepts/modes.md
  python/openmldb_tool/tests/sbin_test/tmp/openmldb/tablet-1/conf/tablet.flags
  python/openmldb_tool/tests/sbin_test/tmp/openmldb/tablet-2/conf/tablet.flags
  release/conf/tablet.flags.template
  src/base/ddl_parser.cc
  src/datacollector/data_collector.cc
  src/flags.cc
  src/log/log_reader.cc
  src/nameserver/name_server_impl.cc
  src/sdk/sql_cluster_router.cc
  src/tablet/tablet_impl.cc
Labels: documentation, sdk, storage-engine

#3681 feat: delete dirty data when insert fails
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_insert_row.cc
  src/storage/schema.cc
  src/storage/schema.h
  src/storage/table.h
Labels: storage-engine

#3570 docs: move-from-reference-folder-to-openmldbsql-datatypes-folder
  docs/en/openmldb_sql/data_types/date_and_time_types.md
  docs/en/openmldb_sql/data_types/index.rst
  docs/en/openmldb_sql/data_types/numeric_types.md
  docs/en/openmldb_sql/data_types/string_types.md
Labels: documentation

#3569 docs: update-openmldbsql-folder
  docs/en/openmldb_sql/index.rst
  docs/en/openmldb_sql/sql_difference.md
  docs/en/openmldb_sql/udf_develop_guide.md
  docs/zh/openmldb_sql/udf_develop_guide.md
Labels: documentation

#3682 feat: display deployment options
  hybridse/src/case/sql_case.cc
  src/cmd/display.h
  src/sdk/sql_cluster_test.cc
Labels: execute-engine, storage-engine

#3699 fix: sbin deploy and docs
  docs/zh/deploy/install_deploy.md
  docs/zh/maintain/diagnose.md
  docs/zh/quickstart/openmldb_quickstart.md
  python/openmldb_tool/diagnostic_tool/collector.py
  release/conf/openmldb-env.sh
  release/sbin/deploy-all.sh
  release/sbin/init.sh
  release/sbin/openmldb-cli.sh
  release/sbin/start-taskmanagers.sh
  release/sbin/start-zks.sh
Labels: documentation, sdk

#3692 feat: put if absent & insert or ignore
  demo/usability_testing/data_mocker.py
  docs/zh/openmldb_sql/ddl/CREATE_TABLE_STATEMENT.md
  docs/zh/openmldb_sql/dml/INSERT_STATEMENT.md
  docs/zh/openmldb_sql/dml/LOAD_DATA_STATEMENT.md
  docs/zh/quickstart/beginner_must_read.md
  hybridse/include/node/node_manager.h
  hybridse/include/node/sql_node.h
  hybridse/src/node/node_manager.cc
  hybridse/src/node/sql_node_test.cc
  hybridse/src/planv2/ast_node_converter.cc
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/LoadDataPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/HybridseUtil.scala
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/jdbc/SQLConnection.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/SdkOption.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/InsertPreparedStatementImpl.java
  java/openmldb-jdbc/src/main/java/com/_4paradigm/openmldb/sdk/impl/InsertPreparedStatementMeta.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/OpenmldbConfig.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/OpenmldbSource.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/OpenmldbTable.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/read/OpenmldbPartitionReaderFactory.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/read/OpenmldbReadConfig.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/read/OpenmldbScan.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/read/OpenmldbScanBuilder.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/write/OpenmldbBatchWrite.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/write/OpenmldbDataSingleWriter.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/write/OpenmldbDataWriter.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/write/OpenmldbDataWriterFactory.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/write/OpenmldbWriteBuilder.java
  java/openmldb-spark-connector/src/main/java/com/_4paradigm/openmldb/spark/write/OpenmldbWriteConfig.java
  java/openmldb-spark-connector/src/main/scala/com/_4paradigm/openmldb/spark/read/OpenmldbPartitionReader.scala
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/cmd/openmldb.cc
  src/proto/tablet.proto
  src/sdk/node_adapter_test.cc
  src/sdk/sql_cache.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_insert_row.cc
  src/sdk/sql_insert_row.h
  src/sdk/sql_router.h
  src/storage/aggregator.cc
  src/storage/disk_table.cc
  src/storage/disk_table.h
  src/storage/disk_table_test.cc
  src/storage/key_entry.h
  src/storage/mem_table.cc
  src/storage/mem_table.h
  src/storage/schema.cc
  src/storage/schema.h
  src/storage/schema_test.cc
  src/storage/segment.cc
  src/storage/segment.h
  src/storage/segment_test.cc
  src/storage/snapshot_test.cc
  src/storage/table.h
  src/storage/table_iterator_test.cc
  src/storage/table_test.cc
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl_func_test.cc
Labels: documentation, docker, batch-engine, sdk, execute-engine, storage-engine

#3704 feat: upgrade glog to 0.6.0
  third-party/cmake/FetchGlog.cmake
Labels: build

#3717 fix: kafka dialect log level
  extensions/kafka-connect-jdbc/src/main/java/io/confluent/connect/jdbc/dialect/OpenmldbDatabaseDialect.java
Labels: extensions

#3738 ci: fix publish hybridse test result from fork
  .github/workflows/cicd.yaml
  .github/workflows/hybridse-ci.yml
  .github/workflows/publish-cicd-test-result-from-fork.yml
  .github/workflows/publish-hybridse-test-result-from-fork.yml
  .github/workflows/publish-sdk-test-result-from-fork.yml
  .github/workflows/publish-test-result-from-fork-action.yml
  .github/workflows/publish-test-results-action.yml
  .github/workflows/sdk.yml
Labels: workflow

#3740 ci(coverage): separate coverage test and coverage report
  .github/workflows/coverage.yml
  .github/workflows/sdk.yml
Labels: workflow

#3726 fix: job execute again if exception & insert_memory_usage_limit config
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/SparkPlanner.scala
  src/sdk/sql_cluster_router.cc
Labels: batch-engine, storage-engine
