Repository 4paradigm/OpenMLDB, pull requests merged in 2024-04, with the labels that each got.

#3761 docs: hadoop confs in taskmanager
  docs/zh/deploy/conf.md
Labels: documentation

#3768 docs: update doc install_deploy.md of zookeeper 3.4.14 java requirements
  docs/en/deploy/install_deploy.md
  docs/zh/deploy/install_deploy.md
Labels: documentation

#3805 feat: upgrade sqlalchemy to 2.0.27 and updated test cases
  docs/en/quickstart/sdk/python_sdk.md
  docs/zh/quickstart/sdk/python_sdk.md
  python/openmldb_sdk/setup.py
  python/openmldb_sdk/tests/openmldb_client_test.py
  python/openmldb_sdk/tests/sqlalchemy_api_test.py
  python/openmldb_tool/diagnostic_tool/connector.py
Labels: documentation, sdk

#3833 docs: fix deploy long window sql
  docs/en/openmldb_sql/deployment_manage/DEPLOY_STATEMENT.md
  docs/zh/openmldb_sql/deployment_manage/DEPLOY_STATEMENT.md
Labels: documentation

#3842 docs: perf guide and fix monitor
  docs/en/maintain/images/grafana-api.png
  docs/en/maintain/images/grafana-deployment.png
  docs/en/maintain/images/grafana-put.png
  docs/en/maintain/index.rst
  docs/en/maintain/monitoring.md
  docs/en/maintain/perf_guide.md
  docs/zh/maintain/images/grafana-api.png
  docs/zh/maintain/images/grafana-deployment.png
  docs/zh/maintain/images/grafana-put.png
  docs/zh/maintain/index.rst
  docs/zh/maintain/monitoring.md
  docs/zh/maintain/perf_guide.md
Labels: documentation

#3832 docs: weekly blog posts
  docs/en/blog_post/20240304_ApacheHiveOfflineDataforOpenMLDB.md
  docs/en/blog_post/20240322_Openmysqldb.md
  docs/en/blog_post/20240402_OpenmldbVsRedis.md
  docs/en/blog_post/index.rst
  docs/zh/blog_post/20240322_Openmysqldb.md
  docs/zh/blog_post/20240402_OpenmldbVsRedis.md
  docs/zh/blog_post/images/20240313-16-core.png
  docs/zh/blog_post/images/20240313-4-core.png
  docs/zh/blog_post/images/20240313-8-core.png
  docs/zh/blog_post/images/20240322-compatibility.png
  docs/zh/blog_post/images/20240402-test-res-1.png
  docs/zh/blog_post/images/20240402-test-res-2.png
  docs/zh/blog_post/index.rst
Labels: documentation

#3834 feat: kafka connector support string timestamp and partial insert
  docs/en/integration/online_datasources/kafka_connector_demo.md
  docs/zh/integration/online_datasources/kafka_connector_demo.md
  extensions/kafka-connect-jdbc/DEVELOP.md
  extensions/kafka-connect-jdbc/pom.xml
  extensions/kafka-connect-jdbc/src/main/java/io/confluent/connect/jdbc/sink/BufferedRecords.java
  extensions/kafka-connect-jdbc/src/test/java/io/confluent/connect/jdbc/sink/BufferedRecordsTest.java
Labels: documentation, extensions

#3841 feat(codegen): map data type patches
  cases/query/udf_query.yaml
  hybridse/include/codec/fe_row_codec.h
  hybridse/src/case/sql_case.cc
  hybridse/src/codec/fe_row_codec.cc
  hybridse/src/codegen/ir_base_builder.cc
  hybridse/src/codegen/ir_base_builder.h
  hybridse/src/codegen/map_ir_builder.cc
  hybridse/src/udf/udf.cc
  hybridse/src/udf/udf.h
  hybridse/src/vm/jit.cc
  hybridse/src/vm/jit.h
  hybridse/src/vm/jit_wrapper.cc
  hybridse/src/vm/jit_wrapper.h
  src/sdk/sql_sdk_base_test.cc
Labels: execute-engine, storage-engine

#3831 feat(open-mysql-db): refactor mock code
  extensions/open-mysql-db/src/main/java/cn/paxos/mysql/MySqlListener.java
  extensions/open-mysql-db/src/main/java/cn/paxos/mysql/engine/SqlEngine.java
  extensions/open-mysql-db/src/main/java/com/_4paradigm/openmldb/mysql/mock/MockResult.java
  extensions/open-mysql-db/src/main/java/com/_4paradigm/openmldb/mysql/server/OpenmldbMysqlServer.java
  extensions/open-mysql-db/src/main/java/com/_4paradigm/openmldb/mysql/server/ServerConfig.java
  extensions/open-mysql-db/src/main/resources/server.properties
Labels: extensions

#3854 feat: support insert function in offline mode
  docs/en/openmldb_sql/data_types/date_and_time_types.md
  docs/en/openmldb_sql/dml/INSERT_STATEMENT.md
  docs/zh/openmldb_sql/data_types/date_and_time_types.md
  docs/zh/openmldb_sql/dml/INSERT_STATEMENT.md
  hybridse/include/vm/physical_op.h
  hybridse/src/sdk/hybridse_interface_core.i
  hybridse/src/vm/physical_op.cc
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/SparkPlanner.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/InsertPlan.scala
  java/openmldb-batch/src/test/resources/insert_test_src/test.csv
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/TestInsertPlan.scala
  java/openmldb-batchjob/src/main/scala/com/_4paradigm/openmldb/batchjob/InsertOfflineData.scala
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/TaskManagerInterface.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/impl/TaskManagerImpl.java
  java/openmldb-taskmanager/src/main/scala/com/_4paradigm/openmldb/taskmanager/OpenmldbBatchjobManager.scala
  src/client/taskmanager_client.cc
  src/client/taskmanager_client.h
  src/proto/taskmanager.proto
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
Labels: documentation, batch-engine, execute-engine, storage-engine, task-manager

#3869 fix: zk RegisterName bug
  src/nameserver/new_server_env_test.cc
  src/zk/zk_client.cc
Labels: storage-engine

#3846 docs: update conf about hadoop and create index
  docs/en/deploy/conf.md
  docs/en/openmldb_sql/ddl/CREATE_INDEX_STATEMENT.md
  docs/zh/deploy/conf.md
  docs/zh/openmldb_sql/ddl/CREATE_INDEX_STATEMENT.md
  docs/zh/quickstart/function_boundary.md
Labels: documentation

#3839 feat: optimize tidb data integration
  docs/en/integration/offline_data_sources/tidb.md
  docs/zh/integration/offline_data_sources/tidb.md
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/LoadDataPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/SelectIntoPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/DataSourceUtil.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/HybridseUtil.scala
Labels: documentation, batch-engine

#3873 fix: ddl parser get dup col keys
  src/base/ddl_parser.cc
  src/base/ddl_parser_test.cc
Labels: storage-engine

#3876 ci(coverage): upload coverage with token
  .github/workflows/coverage.yml
  .github/workflows/sdk.yml
Labels: workflow

#3858 build: report status if patch failed
  contrib/glog-cmake/CMakeLists.txt
Labels: build

#3847 feat(map): cast null or map() to explicit map type
  cases/plan/create.yaml
  cases/query/udf_query.yaml
  hybridse/include/node/node_manager.h
  hybridse/include/node/sql_node.h
  hybridse/src/codegen/cast_expr_ir_builder.cc
  hybridse/src/codegen/expr_ir_builder.cc
  hybridse/src/codegen/insert_row_builder.cc
  hybridse/src/codegen/insert_row_builder.h
  hybridse/src/codegen/insert_row_builder_test.cc
  hybridse/src/codegen/ir_base_builder.cc
  hybridse/src/codegen/native_value.cc
  hybridse/src/codegen/struct_ir_builder.cc
  hybridse/src/codegen/struct_ir_builder.h
  hybridse/src/codegen/type_ir_builder.cc
  hybridse/src/codegen/type_ir_builder.h
  hybridse/src/node/expr_node.cc
  hybridse/src/node/node_manager.cc
  hybridse/src/node/sql_node.cc
  hybridse/src/passes/lambdafy_projects.cc
  hybridse/src/planv2/ast_node_converter.cc
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/SparkRowCodec.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/ConstProjectPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/SimpleProjectPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/ExpressionUtil.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/TestProjectPlan.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestProject.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/utils/TestGraphvizUtil.scala
Labels: batch-engine, execute-engine

#3874 feat: request mode in raw SQL
  cases/plan/cmd.yaml
  cases/query/fail_query.yaml
  cases/query/simple_query.yaml
  hybridse/examples/toydb/src/cmd/toydb_run_engine.cc
  hybridse/examples/toydb/src/testing/toydb_engine_test_base.cc
  hybridse/include/node/node_enum.h
  hybridse/include/node/plan_node.h
  hybridse/include/node/sql_node.h
  hybridse/include/plan/plan_api.h
  hybridse/include/vm/engine.h
  hybridse/include/vm/engine_context.h
  hybridse/include/vm/physical_op.h
  hybridse/include/vm/sql_ctx.h
  hybridse/src/codegen/insert_row_builder.cc
  hybridse/src/node/expr_node.cc
  hybridse/src/node/plan_node.cc
  hybridse/src/node/sql_node.cc
  hybridse/src/plan/planner.cc
  hybridse/src/plan/planner.h
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/planv2/ast_node_converter_test.cc
  hybridse/src/planv2/plan_api.cc
  hybridse/src/planv2/planner_v2.h
  hybridse/src/planv2/planner_v2_test.cc
  hybridse/src/testing/engine_test_base.cc
  hybridse/src/vm/engine.cc
  hybridse/src/vm/engine_compile_test.cc
  hybridse/src/vm/engine_context.cc
  hybridse/src/vm/sql_compiler.cc
  src/cmd/sql_cmd_test.cc
  src/sdk/node_adapter.cc
  src/sdk/options_map_parser.h
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_sdk_test.cc
  src/sdk/sql_sdk_test.h
  src/tablet/tablet_impl.cc
Labels: execute-engine, storage-engine

#3861 feat(#3006)!: correct semantic for `first_value`
  cases/function/function/test_udaf_function.yaml
  cases/function/window/test_window.yaml
  cases/integration_test/function/test_udaf_function.yaml
  cases/integration_test/window/test_window.yaml
  cases/plan/cmd.yaml
  cases/query/udaf_query.yaml
  hybridse/include/base/iterator.h
  hybridse/include/codec/list_iterator_codec.h
  hybridse/include/codec/row_list.h
  hybridse/include/node/sql_node.h
  hybridse/src/udf/default_defs/window_functions_def.cc
Labels: execute-engine, breaking-change

#3859 fix: ttl merge
  docs/en/openmldb_sql/ddl/CREATE_TABLE_STATEMENT.md
  docs/zh/openmldb_sql/ddl/CREATE_TABLE_STATEMENT.md
  src/base/ddl_parser.cc
  src/base/ddl_parser.h
  src/base/ddl_parser_test.cc
  src/cmd/sql_cmd_test.cc
  src/storage/segment_test.cc
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl_test.cc
Labels: documentation, storage-engine

#3856 feat: add show and load sql to print result set
  python/openmldb_sdk/openmldb/sql_magic/sql_magic.py
Labels: sdk

#3835 feat: add nameserver auth
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/OpenmldbBatchConfig.scala
  src/CMakeLists.txt
  src/auth/auth_utils.cc
  src/auth/auth_utils.h
  src/auth/brpc_authenticator.cc
  src/auth/brpc_authenticator.h
  src/auth/refreshable_map.h
  src/auth/refreshable_map_test.cc
  src/auth/user_access_manager.cc
  src/auth/user_access_manager.h
  src/client/ns_client.cc
  src/client/ns_client.h
  src/cmd/openmldb.cc
  src/cmd/sql_cmd_test.cc
  src/nameserver/name_server_create_remote_test.cc
  src/nameserver/name_server_impl.cc
  src/nameserver/name_server_impl.h
  src/nameserver/name_server_test.cc
  src/nameserver/new_server_env_test.cc
  src/rpc/rpc_client.h
  src/sdk/CMakeLists.txt
  src/sdk/db_sdk.cc
  src/sdk/db_sdk.h
  src/sdk/mini_cluster.h
  src/sdk/sql_cluster_router.cc
  src/tablet/file_sender.cc
  src/tablet/file_sender.h
  src/tablet/procedure_drop_test.cc
  src/tablet/procedure_recover_test.cc
Labels: build, batch-engine, storage-engine

#3877 feat: feature signature codegen
  cases/plan/feature_signature_query.yaml
  cases/query/feature_signature_query.yaml
  hybridse/include/node/node_enum.h
  hybridse/include/node/sql_node.h
  hybridse/src/codegen/udf_ir_builder.cc
  hybridse/src/codegen/udf_ir_builder.h
  hybridse/src/node/expr_node.cc
  hybridse/src/node/node_manager.cc
  hybridse/src/node/sql_node.cc
  hybridse/src/node/type_node.cc
  hybridse/src/passes/physical/batch_request_optimize_test.cc
  hybridse/src/testing/engine_test_base.cc
  hybridse/src/udf/default_defs/feature_signature_def.cc
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/udf/default_udf_library.h
  hybridse/src/udf/udf_library.cc
  hybridse/src/udf/udf_library.h
  hybridse/src/udf/udf_registry.cc
  hybridse/src/udf/udf_registry.h
  hybridse/src/vm/runner_test.cc
  hybridse/src/vm/sql_compiler_test.cc
  hybridse/src/vm/transform_request_mode_test.cc
  src/sdk/sql_sdk_test.h
Labels: execute-engine, storage-engine

#3884 docs: call statement and request mode SQL
  docs/en/openmldb_sql/dml/CALL_STATEMENT.md
  docs/en/openmldb_sql/dml/index.rst
  docs/en/openmldb_sql/dql/SELECT_STATEMENT.md
  docs/zh/openmldb_sql/dml/CALL_STATEMENT.md
  docs/zh/openmldb_sql/dml/index.rst
  docs/zh/openmldb_sql/dql/SELECT_STATEMENT.md
Labels: documentation

#3881 docs: csv encode format
  docs/en/openmldb_sql/dml/LOAD_DATA_STATEMENT.md
  docs/zh/openmldb_sql/dml/LOAD_DATA_STATEMENT.md
Labels: documentation

#3879 docs: add auth doc
  docs/en/deploy/auth.md
  docs/en/deploy/index.rst
  docs/en/openmldb_sql/ddl/ALTER_USER_STATEMENT.md
  docs/zh/deploy/auth.md
  docs/zh/deploy/index.rst
  docs/zh/openmldb_sql/ddl/ALTER_USER_STATEMENT.md
Labels: documentation

#3849 feat: remove shared of openmldb dependencies for openmldb-batchjob
  docs/en/deploy/install_deploy.md
  docs/zh/deploy/install_deploy.md
  java/openmldb-batchjob/pom.xml
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/impl/TaskManagerImpl.java
Labels: documentation, batch-engine, task-manager

#3886 docs: map type specific docs
  docs/en/openmldb_sql/data_types/composite_types.md
  docs/en/openmldb_sql/data_types/index.rst
  docs/zh/openmldb_sql/data_types/composite_types.md
  docs/zh/openmldb_sql/data_types/index.rst
Labels: documentation

#3885 feat: support tablet auth and flag to disable auth
  docs/en/deploy/auth.md
  docs/zh/deploy/auth.md
  src/auth/refreshable_map.h
  src/auth/user_access_manager.cc
  src/auth/user_access_manager.h
  src/catalog/client_manager.cc
  src/catalog/client_manager.h
  src/client/tablet_client.cc
  src/client/tablet_client.h
  src/cmd/openmldb.cc
  src/cmd/sql_cmd_test.cc
  src/flags.cc
  src/nameserver/name_server_impl.cc
  src/nameserver/name_server_impl.h
  src/nameserver/name_server_test.cc
  src/nameserver/system_table.h
  src/nameserver/system_table_test.cc
  src/rpc/rpc_client.h
  src/sdk/db_sdk.cc
  src/sdk/db_sdk.h
  src/sdk/mini_cluster.h
  src/tablet/file_sender.cc
  src/tablet/tablet_impl.cc
  src/tablet/tablet_impl.h
Labels: documentation, storage-engine

#3891 docs: add changelog for 0.9.0
  CHANGELOG.md
Labels: documentation

#3892 docs: change version to 0.9.0 in docs and pom
  demo/java_quickstart/demo/pom.xml
  demo/predict-taxi-trip-duration/README.md
  demo/talkingdata-adtracking-fraud-detection/README.md
  docs/en/blog_post/20240402_OpenmldbVsRedis.md
  docs/en/deploy/compile.md
  docs/en/deploy/install_deploy.md
  docs/en/integration/deploy_integration/OpenMLDB_Byzer_taxi.md
  docs/en/integration/deploy_integration/airflow_provider_demo.md
  docs/en/integration/deploy_integration/dolphinscheduler_task_demo.md
  docs/en/integration/online_datasources/kafka_connector_demo.md
  docs/en/integration/online_datasources/pulsar_connector_demo.md
  docs/en/quickstart/openmldb_quickstart.md
  docs/en/quickstart/sdk/java_sdk.md
  docs/en/reference/ip_tips.md
  docs/en/tutorial/standalone_use.md
  docs/en/use_case/JD_recommendation.md
  docs/en/use_case/talkingdata_demo.md
  docs/en/use_case/taxi_tour_duration_prediction.md
  docs/zh/blog_post/20240402_OpenmldbVsRedis.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/install_deploy.md
  docs/zh/integration/deploy_integration/OpenMLDB_Byzer_taxi.md
  docs/zh/integration/deploy_integration/airflow_provider_demo.md
  docs/zh/integration/deploy_integration/dolphinscheduler_task_demo.md
  docs/zh/integration/online_datasources/kafka_connector_demo.md
  docs/zh/integration/online_datasources/pulsar_connector_demo.md
  docs/zh/quickstart/openmldb_quickstart.md
  docs/zh/quickstart/sdk/java_sdk.md
  docs/zh/reference/ip_tips.md
  docs/zh/tutorial/standalone_use.md
  docs/zh/use_case/JD_recommendation.md
  docs/zh/use_case/talkingdata_demo.md
  docs/zh/use_case/taxi_tour_duration_prediction.md
  release/conf/openmldb-env.sh
Labels: documentation, docker

#3894 feat: use local logger instead of slf4j annotation which causes compile fail
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/JobResultSaver.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/TaskManagerServer.java
Labels: task-manager

#3896 fix: discrete signature use sign int
  cases/query/feature_signature_query.yaml
  hybridse/src/udf/default_defs/feature_signature_def.cc
Labels: execute-engine

#3897 feat: set s3 and aws dependencies ad provided
  java/openmldb-batch/pom.xml
Labels: batch-engine

#3899 feat: execlude zookeeper for curator
  java/openmldb-batch/pom.xml
  java/openmldb-common/pom.xml
  java/openmldb-taskmanager/pom.xml
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/server/JobResultSaver.java
  java/openmldb-taskmanager/src/main/java/com/_4paradigm/openmldb/taskmanager/zk/RecoverableZooKeeper.java
Labels: batch-engine, task-manager

#3889 refactor!: relocate go sdk
  .github/workflows/sdk.yml
  docs/en/quickstart/sdk/go_sdk.md
  docs/zh/quickstart/sdk/go_sdk.md
  go/README.md
Labels: documentation, workflow, go-sdk
