Repository 4paradigm/OpenMLDB, pull requests merged in 2024-03, with the labels that each got.

#3776 fix: add macOS python >=3.9 requirement prompt for python sdk
  docs/en/quickstart/sdk/python_sdk.md
  docs/zh/quickstart/sdk/python_sdk.md
Labels: documentation

#3786 feat: update version
  CMakeLists.txt
  demo/Dockerfile
  java/hybridse-native/pom.xml
  java/hybridse-proto/pom.xml
  java/hybridse-sdk/pom.xml
  java/openmldb-batch/pom.xml
  java/openmldb-batchjob/pom.xml
  java/openmldb-common/pom.xml
  java/openmldb-jdbc/pom.xml
  java/openmldb-native/pom.xml
  java/openmldb-spark-connector/pom.xml
  java/openmldb-synctool/pom.xml
  java/openmldb-taskmanager/pom.xml
  java/pom.xml
  python/openmldb_sdk/setup.py
  python/openmldb_tool/setup.py
  steps/post_release.sh
  test/integration-test/openmldb-test-python/install.sh
Labels: build, docker, batch-engine, sdk, task-manager

#3790 docs: desc about iceberg session catalog and fix
  docs/en/integration/offline_data_sources/hive.md
  docs/en/integration/offline_data_sources/iceberg.md
  docs/zh/integration/offline_data_sources/hive.md
  docs/zh/integration/offline_data_sources/iceberg.md
Labels: documentation

#3789 build: thirdparty 0.7.0
  .github/workflows/cicd.yaml
  .github/workflows/hybridse-ci.yml
  .github/workflows/sdk.yml
  docker/Dockerfile
  hybridse/CMakeLists.txt
  hybridse/src/codec/fe_row_codec.cc
  hybridse/src/codec/fe_row_codec_test.cc
  hybridse/src/codec/type_codec.cc
  hybridse/src/codegen/buf_ir_builder.cc
  hybridse/src/codegen/buf_ir_builder_test.cc
  hybridse/src/codegen/context.cc
  hybridse/src/vm/runner.cc
  hybridse/src/vm/schemas_context.cc
  third-party/CMakeLists.txt
  third-party/cmake/FetchZetasql.cmake
Labels: workflow, build, docker, execute-engine

#3723 feat: map table column type
  cases/plan/error_unsupport_sql.yaml
  cases/query/udf_query.yaml
  hybridse/include/codec/fe_schema_codec.h
  hybridse/include/node/sql_node.h
  hybridse/include/sdk/base_impl.h
  hybridse/src/codegen/block_ir_builder.cc
  hybridse/src/codegen/buf_ir_builder.cc
  hybridse/src/codegen/buf_ir_builder.h
  hybridse/src/codegen/insert_row_builder.cc
  hybridse/src/codegen/insert_row_builder.h
  hybridse/src/codegen/insert_row_builder_test.cc
  hybridse/src/codegen/ir_base_builder_test.h
  hybridse/src/codegen/map_ir_builder.cc
  hybridse/src/codegen/map_ir_builder.h
  hybridse/src/codegen/struct_ir_builder.cc
  hybridse/src/codegen/struct_ir_builder.h
  hybridse/src/plan/planner.cc
  hybridse/src/planv2/ast_node_converter.cc
  hybridse/src/planv2/ast_node_converter_test.cc
  hybridse/src/planv2/planner_v2_test.cc
  hybridse/src/sdk/base_impl.cc
  hybridse/src/vm/engine.cc
  hybridse/src/vm/jit.h
  hybridse/src/vm/jit_wrapper.h
  src/cmd/sql_cmd_test.cc
  src/codec/codec.cc
  src/codec/codec.h
  src/proto/common.proto
  src/proto/type.proto
  src/schema/schema_adapter.cc
  src/schema/schema_adapter.h
  src/sdk/node_adapter.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_cluster_router.h
  src/sdk/sql_insert_row.cc
  src/sdk/sql_insert_row.h
Labels: execute-engine, storage-engine

#3796 ci(mac): select xcode 14.0.1 for release jobs
  .github/workflows/cicd.yaml
  .github/workflows/sdk.yml
Labels: workflow

#3792 fix: import spark config when create like hive
  src/sdk/sql_cluster_router.cc
Labels: storage-engine

#3799 test: add automatic table cleanup after go sdk tests
  go/go_sdk_test.go
Labels: go-sdk

#3795 docs(compile): refine macos support
  docs/en/deploy/compile.md
  docs/en/deploy/install_deploy.md
  docs/zh/deploy/compile.md
  docs/zh/deploy/install_deploy.md
Labels: documentation

#3814 feat: update properties usage
  extensions/open-mysql-db/README.md
  extensions/open-mysql-db/src/main/java/com/_4paradigm/openmldb/mysql/server/ServerConfig.java
Labels: extensions

#3816 navicat support
  extensions/open-mysql-db/src/main/java/cn/paxos/mysql/MySqlListener.java
  extensions/open-mysql-db/src/main/java/cn/paxos/mysql/codec/InitDbCommand.java
  extensions/open-mysql-db/src/main/java/cn/paxos/mysql/codec/MysqlClientCommandPacketDecoder.java
  extensions/open-mysql-db/src/main/java/cn/paxos/mysql/engine/SqlEngine.java
  extensions/open-mysql-db/src/main/java/com/_4paradigm/openmldb/mysql/mock/MockResult.java
  extensions/open-mysql-db/src/main/java/com/_4paradigm/openmldb/mysql/server/OpenmldbMysqlServer.java
Labels: extensions

#3824 docs(open-mysql-db): add open mysql db docs
  docs/en/app_ecosystem/open_mysql_db/images/go.png
  docs/en/app_ecosystem/open_mysql_db/images/jdbc.png
  docs/en/app_ecosystem/open_mysql_db/images/mysql-cli-1.png
  docs/en/app_ecosystem/open_mysql_db/images/mysql-cli-2.png
  docs/en/app_ecosystem/open_mysql_db/images/navicat.png
  docs/en/app_ecosystem/open_mysql_db/images/sequel_ace.png
  docs/en/app_ecosystem/open_mysql_db/images/sqlalchemy.png
  docs/en/app_ecosystem/open_mysql_db/index.rst
  docs/en/app_ecosystem/open_mysql_db/install.md
  docs/en/app_ecosystem/open_mysql_db/introduction.md
  docs/en/app_ecosystem/open_mysql_db/quickstart.md
  docs/en/index.rst
  docs/zh/app_ecosystem/open_mysql_db/images/go.png
  docs/zh/app_ecosystem/open_mysql_db/images/jdbc.png
  docs/zh/app_ecosystem/open_mysql_db/images/mysql-cli-1.png
  docs/zh/app_ecosystem/open_mysql_db/images/mysql-cli-2.png
  docs/zh/app_ecosystem/open_mysql_db/images/navicat.png
  docs/zh/app_ecosystem/open_mysql_db/images/sequel_ace.png
  docs/zh/app_ecosystem/open_mysql_db/images/sqlalchemy.png
  docs/zh/app_ecosystem/open_mysql_db/index.rst
  docs/zh/app_ecosystem/open_mysql_db/install.md
  docs/zh/app_ecosystem/open_mysql_db/introduction.md
  docs/zh/app_ecosystem/open_mysql_db/quickstart.md
  docs/zh/index.rst
Labels: documentation

#3826 feat(open-mysql-db): support dbeaver
  extensions/open-mysql-db/src/main/java/cn/paxos/mysql/MySqlListener.java
  extensions/open-mysql-db/src/main/java/com/_4paradigm/openmldb/mysql/mock/MockResult.java
  extensions/open-mysql-db/src/main/java/com/_4paradigm/openmldb/mysql/server/OpenmldbMysqlServer.java
Labels: extensions

#3827 feat(open-mysql-db): partially support mysql workbench
  extensions/open-mysql-db/src/main/java/cn/paxos/mysql/MySqlListener.java
  extensions/open-mysql-db/src/main/java/com/_4paradigm/openmldb/mysql/mock/MockResult.java
Labels: extensions

#3802 docs: include FAQ folder for en doc
  docs/en/index.rst
Labels: documentation

#3746 feat: offline map type
  hybridse/include/base/fe_slice.h
  hybridse/include/base/raw_buffer.h
  hybridse/include/codec/fe_row_codec.h
  hybridse/include/codec/row.h
  hybridse/src/codec/fe_row_codec.cc
  hybridse/src/codegen/aggregate_ir_builder.cc
  hybridse/src/codegen/buf_ir_builder.h
  hybridse/src/codegen/buf_ir_builder_test.cc
  hybridse/src/codegen/fn_ir_builder_test.cc
  hybridse/src/codegen/fn_let_ir_builder_test.h
  hybridse/src/codegen/insert_row_builder.cc
  hybridse/src/codegen/insert_row_builder.h
  hybridse/src/codegen/insert_row_builder_test.cc
  hybridse/src/codegen/ir_base_builder_test.h
  hybridse/src/codegen/map_ir_builder.cc
  hybridse/src/sdk/hybridse_interface_core.i
  hybridse/src/udf/default_udf_library.cc
  hybridse/src/vm/jit.cc
  hybridse/src/vm/jit.h
  hybridse/src/vm/jit_wrapper.cc
  hybridse/src/vm/jit_wrapper.h
  hybridse/src/vm/jit_wrapper_test.cc
  hybridse/src/vm/sql_compiler.cc
  java/hybridse-sdk/src/main/java/com/_4paradigm/hybridse/sdk/JitManager.java
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/SparkRowCodec.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/SimpleProjectPlan.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/DataTypeUtil.scala
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/HybridseUtil.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestProject.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestUnsafeRowProject.scala
  src/sdk/sql_cluster_router.cc
Labels: batch-engine, execute-engine, storage-engine

#3807 build: support building from aarch64
  docker/Dockerfile
  docker/setup_deps.sh
  docs/en/deploy/compile.md
  docs/zh/deploy/compile.md
  src/sdk/CMakeLists.txt
  third-party/CMakeLists.txt
  third-party/README.md
  third-party/cmake/FetchZetasql.cmake
Labels: documentation, build, docker, storage-engine

#3806 build(thirdparty): respect CMAKE_OPTS variable
  third-party/CMakeLists.txt
  third-party/cmake/FetchBenchmark.cmake
  third-party/cmake/FetchBrpc.cmake
  third-party/cmake/FetchGflags.cmake
  third-party/cmake/FetchGlog.cmake
  third-party/cmake/FetchGoogleTest.cmake
  third-party/cmake/FetchLLVM.cmake
  third-party/cmake/FetchRocksDB.cmake
  third-party/cmake/FetchYamlcpp.cmake
Labels: build

#3803 docs: add blog folder
  docs/en/blog_post/20240304_ApacheHiveOfflineDataforOpenMLDB.md
  docs/en/blog_post/20240313_NewDockerImg.md
  docs/en/blog_post/index.rst
  docs/en/index.rst
  docs/zh/blog_post/20240313_NewDockerImg.md
  docs/zh/blog_post/images/16-core.png
  docs/zh/blog_post/images/4-core.png
  docs/zh/blog_post/images/8-core.png
  docs/zh/blog_post/index.rst
  docs/zh/index.rst
Labels: documentation

#3825 fix: select constant return empty value
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/nodes/ConstProjectPlan.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/TestProjectPlan.scala
  java/openmldb-batch/src/test/scala/com/_4paradigm/openmldb/batch/end2end/TestSelectInto.scala
Labels: batch-engine

#3829 fix(tests): sql_cmd_test and no impl for `MakeMergeNode`
  hybridse/include/node/node_manager.h
  hybridse/src/planv2/planner_v2.cc
  src/apiserver/api_server_test.cc
  src/catalog/distribute_iterator_test.cc
  src/cmd/single_tablet_test.cc
  src/cmd/sql_cmd_test.cc
  src/nameserver/name_server_create_remote_test.cc
  src/nameserver/name_server_test.cc
  src/nameserver/new_server_env_test.cc
  src/nameserver/standalone_test.cc
  src/nameserver/system_table_test.cc
  src/replica/binlog_test.cc
  src/replica/snapshot_replica_test.cc
  src/sdk/db_sdk_test.cc
  src/sdk/mini_cluster.h
  src/sdk/mini_cluster_batch_bm.cc
  src/sdk/mini_cluster_request_bm.cc
  src/sdk/sql_cluster_test.cc
  src/sdk/sql_router_test.cc
  src/sdk/sql_sdk_test.cc
  src/sdk/sql_standalone_sdk_test.cc
  src/storage/aggregator_test.cc
  src/storage/disk_table_snapshot_test.cc
  src/storage/disk_table_test.cc
  src/storage/snapshot_test.cc
  src/tablet/sql_cluster_availability_test.cc
  src/tablet/tablet_impl_func_test.cc
  src/tablet/tablet_impl_keep_alive_test.cc
  src/tablet/tablet_impl_mem_test.cc
  src/tablet/tablet_impl_multi_path_test.cc
  src/tablet/tablet_impl_projection_test.cc
  src/tablet/tablet_impl_test.cc
  src/test/util.cc
  src/test/util.h
Labels: execute-engine, api-server

#3819 fix: correct errors in the examples for 'LOAD DATA INFILE' statement.
  docs/en/openmldb_sql/dml/LOAD_DATA_STATEMENT.md
  docs/zh/openmldb_sql/dml/LOAD_DATA_STATEMENT.md
Labels: documentation

#3815 feat: add read-write tidb sdk and update related usage docs
  docs/en/integration/offline_data_sources/index.rst
  docs/en/integration/offline_data_sources/tidb.md
  docs/zh/integration/offline_data_sources/index.rst
  docs/zh/integration/offline_data_sources/tidb.md
  java/openmldb-batch/src/main/scala/com/_4paradigm/openmldb/batch/utils/HybridseUtil.scala
Labels: documentation, batch-engine

#3765 feat: support map data type in yaml testing framework
  cases/query/udf_query.yaml
  hybridse/examples/toydb/src/cmd/toydb_run_engine.cc
  hybridse/examples/toydb/src/testing/toydb_engine_test.cc
  hybridse/examples/toydb/src/testing/toydb_engine_test_base.h
  hybridse/include/case/sql_case.h
  hybridse/include/node/sql_node.h
  hybridse/include/plan/plan_api.h
  hybridse/src/case/sql_case.cc
  hybridse/src/case/sql_case_test.cc
  hybridse/src/codec/fe_row_codec.cc
  hybridse/src/node/node_manager.cc
  hybridse/src/node/sql_node.cc
  hybridse/src/passes/physical/batch_request_optimize_test.cc
  hybridse/src/plan/planner.cc
  hybridse/src/planv2/ast_node_converter.h
  hybridse/src/planv2/plan_api.cc
  hybridse/src/testing/engine_test_base.cc
  hybridse/src/testing/engine_test_base.h
  hybridse/src/vm/engine_compile_test.cc
  hybridse/src/vm/jit_wrapper.cc
  hybridse/src/vm/jit_wrapper.h
  src/sdk/mini_cluster_bm.cc
  src/sdk/sql_cluster_router.cc
  src/sdk/sql_sdk_base_test.cc
Labels: execute-engine, storage-engine
