Repository 4paradigm/OpenMLDB, pull requests merged in 2024-09, with the labels that each got.

#3976 fix(tools): cmake error install files given directory for tools/validation
  CMakeLists.txt
Labels: build

#3979 fix(demo): make python_quickstart/demo.py work on sqlalchemy 2.0.27
  .github/workflows/openmldb-docker.yml
  demo/python_quickstart/demo.py
Labels: workflow, docker

#3973 docs: update openmldb version after release
  CMakeLists.txt
  demo/Dockerfile
  java/hybridse-native/pom.xml
  java/hybridse-proto/pom.xml
  java/hybridse-sdk/pom.xml
  java/openmldb-batch/pom.xml
  java/openmldb-batchjob/pom.xml
  java/openmldb-common/pom.xml
  java/openmldb-jdbc/pom.xml
  java/openmldb-native/pom.xml
  java/openmldb-spark-connector/pom.xml
  java/openmldb-synctool/pom.xml
  java/openmldb-taskmanager/pom.xml
  java/pom.xml
  python/openmldb_sdk/setup.py
  python/openmldb_tool/setup.py
  test/integration-test/openmldb-test-python/install.sh
Labels: build, docker, batch-engine, sdk, task-manager

#3986 build(thirdparty): upgrade absl
  third-party/cmake/FetchAbsl.cmake
Labels: build
